<div class="person-counter clearfix">
    <div class="left">
        <div class="info">
            <h3>{{companyDetailData.assetId}}</h3>
            <div class="image">
                <img src={{companyDetailData.logo}} width="1024" height="768">
            </div>
        </div>
        <div class="description">
            <ul>
                <li>
                    <h5>Store Name:</h5>
                    <span>Amazon go</span>
                </li>
                <li>
                    <h5>{{"generic_address" | translate}}:</h5>
                    <span>Amazon.com, Inc. Customer Service PO Box 81226 Seattle, WA 98108-1226</span>
                </li>
                <li>
                    <h5>Contact person:</h5>
                    <span>Jeff Bezos</span>
                </li>
                <li>
                    <h5>{{"generic_status" | translate}}:</h5>
                    <span class="tag">Open</span>
                </li>
                <li>
                    <h5>Area:</h5>
                    <span>2520 sq.ft.</span>
                </li>
            </ul>
        </div>
        <div class="comfortLevel">
            <h3>Customer Satisfaction Report</h3>
            <div class="items">
                <div class="item" [ngClass]="{'active': userRatting.current === 'positive' }" (click)="updateRatting('positive')">
                    <div class="icon">
                        <img src="assets/images/person-counter/Excited-Icon.png">
                    </div>
                    <p>{{(userRatting.positive/userRatting.total)*100 | number : '1.1-1'}}%</p>
                    <span>{{userRatting.positive}}</span>
                </div>
                <div class="item" [ngClass]="{'active': userRatting.current === 'happy' }" (click)="updateRatting('happy')">
                    <div class="icon">
                        <img src="assets/images/person-counter/Happy-Icon.png">
                    </div>
                    <p> {{(userRatting.happy/userRatting.total)*100 | number : '1.1-1'}}%</p>
                    <span>{{userRatting.happy}}</span>
                </div>
                <div class="item" [ngClass]="{'active': userRatting.current === 'average' }" (click)="updateRatting('average')">
                    <div class="icon">
                        <img src="assets/images/person-counter/Neutral-Icon.png">
                    </div>
                    <p>{{(userRatting.average/userRatting.total)*100 | number : '1.1-1'}}%</p>
                    <span>{{userRatting.average}}</span>
                </div>
                <div class="item" [ngClass]="{'active': userRatting.current === 'negative' }" (click)="updateRatting('negative')">
                    <div class="icon">
                        <img src="assets/images/person-counter/Unhappy-Icon.png">
                    </div>
                    <p>{{(userRatting.negative/userRatting.total)*100 | number : '1.1-1'}}%</p>
                    <span>{{userRatting.negative}}</span>
                </div>
            </div>
        </div>
        <div class="responseLevel">
            <div class="company">
                <img src="assets/images/person-counter/Excited-Icon.png">
                <p>Customer satisfaction results
                    <span>2 March 2018 1:00 PM</span>
                </p>
            </div>
            <div class="result">
                <h4>Positive feedback</h4>
                <h3>{{(userRatting.positive/userRatting.total)*100 | number : '1.1-1'}}%</h3>
                <p>As given by {{userRatting.total}}<br> customers</p>
            </div>
        </div>
    </div>
    <div class="right">
        <div class="inner-view">
            <div class="image">
                <img id="store" src="assets/images/person-counter/store.jpg" alt="" usemap="#Map" />
                <map name="Map" id="Map">
                    <area alt="" title="" shape="poly" coords="254,458,270,444,292,492,282,508,264,514,252,489" />
                    <area alt="" title="" shape="poly"  coords="288,473,308,474,310,487,330,486,328,447,316,454,284,433" />
                </map>
                <div class="pop-ups-container" [ngClass]="{'active': isPopupsAcitve}">
                    <div class="point hover-effect">
                        <div class="plus" (click)="isPopupsAcitve = !isPopupsAcitve">
                            +
                        </div>
                        <div class="shape">
                            <div class="text">
                                <p>04-Mar-2018 11:15 AM</p>
                                <span>Person Count: <span class="peopleCount">{{peopleCount}}</span></span>
                            </div>
                        </div>
                    </div>
                    <div class="popup ">
                        <h5>Current Week Visitor Count</h5>
                        <span>{{currentWeekCount}}</span>
                    </div>
                    <div class="popup">
                        <h5>Current Month visitor Count:</h5>
                        <span>{{montlyVisitorCount}}</span>
                    </div>
                    <div class="popup ">
                        <h5>Today's Visitor Count</h5>
                        <span>{{todayVisitorCount}}</span>
                    </div>
                    <div class="popup ">
                        <h5>Last Hour Visitor Count:</h5>
                        <span>{{LastHourCount}}</span>
                    </div>
                </div>
                <div class="objectRefrigerator">
                    <div class="point hover-effect">
                        <div class="plus" (click)="isRefrigeratorDetail = !isRefrigeratorDetail">
                            +
                        </div>
                        <div class="popupRefrigerator" [ngClass]="{'active': isRefrigeratorDetail}">
                            <div class="graphs">
                                <ngx-charts-bar-vertical-2d [view]="view" [scheme]="colorScheme" [results]="refrigeratorBarChartData" [gradient]="gradient"
                                    [xAxis]="showXAxis" [yAxis]="showYAxis" [showXAxisLabel]="showXAxisLabel" [showYAxisLabel]="showYAxisLabel"
                                    [xAxisLabel]="xAxisLabel" [yAxisLabel]="yAxisLabel" (select)="onSelect($event)">
                                </ngx-charts-bar-vertical-2d>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="barChart">
            <ngx-charts-bar-vertical [scheme]="colorScheme" [results]="barChartData" [gradient]="gradient" [xAxis]="showXAxis" [yAxis]="showYAxis"
                [showXAxisLabel]="showXAxisLabel" [showYAxisLabel]="showYAxisLabel" [xAxisLabel]="xAxisLabel" [yAxisLabel]="yAxisLabel"
                (select)="onSelect($event)">
            </ngx-charts-bar-vertical>
        </div>
    </div>
</div>
