.person-counter {
    background: #57607d;
    height: calc(100vh - 105px);
    overflow: auto;
    display: flex;
    .left {
        float: left;
        width: 350px;
        background: #57607d;
        padding: 10px;
        top: 70px;
        z-index: 1;
    }
    .right {
        float: right;
        width: calc(100% - 350px);
        background: #57607d;
        height: 100%;
    }
    .info {
        padding: 10px;
        color: #fff;
        background: #798097;
        h3 {
            font-size: 24px;
            padding: 0px 10px 10px 0px;
            margin: 0px;
        }
        >.image {
            height: 200px;
            width: 100%;
            border: 3px solid rgba(255, 255, 255, 0.20);
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }
    .description {
        color: white;
        background: #798097;
        padding: 0px 10px 5px 10px;
        h4{
            margin: 0px;
            padding: 10px 0px;
        }
        ul {
            margin: 0px;
            padding: 0px;
            li {
                list-style-type: none;
                padding: 5px 0px;
                display: flex;
                align-items: center;
                justify-content: space-between;
                h5 {
                    display: inline;
                    color: #d2d2d2;
                }
                span{
                    color: #ffffff;
                    width: calc(100% - 110px);
                    background: #57607d;
                    border-radius: 3px;
                    padding: 5px;
                }
            }
        }
    }
    .inner-view {
        position: relative;
        height: 100%;
        width: 100%;
        .image {
            height: auto;
            width:  100%;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        .graph {
            position: absolute;
            bottom: 10px;
            right: 10px;
            padding: 5px 10px;
            width: 250px;
            background: rgba(255, 255, 255, 0.8);
            z-index: 1;
        }
    }
    .pop-ups-container {
        position: absolute;
        left: 20%;
        bottom: 10%;
        width: 300px;
        height: 300px;
        background: transparent;
        z-index: 0;
        .popup {
            position: absolute;
            background: rgb(44, 196, 50);
            border-radius: 5px;
            color: white;
            overflow: hidden;
            display: flex;
            align-items: center;
            padding: 5px 10px;
            z-index: 2;
            opacity: 0;
            transition: all 0.5s ease 0.1s;
            h5{
                margin: 0px;
                font-weight: normal;
            }
            span{
                background: #ffffff;
                display: inline-block;
                vertical-align: middle;
                font-size: 20px;
                padding: 2px 4px 1px;
                border-radius: 3px;
                margin-left: 5px;
                color: black;
                font-weight: bold;
                line-height: 1.3;
            }
            &:nth-of-type(1) {
                top: 20%;
                left: 0;
                transform: translate(-100%, 0%);
                transition-delay: 0.3s;
            }
            &:nth-of-type(2) {
                top: 30%;
                right: 0;
                transform: translate(70%, 10%);
                transition-delay: 0.4s;
            }
            &:nth-of-type(3) {
                bottom: 20%;
                left: 0;
                transform: translate(-100%, 0%);
                transition-delay: 0.2s;
            }
            &:nth-of-type(4) {
                bottom: 0;
                right: 0;
                transform: translate(100%, 0%);
                transition-delay: 0.1s;
            }
        }
        &.active {
            .popup {
                opacity: 1;
                &:nth-of-type(1) {
                    transform: translate(-80%, 0%);
                }
                &:nth-of-type(2) {
                    transform: translate(50%, 10%);
                }
                &:nth-of-type(3) {
                    transform: translate(-110%, 0%);
                }
                &:nth-of-type(4) {
                    transform: translate(70%, 0%);
                }
            }
        }
    }
}

@-webkit-keyframes expandAndFade {
    100% {
        -webkit-transform: scale(2);
        opacity: 0;
    }
}
@keyframes expandAndFade {
    100% {
        transform: scale(2);
        opacity: 0;
    }
}
.point {
    border-radius: 50%;
    background: #2980b9;
    width: 24px;
    height: 24px;
    border: 2px solid #fff;
    text-align: center;
    font-weight: bold;
    color: #fff;
    -webkit-transition: -webkit-transform 0.4s;
    transition: -webkit-transform 0.4s;
    transition: transform 0.4s;
    transition: transform 0.4s,-webkit-transform 0.4s;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    bottom: 0px;
    left: 40px;

    .plus{
        width: 24px;
        height: 24px;
        border-radius: 100%;
        justify-content: center;
        align-items: center;
        display: flex;
        z-index: 1;
        cursor: pointer;
        margin-top: 1px;
    }
    .shape {
        height: 70px;
        width: 100px;
        border-top: 2px solid white;
        border-left: 3px solid white;
        transform: skew(-36deg);
        position: absolute;
        bottom: 4px;
        left: 28px;
        z-index: -1;
        .text{
            transform: skew(36deg) translate(100%, -50%);
            position: absolute;
            right: -40px;
            background: #FF5722;
            padding: 10px;
            border-radius: 5px;
            width: 150px;
            text-align: left;
            p{
                font-size: 13px;
                margin: 0px;
                white-space: nowrap;
            }
            span{
                display: float;
                align-items: center;
                strong{
                }
            }
        }
        .peopleCount
        {
            background: #ffffff;
            display: float;
            width: 40px;
            font-size: 20px;
            padding: 2px 4px 1px;
            border-radius: 3px;
            color: black;
            font-weight: bold;
            line-height: 1.3;
            align-items: center;
        }
      }
    &.hover-effect {
        &:after, &:before {
            content: '';
            position: absolute;
            top: -3px;
            right: -3px;
            left: -3px;
            bottom: -3px;
            border-radius: 50%;
            border: 1px solid #fff;
            -webkit-animation: expandAndFade 2s infinite;
            animation: expandAndFade 2s infinite;
        }
        &:after {
            -webkit-animation: expandAndFade 2s 0.7s infinite;
            animation: expandAndFade 2s 0.7s infinite;
        }
    }
}

.objectRefrigerator{
    position: absolute; 
    top: 29%;
    left: 28%;
    .popupRefrigerator{
        position: absolute;
        background: #fff;
        top: 0px;
        left: 50%;
         transform: translate(-50%, 15%);
        transition: all 0.5s ease 0s;
        opacity: 0;
        &.active{
            opacity: 1;
            transform: translate(-50%, 25%);
        }
        &::after{
            content: '';
            position: absolute;
            left: 50%;
            top: -19px;
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 0 15px 20px 15px;
            border-color: transparent transparent #ffffff transparent;
            transform: translateX(-50%);
        }
        .graphs{
            width: 300px;
            height: 200px;
        }
    }
}

.barChart{
    position: absolute;
    right: 40px;
    bottom: 60px;
    background: #fff;
    width: 300px;
    height: 200px;
}
.tag{
    background: #03A9F4;
    display: inline-block;
    vertical-align: middle;
    font-size: 12px;
    padding: 2px 8px;
    border-radius: 3px;
    color: #fff !important;
}

.comfortLevel{
    background: #fff;
    padding: 10px 10px 20px;
    margin: 10px 0px;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.1);
    border-radius: 3px;
    overflow: hidden;
    h3{
        margin: 0px;
        text-align: center;
        padding-bottom: 10px;
        color: black;
        font-size: 16px;
    }
    .items{
        display: flex;
        align-content: center;
        justify-content: space-around;
        text-align: center;
        .item{
            border: 0px;
            transition: all 0.5s ease 0s;
            cursor: pointer;
            .icon{
                max-width: 50px;
            }
            p{
                font-size: 20px;
                color: #a5a5a5;
                font-weight: bold;
                margin: 10px 0px 0px;
            }
            &.active{
                transform: scale(1.2);
                p{
                    color: #2a3142;
                }
            }
            &:hover{
                transform: scale(1.2);
                p{
                    color: #2a3142;
                }
            }
        }
    }
}

            
.responseLevel{
    background: #fff;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.1);
    border-radius: 3px;
    overflow: hidden;
    display: flex;
    align-items: center;
    .company{
        text-align: center;
        color: black;
        position: relative;
        width: 45%;
        h4{
            font-size: 20px;
        }
        img{
            margin-bottom: 10px;    
            max-width: 80px;
        }
        p{
            font-size: 10px;
            color: gray;
            span{
                font-size: 12px;
                color: black;
                font-weight: bold;
                display: block;
            }
        }
    }
    .result{
        position: relative;
        text-align: center;
        background: #009e1a;
        color: white;
        width: 55%;
        h4{
            font-size: 16px;
        }
        h3{
            font-weight: bold;
            font-size: 40px;
            margin: 0px 0px 10px;
        }
        p{
            font-size: 12px;
            color: #efefef;
            margin-bottom: 10px;
        }
        &::after{
            position: absolute;
            content: '';
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 80px 0 80px 20px;
            border-color: transparent transparent transparent #ffffff;
            top: 50%;
            transform: translate(0,-50%);
            left: 0px;
        }
    }
}