<div class="panel panel-app panel-without-bottom" (onChangeHeight)="mainContainerHeight = $event">
  <!-- <div class="panel-heading clearfix" id="gmap-header">
    <div class="filter google-map-form">
      <div class="checkbox group">
        <label>
          <input type="checkbox" [(ngModel)]="filter.unAssign">
          <span>Unassign</span>
        </label>
        <label>
          <input type="checkbox" [(ngModel)]="filter.assign" (change)="filterRoute()">
          <span>Assign</span>
        </label>
      </div>
      <div class="checkbox">
        <label>
          <input type="checkbox" [(ngModel)]="filter.routes" (change)="filterRoute()">
          <span>Routes</span>
        </label>
        <label>
          <input type="checkbox" [(ngModel)]="filter.poi">
          <span>POI</span>
        </label>
        <label>
          <input type="checkbox" [(ngModel)]="filter.sample">
          <span>Sample</span>
        </label>
      </div>
    </div>
    <div class="window-max-min-handler no-padding clearfix">
      <i class="glyphicon pull-right resize-icons" *ngIf="!minimize.list" (click)="fullscreen.map = !fullscreen.map; fullscreen.list = false;changeMinMax();"
        [ngClass]="{'glyphicon-resize-full': !fullscreen.map , 'glyphicon-resize-small':fullscreen.map}"></i>
    </div>
  </div> -->
  <div class="panel-body map-body">
    <agm-map [latitude]="lat" [longitude]="lng">
      <agm-marker *ngFor="let marker of markers; let i = index;" [latitude]="marker.address.latitude" [longitude]="marker.address.longitude"
        [iconUrl]="marker.icon" title="{{marker.name}}" [visible]="filter.unAssign && filter.poi"></agm-marker>
      <app-gmap (mapReady)="mapRendered($event)"></app-gmap>
    </agm-map>
  </div>
</div>