.filter{
    width: calc(100% - 20px);
    display: inline-flex;
    padding-top: 3px;
    @media only screen and (max-width: 479px) {
        flex-direction: column;
    }
    .checkbox{
        display: inline-block;
        margin: 0px;
        display: inline-flex;
        flex-direction: row;
        @media only screen and (max-width: 767px) {
            font-size: 12px;
        }
        label{
            display: inline-flex;
            align-items: center;
            margin: 0px;
            padding: 0px;
            margin-right: 10px;
            input{
                margin: 0px 5px 0px 0px;
                position: static;
                padding: 0px;
            }
            span{

            }
        }
        &.group{
            position: relative;
            margin-right: 10px;
            &::after{
                content: '';
                position: absolute;
                height: 60%;
                width: 2px;
                background: white;
                top: 20%;
                right: 0px;
                @media only screen and (max-width: 479px) {
                    display: none;
                }
            }
        }
    }
}
.window-max-min-handler{
    display: inline-block;
}

.sebm-google-map-container{
    height: calc(100vh - 137px);
}