.modal-header {
  background-color: #57607d;
  color: #fff;
  h4 {
    display: inline-block;
  }
}
.modal-dialog {
  width: 70%;
}
.control-label {
  font-size: 15px;
}
.close {
  color: #fff;
  opacity: 1;
}
.close:hover {
  color: #fff;
}
.time-container {
  float: left;
  width: 24%;
  margin-right: 20px;
}
.time-container select option:disabled {
  color: #ccc;
}
@media only screen and (max-width: 991px) {
  .time-container {
    width: 30%;
  }
}
@media only screen and (max-width: 768px) {
  .time-container {
    float: none;
    width: 100%;
    margin-right: 0;
    margin-bottom: 10px;
  }
}
.time-container select {
  width: 100%;
}
.text-danger {
  display: inline-block;
  font-size: 13px;
  line-height: 100%;
  margin-top: 10px;
}
.assets-multiselect .selected-list .c-list .c-token {
  background-color: #57607d;
}
.subject-container {
  position: relative;
}
ul.autocomplete {
  list-style: none;
  padding: 0;
  position: absolute;
  z-index: 99;
  background-color: #fff;
  width: 100%;
  margin: 0;
  left: 0;
  top: 35px;
  border: 1px solid #ccc;
  border-radius: 0 0 4px 4px;
}
ul.autocomplete li {
  padding: 5px 5px;
  border-bottom: 1px solid #ccc;
  cursor: pointer;
}
ul.autocomplete li a {
  color: #333;
  text-decoration: none;
}
ul.autocomplete li:hover {
  background-color: rgba(51, 51, 51, 0.05);
}

