<div bsModal class="modal fade" #subscriptionTopicOptionTemplate="bs-modal">
  <div *ngIf="templateUsedFor == 'email'">
    <form class="form-horizontal" [formGroup]="emailTemplateForm" (ngSubmit)="emailTemplateSubmit()">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">Email Template</h4>
            <button type="button" class="close pull-right" aria-label="Close" (click)="closeModalBox(false)">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="form-group clearfix">
              <label for="subject" class="col-sm-2 control-label">Subject</label>
              <div class="col-sm-10">
                <div class="subject-container">
                  <input type="text" class="form-control" id="subject" #subject formControlName="subject" (keyup)="getCaretPos(subject)" (click)="getCaretPos(subject)"
                    autocomplete="off">
                  <!--<div contenteditable="true" class="content-editable" id="content-editable" ></div>-->

                  <!--<textarea id="textareaid" #textareaid (keyup)="getCaretPos(textareaid, textareaid.value)" (click)="getCaretPos(textareaid, textareaid.value)"></textarea>-->
                  <ul class="autocomplete" *ngIf="filteredWords?.length > 0">
                    <li *ngFor="let word of filteredWords" (click)="bindWithInput(word, subject)">
                      <a href="javascript:void(0)">{{word}}</a>
                    </li>
                  </ul>
                  <span class="text-danger" *ngIf="(!emailTemplateForm.controls['subject'].pristine && emailTemplateForm.controls['subject'].invalid)">This field is required.</span>
                </div>
              </div>
            </div>
            <div class="form-group clearfix">
              <span class="col-sm-2 control-label">Body</span>
              <div class="col-sm-10">

                <textarea id="editor" formControlName="body"></textarea>
                <span class="text-danger" *ngIf="(!emailTemplateForm.controls['body'].pristine && emailTemplateForm.controls['body'].invalid)">This field is required.</span>
              </div>
            </div>
            <div class="form-group form-inline clearfix">
              <span class="col-sm-2 control-label">Assets</span>
              <div class="col-sm-10">
                <angular2-multiselect appUnselectOptionMultiselect id="addRuleMultiselectAsset" (onUnselectAll)="onUnselectAll($event)" [data]="assetsList"
                  [(ngModel)]="selectedAssets" formControlName="assets" [settings]="dropdownSettings">
                </angular2-multiselect>
                <span class="text-danger" *ngIf="(!emailTemplateForm.controls['assets'].pristine && emailTemplateForm.controls['assets'].invalid)">Please select atleast one asset.</span>
              </div>
            </div>
            <div class="form-group clearfix">
              <span class="col-sm-2 control-label">Day schedule</span>
              <div class="col-sm-10">
                <div>
                  <label class="checkbox-inline" *ngFor="let daySchedule of emailTemplateForm.controls['daySchedules'].controls" [formGroup]="daySchedule">
                    <input type="checkbox" formControlName="checked">{{daySchedule.controls['key'].value}}
                  </label>
                </div>
                <span class="text-danger" *ngIf="!emailTemplateForm.controls['daySchedules'].pristine && emailTemplateForm.controls['selectedDays'].value.length == 0">Please select atleast one day.</span>
              </div>
            </div>
            <div class="form-group clearfix">
              <span class="col-sm-2 control-label">Exclude days</span>
              <div class="col-sm-10">
                <div>
                  <app-exclude-days [excludedDays]="selectedExcludedDays" (selected)="onSelectedExcludedDay($event)"></app-exclude-days>
                </div>
              </div>
            </div>
            <div class="form-group form-inline clearfix">
              <span class="col-sm-2 control-label">Time schedule</span>
              <div class="col-sm-10">
                <div class="time-container">
                  <select class="form-control" formControlName="startTimeSchedule" (ngModelChange)="onStartTimeModelChange($event)" [(ngModel)]="selectedStartTime">
                    <option value="">Start time</option>
                    <option startTimeOptionsDisable [optionValue]="time.value" [optionReset]="startTimeReset" [timeRange]="startTimeDisableRange"
                      [value]="time.displayValue" *ngFor="let time of startTimeList">{{time.displayValue}}</option>
                  </select>
                  <span class="text-danger" *ngIf="(!emailTemplateForm.controls['startTimeSchedule'].pristine && emailTemplateForm.controls['startTimeSchedule'].invalid)">This field is required.</span>
                </div>
                <div class="time-container">
                  <select class="form-control" formControlName="endTimeSchedule" (ngModelChange)="onEndTimeModelChange($event)" [(ngModel)]="selectedEndTime">
                    <option value="">End time</option>
                    <option endTimeSelectOptionsDisable [optionValue]="time.value" [optionReset]="endTimeReset" [timeRange]="endTimeDisableRange"
                      [value]="time.displayValue" *ngFor="let time of endTimeList">{{time.displayValue}}</option>
                  </select>
                  <span class="text-danger" *ngIf="(!emailTemplateForm.controls['endTimeSchedule'].pristine && emailTemplateForm.controls['endTimeSchedule'].invalid)">This field is required.</span>
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button class="btn btn-tab" type="button" (click)="closeModalBox(false)">Cancel</button>
            <button type="submit" class="btn btn-tab" [disabled]="emailTemplateForm.invalid">Save</button>
          </div>
        </div>
        <!-- /.modal-content -->
      </div>
      <!-- /.modal-dialog -->
    </form>
  </div>
  <div *ngIf="templateUsedFor == 'sms'">
    <form class="form-horizontal" [formGroup]="smsTemplateForm">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">SMS Template</h4>
            <button type="button" class="close pull-right" aria-label="Close" (click)="closeModalBox(false)">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="form-group clearfix">
              <span class="col-sm-2 control-label">Body</span>
              <div class="col-sm-10">
                <textarea id="editor" formControlName="body"></textarea>
                <div *ngIf="smsBodyCharactersError" class="custom-errors"> Character limit on body of SMS notifications - 1500 or less </div>
                <span class="text-danger" *ngIf="(!smsTemplateForm.controls['body'].pristine && smsTemplateForm.controls['body'].invalid)">This field is required.</span>
              </div>
            </div>
            <div class="form-group form-inline clearfix">
              <span class="col-sm-2 control-label">Assets</span>
              <div class="col-sm-10">
                <angular2-multiselect appUnselectOptionMultiselect id="addRuleMultiselectAsset" (onUnselectAll)="onUnselectAll($event)" [data]="assetsList"
                  [(ngModel)]="selectedAssets" formControlName="assets" [settings]="dropdownSettings">
                </angular2-multiselect>
                <span class="text-danger" *ngIf="(!smsTemplateForm.controls['assets'].pristine && smsTemplateForm.controls['assets'].invalid)">Please select atleast one asset.</span>
              </div>
            </div>
            <div class="form-group clearfix">
              <span class="col-sm-2 control-label">Day schedule</span>
              <div class="col-sm-10">
                <div>
                  <label class="checkbox-inline" *ngFor="let daySchedule of smsTemplateForm.controls['daySchedules'].controls" [formGroup]="daySchedule">
                    <input type="checkbox" formControlName="checked">{{daySchedule.controls['key'].value}}
                  </label>
                </div>
                <span class="text-danger" *ngIf="!smsTemplateForm.controls['daySchedules'].pristine && smsTemplateForm.controls['selectedDays'].value.length == 0">Please select atleast one day.</span>
              </div>
            </div>
            <div class="form-group clearfix">
              <span class="col-sm-2 control-label">Exclude days</span>
              <div class="col-sm-10">
                <div>
                  <app-exclude-days [excludedDays]="selectedExcludedDays" (selected)="onSelectedExcludedDay($event)"></app-exclude-days>
                </div>
                <!--<span class="text-danger" *ngIf="!excludeDaysPristine && selectedExcludedDays.length == 0">Please select exclude days.</span>-->
              </div>
            </div>
            <div class="form-group form-inline clearfix">
              <span class="col-sm-2 control-label">Time schedule</span>
              <div class="col-sm-10">
                <div class="time-container">
                  <select class="form-control" formControlName="startTimeSchedule" (ngModelChange)="onStartTimeModelChange($event)" [(ngModel)]="selectedStartTime">
                    <option value="">Start time</option>
                    <option startTimeOptionsDisable [optionValue]="time.value" [optionReset]="startTimeReset" [timeRange]="startTimeDisableRange"
                      [value]="time.displayValue" *ngFor="let time of startTimeList">{{time.displayValue}}</option>
                  </select>
                  <span class="text-danger" *ngIf="(!smsTemplateForm.controls['startTimeSchedule'].pristine && smsTemplateForm.controls['startTimeSchedule'].invalid)">This field is required.</span>
                </div>
                <div class="time-container">
                  <select class="form-control" formControlName="endTimeSchedule" (ngModelChange)="onEndTimeModelChange($event)" [(ngModel)]="selectedEndTime">
                    <option value="">End time</option>
                    <option endTimeSelectOptionsDisable [optionValue]="time.value" [optionReset]="endTimeReset" [timeRange]="endTimeDisableRange"
                      [value]="time.displayValue" *ngFor="let time of endTimeList">{{time.displayValue}}</option>
                  </select>
                  <span class="text-danger" *ngIf="(!smsTemplateForm.controls['endTimeSchedule'].pristine && smsTemplateForm.controls['endTimeSchedule'].invalid)">This field is required.</span>
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button class="btn btn-tab" type="button" (click)="closeModalBox(false)">Cancel</button>
            <button type="submit" class="btn btn-tab" [disabled]="smsTemplateForm.invalid" (click)="smsTemplateSubmit()">Save</button>
          </div>
        </div>
        <!-- /.modal-content -->
      </div>
      <!-- /.modal-dialog -->
    </form>
  </div>
  <div *ngIf="templateUsedFor == 'push'">
    <form class="form-horizontal" [formGroup]="pushTemplateForm" (ngSubmit)="pushTemplateSubmit()">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">Push Template</h4>
            <button type="button" class="close pull-right" aria-label="Close" (click)="closeModalBox(false)">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="form-group clearfix">
              <span class="col-sm-2 control-label">Body</span>
              <div class="col-sm-10">

                <textarea id="editor" formControlName="body"></textarea>
                <span class="text-danger" *ngIf="(!pushTemplateForm.controls['body'].pristine && pushTemplateForm.controls['body'].invalid)">This field is required.</span>
              </div>
            </div>
            <div class="form-group form-inline clearfix">
              <span class="col-sm-2 control-label">Assets</span>
              <div class="col-sm-10">
                <angular2-multiselect appUnselectOptionMultiselect id="addRuleMultiselectAsset" (onUnselectAll)="onUnselectAll($event)" [data]="assetsList"
                  [(ngModel)]="selectedAssets" formControlName="assets" [settings]="dropdownSettings">
                </angular2-multiselect>
                <span class="text-danger" *ngIf="(!pushTemplateForm.controls['assets'].pristine && pushTemplateForm.controls['assets'].invalid)">Please select atleast one asset.</span>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button class="btn btn-tab" type="button" (click)="closeModalBox(false)">Cancel</button>
            <button type="submit" class="btn btn-tab" [disabled]="pushTemplateForm.invalid">Save</button>
          </div>
        </div>
        <!-- /.modal-content -->
      </div>
      <!-- /.modal-dialog -->
    </form>
  </div>
</div>