.form-control {
    cursor: pointer;
    position: relative;
    line-height: 1.7;
    .arrow {
        position: absolute;
        top: 5px;
        right: 5px;
        font-size: 20px;
        transition: all 0.3s ease;
    }
    .down {
        transform: rotate(180deg);
        top: -5px;
    }
}
.native-color-picker {
    width: 165px;
    height: 171px;
    display: inline-block;
    position: absolute;
    background-color: white;
    z-index: 9999;
    border: 2px solid #56607c;
    margin-top: 5px;
    line-height: 1;
    .color {
        width: 40px;
        height: 40px;
        display: inline-block;
        border: 1px solid white;
        line-height: 1;
        border-bottom: none;
        transition: all 0.5s ease;
        cursor: pointer;
        &:hover{
            transform: scale(0.9);
        }
    }
}