<div class="form-control" (click)="$event.stopPropagation();toggleDropDown = !toggleDropDown" [style.backgroundColor]="selectedColor">
  Select Color
  <div class="arrow" [ngClass]="{'down' : toggleDropDown}">
    <i class="material-icons">keyboard_arrow_down</i>
  </div>
</div>
<div class="native-color-picker" *ngIf="toggleDropDown">
  <div class="color" *ngFor="let color of colors" [style.backgroundColor]="color" (click)="onSelectColor(color)">
  </div>
</div>