<div class="menu-options">
  <i class="glyphicon glyphicon-edit" (click)="toggleEditOptions($event)"></i>
  <div class="menu-content" *ngIf="editOptions[ItemIndex]">
    <p (click)="toggleIconView()">
      <span>Icon View</span>
    </p>
    <p (click)="openHeaderEditModal()">Set Header</p>
    <p (click)="downloadExcel()" *ngIf="item.isDataAvailable && item.id.includes('Chart')">Download</p>
    <p (click)="openFileBox()" *ngIf="item.isDataAvailable && item.id.includes('Chart')">Upload</p>
    <p (click)="removeWidget();">Delete</p>
  </div>
</div>

<!-- Modal -->
<div class="modal fade dynamic-dashboard-editHeader" id="editHeader" role="dialog">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" (click)="closeHeaderEditModal()">&times;</button>
        <h4 class="modal-title">Edit Info</h4>
      </div>
      <div class="modal-body">
        <div class="input-group-row">
          <div class="input-group">
            <span class="input-group-addon">Header</span>
            <input id="headerName" type="text" class="form-control">
          </div>
        </div>
        <div class="input-group-row">
          <div class="input-group">
            <p class="input-group-addon icon">Icon</p>
            <img *ngIf="selectedItem" id="headerThumbnail0" [src]="selectedItem.headerSrc">
            <span class="material-icons upload-icon" (click)="uploadHeaderIconLogo()">camera_alt</span>
          </div>
        </div>
        <input type="file" #file (change)="uploadIconViewLogo($event)" id="iconViewLogo" style="display: none;">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" (click)="closeHeaderEditModal()">Close</button>
        <button type="button" class="btn btn-primary" (click)="saveHeaderNameForBox()">Save</button>
      </div>
    </div>
  </div>
</div>