<div class="chart-table-main-container" appInnerContainer>
  <div class="pie-chart-container">
    <div class="chart-center">
      <div class="chart-box clearfix">
        <div class="chart-inner clearfix">
          <app-pie-chart [chartInfo]="pieChartConfigOptions" [data]="iotHubChartData" (selectedData)="applyStatusFilter($event)"></app-pie-chart>
        </div>
      </div>
    </div>
    <div class="last-updated-date">
      <span>Last Updated: {{lastUpdated | convertToLocalDate }}</span>
    </div>
  </div>
  <div class="table-list-container bg-white pa-15" appInnerContainer [borderWidth]="5">
    <app-export-data *ngIf="iothub && iothub.length > 0" [src]="'assets/images/export.svg'" [data]="iothub" [headers]="headers"
      [fileTagName]="'Iothub'">
    </app-export-data>
    <ng-template appIotHub></ng-template>
  </div>
</div>
