/*@media only screen and (min-device-width : 992px) { //md & lg
.chart-center{
	padding-left: 0px;
	padding-right: 0px;
}
}*/
// ngx-charts-legend.chart-legend{
// 	display: block;
// }
app-export-data {
    position: absolute;
    top: 28px !important;
    right: 65px;
    z-index: 9;
}

.pa-15 {
    padding-top: 20px;
}