.ptb-1 {
  padding: 1px;
}
.plr-1{
  padding-right:20px;
}
.ptb-left-zero{
  padding-left: 0px;
}

.ptb-bottom-zero{
  padding-bottom: 0px;
}

.pr-0 {
  padding-right: 0px;
}
.no-generators {
  opacity: 0.4;
  pointer-events: none;
}
// #genAssetDashboardRight{
//   -webkit-box-shadow: 2px 0px 5px 1px rgba(156,156,156,1);
//   -moz-box-shadow: 2px 0px 5px 1px rgba(156,156,156,1);
//   box-shadow: 2px 0px 5px 1px rgba(156,156,156,1);
// }
.asset-right-align {
  width: 28%;
  padding-left: 1px;
  padding-right: 0px;
}
.col-md-6.barch div{
  background: #fff;
  margin-bottom: 10px;

}
.col-md-6.linech div{
  background: #fff;
  margin-bottom: 10px;

}
.col-md-6.barch {
  padding:0px;

}
.col-md-6.linech{
  padding:0px;

}

:host ::ng-deep app-bar-chart div.ngx-charts-outer ngx-charts-legend.chart-legend {
  position: absolute;
  left: 64%;
  -webkit-transform: translate(17%);
  transform: translate(17%);
  bottom: 25%;
  float: right;
}
:host ::ng-deep app-line-chart div.ngx-charts-outer ngx-charts-legend.chart-legend {
  position: absolute;
  left: 65%;
  -webkit-transform: translate(17%);
  transform: translate(17%);
  bottom: 48%;
  float: right;
}
:host ::ng-deep app-line-chart div.ngx-charts-outer ngx-charts-legend.chart-legend ul.legend-labels li:first-child .legend-label-text{
  color:#5245af;
}
:host ::ng-deep app-line-chart div.ngx-charts-outer ngx-charts-legend.chart-legend ul.legend-labels li:last-child .legend-label-text{
  color:#e02629;
}


@media (min-width: 768px) {
  .equal {
    display: block;
   /* flex-wrap: wrap;*/
  }
}

@media (min-width: 992px) {
  .width-0-4 {
    width: 4.333%;
  }
  .width-0-6 {
    width: 6.333%;
  }
  .pl-10 {
    padding-left: 10px;
  }
  .mr-8 {
    margin-right: -8%;
    margin-left: 0px;
  }
  .mr-7 {
    margin-right: -7%;
    // margin-left: -8%;
  }
  .alarm-mp {
    margin-left: 4%;
    padding-right: 0px;
  }
  .genrow{
    margin-left:0px!important;
    margin-right:0px!important;
    border-left:0px solid #D7D7D7;
  }

  .genrow > div{
    margin:5px 10px;
    width:100%;
  }
  .col-md-6.barch div{

    margin-right:5px;
  }
  .col-md-6.linech div{

    margin-left:5px;
  }
}
.genrow{
  background-color:#FFFFFF;
}


#appAssetAlarmPoint.col-md-12 {
  padding: 0px;
  border:none;
}

@media only screen and (min-width : 300px) and (max-width : 991px) {
  .row.genrow {
    margin: 0px;
  }
}

app-generator-location {
  position: absolute;
  width: 100%;
}

.genset-graph {
  margin-top: 10px;
  padding: 0;
  .row {
    margin: 0px;
  }
}

.container-fluid.genset-graph {
  padding: 0px;
  margin-right: 10px;
  .row {
    margin: 0;
    #appAssetAlarmPoint {
      padding: 0;
      .row {
        margin: 0px;
      }
    }
  }
}

.display-flex {
  background: #ebebeb;
  padding: 15px;
  display: flex;
  @media only screen and (max-width: 850px){
    display: block;
    padding: 15px 10px;
    .gen-item-left {
      width: 30%;
      display: inline-block;
      vertical-align: top;
    }
    .gen-item-middle {
      width: calc(70% - 10px);
      margin-left: 10px !important;
      float: right;
    }
    .gen-item-right{
      width: 100%;
      margin-left: 0 !important;
    }
  }
  .gen-item-left {
    flex-basis: 15%;
    position: relative;
    @media only screen and (max-width: 1200px){
      flex-basis: 20%;
    }
    @media only screen and (max-width: 540px){
      width: 25%;
    }
    @media only screen and (max-width: 480px){
      width: 100%;
    }
  }
  .gen-item-middle {
    flex-basis: 50%;
    margin-left: 15px;
    @media only screen and (max-width: 1200px){
      flex-basis: 40%;
    }
    @media only screen and (max-width: 967px){
      flex-basis: 50%;
    }
    @media only screen and (max-width: 540px){
      width: calc(75% - 10px);
    }
    @media only screen and (max-width: 480px){
      width: 100%;
      margin-left: 0px !important;
    }
  }
  
  .gen-item-right {
    flex-basis: 35%;
    margin-left: 15px;
    @media only screen and (max-width: 1200px){
      flex-basis: 40%;
    }
    @media only screen and (max-width: 967px){
      flex-basis: 30%;
    }
  }
  .card {
    border: 1px solid #c7c7c7;
    overflow: hidden;
    margin-bottom: 15px;
    box-shadow: #999 3px 3px 5px;
    @media only screen and (max-device-width: 850px) {
      margin-bottom: 10px;
      width: 100%;
    }
    &.timers {
      .card-body {
        height: 140px;
      }
    }
    &.table-parameters {
      .card-body {
        display: block;
        max-height: 250px;
        overflow: hidden;
        .table-rows {
          position: relative;
          .hide-show-div {
            position: absolute;
            height: 100%;
            display: flex;
            align-items: center;
            left: 2px;
            top: 0px;
            img {
              width: 15px;
              height: 15px;
              cursor: pointer;
            }
          }
          .active {
            padding-left: 20px !important;
          }
        }
        &:hover {
          overflow: auto;
        }
        .engine-parameters-body {
          display: flex;
          &:nth-child(even) {
            background-color: #e0e0e0;
          }
          .text {
            border-right: 1px solid #c5c5c5;
            padding: 5px 0px 5px 5px;
            font-size: 14px;
            display: inline-flex;
            align-items: center;
            &.name {
              width: 40%;
            }
            &.value {
              width: 45%;
            }
            &.unit {
              width: 15%;
              border-right: none; 
            }
          }
        }
      }
    }
    .card-header {
      display: flex;
      align-items: center;
      padding: 5px 5px;
      background: rgba(226,226,226,1);
      background: -moz-linear-gradient(top, rgba(226,226,226,1) 0%, rgba(217,217,217,1) 54%, rgba(163,163,163,1) 99%, rgba(209,209,209,1) 100%);
      background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(226,226,226,1)), color-stop(54%, rgba(217,217,217,1)), color-stop(99%, rgba(163,163,163,1)), color-stop(100%, rgba(209,209,209,1)));
      background: -webkit-linear-gradient(top, rgba(226,226,226,1) 0%, rgba(217,217,217,1) 54%, rgba(163,163,163,1) 99%, rgba(209,209,209,1) 100%);
      background: -o-linear-gradient(top, rgba(226,226,226,1) 0%, rgba(217,217,217,1) 54%, rgba(163,163,163,1) 99%, rgba(209,209,209,1) 100%);
      background: -ms-linear-gradient(top, rgba(226,226,226,1) 0%, rgba(217,217,217,1) 54%, rgba(163,163,163,1) 99%, rgba(209,209,209,1) 100%);
      background: linear-gradient(to bottom, rgba(226,226,226,1) 0%, rgba(217,217,217,1) 54%, rgba(163,163,163,1) 99%, rgba(209,209,209,1) 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#c9c9c9', GradientType=0 );
      .settings {
        font-size: 15px;
      }
      p {
        display: inline-block;
        margin: 0;
        margin-left: 3px;
        font-size: 14px;
        font-weight: bold;
        @media only screen and (max-device-width: 1268px) {
          font-size: 11px;
        }
        @media only screen and (max-device-width: 1200px) {
          font-size: 12px;
        }
      }
    }
    .card-body {
      background-color: white;
      display: flex;
      justify-content: center;
      background-color: white;
      padding-top: 0px;
      padding-bottom: 0px;
    }

    &.command {
      display: inline-block;
      width: 60%;
      margin-right: 4px;
      margin-top: 5px;
      margin-bottom: 10px;
      @media only screen and (max-device-width: 967px) {
        width: 100%;
      }
      @media only screen and (max-device-width: 850px) {
        margin-bottom: 5px;
      }
      @media only screen and (max-width: 480px){
        margin-bottom: 5px;
        width: calc(50% - 4px);
      }
      .command-btn-type {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        padding: 5px 5px;
        width: 100%;
        img {
          cursor: pointer;
          width: 45px;
          height: 45px;
          &:first-child{
            margin-right: 5px;
            @media only screen and (max-device-width: 1268px) {
              margin-right: 2px;
            }
          }
          &.inactive {
            filter: grayscale(100%);
          }
        }
        @media only screen and (min-device-width: 1201px) {
          &.padding-1 {
            padding: 20px 0px;
          }
          &.padding-2 {
            padding: 18px 0px;
          }
          &.padding-3 {
            padding: 15px 0px;
          }
          &.padding-4 {
            padding: 12px 0px;
          }
          &.padding-5 {
            padding: 5px 0px;
          }
        }
      }
    }
    &.mode {
      display: inline-block;
      width: calc(40% - 8px);
      margin-bottom: 10px;
      @media only screen and (max-device-width: 967px) {
        width: 100%;
      }
      @media only screen and (max-device-width: 850px) {
        margin-bottom: 5px;
      }
      @media only screen and (max-width: 480px){
        margin-bottom: 5px;
        width: calc(50% - 4px);
      }
      .mode-btn-type {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        padding: 5px 5px;
        width: 100%;
        img {
          width: 45px;
          height: 45px;
        }
        @media only screen and (min-device-width: 1201px) {
          &.padding-1 {
            padding: 20px 0px;
          }
          &.padding-2 {
            padding: 18px 0px;
          }
          &.padding-3 {
            padding: 15px 0px;
          }
          &.padding-4 {
            padding: 12px 0px;
          }
          &.padding-5 {
            padding: 5px 0px;
          }
        }
        
      }
    }
    &.run-status {
      @media only screen and (max-device-width: 480px) {
        display: inline-block;
        width: calc(50% - 4px);
        margin-right: 4px;
        .card-body {
          height: 60px;
        }
      }
      .card-body {
        @media only screen and (min-device-width: 1201px) {
          &.padding-1 {
            padding: 20px 0px;
          }
          &.padding-2 {
            padding: 15px 0px;
          }
          &.padding-3 {
            padding: 12px 0px;
          }
          &.padding-4 {
            padding: 8px 0px;
          }
          &.padding-5 {
            padding: 0px 0px;
          }
        }
      }
      .run-btn-type {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        padding: 0px;
        width: 110px;
        height: 50px;
        overflow: hidden;
        img {
          width: 100%;
          max-width: 100%;
          height: auto;
        }
      }
    }

    &.system-health {
      @media only screen and (max-device-width: 480px) {
        display: inline-block;
        width: calc(50% - 4px);
        vertical-align: top;
      }
      .system-health-btn-type {
        padding: 10px;
        width: 100%;
        display: flex;
        justify-content: space-around;
        padding-bottom: 20px;
        @media only screen and (max-device-width: 480px) {
          height: 60px;
        }
        img {
          width: 35px;
          height: 35px;
          @media only screen and (max-device-width: 850px) {
            width: 30px;
            height: 30px;
          }
        }
        @media only screen and (min-device-width: 1201px) {
          &.padding-1 {
            padding-top: 8px;
            padding-bottom: 20px;
          }
          &.padding-2 {
            padding: 20px 10px;
          }
          &.padding-3 {
            padding: 15px 0px;
          }
          &.padding-4 {
            padding: 11px 0px;
          }
          &.padding-5 {
            padding: 6px 0px;
          }
        }
      }
      .system-health-text {
        position: absolute;
        width: 100%;
        bottom: 0;
        font-size: 12px;
        .warning {
          width: 50%;
          position: absolute;
          bottom: 0;
          left: 5px;
          text-align: center;
        }
        .alarm {
          width: 50%;
          position: absolute;
          bottom: 0;
          right: 6px;
          text-align: center;
        }
      }
    }
    &.alarms {
      margin-bottom: 0px;
      @media only screen and (max-device-width: 480px) {
        margin-bottom: 15px;
      }
      .card-body {
        padding: 0px;
      }
    }

    &.load-status {
      margin-bottom: 0px;
      .card-body {
        position: relative;
        .grid-div-left {
          position: absolute;
          top: 33px;
          left: 10.5%;
          width: 40%;
          height: 50px;
          border: 4px solid #b1bfcb;
          border-bottom: none;
          border-left: none;
          z-index: 1;
          @media only screen and (max-device-width: 480px) {
            left: calc(10% + 2px);
          }
        }
        .deg-curve {
          position: absolute;
          width: 15px;
          height: 15px;
          top: 28.2px;
          left: 50.5%;
          border-bottom: 4px solid #b1bfcc;
          border-right: 4px solid #b1bfcc;
          -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
          z-index: 9;
          transform: translateX(-63%) rotate(45deg);
          &::after {
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            background: #fff;
          }
          @media only screen and (max-device-width: 480px) {
            left: calc(50% + 3px);
          }
        }
        .grid-div-right {
          position: absolute;
          top: 33px;
          right: 10%;
          width: 50%;
          height: 50px;
          border-top: 4px solid #b1bfcb;
          border-bottom: none;
          border-left: none;
          z-index: 1;
          @media (min-width: 1500px) {
            right: 10%;
          }
        }

        .deg-curve-breaker-red {
          position: absolute;
          width: 16px;
          height: 12px;
          left: 32%;
          transform: rotate(0deg);
          top: 33px;
          background-color: white;
          z-index: 1;
          border-top: 3px solid #58be61;
          &.active {
            top: 27px;
            transform: rotate(-45deg);
            border-top: 3px solid red;
            .point-1 {
              background-color: red;
            }
            .point-2 {
              top: 5px;
              right: 1px;
            }          
          }
          .point-1 {
            position: absolute;
            width: 8px;
            height: 8px;
            background-color: #58be61;
            border-radius: 50%;
            left: -3px;
            bottom: 6px;
          }
          .point-2 {
            position: absolute;
            width: 8px;
            height: 8px;
            background-color: #58be61;
            border-radius: 50%;
            right: -1px;
            top: -5px;
          }
        }

        .deg-curve-breaker-green {
          position: absolute;
          width: 16px;
          height: 12px;
          right: 31.5%;
          top: 33px;
          background-color: white;
          z-index: 1;
          border-top: 3px solid #58be61;
          &.active {
            transform: rotate(45deg);
            top: 28px;
            border-top: 3px solid red;
            .point-1 {
              left: 0px;
              bottom: -3px;
              background-color: red;
            }
            .point-2 {
              right: -1px;
              background-color: red;
            }
          }
          .point-1 {
            position: absolute;
            width: 8px;
            height: 8px;
            background-color: #58be61;
            border-radius: 50%;
            left: -4px;
            bottom: 6px;
          }
          .point-2 {
            position: absolute;
            width: 8px;
            height: 8px;
            background-color: #58be61;
            border-radius: 50%;
            right: 0px;
            top: -5px;
          }
        }
      }
      .load-status-btn-type {
        display: block;
        width: 100%;
        padding: 15px 8px;
        z-index: 2;
        @media only screen and (max-device-width: 480px) {
          padding: 15px 25px;
        }
        .top-load-status {
          display: block;
          .load-status-grid {
            display: inline-block;
            position: relative;
            
          }
          .load-status-genset {
            position: relative;
            float: right;
          }
        }
        .bottom-load-status {
          display: block;
          text-align: center;
          margin-top: 5px;
        }
        p {
          margin: 0px;
          font-size: 9px;
          font-weight: bold;
          text-align: center;
          margin-top: 2px;
        }
        img {
          width: 40px;
          height: 40px;
          border-radius: 5px;
        }
      }
    }
  }
}

.command-warning-modal {
  .modal-header {
    color: white;
    background-color: #56607c;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
  }
  .modal-body {
    div {
      display: flex;
      justify-content: center;
      align-items: center;
      i {
        color: red;
      }
      p {
        display: inline-block;
        margin: 0;
        margin-left: 10px;
        font-size: 16px;
        color: #717171;
      }
    }
  }
}
