<div appInnerContainerMaxHeight *ngIf="companyId" [ngClass]="{'no-generators' : isNoGeneratorsAvailable}">
  <div class="display-flex">
    <div class="generator-item gen-item-left">
      <app-generator-desc (assetChanged)="assetChanged($event)" [assetsAvailable]="assetsAvailable"></app-generator-desc>
      <app-generator-location [assetsAvailable]="assetsAvailable" [assetMapInfo]="assetMapInfo" [selectedAsset]="selectedAsset"></app-generator-location>
      <div class="command-mode">
        <div class="card command">
          <div class="card-header">
            <i class="material-icons settings">settings</i>
            <p>Command</p>
          </div>
          <div class="card-body">
            <div class="command-btn-type">
              <!-- [ngClass]="{'inactive' : loadStatusDataValue == 'Running'}" -->
              <img src="assets/images/gen-view/ON.svg" (click)="rmtCmd(false)">
              <img src="assets/images/gen-view/OFF.svg" (click)="rmtCmd(true)">
              <div class="disabled"></div>
            </div>
          </div>
        </div>

        <div class="card mode">
          <div class="card-header">
            <i class="material-icons settings">settings</i>
            <p>Mode</p>
          </div>
          <div class="card-body">
            <div class="mode-btn-type">
              <img *ngIf="modeDataValue == 'Auto'" src="assets/images/gen-view/Mode-Auto.svg">
              <img *ngIf="modeDataValue == 'Manual'" src="assets/images/gen-view/Mode-Manual.svg">
              <img *ngIf="modeDataValue == 'Off'" src="assets/images/gen-view/Mode-OFF.svg">
            </div>
          </div>
        </div>
      </div>

      <div class="card run-status">
        <div class="card-header">
          <i class="material-icons settings">settings</i>
          <p>Run Status</p>
        </div>
        <div class="card-body">
          <div class="run-btn-type">
            <img *ngIf="runStatusDataValue == 'Running'" src="assets/images/gen-view/Running.svg">
            <img *ngIf="runStatusDataValue != 'Running'" src="assets/images/gen-view/Run-OFF.svg">
          </div>
        </div>
      </div>

      <div class="card system-health">
        <div class="card-header">
          <i class="material-icons settings">settings</i>
          <p>System Health</p>
        </div>
        <div class="card-body">
          <div class="system-health-btn-type">
            <img *ngIf="systemHealth['warning'].value == 'Active'" src="assets/images/gen-view/Warning-Active.svg">
            <img *ngIf="systemHealth['warning'].value == 'Inactive'" src="assets/images/gen-view/Warning-Inactive.svg">
            <img *ngIf="systemHealth['alarm'].value == 'Active'" src="assets/images/gen-view/Alarm-Active.svg">
            <img *ngIf="systemHealth['alarm'].value == 'Inactive'" src="assets/images/gen-view/Alarm-Inactive.svg">
          </div>
          <div class="system-health-text">
            <span class="warning">Warning</span>
            <span class="alarm">Alarm</span>
          </div>
        </div>
      </div>

      <div class="card load-status">
        <div class="card-header">
          <i class="material-icons settings">settings</i>
          <p>Load Status</p>
        </div>
        <div class="card-body">
          <div class="load-status-btn-type">
            <div class="top-load-status">
              <div class="load-status-grid">
                <img src="assets/images/gen-view/GRID.svg">
                <p>GRID</p>
              </div>
              <div class="load-status-genset">
                <img src="assets/images/gen-view/GENSET.svg">
                <p>GENSET</p>
              </div>
            </div>
            <div class="bottom-load-status">
              <div class="load-status-load">
                <img src="assets/images/gen-view/LOAD.svg">
                <p>LOAD</p>
              </div>
            </div>
          </div>
          <div class="grid-div-left">
          </div>
          <div class="grid-div-right">
          </div>
          <div class="deg-curve"></div>
          <div class="deg-curve-breaker-red" [ngClass]="{'active' : loadStatusDataValue != 'Grid'}">
            <div class="point-1"></div>
            <div class="point-2"></div>
          </div>
          <div class="deg-curve-breaker-green" [ngClass]="{'active' : loadStatusDataValue != 'Genset' || loadStatusDataValue != 'Generator'}">
            <div class="point-1"></div>
            <div class="point-2"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="generator-item gen-item-middle" id="genAssetDashboardRight">
      <app-generator-realdata [genAssetTableInfo]="genAssetTableInfo" [getGenUnitForRealTimeData]="getGenUnitForRealTimeData"
        [assetTableInfo]="assetTableInfo" [selectedAsset]="selectedAsset" (selectedRTData)="changeRTData($event)" #selectedRTData
        (remoteCommand)="rmtCmd($event)" (dataUpdate)="dataUpdate($event)"></app-generator-realdata>
    </div>
    <div class="gen-item-right">
      <div class="card timers table-parameters">
        <div class="card-header">
          <i class="material-icons settings" (click)="toggleTimers.value = !toggleTimers.value">settings</i>
          <p>Timers</p>
        </div>
        <div class="card-body">
          <div class="table-rows engine-parameters-body" *ngFor="let data of timers;let i = index">
            <ng-container *ngIf="data.notInSync != 1">
              <div class="hide-show-div" *ngIf="!toggleTimers.value" (click)="toggleTableRowsData(i,'timers')">
                <img src="assets/images/gen-view/blind-symbol-of-an-opened-eye-with-a-slash.svg" />
              </div>
              <div class="text name" [ngClass]="{'active' : !toggleTimers.value}" [innerHTML]="data.displayName ? data.displayName : data.name"></div>
              <div class="text value" [innerHTML]="data.value"></div>
              <div class="text unit" [innerHTML]="data.unit"></div>
            </ng-container>
          </div>
          <div class="no-data" *ngIf="timers.length == 0">
            No data found.
          </div>
        </div>
      </div>

      <div class="card alarms">
        <div class="card-header">
          <i class="material-icons settings" (click)="toggleAlarms.value = !toggleAlarms.value">settings</i>
          <p>Alarms</p>
        </div>
        <div class="card-body">
          <div id="appAssetAlarmPoint" class="col-md-12 asser-des-right">
            <div class="row">
              <app-generator-alarm-point [(toggleAlarms)]="toggleAlarms" [selectedRealTimeData]="selectedRealTimeData"
                [assetAlarmInfo]="assetAlarmInfo" [selectedAsset]="selectedAsset" [getGenAssetAlaramInfo]="getGenAssetAlaramInfo"
                [tableviewChange]="tableviewChange" #ACtableView (ACtableView)="changeACtableView($event)" #ACmaxmizeView (ACmaxmizeView)="changeACMaxView($event)"></app-generator-alarm-point>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div bsModal #commandWarningModal="bs-modal" id="commandWarningModal" class="modal fade command-warning-modal" tabindex="-1"
  role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title pull-left">
          Alert
        </h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="commandWarningModal.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div>
          <i class="material-icons">warning</i>
          <p>
            {{'Are you sure to ' + commandWarningMessage + '?'}}
          </p>
        </div>
      </div>
      <div class="modal-footer">
        <div class="text-right">
          <button type="submit" class="btn btn-tab" (click)="commandWarningModal.hide()">Cancel</button>
          <button type="button" class="btn btn-tab" (click)="commandWarningModal.hide();rmtCmdCallBack(commandWarningMessage == 'start' ? '1' : '0')">Ok</button>
        </div>
      </div>
    </div>
  </div>
</div>