<div class="email-summary" (click)="$event.stopPropagation()" [ngClass]="{ open: showEmailSummary }" [ngStyle]="{ bottom: emailSummaryBottomPosition }">
  <!--<div class="reload-summary">
    <a href="javascript:void(0);" (click)="loadEmailSummary()" *ngIf="!loaderLoad"><i class="fas fa-sync"></i></a>
    <img src="assets/images/ajax-loader.gif" alt="" *ngIf="loaderLoad">
  </div>
  <ng-template ngIf="emailSummary.length > 0">
    <div class="email-summary-item" *ngFor="let eSummary of emailSummary">
      <h5>{{eSummary.subject}}</h5>
      <span>{{eSummary.sentOn | convertToLocalDate}}</span>
    </div>
  </ng-template>-->
  <ng-template ngIf="emailSummary.length > 0">
    <div class="e-summary-table">
      <a href="javascript:void(0);" class="loader" id="emailRefresh" (click)="loadEmailSummary()">
        <i class="fas fa-sync"></i>
      </a>
      <!--<img src="assets/images/ajax-loader.gif" class="loader" alt="">-->
      <img *ngIf="emailSummary.length > 0" src="assets/images/search.svg" class="svg-icon white-search-icon" (click)="toggleFilterSearch = !toggleFilterSearch"
      />
      <table id="email-summary-table" class="table org-table" [mfData]="emailSummary" #mf="mfDataTable" [mfRowsOnPage]="10">
        <thead>
          <tr>
            <th width="55%">Subject</th>
            <th width="45%">Sent On</th>
            <!--<th width="10%" class="text-center" width="10%">

            </th>-->
          </tr>
          <app-table-filter *ngIf="toggleFilterSearch" [widthData]="filterWidthData" (notifyChange)="updateData($event)" [(filterValues)]="filterValues"
            [(data)]="emailSummary"></app-table-filter>
        </thead>
        <tbody [style.maxHeight.px]="toggleFilterSearch ? tableHeight - 40 : tableHeight">
          <tr *ngFor="let eSummary of mf.data">
            <td width="55%" [innerHTML]="eSummary.subject"></td>
            <td width="45%">{{eSummary.sentOn | convertToLocalDate}}</td>
          </tr>
        </tbody>
        <tr *ngIf="emailSummary.length > 0" (click)="$event.stopPropagation()">
          <td colspan="2" class="pagination-td">
            <mfBootstrapPaginator [rowsOnPageSet]="[emailSummary.length+0.1,5,10,25]"></mfBootstrapPaginator>
          </td>
        </tr>
      </table>
    </div>
  </ng-template>
  <div class="no-data-summary" *ngIf="emailSummary.length == 0">
    <i class="fas fa-envelope">
    </i>
    <p>No Email Summary Exists</p>
  </div>
  <div class="e-monitoring-loader" *ngIf="isRefreshData">
    <img src="assets/images/loading.svg">
  </div>
</div>