.email-summary {
  position: fixed;
  top: 68px;
  z-index: 9999;
  border-left: 1px solid #ccc;
  width: 407px;
  right: -408px;
  box-shadow: 1px 6px 10px rgba(0, 0, 0, 0.34);
  background-color: #eef3f6;
  border-top: 1px solid #ccc;
  transition: all 500ms ease;
  .e-monitoring-loader {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    background: rgba(255,255,255,.6);
    img {
      top: 50%;
      position: absolute;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
  @media only screen and (min-device-width: 320px) and (max-device-width: 767px) {
    top: 106px;
  }  
  tbody {
    &:first-of-type {
      tr {
        transition: background-color 0.3s ease;
        &:hover {
          border-left: 3px solid #5cc732;
          background-color: white;
        }
      }
    }
  }
  .e-summary-table {
    position: relative;
    a {
      position: absolute;
      right: 6px;
      top: 9px;
      z-index: 99;
      i {
        color: #fff;
      }
    }
    img {
      position: absolute;
      right: 6px;
      top: 9px;
      z-index: 99;
    }
    .white-search-icon {
      position: absolute;
      top: 11px;
      right: 23px;
      width: 17px;
    }
    .pagination-td {
      padding: 0;
    }
  }
}
.email-summary.open {
  right: 0;
  transition: all 500ms ease;
}
#email-summary-table.org-table {
  margin-bottom: 0;
}
.no-data-summary {
  text-align: center;
  padding: 15px;
  .fa-envelope {
    font-size: 30px;
    margin-bottom: 5px;
    color: red;
    position: relative;
  }
}
