label {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
  font-weight: 700;
  padding: 5px 10px;
}
div.drp{
  display:inline-block;
}
form{
  display: inline-block;
  margin: 5px;
  padding: 5px;
  border: 1px solid gray;
  border-radius: 10px;
}
form div{
  display: inline-block;
  display: inline-block;
  width: 40%;
  float: left;
  margin-right:1%;
}
form button{
  width: 100px;
  float: left;
  top: 33px;
  position: relative;
  margin-left: 20px;
}

app-export-data {
  float: right;
  margin-left: 10px;
}
table{
  word-wrap:break-word;
}

table th{
  white-space: normal!important;
  min-width:150px;
}
table td{
  white-space: normal!important;
  min-width:150px;
}
table th.lastTd{
  min-width:50px;
}
table td.lastTd{
  width:0px!important;
  min-width:0px;
}
:host ::ng-deep mfdefaultsorter.sorter a.text-nowrap {
  white-space: normal!important;
  word-wrap: break-word!important;
  word-break: break-all!important;
}
:host ::ng-deep .export-as-div .export-as-options {
  position: absolute;
}
.table-responsive{overflow-x:scroll; margin-bottom:50px;position:relative;}
.bldTitle{
  font-weight:bold;
}
.nesttd{
  padding:0px;
  margin:0px;
  border:none;
}
.nesttd .table-responsive {
  padding:0px;
  margin:0px;
}
.table.org-table.bg-white.nested{
  margin:0px;
}

.table.org-table.bg-white.nested thead{
  margin:0px;
  background-color:transparent;
}
.table.org-table.bg-white.nested thead th{
  color:#2a3142;
  font-weight:bold;
}
.table.org-table.bg-white.nested{
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: none;

}
.table.nested > thead > tr > th {
border-bottom: .95px solid #2a3142;
}
.paramrow{
  border-left:0px;
}

@media screen and (-webkit-min-device-pixel-ratio:0)
and (min-resolution:.001dpcm) {
  .smbd{
    border-left: 1px solid #2a3142;
  }
  .nested .smbd{
    border-left: .1px solid #2a3142;
  }
  .paramlef{
    border-right: none;
  }

}


@media only screen and (min-width : 320px) and (max-width : 767px){
  table tbody tr td{
    word-break: break-all;
  }
  table tbody tr td{
    white-space: normal!important;
    min-width: 150px;
  }


}
@media only screen and (min-width : 1024px) and (max-width : 3000px){
  :host ::ng-deep  mfpaginator .pagination {
    float: left;
  }
  :host ::ng-deep  mfpaginator .pagination.pull-right.float-sm-right{
    float: left!important;
    margin-left:20%!important;
  }
  :host ::ng-deep #alarmConsoleTable {
    .pagination.pull-right.float-sm-right {
      margin: 13px 0px 13px 10% !important;
    }
  }
    :host ::ng-deep #alarmConsoleTable2 {
      .pagination.pull-right.float-sm-right{
        margin: 13px 0px 13px 10%!important;
      }
  }

}

