<div class="drp">
  <label>Payload Type</label>
  <select [ngModel]="type" (ngModelChange)="setType($event)" >
    <option *ngFor="let x of apiUrl; let i = index" [selected]="i == 0" [ngValue]="x.name" >{{x.name}}</option>
  </select>
</div>
<div class="drp">
  <label>{{"ao_assetid" | translate}}</label>
  <select [ngModel]="assetID" (ngModelChange)="setAsset($event)" >
    <option *ngFor="let x of assets; let i = index" [selected]="i == 0" [ngValue]="x.assetId" >{{x.assetId}}</option>
  </select>
</div>

<form (ngSubmit)="onSubmit(dateRange)" #dateRange="ngForm"  class="onboarding-form">
  <div class="form-group">
    <label class="control-label required-lbl">{{"generic_start_date" | tgranslate}}</label>
    <my-date-picker name="startDate" [options]="myDatePickerOptions"
                    ngModel required tabindex="18"></my-date-picker>
  </div>

  <div class="form-group">
    <label class="control-label required-lbl">{{"generic_end_date" | translate}}</label>
    <my-date-picker name="endDate" [options]="myDatePickerOptions"
                    ngModel required tabindex="18"></my-date-picker>
  </div>
  <button [disabled]="!dateRange.valid" class="btn btn-primary" type="submit">Submit</button>
</form>
<div class="viewOption">
    <button type="button" (click)="isColumnFn('column')" [disabled]="isColumn" class="btn btn-outline-primary">Column View</button>
    <button type="button" (click)="isColumnFn('row')" [disabled]="!isColumn"  class="btn btn-outline-primary">Row View</button>
</div>

<div [style.minHeight.px]="" class="panel panel-app alarm-console">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 pl-0 pr-0 transition" [ngStyle]="isToggle &&  {'width' : '100%'}">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 pl-0 pr-0">
      <div class="table-responsive" *ngIf="!isColumn">
        <table  class="table org-table bg-white" border="1" [style.marginBottom]="apiDataaRow.length > 0 ? '0px' : null" id="alarmConsoleTable"
                [mfData]="apiDataaRow ? apiDataaRow : []" [mfRowsOnPage]="paginationInfo.numberRowPerPage" #mf="mfDataTable"
                [(mfSortBy)]="paginationInfo.sortBy" [(mfSortOrder)]="paginationInfo.sortOrder">
          <thead class="alarm-hed-color">
          <tr>

              <th width="20%">&nbsp;</th>

              <th width="80%" class="text-left">
                <app-export-data *ngIf="apiDataa && apiDataa.length > 0" [src]="'assets/images/export.svg'" [data]="apiDataa" [headers]="headers"
                                 [fileTagName]="'FC'"></app-export-data>
              </th>


          </tr>
          </thead>
          <tbody id="mainBodyData" [style.maxHeight.px]="toggleFilterSearch ? mainBodyHeight - 40 : mainBodyHeight" class="main-body" [ngStyle]="toggleFilterSearch && {'margin-top': '40px'}">


          <ng-container *ngFor="let apiValue of mf.data;let index = index">
            <tr>
              <td width="20%" class="bldTitle">assetId</td>
              <td  class="smbd" width="80%">{{apiValue.assetId}}</td>
            </tr>
            <tr>
              <td width="20%" class="bldTitle">gwSNO</td>
              <td class="smbd"width="80%">{{apiValue.gwSNO}}</td>
            </tr>
            <tr>
              <td width="20%" class="bldTitle">TS</td>
              <td  class="smbd" width="80%">{{apiValue.TS}}</td>
            </tr>
            <tr>
              <td width="20%" class="bldTitle paramlef">param</td>
              <td width="80%" class="nesttd">
                <div class="table-responsive">
                <table class="table org-table bg-white nested" border="1" bordercolor=”#2a3142”>
                  <thead>
                  <tr>
                    <th class="paramrow smbd" width="30%">Name</th>
                    <th width="50%">Value</th>
                    <th width="20%">Unit</th>
                  </tr>

                  </thead>
                  <tbody>

              <ng-container *ngFor="let key of apiValue.param | keys">

                    <tr>
                      <td width="30%" class="paramrow smbd">{{key | cameltotitle}}</td>
                      <td width="50%">{{apiValue.param[key]}}</td>
                      <td width="20%">&nbsp;</td>

                    </tr>



              </ng-container>
                  </tbody>
                </table>
                </div>
              </td>


              <!--  <td class="text-center" width="4%">
                  <span class="glyphicon glyphicon-edit"></span>
                </td>-->
            </tr>
          </ng-container>


          </tbody>
          <tr *ngIf="apiDataa.length > paginationInfo.numberRowPerPage">
            <td colspan="12" class="pagination-footer">
              <mfBootstrapPaginator [rowsOnPageSet]="[apiDataa.length+0.1,10,25,50,500]"></mfBootstrapPaginator>
            </td>
          </tr>
        </table>
      </div>
      <div class="table-responsive" *ngIf="isColumn">
        <table  class="table org-table bg-white" border="1" [style.marginBottom]="apiDataa.length > 0 ? '0px' : null" id="alarmConsoleTable2"
               [mfData]="apiDataa ? apiDataa : []" [mfRowsOnPage]="paginationInfo.numberRowPerPage" #mf="mfDataTable"
               [(mfSortBy)]="paginationInfo.sortBy" [(mfSortOrder)]="paginationInfo.sortOrder">
          <thead class="alarm-hed-color">
          <tr>


            <ng-template ngFor let-apiDataProp [ngForOf]="props" let-i="index" let-isLast=last>
              <th width="5%" class="text-left">
                <mfDefaultSorter class="sorter"  attr.by="{{apiDataProp.prop}}">{{apiDataProp.propName}}</mfDefaultSorter>
                <app-export-data *ngIf="isLast && apiDataa && apiDataa.length > 0" [src]="'assets/images/export.svg'" [data]="apiDataa" [headers]="headers"
                                 [fileTagName]="'FC'"></app-export-data>
              </th>

            </ng-template>

          </tr>
          </thead>
          <tbody id="mainBodyData2" [style.maxHeight.px]="toggleFilterSearch ? mainBodyHeight - 40 : mainBodyHeight" class="main-body" [ngStyle]="toggleFilterSearch && {'margin-top': '40px'}">


          <ng-container *ngFor="let apiValue of mf.data;let index = index">
            <tr>

               <ng-container *ngFor="let key of apiValue | keys">



                  <td   width="5%" class="text-left">{{apiValue[key]}}</td>



                </ng-container>


                <!--  <td class="text-center" width="4%">
                    <span class="glyphicon glyphicon-edit"></span>
                  </td>-->
            </tr>
          </ng-container>


          </tbody>
          <tr *ngIf="apiDataa.length > paginationInfo.numberRowPerPage">
            <td colspan="12" class="pagination-footer">
              <mfBootstrapPaginator [rowsOnPageSet]="[apiDataa.length+0.1,10,25,50,500]"></mfBootstrapPaginator>
            </td>
          </tr>
        </table>

      </div>
      <div *ngIf="apiDataa.length == 0">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 no-data ">
            No Data exists
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
