<div [style.minHeight.px]="minInnerHeight" class="panel panel-app alarm-console">
  <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 pl-0 pr-0 alarm-inner-last-panel" style="display:none" [ngClass]="{'zero-width-toggle' : isToggle}"
    id="sideOptions">
    <squeezebox>
      <div class="alarm-panel alarm-panel-m-zero">
        <div class="bg-white alarm-inner-panel">
          <div class="heading"> Filter / Search By :
            <p class="filter-toggle-icons" (click)="toggleFilter()"></p>
          </div>
        </div>
        <sb-item>
          <div class="bg-white alarm-inner-panel">
            <span class="sub-heading">
              <label>
                <input type="checkbox" class="check-box" (change)="detectCheckboxChanges($event,'facility')" [(ngModel)]="filter.facility.enabled"
                /> {{"ao_facility_name" | translate}}</label>
            </span>
            <span class="pull-right facility">
              <span class="sub-heading">
                <sb-item-head>
                </sb-item-head>
              </span>
            </span>
          </div>
          <sb-item-body>
            <div class="alarm-panel  alarm-panel-m-zero">
              <div class="text-muted alarm-inner-panel alarm-inner-checkbox">
                <div class="sub-heading">
                  <div class="input-group changethisone">
                    <input type="text" class="form-control" placeholder="Type Facility Name" [hidden]="filter.facility.enabled" [(ngModel)]="filter.facility.keyword"
                    />
                    <span class="input-group-addon">
                      <i class="glyphicon glyphicon-search"></i>
                    </span>
                  </div>
                </div>
                <ul class="sub-heading with-padding">
                  <li *ngFor="let fac of facility | dropDownFilter:filter.facility.keyword" class="checkbox">
                    <label>
                      <input type="checkbox" class="check-box" [value]="fac.facilityId" [checked]="filter.facility.enabled" (change)="applyFilter($event)"
                        [(ngModel)]="fac.checked" /> {{fac.name}}</label>
                  </li>
                </ul>
              </div>
            </div>
          </sb-item-body>
        </sb-item>

        <sb-item>
          <div class="bg-white alarm-inner-panel">
            <span class="sub-heading">
              <label>
                <input type="checkbox" class="check-box" (change)="detectCheckboxChanges($event,'error')" [(ngModel)]="filter.error.enabled"
                /> Error Type </label>
            </span>
            <span class="pull-right error">
              <span class="sub-heading">
                <sb-item-head>
                </sb-item-head>
              </span>
            </span>
          </div>
          <sb-item-body>
            <div class="alarm-panel  alarm-panel-m-zero">
              <div class="text-muted alarm-inner-panel alarm-inner-checkbox">
                <div class="sub-heading">
                  <div class="input-group changethisone">
                    <input type="text" class="form-control" placeholder="Type Facility Name" [hidden]="filter.error.enabled" [(ngModel)]="filter.error.keyword"
                    />
                    <span class="input-group-addon">
                      <i class="glyphicon glyphicon-search"></i>
                    </span>
                  </div>
                </div>
                <ul class="sub-heading with-padding">
                  <li *ngFor="let error of errorType | valueFilter:filter.error.keyword" class="checkbox">
                    <label>
                      <input type="checkbox" class="check-box" [checked]="filter.error.enabled" [value]="error.key" (change)="applyFilter($event)"
                        [(ngModel)]="error.checked" /> {{error.value}}</label>
                  </li>
                </ul>
              </div>
            </div>
          </sb-item-body>
        </sb-item>

        <sb-item>
          <div class="bg-white alarm-inner-panel">
            <span class="sub-heading">
              <label>
                <input type="checkbox" class="check-box" (change)="detectCheckboxChanges($event,'asset')" [(ngModel)]="filter.asset.enabled"
                /> {{"ao_asset_type" | translate}} </label>
            </span>
            <span class="pull-right asset">
              <span class="sub-heading">
                <sb-item-head>
                </sb-item-head>
              </span>
            </span>
          </div>
          <sb-item-body>
            <div class="text-muted alarm-inner-panel alarm-inner-checkbox">
              <div class="sub-heading">
                <div class="input-group changethisone">
                  <input type="text" class="form-control" placeholder="Type Facility Name" [hidden]="filter.asset.enabled" [(ngModel)]="filter.asset.keyword"
                  />
                  <span class="input-group-addon">
                    <i class="glyphicon glyphicon-search"></i>
                  </span>
                </div>
              </div>
              <ul class="sub-heading with-padding">
                <li *ngFor="let asst of asset | assetFilter:filter.asset.keyword" class="checkbox">
                  <label>
                    <input type="checkbox" class="check-box" [checked]="filter.asset.enabled" [value]="asst.Name" (change)="applyFilter($event)"
                      [(ngModel)]="asst.checked" /> {{asst.Name}}</label>
                </li>
              </ul>
            </div>
          </sb-item-body>
        </sb-item>

        <sb-item>
          <div class="bg-white alarm-inner-panel">
            <span class="sub-heading">
              <label>
                <input type="checkbox" class="check-box" (change)="detectCheckboxChanges($event,'alarm')" [(ngModel)]="filter.alarm.enabled"
                /> {{"geo_alarm" | translate }}{{"generic_status" | translate }}</label>
            </span>
            <span class="pull-right alarm">
              <span class="sub-heading">
                <sb-item-head></sb-item-head>
              </span>
            </span>
          </div>
          <sb-item-body>
            <div class="text-muted alarm-inner-panel alarm-inner-checkbox">
              <div class="sub-heading">
                <div class="input-group changethisone">
                  <input type="text" class="form-control" placeholder="Type Alarm Status" [hidden]="filter.alarm.enabled" [(ngModel)]="filter.alarm.keyword"
                  />
                  <span class="input-group-addon">
                    <i class="glyphicon glyphicon-search"></i>
                  </span>
                </div>
              </div>
              <ul class="sub-heading with-padding">
                <li *ngFor="let alarm of alarmConsole | valueFilter:filter.alarm.keyword" class="checkbox">
                  <label>
                    <input type="checkbox" class="check-box" [checked]="filter.alarm.enabled" [value]="alarm.key" (change)="applyExtraFilterOnAlarm($event,alarm.value);applyFilter($event)"
                      [(ngModel)]="alarm.checked" /> {{alarm.value}}</label>
                </li>
              </ul>
            </div>
          </sb-item-body>
        </sb-item>
      </div>
    </squeezebox>
  </div>
  <!-- </div> -->
  <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9 pl-0 pr-0 transition" [ngStyle]="isToggle &&  {'width' : '100%'}">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 pl-0 pr-0">
      <div class="table-responsive">
        <table class="table org-table bg-white" [style.marginBottom]="assetAlarmInfo.length > 0 ? '65px' : null" id="alarmConsoleTable"
          [mfData]="assetAlarmInfo ? assetAlarmInfo : []" [mfRowsOnPage]="paginationInfo.numberRowPerPage" #mf="mfDataTable"
          [(mfSortBy)]="paginationInfo.sortBy" [(mfSortOrder)]="paginationInfo.sortOrder">
          <thead class="alarm-hed-color">
            <tr>
              <th width="2%">
                <input type="checkbox" name="" class="checkbox" (change)="setCheckBoxForAssetAlarm($event.target.checked)" />
              </th>
              <th width="10%" class="text-left">
                <mfDefaultSorter class="sorter" by="facilityName">{{"ao_facility" | translate}}</mfDefaultSorter>
              </th>
              <th width="6%" class="text-left">
                <mfDefaultSorter class="sorter" by="assetId">{{"ao_assetid" | translate}}</mfDefaultSorter>
              </th>
              <th width="7%" class="text-left">
                <mfDefaultSorter class="sorter" by="assetType">{{"ao_asset_type" | translate}}</mfDefaultSorter>
              </th>
              <th width="9%" class="text-left">
                <mfDefaultSorter class="sorter" by="name">{{"generic_topic" | translate}}</mfDefaultSorter>
              </th>
              <th width="10%" class="text-left">
                <mfDefaultSorter class="sorter" by="value">Value</mfDefaultSorter>
              </th>
              <th width="17%" class="text-left">
                <mfDefaultSorter class="sorter" by="description">{{"alarm_desc" | translate}}</mfDefaultSorter>
              </th>
              <th width="5%" class="text-center" align="center">
                <mfDefaultSorter class="sorter" by="priority">{{"alarm_priority" | translate}}</mfDefaultSorter>
              </th>
              <th width="4%" class="text-center" align="center">
                <mfDefaultSorter class="sorter" by="status">{{"generic_status" | translate}}</mfDefaultSorter>
              </th>
              <th width="13%" class="text-center" align="center" id="trigger-time">
                <mfDefaultSorter class="sorter" by="tActiveTS">{{"alarm_trigger" | translate}}</mfDefaultSorter>
              </th>
              <th width="13%" class="text-center" align="center" id="normalized-time">
                <mfDefaultSorter class="sorter" by="tNormalTS">{{"alarm_normalized" | translate}}</mfDefaultSorter>
              </th>
              <th width="4%">
                <app-export-data *ngIf="assetAlarmInfo.length > 0" [src]="'assets/images/export.svg'" [data]="assetAlarmInfo" [headers]="headers"
                  [fileTagName]="'FC'"></app-export-data>
                <img *ngIf="assetAlarmInfo.length > 0" src="assets/images/search.svg" class="svg-icon search-svg-icon" (click)="toggleFilterSearch = !toggleFilterSearch"
                />
              </th>
            </tr>
            <app-table-filter *ngIf="toggleFilterSearch" [widthData]="filterWidthData" (notifyChange)="updateData($event)" [(filterValues)]="filterValues"
              [(data)]="assetAlarmInfo"></app-table-filter>
          </thead>
          <tbody id="mainBodyData" [style.maxHeight.px]="toggleFilterSearch ? mainBodyHeight - 40 : mainBodyHeight" class="main-body" [ngStyle]="toggleFilterSearch && {'margin-top': '40px'}">
            <ng-container *ngFor="let alarm of mf.data;let index = index">
              <tr *ngIf="assetAlarmInfo.length > 0">
                <td width="2% " align="center">
                  <input type="checkbox" name="" class="checkbox" [checked]="alarm.checked" (change)="alarm.checked=!alarm.checked " />
                </td>
                <td width="10%" class="text-left">{{alarm.facilityName}}</td>
                <td width="6%" class="text-left">{{alarm.assetId}}</td>
                <td width="7%" class="text-left">{{alarm.assetType}}</td>
                <td width="9%" class="text-left">{{alarm.name}}</td>
                <td width="10%" class="text-left" [innerHTML]="alarm.value"></td>
                <td width="17%" class="text-left">{{alarm.description}}</td>
                <td width="5%" class="text-center">{{alarm.priority}}</td>
                <td width="4%" [attr.value]="alarm.status" class="text-center">
                  <ng-container [ngSwitch]="alarm.status ">
                    <ng-container *ngSwitchCase=" '0' ">
                      <img class="status-icon " title="Normal " src="assets/images/alarm_normal_0.svg " />
                    </ng-container>
                    <ng-container *ngSwitchCase=" '2' ">
                      <img class="status-icon " title="Acknowledged " src="assets/images/alarm_normal_2.svg " />
                    </ng-container>
                    <ng-container *ngSwitchDefault>
                      <img class="status-icon " title="Active" src="assets/images/alarm_normal.svg " />
                    </ng-container>
                  </ng-container>
                </td>
                <td width="13%" class="text-center" align="center">{{!alarm.activeTS ? '' : alarm.activeTS | convertToLocalDate}}</td>
                <td width="13%" class="text-center" align="center">{{!alarm.normalTS ? '' : alarm.normalTS | convertToLocalDate}}</td>
                <td class="text-center" width="4%">
                  <span class="glyphicon glyphicon-edit" (click)="openAlarmNoteForm(alarm, index)"></span>
                </td>
              </tr>
            </ng-container>
          </tbody>
          <tr *ngIf="assetAlarmInfo.length> paginationInfo.numberRowPerPage">
            <td colspan="12" class="pagination-footer">
              <mfBootstrapPaginator [rowsOnPageSet]="[assetAlarmInfo.length+0.1,10,25,50,500]"></mfBootstrapPaginator>
            </td>
          </tr>
        </table>
        <!-- <div class="minimize-table" *ngIf="isToggle">
          <i class="glyphicon glyphicon-resize-full" (click)="toggleFilter()"></i>
        </div> -->
      </div>
      <div *ngIf="assetAlarmInfo.length == 0">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 no-data ">
            {{assetAlarmInfoMessage}}
          </div>
        </div>
      </div>
    </div>
  </div>
  <app-operation-strip></app-operation-strip>
</div>
<div bsModal #childModal="bs-modal" class="modal fade add-notes" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title pull-left">
          <strong>{{"alarm_add_notes" | translate}} </strong>
          <div class="header-details">
            <span>({{"ao_assetid" | translate}} : {{selectedPopupAlarm?.assetId}}</span>
            <span>, {{"generic_status" | translate}} :
              <ng-container [ngSwitch]="selectedPopupAlarm?.param[0].status">
                <ng-container *ngSwitchCase="'0'">
                  <img class="status-icon" title="Normal" src="assets/images/alarm_normal_0.svg" />
                </ng-container>
                <ng-container *ngSwitchCase="'2'">
                  <img class="status-icon" title="Acknowledged" src="assets/images/alarm_normal_2.svg" />
                </ng-container>
                <ng-container *ngSwitchDefault>
                  <img class="status-icon" title="Alarm" src="assets/images/alarm_normal.svg" />
                </ng-container>
              </ng-container>
              )
            </span>
          </div>
        </h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="hideAlarmNoteForm()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form class="form-horizontal surge-form" enctype="multipart/form-data">
          <div class="form-group">
            <label class="col-sm-2 control-label">{{"generic_status" | translate}}</label>
            <div class="col-sm-10 alarm-status">
              <div class="add-note-acknowledged">
                <label>
                  <input type="checkbox" class="check-box" name="checkbox" [(ngModel)]="alarmstatusCheckbox" /> Acknowledged
                </label>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label">{{"alarm_notes" | translate}}</label>
            <div class="col-sm-10">
              <textarea class="form-control" name="notes" rows="5" [(ngModel)]="notes">
                  </textarea>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label">{{"alarm_file_reference" | translate}}</label>
            <div class="col-sm-10">
              <input type="file" #fileInput/>
            </div>
          </div>
          <div class="form-group">
            <div class="modal-footer">
              <button class="btn btn-tab" type="button" (click)="hideAlarmNoteForm()">{{"generic_cancel" | translate}}</button>
              <button class="btn btn-tab" [disabled]="!notes && (assetAlarmInfo[selectedAlarmIndex]?.param[0].status == 2 ? alarmstatusCheckbox : !alarmstatusCheckbox )"
                type="button" (click)="createAlarmNotes(selectedPopupAlarm);hideAlarmNoteForm()">{{"generic_save" | translate}}</button>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <div class="file-list">
          <div class="table-responsive">
            <!--<pre>{{selectedPopupAlarm?.notes | json}}</pre>-->
            <table class="table org-table bg-white">
              <thead class="alarm-hed-color">
                <tr>
                  <th width="25%">{{"alarm_updated_time" | translate}}</th>
                  <th width="20%">Update By</th>
                  <th width="30%">{{"alarm_file_reference" | translate}}</th>
                  <th width="25%">{{"alarm_notes" | translate}}</th>
                </tr>
              </thead>
              <tbody *ngIf="selectedPopupAlarm?.notes?.length > 0">
                <tr *ngFor="let note of selectedPopupAlarm.notes">
                  <tr *ngFor="let note of selectedPopupAlarm.notes; let rowIndex=index">
                    <td width="25%">{{note.updatedDate | convertToLocalDate}}</td>
                    <td width="20%">{{note.updatedBy}}</td>
                    <td width="30%" class="file-reference">
                      <a href="{{note.fileReference}}" download="{{note.fileReference}}">{{note.fileName}}</a>
                    </td>
                    <td width="20%">{{note.notes}}</td>
                  </tr>
              </tbody>
              <tfoot class="alarm-hed-color" *ngIf="selectedPopupAlarm?.notes?.length > 0">
                <tr>
                  <td colspan="4"></td>
                </tr>
              </tfoot>
            </table>
          </div>
          <div *ngIf="selectedPopupAlarm?.notes?.length == 0" class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 no-data ">
              {{"alarm_no_notes_exists" | translate}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
