// @import '../../../variables';

/*
.alarm-panel {
  // border-right: 1px solid #E2E2E2;
  box-shadow: 1px 0 0 0 #DEDEE3;
  .alarm-inner-panel {
    padding: 8px 25px;
    border: 1px solid #EFF0F1;
    .heading {
      font-size: 16px;
      line-height: 2;
    }
    .sub-heading {
      font-size: 14px;

      .check-box {
        position: relative;
        top: 2px;
      }
      .icon {
        top: 4px;
      }
      &.with-padding {
        padding: 5px 8%;
      }
    }
  }
}

ul.sub-heading {
  list-style: none;
}

.changethisone span {
  background-color: #FFF;
}

.changethisone input {
  border-right-style: none;
}

.alarm-header {
  padding: 10px;
  margin: 10px;
  .alarm-img {
    margin-top: 5px;
    height: 50px;
  }
  .alarm-content {
    height: 60px;
    font-size: 20px;
    text-transform: uppercase;
    box-shadow: 2px 2px 2px #888888;
    &.red {
      color: $red;
    }
    &.green {
      color: $green;
    }
    &.light-sea-blue {
      color: $light-sea-blue;
    }
    .number {
      font-size: 35px;
      position: relative;
      top: 5px;
    }
  }
}

.bg-red {
  background-color: $red;
}

.bg-green {
  background-color: $green;
}

.bg-light-sea-blue {
  background-color: $light-sea-blue;
}
*/

:host {
  clear: both;
}
.text-center{
  text-align: center;
}
.alarm-inner-last-panel {
  padding-bottom: 85px;
  position: relative;
  right: 0;
  transition: all 0.5s ease;
}
.transition {
  transition: all 0.5s ease;
}
.zero-width-toggle {
  width: 0px;
  height: 0px;
  margin: 0px;
  padding: 0px;
  right: 400px;
}
.filter-toggle-icons {
  display: inline-block;
  margin: 0;
  height: 15px;
  border-top: 1px solid black;
  border-left: 1px solid black;
  width: 15px;
  transform: rotate(-45deg);
  position: absolute;
  right: -5px;
  top: 15px;
  cursor: pointer;
}
.table-responsive {
  position: relative;
  .minimize-table{
    position: absolute;
    top: 10px;
    color: white;
    right: 5px;
    cursor: pointer;

    .glyphicon-resize-full {
      @media only screen and (max-width: 1280px) {
        font-size: 12px;      
      }        
    }
  }
}

.table-responsive>.table>tbody>tr>td, .table-responsive>.table>tbody>tr>th, .table-responsive>.table>tfoot>tr>td, .table-responsive>.table>tfoot>tr>th, .table-responsive>.table>thead>tr>td, .table-responsive>.table>thead>tr>th {
  white-space: normal !important;
}

.org-table .checkbox {
  position: relative;
  top: 0px;
  display: inline-block;
}

#alarmConsoleTable {
  margin-bottom: 10px;
  display: table;
  width: 100%;
  max-width: 100%;
  word-break: break-word;
  thead{
    float: left;
    width: 100%;
    th{
      vertical-align: middle;
      @media only screen and (max-width: 1280px) {
        font-size: 13px;      
      }
      @media only screen and (max-width: 1024px) {
        font-size: 10px;
        white-space: nowrap;
      }        
    }
    tr{
      width: 100%;
      display: table;
      @media only screen and (max-width: 1024px) {
        font-size: 10px;
        white-space: nowrap;
      }    
    }
  }
  .main-body{
    overflow: auto;
  }
  tbody {
    float: left;
    width: 100%;
    tr {
      width: 100%;
      display: table;
      
      td{
        vertical-align : middle;
        padding: 0px 5px;
        @media only screen and (max-width: 1024px) {
          font-size: 11px;
        }
      }
    }
  }

  .pagination-footer{
    padding: 10px 10px;
  }


  .alarm-hed-color {
    .search-svg-icon {
      position: absolute;
      top: 7px;
      right: 8px;
      max-width: 20px;
      cursor: pointer;
    }

    app-export-data {
      left: -10px;
      position: relative;
    }
  }
  tfoot {
    tr {
      td {
        text-align: center;
        img{
          cursor: pointer;
          margin: 0 3px;
        }
      }
    }
  }
}

.header-details{
  display: inline-block;
  font-weight: normal;
  margin-left: 35px;
  font-size: 17px;
}
.status-icon {
  width: 18px;
  height: 18px;
}
.add-notes {
  .close {
    color: white;
    opacity: 1;
  }
  .add-note-acknowledged {
    line-height: 27px;
    height: 35px;
    padding: 3px 10px;
    border: 1px solid #bec3c7;

    label {
      font-weight: normal;
      margin-bottom: 0px;

      input {
        margin: 0;
        position: relative;
        top: 1px;
      }
    }
  }
  .alarm-status {
    position: relative;
    .fa-caret-down{
      position: absolute;
      top: 15%;
      right: 5%;
      font-size: 25px;
      color: #57607d;
      cursor: pointer;
    }
  }
  .modal-dialog {
    width: 750px;
  }
  .modal-header {
    background-color: #57607d;
    color: white;
  }
  .modal-footer {
    .file-list {
      .table-responsive {
        overflow: hidden;
      }
      .file-reference {
        &:hover{
          color: #57607d;
          cursor: pointer;
          text-decoration: underline;
        }
      }
    }
    table {
      tbody {
        max-height: 200px;
        tr {
          td {
            max-width: 150px;
            word-wrap: break-word;
            text-align: left;
            white-space: nowrap;
            a{
              white-space: pre-line;
            }
          }
        }
      }
    }
  }
}

.alarm-console {
  position: relative;
  margin-bottom: 0px;
  .input-group {
  .form-control {
    z-index: 0;
  }
  }
}

.alarm-panel {
  margin-bottom: 140px;
}

.table-responsive {
  table {
    margin-bottom: 0px;
  }
}
