<div class="ptb-1 ptb-left-zero ptb-bottom-zero equal">
  <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 plr-1 pr-0" id="assetDashboardRight" [style.width]="'22%'">
    <app-asset-desc (assetChanged)="assetChanged($event)"></app-asset-desc>
    <app-asset-location [assetMapInfo]="assetMapInfo" *ngIf="selectedRealTimeData.length == 0" [selectedAsset]="selectedAsset"></app-asset-location>
  </div>
  <div id="appAssetTable" class="col-sm-12 col-xs-12 plr-1 pr-0 asser-des-right" [ngClass]="tableviewChange.rtClass" [hidden]="tableviewChange.AlarmMaxView">
    <div [ngClass]="tableviewChange.rtInnerClass">
      <app-asset-table [assetTableInfo]="assetTableInfo" [selectedAsset]="selectedAsset" [tableviewChange]="tableviewChange" #selectedRTData
        (selectedRTData)="changeRTData($event)" #RTtableView (RTtableView)="changeRTtableView($event)" #RTmaxmizeView (RTmaxmizeView)="changeRTMaxView($event)"></app-asset-table>
    </div>
  </div>
  <div id="appAssetAlarmPoint" class="col-sm-12 col-xs-12 plr-1  asser-des-right" [ngClass]="tableviewChange.alarmClass" [hidden]="tableviewChange.RTtableMaxView">
    <div [ngClass]="tableviewChange.alarmInnerClass">
      <app-asset-alarm-point [assetAlarmInfo]="assetAlarmInfo" [selectedAsset]="selectedAsset" [selectedRealTimeData]="selectedRealTimeData"
        [tableviewChange]="tableviewChange" #ACtableView (ACtableView)="changeACtableView($event)" #ACmaxmizeView (ACmaxmizeView)="changeACMaxView($event)"></app-asset-alarm-point>
    </div>
  </div>
  <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 plr-1" [hidden]="tableviewChange.RTtableMaxView || tableviewChange.AlarmMaxView">
    <app-asset-location [assetMapInfo]="assetMapInfo" *ngIf="selectedRealTimeData.length > 0"></app-asset-location>
  </div>

  <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12 asset-right-align" *ngIf="selectedRealTimeData.length > 0">
    <div class="panel panel-app">
      <div class="panel-heading clearfix panel-white-heading panel-border">
        <div class="text-left">
          {{"asset_history" | translate}}
        </div>
      </div>
      <!-- <app-time-slider></app-time-slider> -->
      <div class="panel-body-padding panel-border panl-min-height">
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <app-line-chart [result]="linechartData" [chartInfo]="lineChartInfo"></app-line-chart>
          </div>
          <div>
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 mb-20 col-md-offset-1">
              <app-time-slider (timeRange)="changeTime($event)" #timeRange></app-time-slider>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 mb-20 col-md-offset-1">
              <app-date-slider (dateRange)="changeDate($event)" #dateRange></app-date-slider>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- <div class="ptb-15 equal">
    <div class="col-sm-12 col-xs-12 plr-5 col-lg-12 col-md-1">
        <app-asset-table [assetTableInfo]="assetTableInfo" [tableviewChange]="tableviewChange" #selectedRTData (selectedRTData)="changeRTData($event)" #RTtableView (RTtableView)="changeRTtableView($event)"></app-asset-table>
    </div>
</div> -->
