.ptb-1 {
  padding: 1px;
}

.ptb-left-zero{
  padding-left: 0px;
}

.ptb-bottom-zero{
  padding-bottom: 0px;
}

.pr-0 {
  padding-right: 0px;
}


.asset-right-align {
  width: 28%;
  padding-left: 1px;
  padding-right: 0px;
}

.asser-des-right {
  div:first-child{
    height: 100%;
  }
}

@media (min-width: 768px) {
    .equal {
        display: flex;
        flex-wrap: wrap;
    }
}

@media (min-width: 992px) {
    .width-0-4 {
        width: 4.333%;
    }
    .width-0-6 {
        width: 6.333%;
    }
    .pl-10 {
        padding-left: 10px;
    }
    .mr-8 {
        margin-right: -8%;
        margin-left: 0px;
    }
    .mr-7 {
        margin-right: -7%;
        // margin-left: -8%;
    }
    .alarm-mp {
        margin-left: 4%;
        padding-right: 0px;
    }
}
