.main-container {
    padding: 1px;
    .table-container{
      padding: 1px;
      background: white;
    }
  }
  
  .fixed-height {
    padding: 0px;
  }
  
  .width5 {
    width: 81px;
  }
  
  .resize-icons {
    padding-left: 10px;
    cursor: pointer;
  }
  
  
  .map-panel{
    background: #efefef;
  }
  
  .routing-dispatch-main-container {
    .col-md-7, .col-md-5, .col-md-12 {
      padding: 0;
    }
  }
  