<div class="container-fluid routing-dispatch-main-container">
  <div class="route-list" [hidden]="!currentActivity.routeList">
    <div class="row">
      <div class="" [ngClass]="{ 'col-md-12': fullscreen.map, 'col-md-7': !fullscreen.map, 'hidden': fullscreen.list }">
        <div class="panel panel-without-bottom map-panel">
          <div class="panel-body fixed-height">
            <app-routing-dispatch-map [hidden]="minimize.map"></app-routing-dispatch-map>
          </div>
        </div>
      </div>
      <div class="" [ngClass]="{ 'col-md-12': fullscreen.list, 'col-md-5': !fullscreen.list, 'hidden': fullscreen.map }">
        <div class="panel panel-without-bottom">
          <div class="panel-body fixed-height">
            <app-routing-dispatch-list [hidden]="minimize.list" [currentActivity]="currentActivity"></app-routing-dispatch-list>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="create-route" [hidden]="!currentActivity.createRoute">
    <div class="row">
      <div class="" [ngClass]="{ 'col-md-12': fullscreen.map, 'col-md-7': !fullscreen.map, 'hidden': fullscreen.list }">
        <div class="panel panel-without-bottom map-panel">
          <div class="panel-body fixed-height">
            <app-create-route-map></app-create-route-map>
          </div>
        </div>
      </div>
      <div class="" [ngClass]="{ 'col-md-12': fullscreen.list, 'col-md-5': !fullscreen.list, 'hidden': fullscreen.map }">
        <div class="panel panel-without-bottom">
          <div class="panel-body fixed-height">
            <app-create-route-form [currentActivity]="currentActivity"></app-create-route-form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="create-poi" [hidden]="!currentActivity.createPOI">
    <div class="row">
      <div class="" [ngClass]="{ 'col-md-12': fullscreen.map, 'col-md-7': !fullscreen.map, 'hidden': fullscreen.list }">
        <div class="panel panel-without-bottom map-panel">
          <div class="panel-body fixed-height">
            <app-create-poi-map [currentActivity]="currentActivity"></app-create-poi-map>
          </div>
        </div>
      </div>
      <div class="" [ngClass]="{ 'col-md-12': fullscreen.list, 'col-md-5': !fullscreen.list, 'hidden': fullscreen.map }">
        <div class="panel panel-without-bottom">
          <div class="panel-body fixed-height">
            <app-create-poi-form [currentActivity]="currentActivity"></app-create-poi-form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="create-poi" [hidden]="!currentActivity.assetDriverView">
    <app-asset-driver-view [currentActivity]="currentActivity"></app-asset-driver-view>
  </div>
</div>