<div class="col-lg-12 col-md-12 col-sm-12 onboarding-content">
  <div class="col-lg-12 col-md-12 onboarding-nav-option">
    <div class="btn-group">
      <a class="btn btn-default btn-icon btn-custom-nav" [ngClass]="{ 'active': !isEditMode }" (click)="isEditMode = false;resetForm();">
        <span class="material-icons">add_circle</span><span class="hidden-xs"> {{"ao_new_facility" | translate}}</span></a>
    </div>

    <div class="btn-group">
      <a class="btn btn-default btn-icon btn-custom-nav" [ngClass]="{ 'active': isEditMode }" (click)="isEditMode = true;getAvailableFacility()">
        <span class="material-icons">domain</span><span class="hidden-xs"> {{"ao_existing_facility" | translate}}</span></a>
    </div>
  </div>


  <form #onboardingForm="ngForm" class="onboarding-form">
    <div class="row">
      <!-- main row -->
      <div class="col-lg-7 col-md-7 col-sm-7">

        <div class="row">
          <!-- first row -->
          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 organization-left org-img-holder">
            <label class="control-label">{{"ao_facility_details" | translate}}</label>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 thumbnail">
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding form-group">
                <img class="img img-responsive" [src]="facility.logo" alt="" *ngIf="facility.logo" />
                <span class="material-icons upload-icon" (click)="file.open()">camera_alt</span>
                <app-file-upload #file (file)="changeImage($event)"></app-file-upload>
                <input type="text" class="hidden" name="logo" [(ngModel)]="facility.logo" #organizationLogo="ngModel">
                <img src="assets/images/default_facility.svg#def_facility" class="img img-responsive" *ngIf="!facility.logo" />
              </div>
              <div class="col-lg-8 col-md-8 col-sm-8 col-xs-7 no-padding input-group-sm">
                <label class="control-label required-lbl">{{"ao_facility_name" | translate}}</label>
                <span *ngIf="!isEditMode">
                <input type="text" class="form-control input-sm" name="facilityNameInput" #facilityNameInput="ngModel" [(ngModel)]="facility.facilityName" required maxlength="64"
                 pattern="[a-zA-Z][a-zA-Z ]*([']?[-]?)[a-zA-Z ]*">

                <div *ngIf="facilityNameInput.errors && (facilityNameInput.dirty || facilityNameInput.touched)" class="text-danger">
                  <div [hidden]="!facilityNameInput.errors.required">
                    {{"ao_facility_name_req" | translate}}
                  </div>
                  <div [hidden]="!facilityNameInput.errors.minlength">
                    {{"ao_facility_name_minlen" | translate}}
                  </div>
                  <div [hidden]="!facilityNameInput.errors.maxlength">
                   {{"ao_facility_name_maxlen" | translate}}
                  </div>
                  <div [hidden]="!facilityNameInput.errors.pattern">
                    {{"ao_facility_name_invalid" | translate}}
                  </div>
                </div>
                  </span>
                <span *ngIf="isEditMode">
                <select class="form-control input-sm" name="assetIdSelect" [(ngModel)]="facilityIndex" (change)="getSelectedFacility(facilityIndex)">
                  <option selected disabled>{{"Select Facility Name" | translate}}</option>
                  <option *ngFor="let exfacility of availableFacility" [ngValue]="exfacility">{{exfacility.facilityName}}</option>
                </select>
                  </span>

              </div>
              <div class="col-lg-4 col-md-4 col-sm-4 col-xs-5 status-icon-group">
                <div class="control-label">{{"generic_active" | translate}}</div>
                <label class="switch">
                <input type="checkbox" name="status" [(ngModel)]="facility.status">
                <div class="slider round"></div>
              </label>
              </div>
            </div>
          </div>

          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 organization-left">
            <div class="form-group has-feedback has-feedback-left">
              <label class="control-label required-lbl">{{"generic_address" | translate}}</label>
              <input type="text" class="form-control" #addressName="ngModel" [(ngModel)]="addressname" name="addressName" required>
              <span class="form-control-feedback"><span class="material-icons">location_on</span></span>
              <div *ngIf="addressName.errors && (addressName.dirty || addressName.touched)" class="text-danger">
                <div [hidden]="!addressName.errors.required">
                  {{"co_address_req" | translate}}
                </div>
                <div [hidden]="!addressName.errors.pattern">
                  {{"co_address_invalid" | translate}}
                </div>
              </div>
            </div>

            <div class="form-group has-feedback">
              <label class="control-label required-lbl">{{"co_timezone" | translate}}</label>
              <select class="form-control" [(ngModel)]="facility.timezone" name="timezoneSelect" #timezoneSelect="ngModel" required>
                <option *ngFor="let tzone of timezone" [value]="tzone.id">{{tzone.displayName}}</option>
              </select>

              <div *ngIf="timezoneSelect.errors && (timezoneSelect.dirty || timezoneSelect.touched)" class="text-danger">
                <div [hidden]="!timezoneSelect.errors.required">
                  {{"co_timezone_req" | translate}}
                </div>
              </div>
            </div>

            <div class="form-group has-feedback">
              <label class="control-label required-lbl">{{"ao_facility_type" | translate}}</label>
              <input type="text" class="form-control" [(ngModel)]="facility.facilityType" name="makeInput" #makeInput="ngModel" required
                maxlength="64" pattern="[a-zA-Z][a-zA-Z ]*([']?[-]?)[a-zA-Z ]*">
              <div *ngIf="makeInput.errors && (makeInput.dirty || makeInput.touched)" class="text-danger">
                <div [hidden]="!makeInput.errors.required">
                  {{"ao_facility_type_req" | translate}}
                </div>
                <div [hidden]="!makeInput.errors.minlength">
                  {{"ao_facility_type_minlen" | translate}}
                </div>
                <div [hidden]="!makeInput.errors.maxlength">
                  {{"ao_facility_type_maxlen" | translate}}
                </div>
                <div [hidden]="!makeInput.errors.pattern">
                  {{"ao_facility_type_invalid" | translate}}
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- first row -->
      </div>

      <div class="col-lg-5 col-md-5 col-sm-5">
        <div class="onboarding-instruction thumbnail hidden-xs">
          <h3>{{"ao_facility_create" | translate}}</h3>
          <p>{{"ao_facility_guide1" | translate}}</p>
          <p>{{"ao_facility_guide2" | translate}}</p>
          <p>{{"ao_facility_guide3" | translate}}</p>
          <p>{{"ao_facility_guide4" | translate}}</p>
          <p>{{"ao_facility_guide5" | translate}}</p>
        </div>

        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12 text-right form-group">
            <button class="btn btn-tab" (click)="cancel()" type="button">{{"generic_cancel" | translate}}</button>
            <button class="btn btn-tab" (click)="saveFacility(onboardingForm.valid)" type="button" [disabled]="onboardingForm.invalid">{{"generic_continue" | translate}}</button>
          </div>
        </div>
      </div>
      <!-- main row -->
    </div>
  </form>
</div>
