<div class="col-lg-12 col-md-12 col-sm-12 onboarding-content">
  <div class="col-lg-12 col-md-12 onboarding-nav-option">
    <div class="btn-group">
      <a class="btn btn-default btn-icon btn-custom-nav" [ngClass]="{ 'active': !isEditMode }" (click)="isEditMode = false;resetForm();">
        <span class="material-icons">add_circle</span><span class="hidden-xs"> {{"ao_asset_create_new" | translate}}</span></a>
    </div>

    <div class="btn-group">
      <a class="btn btn-default btn-icon btn-custom-nav" [ngClass]="{ 'active': isEditMode }" (click)="isEditMode = true;getAssetAvailable();">
        <span class="material-icons">domain</span><span class="hidden-xs"> {{"ao_asset_select" | translate}}</span></a>
    </div>
  </div>

  <!--<pre>{{asset | json}}</pre>-->
  <form #onboardingForm="ngForm" class="onboarding-form">
    <div class="row">
      <!-- main row -->
      <div class="col-lg-7 col-md-7 col-sm-7">
        <div class="row">
          <!-- first row -->
          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 organization-left org-img-holder">
            <label class="control-label">{{"ao_asset_details" | translate}}</label>
            <div *ngIf="asset" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 thumbnail">
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding form-group">
                <img class="img img-responsive " *ngIf="asset.logo" [src]="asset.logo" alt="" />
                <span class="material-icons upload-icon" (click)="file.open()">camera_alt</span>
                <app-file-upload #file (file)="changeImage($event)"></app-file-upload>
                <input type="text" class="hidden" name="logo" [(ngModel)]="asset.logo" #organizationLogo="ngModel">
                <img [src]="assetDefaultImage" class="img img-responsive" *ngIf="!asset.logo" />
              </div>
              <div class="col-lg-8 col-md-8 col-sm-8 col-xs-7 no-padding input-group-sm">
                <label class="control-label required-lbl">{{"ao_assetid" | translate}}</label>
                <span *ngIf="!isEditMode">
                <input type="text" class="form-control input-sm" name="AssetIdInput" [(ngModel)]="asset.assetId" required maxlength="64"
                  #AssetIdInput="ngModel" pattern="^[a-zA-Z0-9]+?" tabindex="1">

                <div *ngIf="AssetIdInput.errors && (AssetIdInput.dirty || AssetIdInput.touched)" class="text-danger">
                  <div [hidden]="!AssetIdInput.errors.required">
                    {{"ao_assetid_req" | translate}}
                  </div>
                  <div [hidden]="!AssetIdInput.errors.minlength">
                    {{"ao_assetid_minlen" | translate}}
                  </div>
                  <div [hidden]="!AssetIdInput.errors.maxlength">
                    {{"ao_assetid_maxlen" | translate}}
                  </div>
                  <div [hidden]="!AssetIdInput.errors.pattern">
                    {{"ao_assetid_invalid" | translate}}
                  </div>
                </div>
                  </span>
                <span *ngIf="isEditMode">
                <select class="form-control input-sm" name="assetIdSelect" [(ngModel)]="assetIdIndex" (change)="getSelectedAsset(assetIdIndex)" tabindex="1">
                  <option selected disabled>{{"ao_select_asset" | translate}}</option>
                  <option *ngFor="let exasset of availableAsset; let i = index;" [ngValue]="exasset">{{exasset.assetId}}</option>
                </select>
                  </span>

              </div>
              <div class="col-lg-4 col-md-4 col-sm-4 col-xs-5 status-icon-group">
                <div class="control-label">{{"generic_active" | translate}}</div>
                <label class="switch">
                <input type="checkbox" name="status" [(ngModel)]="asset.status">
                <div class="slider round"></div>
              </label>
              </div>
            </div>
          </div>


          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 organization-left">

            <!-- parent organization -->
            <div class="form-group" *ngIf="asset">
              <label class="control-label required-lbl">{{"ao_asset_type" | translate}}</label>
              <select class="form-control" (ngModelChange)="assetTypeOnChange($event)" tabindex="7" #assetTypeSelect="ngModel" name="assetTypeSelect" [(ngModel)]="asset.assetType"
                required>
            <option *ngFor="let assettype of avilableaAssetType" [value]="assettype.name">{{assettype.name}}</option>
          </select>
              <div *ngIf="assetTypeSelect.errors && (assetTypeSelect.dirty || assetTypeSelect.touched)" class="text-danger">
                <div [hidden]="!assetTypeSelect.errors.required">
                  {{"ao_assettype_req" | translate}}
                </div>
              </div>
            </div>

            <div class="form-group facility-dropdown">
              <label class="control-label  required-lbl">{{"ao_facility" | translate}}</label>
              <!-- pattern="(https?:\/\/(?:www\.|(?!www))[a-zA-Z0-9][a-zA-Z0-9-]+[a-zA-Z0-9]\.[^\s]{2,}|www\.[a-zA-Z0-9][a-zA-Z0-9-]+[a-zA-Z0-9]\.[^\s]{2,}|https?:\/\/(?:www\.|(?!www))[a-zA-Z0-9]\.[^\s]{2,}|www\.[a-zA-Z0-9]\.[^\s]{2,})" -->

              <select class="form-control" tabindex="8" #facilitySelect="ngModel" name="facilitySelect" [(ngModel)]="selectedFacility"
                required>
                <option *ngFor="let facility of availableFacility" [ngValue]="facility">{{facility.facilityName}}</option>
              </select>
              <span class="material-icons add-icon" (click)="getNewDeviceOrFacility(false)">add_circle</span>
              <div *ngIf="facilitySelect.errors && (facilitySelect.dirty || facilitySelect.touched)" class="text-danger">
                <div [hidden]="!facilitySelect.errors.required">
                  {{"ao_facility_req" | translate}}
                </div>
              </div>
            </div>

            <div class="form-group device-dropdown">
              <label class="control-label  required-lbl">{{"ao_device" | translate}}</label>
              <!--<pre>{{availableDevice | json}}</pre>-->
              <select class="form-control" tabindex="9" [(ngModel)]="selectedDevice" name="deviceSelect" #deviceSelect="ngModel" required>
                <option *ngFor="let device of availableDevice" [ngValue]="device">{{device.gatewaySno}}</option>
              </select>
              <!--<span class="form-control-feedback"><span class="material-icons">monetization_on</span></span>-->
              <span class="material-icons add-icon" (click)="getNewDeviceOrFacility(true)">add_circle</span>
              <div *ngIf="deviceSelect.errors && (deviceSelect.dirty || deviceSelect.touched)" class="text-danger">
                <div [hidden]="!deviceSelect.errors.required">
                  {{"ao_device_req" | translate}}
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- first row -->

        <div class="row" *ngIf="asset">
          <!-- second row -->
          <!--<div class="col-lg-12">-->
          <div class="col-lg-6 col-md-6 col-sm-6 organization-left">
            <div class="form-group has-feedback ">
              <label class="control-label">{{"ao_make" | translate}}</label>
              <input type="text" class="form-control" tabindex="2" [(ngModel)]="asset.make" name="makeInput" #makeInput="ngModel" maxlength="64"
                pattern="[a-zA-Z0-9][a-zA-Z0-9 `#&()_\\';\\/?>.<,-]*[a-zA-Z0-9 ]*">

              <div *ngIf="makeInput.errors && (makeInput.dirty || makeInput.touched)" class="text-danger">
                <div [hidden]="!makeInput.errors.minlength">
                  {{"ao_make_minlen" | translate}}
                </div>
                <div [hidden]="!makeInput.errors.maxlength">
                  {{"ao_make_maxlen" | translate}}
                </div>
                <div [hidden]="!makeInput.errors.pattern">
                  {{"ao_make_invalid" | translate}}
                </div>
              </div>
            </div>

            <div class="form-group has-feedback ">
              <label class="control-label">{{"ao_model" | translate}}</label>
              <input type="text" class="form-control" tabindex="3" [(ngModel)]="asset.model" name="modelInput" #modelInput="ngModel" maxlength="64"
                pattern="[a-zA-Z0-9][a-zA-Z0-9 `#&()_\\';\\/?>.<,-]*[a-zA-Z0-9 ]*">
              <!-- <span class="form-control-feedback"><span class="material-icons">contacts</span></span> -->

              <div *ngIf="modelInput.errors && (modelInput.dirty || modelInput.touched)" class="text-danger">
                <div [hidden]="!modelInput.errors.minlength">
                  {{"ao_model_minlen" | translate}}
                </div>
                <div [hidden]="!modelInput.errors.maxlength">
                  {{"ao_model_maxlen" | translate}}
                </div>
                <div [hidden]="!modelInput.errors.pattern">
                  {{"ao_model_invalid" | translate}}
                </div>
              </div>
            </div>

            <div class="form-group has-feedback ">
              <label class="control-label">{{"ao_serial_number" | translate}}</label>
              <input type="text" class="form-control" tabindex="4" [(ngModel)]="asset.serialNumber" name="serialNumberInput" #serialNumberInput="ngModel"
                maxlength="64" pattern="[a-zA-Z0-9][a-zA-Z0-9 `#&()_\\';\\/?>.<,-]*[a-zA-Z0-9 ]*">
              <!-- <span class="form-control-feedback"><span class="material-icons">contacts</span></span> -->

              <div *ngIf="serialNumberInput.errors && (serialNumberInput.dirty || serialNumberInput.touched)" class="text-danger">
                <div [hidden]="!serialNumberInput.errors.minlength">
                 {{"ao_sno_minlen" | translate}}
                </div>
                <div [hidden]="!serialNumberInput.errors.maxlength">
                  {{"ao_sno_maxlen" | translate}}
                </div>
                <div [hidden]="!serialNumberInput.errors.pattern">
                  {{"ao_sno_invalid" | translate}}
                </div>
              </div>
            </div>

            <div class="form-group has-feedback ">
              <label class="control-label">{{"ao_calibid" | translate}}</label>
              <input type="text" class="form-control" tabindex="5" [(ngModel)]="asset.calibrationId" name="calibrationIdInput" #calibrationIdInput="ngModel"
                maxlength="64">
              <!-- <span class="form-control-feedback"><span class="material-icons">contacts</span></span> -->

              <div *ngIf="calibrationIdInput.errors && (calibrationIdInput.dirty || calibrationIdInput.touched)" class="text-danger">
                <div [hidden]="!calibrationIdInput.errors.required">
                  {{"ao_calibid_req" | translate}}
                </div>
                <div [hidden]="!calibrationIdInput.errors.minlength">
                  {{"ao_calibid_minle" | translate}}
                </div>
                <div [hidden]="!calibrationIdInput.errors.maxlength">
                  {{"ao_calibid_maxlen" | translate}}
                </div>
              </div>
            </div>
            <div class="form-group has-feedback ">
              <label class="control-label">{{"ao_capacity" | translate}} </label>
              <input type="text" class="form-control" tabindex="14" [(ngModel)]="asset.capacity" name="capacity"
                     #capacity="ngModel" pattern="[0-9]*">

              <div *ngIf="capacity.errors && (capacity.dirty || capacity.touched)" class="text-danger">
                <div [hidden]="!capacity.hasError('pattern')">
                 {{"ao_calibid_invalid" | translate}}
                </div>
              </div>
            </div>
            <div class="form-group facility-dropdown">
              <label class="control-label">{{"ao_load_type" | translate}}</label>
              <select class="form-control" tabindex="15" [(ngModel)]="asset.loadType" name="loadType" #loadTypeSelect="ngModel">
                <option *ngFor="let loadType of loadTypes" [ngValue]="loadType.loadId">{{loadType.name}}</option>
              </select>

              <!--<div *ngIf="loadTypeSelect.errors && (loadTypeSelect.dirty || loadTypeSelect.touched)" class="text-danger">
                <div [hidden]="!loadTypeSelect.errors.required">
                  Load type is required.
                </div>
              </div>-->
            </div>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-6 organization-left">

            <div class="form-group has-feedback ">
              <label class="control-label">{{"ao_unit_no" | translate}}</label>
              <input type="text" class="form-control" tabindex="10" [(ngModel)]="asset.unitNumber" name="unitNumberInput" #unitNumberInput="ngModel"
                maxlength="64" pattern="[a-zA-Z0-9][a-zA-Z0-9 `#&()_\\';\\/?>.<,-]*[a-zA-Z0-9 ]*">
              <!--<span class="form-control-feedback"><span class="material-icons">contacts</span></span>-->

              <div *ngIf="unitNumberInput.errors && (unitNumberInput.dirty || unitNumberInput.touched)" class="text-danger">
                <div [hidden]="!unitNumberInput.errors.required">
                  {{"ao_unit_no_req" | translate}}
                </div>
                <div [hidden]="!unitNumberInput.errors.minlength">
                  {{"ao_unit_no_minlen" | translate}}
                </div>
                <div [hidden]="!unitNumberInput.errors.maxlength">
                  {{"ao_unit_no_maxlen" | translate}}
                </div>
                <div [hidden]="!unitNumberInput.errors.pattern">
                  {{"ao_unit_no_invalid" | translate}}
                </div>
              </div>
            </div>

            <div class="form-group has-feedback ">
              <label class="control-label ">{{"ao_vin" | translate}}</label>
              <input type="text" class="form-control" tabindex="11" [(ngModel)]="asset.vin" name="vinInput" #vinInput="ngModel" maxlength="64"
                pattern="[a-zA-Z0-9][a-zA-Z0-9 `#&()_\\';\\/?>.<,-]*[a-zA-Z0-9 ]*">
              <!--<span class="form-control-feedback"><span class="material-icons">contacts</span></span>-->

              <div *ngIf="vinInput.errors && (vinInput.dirty || vinInput.touched)" class="text-danger">
                <div [hidden]="!vinInput.errors.required">
                  {{"ao_vin_req" | translate}}
                </div>
                <div [hidden]="!vinInput.errors.minlength">
                  {{"ao_vin_minlen" | translate}}
                </div>
                <div [hidden]="!vinInput.errors.maxlength">
                  {{"ao_vin_maxlen" | translate}}
                </div>
                <div [hidden]="!vinInput.errors.pattern">
                  {{"ao_vin_invalid" | translate}}
                </div>
              </div>
            </div>

            <div class="form-group has-feedback ">
              <label class="control-label">{{"ao_software_no" | translate}}</label>
              <input type="text" class="form-control" tabindex="12" [(ngModel)]="asset.softwareId" name="softwareIdInput" #softwareIdInput="ngModel"
                maxlength="64" pattern="[a-zA-Z0-9][a-zA-Z0-9 `#\*&()_\\';\\/?>.<,-]*[a-zA-Z0-9 ]*">
              <!-- <span class="form-control-feedback"><span class="material-icons">contacts</span></span> -->

              <div *ngIf="softwareIdInput.errors && (softwareIdInput.dirty || softwareIdInput.touched)" class="text-danger">
                <div [hidden]="!softwareIdInput.errors.required">
                  {{"ao_software_no_req" | translate}}
                </div>
                <div [hidden]="!softwareIdInput.errors.minlength">
                  {{"ao_software_no_minlen" | translate}}
                </div>
                <div [hidden]="!softwareIdInput.errors.maxlength">
                  {{"ao_software_no_maxlen" | translate}}
                </div>
                <div [hidden]="!softwareIdInput.errors.pattern">
                  {{"ao_software_no_invalid" | translate}}
                </div>
              </div>
            </div>

            <div class="form-group has-feedback ">
              <label class="control-label">{{"ao_customer_equipmentid" | translate}} </label>
              <input type="text" class="form-control" tabindex="13" [(ngModel)]="asset.customerEquipmentId" name="customerEquipmentIdInput"
                #customerEquipmentIdInput="ngModel" maxlength="64" pattern="[a-zA-Z0-9][a-zA-Z0-9 `#&()_\\';\\/?>.<,-]*[a-zA-Z0-9 ]*">
              <!-- <span class="form-control-feedback"><span class="material-icons">contacts</span></span> -->

              <div *ngIf="customerEquipmentIdInput.errors && (customerEquipmentIdInput.dirty || customerEquipmentIdInput.touched)" class="text-danger">
                <div [hidden]="!customerEquipmentIdInput.errors.required">
                 {{"ao_equipmentid_req" | translate}}
                </div>
                <div [hidden]="!customerEquipmentIdInput.errors.minlength">
                  {{"ao_equipmentid_minlen" | translate}}
                </div>
                <div [hidden]="!customerEquipmentIdInput.errors.maxlength">
                  {{"ao_equipmentid_maxlen" | translate}}
                </div>
                <div [hidden]="!customerEquipmentIdInput.errors.pattern">
                  {{"ao_equipmentid_invalid" | translate}}
                </div>
              </div>
            </div>
            <div class="form-group has-feedback ">
              <label class="control-label"> {{"ao_customer_equipmentgroup" | translate}}</label>
              <input type="text" tabindex="6" class="form-control" [(ngModel)]="asset.customerEquipmentGroup" name="customerEquipmentGroupInput"
                     #customerEquipmentGroupInput="ngModel" maxlength="64" pattern="[a-zA-Z0-9][a-zA-Z0-9 `#&()_\\';\\/?>.<,-]*[a-zA-Z0-9 ]*">
              <!-- <span class="form-control-feedback"><span class="material-icons">contacts</span></span> -->

              <div *ngIf="customerEquipmentGroupInput.errors && (customerEquipmentGroupInput.dirty || customerEquipmentGroupInput.touched)"
                   class="text-danger">
                <div [hidden]="!customerEquipmentGroupInput.errors.required">
                  {{"ao_equipmentgroup_req" | translate}}
                </div>
                <div [hidden]="!customerEquipmentGroupInput.errors.minlength">
                  {{"ao_equipmentgroup_minlen" | translate}}
                </div>
                <div [hidden]="!customerEquipmentGroupInput.errors.maxlength">
                  {{"ao_equipmentgroup_maxlen" | translate}}
                </div>
                <div [hidden]="!customerEquipmentGroupInput.errors.pattern">
                  {{"ao_equipmentgroup_invalid" | translate}}
                </div>
              </div>
            </div>
          </div>
          <!--</div>-->
        </div>
        <!-- second row -->
      </div>

      <div class="col-lg-5 col-md-5 col-sm-5">
        <div class="onboarding-instruction  hidden-xs thumbnail">
          <h3>{{"ao_asset_create" | translate}}</h3>
          <p>{{"ao_asset_guide1" | translate}}</p>
          <p>{{"ao_asset_guide2" | translate}}
          </p>
          <p>{{"ao_asset_guide3" | translate}}</p>
          <p>{{"ao_asset_guide4" | translate}}</p>
        </div>
        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12 text-right form-group">
            <button class="btn btn-tab" (click)="cancel()" type="button">{{"generic_cancel" | translate}}</button>
            <button class="btn btn-tab" (click)="createAsset(onboardingForm.valid)" type="button" [disabled]="onboardingForm.invalid">{{"generic_continue" | translate}}</button>
          </div>
        </div>
      </div>
      <!-- main row -->
    </div>
  </form>

</div>
