<div class="dynamic-dashboard" id="dynamic-dashboard">
    <!-- <div class="expand-options">
        <i class="fa fa-expand" aria-hidden="true"></i>
    </div> -->
    <input id="excel-file" type="file" style="display:none" (change)="uploadExcel($event)" />
    <div class="container content-left" [style.minHeight]="dashboardMinHeight">
      <div class="content-left-header" (click)="headerExpands[0] = !headerExpands[0]">Assets
        <div class="toggle-points">
          <img *ngIf="headerExpands[0]" src="assets/images/dynamic-dashboard-plus.svg">
          <img *ngIf="!headerExpands[0]" src="assets/images/minus.svg">
        </div>
      </div>
      <div class="asset-list" *ngIf="!headerExpands[0]">
        <div *ngFor="let asset of assets;let index = index" class="toggle-asset" (click)="toggleAsset(index)">
          <div class="main-content" [ngClass]="{'active' : assetExpands[index]}">{{asset.assetId}}
            <div class="toggle-points">
              <img *ngIf="!assetExpands[index]" src="assets/images/dynamic-dashboard-plus.svg">
              <img *ngIf="assetExpands[index]" src="assets/images/minus.svg">
            </div>
          </div>
          <div class="asset-data" *ngIf="assetExpands[index]">
            <div class="asset-options asset-history" [ngClass]="{'active' : assetExpandPoints.history[index]}" (click)="$event.stopPropagation();togglePoints('history',index)">
              History
              <div class="toggle-points">
                <img *ngIf="!assetExpandPoints.history[index]" src="assets/images/dynamic-dashboard-plus.svg">
                <img *ngIf="assetExpandPoints.history[index]" src="assets/images/minus.svg">
              </div>
            </div>
            <div class="asset-options asset-realtime" [ngClass]="{'active' : assetExpandPoints.realtime[index]}" (click)="$event.stopPropagation();togglePoints('realtime',index)">
              Realtime
              <div class="toggle-points">
                <img *ngIf="!assetExpandPoints.realtime[index]" src="assets/images/dynamic-dashboard-plus.svg">
                <img *ngIf="assetExpandPoints.realtime[index]" src="assets/images/minus.svg">
              </div>
            </div>
            <div class="asset-points-container" *ngIf="assetExpandPoints.realtime[index]" (click)="$event.stopPropagation()">
              <input class="search-input" *ngIf="asset.points && asset.points.length !== 0" type="text" [(ngModel)]="searchPointName" placeholder="Search here..."
              />
              <div class="points-list-content">
                <div class="points-list" draggable *ngFor="let point of asset.points |  PointsNamePipe : 'pointName' : searchPointName; let pointIndex = index;"
                  (mousedown)="selectPointName(point, index, pointIndex)" [dragData]="point">
                  <p>{{point.pointName}}</p>
                </div>
              </div>
              <div class="points-list points-list-loading" *ngIf="!asset.points">
                Loading...
              </div>
              <div class="points-list points-list-loading" *ngIf="asset.points && asset.points.length == 0">
                No Points Available...
              </div>
            </div>
            <div class="asset-options asset-alarm" [ngClass]="{'active' : assetExpandPoints.alarm[index]}" (click)="$event.stopPropagation();togglePoints('alarm',index)">
              Alarm
              <div class="toggle-points">
                <img *ngIf="!assetExpandPoints.alarm[index]" src="assets/images/dynamic-dashboard-plus.svg">
                <img *ngIf="assetExpandPoints.alarm[index]" src="assets/images/minus.svg">
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="content-left-header" (click)="headerExpands[1] = !headerExpands[1]">Libraries
        <div class="toggle-points">
          <img *ngIf="headerExpands[1]" src="assets/images/dynamic-dashboard-plus.svg">
          <img *ngIf="!headerExpands[1]" src="assets/images/minus.svg">
        </div>
      </div>
      <div class="libraries-container" *ngIf="!headerExpands[1]">
        <div class="main-content" [ngClass]="{'active' : librariesExpands[0]}" (click)="toggleLibrary(0)">
          Graphics
          <div class="toggle-points">
            <img *ngIf="!librariesExpands[0]" src="assets/images/dynamic-dashboard-plus.svg">
            <img *ngIf="librariesExpands[0]" src="assets/images/minus.svg">
          </div>
        </div>
        <div class="drag-drop-options" *ngIf="librariesExpands[0]">
          <div class="draggle-div" draggable (onDragEnd)="onDropComplateItem(item)" (mousedown)="onSelectItem(item)" *ngFor="let item of graphics"
            [dragData]="item">{{item.name}}</div>
        </div>
        <div class="main-content" [ngClass]="{'active' : librariesExpands[1]}" (click)="toggleLibrary(1)">
          Analytics
          <div class="toggle-points">
            <img *ngIf="!librariesExpands[1]" src="assets/images/dynamic-dashboard-plus.svg">
            <img *ngIf="librariesExpands[1]" src="assets/images/minus.svg">
          </div>
        </div>
        <div class="drag-drop-options" *ngIf="librariesExpands[1]">
          <div class="draggle-div" draggable (onDragEnd)="onDropComplateItem(item)" (mousedown)="onSelectItem(item)" *ngFor="let item of items"
            [dragData]="item">{{item.name}}</div>
        </div>
      </div>
    </div>
    <div droppable id="data-canvas" [ngStyle]="{'background' : colorOptions.backgroundColor, 'border-color' : colorOptions.borderColor, 'border-width' : (colorOptions.borderWidth ? colorOptions.borderWidth+'px' : '1px') }"
      (onDrop)="onItemDrop($event)" class="container content-right" [style.height]="dashboardMinHeight">
      <div [ngGrid]="gridConfig">
        <div *ngFor="let box of droppedItems; let i = index" [(ngGridItem)]="box.config" (onItemChange)="updateItem(i, $event)" (onResize)="onResize(i, $event, box.id)"
          (onDrag)="onDrag(i, $event)" (mousedown)="selectedItemIndex = i" droppable (onDrop)="onItemDropOnContent($event)">
          <div class="handle" [id]="box.id+'handle'+i">
            <app-item-edit-options (editFunctionCall)="editFunctionCall($event)" [(droppedItems)]="droppedItems" [ItemIndex]="i" [item]="box"></app-item-edit-options>
            <div class="header">
              <p [innerHTML]="box.name"></p>
            </div>
            <div class="content-center widget" *ngIf="box.id == 'widget'" droppable (onDrop)="onItemDropOnWidget($event,i)">
              <div [ngGrid]="gridConfig" (mousedown)="$event.stopPropagation()">
                <div *ngFor="let widget of box.widgetList; let widgetIndex = index" [(ngGridItem)]="widget.config" droppable (onDrop)="onItemDropOnWidgetBox($event,widgetIndex)">
                  <div class="handle" [id]="widget.id+'handle'+i+widgetIndex">
                    <app-item-edit-options (editFunctionCall)="editFunctionCall($event)" [(droppedItems)]="box.widgetList" [ItemIndex]="widgetIndex"
                      [item]="widget"></app-item-edit-options>
                    <div class="header">
                      <p [innerHTML]="widget.name"></p>
                    </div>
                  </div>
                  <app-item-content (onTableHeaderDropChild)="onItemDropOnContent($event)" (editFunctionCall)="editFunctionCall($event)" [selectedColumns]="selectedColumns"
                    [ItemIndex]="widgetIndex" [item]="widget"></app-item-content>
                </div>
              </div>
            </div>
            <!--<pre>{{box | json}}</pre>-->
            <app-item-content (onTableHeaderDropChild)="onItemDropOnContent($event)" (editFunctionCall)="editFunctionCall($event)" [selectedColumns]="selectedColumns"
              [ItemIndex]="i" [item]="box"></app-item-content>
          </div>
        </div>
      </div>
      <div id="preview-modal" class="preview-modal">
        <i class="glyphicon glyphicon-remove-sign" (click)="hidePreviewModal()" aria-hidden="true"></i>
        <div #previewDataContainer class="preview-data-container" [ngStyle]="{'background' : colorOptions.backgroundColor, 'border-color' : colorOptions.borderColor, 'border-width' : (colorOptions.borderWidth ? colorOptions.borderWidth+'px' : '1px') }"></div>
      </div>
    </div>
  </div>

  <div title="Preview" class="preview-dashboard-btn" *ngIf="droppedItems.length > 0" (click)="loadPreviewData()">
    <i class="fa fa-eye" aria-hidden="true"></i>
  </div>

  <app-content-theme (notifyColorOptions)="updateColorOptions($event)" [colorOptions]="colorOptions"></app-content-theme>
