<div class="col-lg-12 col-md-12 col-sm-12 onboarding-content">
  <div class="col-lg-12 col-md-12 onboarding-nav-option">
    <div class="btn-group">
      <a class="btn btn-default btn-icon btn-custom-nav" [ngClass]="{ 'active': !isEditMode }" (click)="isEditMode = false;resetForm();">
        <span class="material-icons">add_circle</span><span class="hidden-xs"> {{"ao_new_device" | translate}}</span></a>
    </div>

    <div class="btn-group">
      <a class="btn btn-default btn-icon btn-custom-nav" [ngClass]="{ 'active': isEditMode }" (click)="isEditMode = true;getAvailableDevice()">
        <span class="material-icons">domain</span><span class="hidden-xs"> {{"ao_existing_device" | translate}}</span></a>
    </div>
  </div>


  <form #onboardingForm="ngForm" class="onboarding-form">
    <div class="row">
      <!-- main row -->
      <div class="col-lg-7 col-md-7 col-sm-7">

        <div class="row">
          <!-- first row -->
          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 organization-left org-img-holder">
            <label class="control-label">{{"ao_device_details" | translate}}</label>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 thumbnail">
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding form-group">
                <img class="img img-responsive" [src]="device.logo" alt="" *ngIf="device.logo" />
                <span class="material-icons upload-icon" (click)="file.open()">camera_alt</span>
                <app-file-upload #file (file)="changeImage($event)"></app-file-upload>
                <input type="text" class="hidden" name="logo" [(ngModel)]="device.logo" #deviceLogo="ngModel">
                <img src="assets/images/default_device.svg#def_device" class="img img-responsive" *ngIf="!device.logo" />
              </div>
              <div class="col-lg-8 col-md-8 col-sm-8 col-xs-7 no-padding input-group-sm">
                <label class="control-label required-lbl">{{"ao_gateway_sno" | translate}}</label>
                <span *ngIf="!isEditMode">
                  <!--<pre>{{device | json}}</pre>-->
                <input type="text" class="form-control input-sm" name="deviceIdInput" [(ngModel)]="device.gatewaySno" required maxlength="64"
                  #deviceIdInput="ngModel" pattern="[a-zA-Z0-9]+" tabindex="1">

                <div *ngIf="deviceIdInput.errors && (deviceIdInput.dirty || deviceIdInput.touched)" class="text-danger">
                  <div [hidden]="!deviceIdInput.errors.required">
                   {{"ao_gw_req" | translate}}
                  </div>
                  <div [hidden]="!deviceIdInput.errors.maxlength">
                    {{"ao_gw_maxlen" | translate}}
                  </div>
                  <div [hidden]="!deviceIdInput.errors.pattern">
                    {{"ao_gw_invalid" | translate}}
                  </div>
                </div>
                  </span>
                <span *ngIf="isEditMode">
                  <!--<pre>{{deviceSelected | json}}</pre>-->
                  <!--<pre>{{availbleDevice | json}}</pre>-->
                <select class="form-control input-sm" #gatewaySno="ngModel" name="deviceIdSelect" [(ngModel)]="deviceSelected" (change)="setSelectedDeive(deviceSelected)" tabindex="1" required>
                  <option value="">{{"ao_existing_device" | translate}}</option>
                  <option *ngFor="let aDevice of availbleDevice;" [ngValue]="aDevice">{{aDevice.gatewaySno}}</option>
                </select>
                  <div class="text-danger" *ngIf="!gatewaySno.pristine && gatewaySno.invalid">
                    <div>{{"ao_gw_req" | translate}}</div>
                  </div>
                  </span>

              </div>
              <div class="col-lg-4 col-md-4 col-sm-4 col-xs-5 status-icon-group">
                <div class="control-label">{{"generic_active" | translate}}</div>
                <label class="switch">
                <input type="checkbox" name="status" [(ngModel)]="device.status">
                <div class="slider round"></div>
              </label>
              </div>
            </div>
          </div>

          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 organization-left">
            <!-- parent organization -->
            <div class="form-group">
              <label class="control-label required-lbl">{{"ao_iothub" | translate}}</label>
              <select class="form-control" #deviceTypeSelect="ngModel" name="deviceTypeSelect" [(ngModel)]="device.iotHub" required tabindex="6">
            <option *ngFor="let hub of iotHub" [value]="hub.name">{{hub.name}}</option>
          </select>
              <div *ngIf="deviceTypeSelect.errors && (deviceTypeSelect.dirty || deviceTypeSelect.touched)" class="text-danger">
                <div [hidden]="!deviceTypeSelect.errors.required">
                  {{"ao_iothub_req" | translate}}
                </div>
              </div>
            </div>
            <!-- parent organization -->

            <div class="form-group has-feedback">
              <label class="control-label">{{"ao_product_version" | translate}}</label>
              <input type="text" class="form-control" [(ngModel)]="device.productVersion" name="productVersionInput" #productVersionInput="ngModel"
                maxlength="64" pattern="[a-zA-Z0-9\s][a-zA-Z0-9.\s]+" tabindex="7">
              <div *ngIf="productVersionInput.errors && (productVersionInput.dirty || productVersionInput.touched)" class="text-danger">
                <div [hidden]="!productVersionInput.errors.required">
                  {{"ao_prod_req" | translate}}
                </div>
                <div [hidden]="!productVersionInput.errors.maxlength">
                  {{"ao_prod_maxlen" | translate}}
                </div>
                <div [hidden]="!productVersionInput.errors.pattern">
                  {{"ao_prod_invalid" | translate}}
                </div>
              </div>
            </div>

            <div class="form-group has-feedback">
              <label class="control-label">{{"ao_os_build" | translate}}</label>
              <input type="text" class="form-control" [(ngModel)]="device.osBuild" name="osBuildInput" #osBuildInput="ngModel" maxlength="64"
                pattern="[a-zA-Z0-9\s][a-zA-Z0-9.\s]+" tabindex="8">
              <div *ngIf="osBuildInput.errors && (osBuildInput.dirty || osBuildInput.touched)" class="text-danger">
                <div [hidden]="!osBuildInput.errors.required">
                  {{"ao_os_req" | translate}}
                </div>
                <div [hidden]="!osBuildInput.errors.maxlength">
                  {{"ao_os_maxlen" | translate}}
                </div>
                <div [hidden]="!osBuildInput.errors.pattern">
                  {{"ao_os_invalid" | translate}}
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- first row -->

        <div class="row">
          <!-- second row -->
          <!--<div class="col-lg-12">-->
          <div class="col-lg-6 col-md-6 col-sm-6 organization-left">

            <div class="form-group has-feedback">
              <label class="control-label">{{"ao_app_build" | translate}}</label>
              <input type="text" class="form-control" [(ngModel)]="device.appBuild" name="appBuildInput" #appBuildInput="ngModel" maxlength="64" tabindex="2">
              <div *ngIf="appBuildInput.errors && (appBuildInput.dirty || appBuildInput.touched)" class="text-danger">
                <div [hidden]="!appBuildInput.errors.required">
                  {{"ao_app_req" | translate}}
                </div>
                <div [hidden]="!appBuildInput.errors.maxlength">
                  {{"ao_app_maxlen" | translate}}
                </div>
              </div>
            </div>

            <div class="form-group has-feedback">
              <label class="control-label">{{"ao_dca_version" | translate}}</label>
              <input type="text" class="form-control" [(ngModel)]="device.dcaVersion" name="dcaVerionInput" #dcaVerionInput="ngModel" maxlength="64"
                pattern="[a-zA-Z0-9\s][a-zA-Z0-9.\s]+" tabindex="3">

              <div *ngIf="dcaVerionInput.errors && (dcaVerionInput.dirty || dcaVerionInput.touched)" class="text-danger">
                <div [hidden]="!dcaVerionInput.errors.required">
                {{"ao_dca_req" | translate}}
                </div>
                <div [hidden]="!dcaVerionInput.errors.maxlength">
                  {{"ao_dca_maxlen" | translate}}
                </div>
                <div [hidden]="!dcaVerionInput.errors.pattern">
                  {{"ao_dca_invalid" | translate}}
                </div>
              </div>
            </div>

            <div class="form-group has-feedback">
              <label class="control-label">{{"ao_simi_ccid" | translate}}</label>
              <input type="text" class="form-control" [(ngModel)]="device.simiccid" name="simiccidInput" #simiccidInput="ngModel" maxlength="64"
                pattern="[a-zA-Z0-9\s][a-zA-Z0-9.\s]+" tabindex="4">

              <div *ngIf="simiccidInput.errors && (simiccidInput.dirty || simiccidInput.touched)" class="text-danger">
                <div [hidden]="!simiccidInput.errors.required">
                  {{"ao_simi_req" | translate}}
                </div>
                <div [hidden]="!simiccidInput.errors.minlength">
                  {{"ao_simi_minlen" | translate}}
                </div>
                <div [hidden]="!simiccidInput.errors.maxlength">
                  {{"ao_simi_maxlen" | translate}}
                </div>
                <div [hidden]="!simiccidInput.errors.pattern">
                  {{"ao_simi_invalid" | translate}}
                </div>
              </div>
            </div>

            <div class="form-group has-feedback">
              <label class="control-label">{{"ao_imei" | translate}}</label>
              <input type="text" class="form-control" [(ngModel)]="device.imei" name="imeiInput" #imeiInput="ngModel" tabindex="5" maxlength="64" pattern="^[a-zA-Z0-9'][a-zA-Z0-9-' ]*[a-zA-Z0-9']?">

              <div *ngIf="imeiInput.errors && (imeiInput.dirty || imeiInput.touched)" class="text-danger">
                <div [hidden]="!imeiInput.errors.required">
                  {{"ao_imei_req" | translate}}
                </div>

                <div [hidden]="!imeiInput.errors.maxlength">
                  {{"ao_imei_maxlen" | translate}}
                </div>
                <div [hidden]="!imeiInput.errors.pattern">
                  {{"ao_imei_invalid" | translate}}
                </div>
              </div>
            </div>


          </div>
          <div class="col-lg-6 col-md-6 col-sm-6 organization-left">

            <div class="form-group has-feedback">
              <label class="control-label  required-lbl">{{"ao_wanip" | translate}} </label>
              <input type="text" class="form-control" [(ngModel)]="device.wanip" name="wanipInput" #wanipInput="ngModel" maxlength="64"
                pattern="^[0-9][0-9\.]+$" required tabindex="9">
              <div *ngIf="wanipInput.errors && (wanipInput.dirty || wanipInput.touched)" class="text-danger">
                <div [hidden]="!wanipInput.errors.required">
                  {{"ao_wanip_req" | translate}}
                </div>
                <div [hidden]="!wanipInput.errors.maxlength">
                  {{"ao_wanip_maxlen" | translate}}
                </div>
                <div [hidden]="!wanipInput.errors.pattern">
                  {{"ao_wanip_invalid" | translate}}
                </div>
              </div>
            </div>

            <div class="form-group has-feedback">
              <label class="control-label">{{"co_timezone" | translate}}</label>
              <select class="form-control" [(ngModel)]="device.timezone" name="timezoneSelect" #timezoneSelect="ngModel" tabindex="10">
                <option *ngFor="let tzone of timezone" [value]="tzone.id">{{tzone.displayName}}</option>
              </select>

              <div *ngIf="timezoneSelect.errors && (timezoneSelect.dirty || timezoneSelect.touched)" class="text-danger">
                <div [hidden]="!timezoneSelect.errors.required">
                  {{"co_timezone_req" | translate}}
                </div>
              </div>
            </div>

            <div class="form-group has-feedback has-feedback-left">
              <label class="control-label">{{"generic_address" | translate}}</label>
              <input type="text" class="form-control" #addressName="ngModel" [(ngModel)]="addressname" name="addressName" tabindex="11">
              <span class="form-control-feedback"><span class="material-icons">location_on</span></span>
              <div *ngIf="addressName.errors && (addressName.dirty || addressName.touched)" class="text-danger">
                <div [hidden]="!addressName.errors.required">
                  {{"co_address_req" | translate}}
                </div>
              </div>
            </div>

            <div class="form-group has-feedback">
              <label class="control-label ">{{"ao_rssi" | translate}}</label>
              <input type="text" class="form-control" [(ngModel)]="device.rssi" name="rssiInput" #rssiInput="ngModel" maxlength="64" pattern="[-a-zA-Z0-9\s][a-zA-Z0-9.-\s]*" tabindex="12">

              <div *ngIf="rssiInput.errors && (rssiInput.dirty || rssiInput.touched)" class="text-danger">
                <div [hidden]="!rssiInput.errors.required">
                  {{"ao_rssi_req" | translate}}
                </div>
                <div [hidden]="!rssiInput.errors.maxlength">
                  {{"ao_rssi_maxlen" | translate}}
                </div>
                <div [hidden]="!rssiInput.errors.pattern">
                  {{"ao_rssi_invalid" | translate}}
                </div>
              </div>
            </div>

          </div>
          <!--</div>-->
        </div>
        <!-- second row -->

        <div class="row">
          <div class="col-lg-12 organization-left">
            <div class="form-group">
              <label class="control-label">{{"co_role_description" | translate}}</label>
              <textarea class="form-control" name="Description" #description="ngModel" [(ngModel)]="device.description" maxlength="64"
                [(ngModel)]="name" tabindex="13"> </textarea>
              <div *ngIf="description.errors && (description.dirty || description.touched)" class="text-danger">
                <div [hidden]="!description.errors.required">
                  {{"co_desc_req" | translate}}
                </div>
                <div [hidden]="!description.errors.maxlength">
                  {{"co_desc_maxlen" | translate}}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-5 col-md-5 col-sm-5">
        <div class="onboarding-instruction hidden-xs thumbnail">
          <h3>{{"ao_device_create" | translate}}</h3>
          <p>{{"ao_device_guide1" | translate}}</p>
          <p>{{"ao_device_guide2" | translate}}</p>
          <p>{{"ao_device_guide3" | translate}}</p>
          <p>{{"ao_device_guide4" | translate}}</p>
          <p>{{"ao_device_guide5" | translate}}</p>
        </div>
        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12 text-right form-group">
            <button class="btn btn-tab" (click)="cancel()" type="button">{{"generic_cancel" | translate}}</button>
            <button class="btn btn-tab" (click)="saveDevice(onboardingForm.valid)" type="button" [disabled]="onboardingForm.invalid">{{"generic_continue" | translate}}</button>
          </div>
        </div>
      </div>
      <!-- main row -->
    </div>
  </form>
</div>
