.app-exclude-days {
    .selected-days {
      box-shadow: 0px 1px 5px #959595;
      padding: 10px;
      cursor: pointer;
      background-color: white;
      background: #fff;
      border: 1px solid #ccc;
      border-radius: 3px;
      font-size: 14px;
      color: #333;
      margin-bottom: 15px;
      width: 100%;
      .selected-day {
        background-color: #0079FE !important;
        color: #fff;
        border-radius: 2px;
        margin: 2px 2px;
        padding: 0px 5px;
        display: inline-block;
        transition: all 0.3s ease;
      }
    }
    .form-control {
      width: 150px;
      display: inline-block;
    }
  }

  .custom{
    position: relative;
    min-height: 41px;
    .selected-days{
      font-size: 14px;
      box-shadow: none;
      border: 1px solid #cecece;
      padding: 5px;
      height: auto;
      border-radius: 3px;
      width: 100%;
      line-height: normal;
      position: relative;
      z-index: 1;
      width: calc(100% - 70px);
      border-right: 0px;
      .selected-day{
        color: #ffffff;
        border-radius: 3px;
        padding: 3px 6px;
        margin-right: 5px;
        margin: 3px;
      }
    }
    input{
      width: 100% !important;
      display: inline-block;
      position: absolute;
      top: 0px;
      height: 100%;
      outline: none;
      &:active, &:focus {
        outline: none;
      }
    }
    input[type=date]::-webkit-clear-button,  input[type=date]::-webkit-inner-spin-button{
      -webkit-appearance: none;
      display: none;
    }
  } 

.fa-remove:before {
  content: "\f00d";
}