<div class="app-exclude-days custom">
  <div class="selected-days" *ngIf="excludedDays.length > 0">
    <div class="selected-day" *ngFor="let day of excludedDays;let index = index">
      {{day}}
      <span class="fa fa-remove" (click)="removeDate(index)"></span>
    </div>
  </div>
  <input class="form-control" type="date" (input)="parseDate($event.target.value)" id="exd-date-type" />
</div>