<link href="https://bluesurge.com/assets/fonts/ionicons.ttf?v=2.0.0" rel="fonts" type="fonts/ionicons.ttf" />
<!-- GG  -->
<link rel="stylesheet" href="https://bluesurge.com/assets/css/bootstrap/bootstrap.min.css">
<!-- Optional theme -->
<link rel="stylesheet" href="https://bluesurge.com/assets/css/bootstrap/bootstrap-theme.min.css">
<!-- Custom css -->
<link rel="stylesheet" href="https://bluesurge.com/assets/css/style.css">
<!-- Font Awesome -->
<link rel="stylesheet" href="https://bluesurge.com/assets/css/font-awesome.min.css">
<!--  loader  -->
<!--  Main Wrap  -->
<div id="main-wrap">
    <!--  Header & Menu  -->
    <!--  END Header & Menu  -->
    <!--  Page Content, class footer-fixed if footer is fixed  -->
    <div id="page-content" class="header-static">
        <!--  Slider  -->
        <div id="flexslider" class="fullpage-wrap small">
            <ul class="slides">
                <li style="background-image:url(https://bluesurge.com/assets/img/data-enabled-world.jpg)">
                    <div class="text text-center">
                        <img src="https://bluesurge.com/assets/img/surgecloudlogo3.png" class="normal center" alt="logo" />
                        <img src="https://bluesurge.com/assets/img/surgecloudlogo2.png" class="retina center" alt="logo" />
                        <br>
                        <a href="javascript:void(0);" class="btn-alt small active margin-null shadow"  (click)="signIn()" *ngIf="!isLoggedIn">Sign in</a>
                    </div>
                    <div class="gradient dark"></div>
                </li>
            </ul>
        </div>
        <!--  END Slider  -->
    </div>
    <!--  Footer  -->
    <footer>
        <div class="row">
            <div class="col-md-5">
                <div class="logo">
                    <img src="https://bluesurge.com/assets/img/logo_white.png" class="normal" alt="logo" />
                    <img src="https://bluesurge.com/assets/img/logo_white@2x.png" class="retina" alt="logo" />
                </div>
                <p class="grey-light">BlueSurge Technologies is at the forefront of platform, data infrastructure and service delivery innovation for enterprise and publically managed solutions where convergence of networked computing, large scale data management with real-time machine intelligence is driving the integration of the physical and virtual worlds.</p>
            </div>
            <div class="col-md-2 col-sm-4 col-xs-7">
                <h6 class="heading white margin-bottom-extrasmall">Useful Links</h6>
                <ul class="sitemap">
                    <li><a target="_blank" href="https://bluesurge.com/index.html">Home</a></li>
                    <li><a target="_blank" href="https://bluesurge.com/mining-sector.html">Solutions</a></li>
                    <li><a target="_blank" href="https://bluesurge.com/hardware.html">Products</a></li>
                    <li><a target="_blank" href="https://bluesurge.com/our-story.html">Company</a></li>
                    <li><a target="_blank" href="https://bluesurge.com/installation-guides.html">Support</a></li>
                    <li><a target="_blank" href="https://bluesurge.com/SurgeCloud.html">SurgeCloud</a></li>
                </ul>
            </div>
            <div class="col-md-2 col-sm-4 col-xs-5">
                <h6 class="heading white margin-bottom-extrasmall">Social</h6>
                <ul class="info">
                    <li><a target="_blank" href="https://www.facebook.com/bluesurgetechnologies/" target="_blank">Facebook</a></li>
                    <li><a target="_blank" href="https://www.linkedin.com/company/bluesurge-technologies/" target="_blank">Linkedin</a></li>
                    <li><a target="_blank" href="https://twitter.com/bluesurgetech" target="_blank">Twitter</a></li>
                </ul>
            </div>
            <div class="col-md-3 col-sm-4">
                <div class="clearfix"></div>
                <h6 class="heading white margin-bottom-extrasmall">BlueSurge Contact Info</h6>
                <ul class="info">
                    <li>Phone: <a href="tel:+1 732 301 7090">+1 732 301 7090</a></li>
                    <li>Fax: +1 732 301 7095</li>
                    <li>Mail: <a href="mailto:info@bluesurge.com">info@bluesurge.com</a></li>
                    <li>
                        <br>
                        <strong>BlueSurge Technologies</strong><br>
                        230 Davidson Avenue, Somerset,<br>
                        New Jersey 08873 USA<br>
                    </li>
                </ul>
            </div>
        </div>
        <div class="copy col-md-12 padding-leftright-null">
            &copy; 2018 <a target="_blank" href="https://bluesurge.com/index.html">BlueSurge Technologies</a>. All rights reserved.
            <a href="#main-wrap" class="anchor" id="backtotop">Back to top</a>
        </div>
    </footer>
    <!--  END Footer. Class fixed for fixed footer  -->
</div>
<!--  Main Wrap  -->
