<div class="table-responsive">
  <table id="smUserOverviewTable" class="table org-table" [mfData]="user" [mfRowsOnPage]="paginationOrgInfo.numberRowPerPage"
    #mf="mfDataTable" [(mfSortBy)]="paginationOrgInfo.usersortBy" [(mfSortOrder)]="paginationOrgInfo.usersortOrder">
    <thead>
      <tr>
        <th width="30%">
          <mfDefaultSorter by="displayName" class="sorter"> {{"co_name_display" | translate}} </mfDefaultSorter>
        </th>
        <th width="30%">
          <mfDefaultSorter by="jobTitle" class="sorter"> {{"co_title_job" | translate}} </mfDefaultSorter>
        </th>
        <th width="30%">
          <mfDefaultSorter by="emailId" class="sorter"> Email ID </mfDefaultSorter>
        </th>
        <th width="10%" class="text-center">
          <mfDefaultSorter by="isActive" class="sorter"> {{"generic_status" | translate}} </mfDefaultSorter>
          <img *ngIf="user.length > 0" src="assets/images/search.svg" class="svg-icon white-search-icon" (click)="toggleFilterSearch = !toggleFilterSearch"
          />
        </th>
      </tr>
      <app-table-filter *ngIf="toggleFilterSearch" [widthData]="filterWidthData" (notifyChange)="updateData($event)" [(filterValues)]="filterValues"
      [(data)]="user"></app-table-filter>
    </thead>
    <tbody class="main-body" [style.maxHeight.px]="toggleFilterSearch ? mainBodyHeight - 40 : mainBodyHeight" id="mainBody" [ngStyle]="toggleFilterSearch && {'margin-top': '40px'}">
      <ng-container *ngFor="let user of mf.data">
        <tr *ngIf="mf.data.length > 0">
          <td width="30%">
            <img [src]="user.logo" class="img-thumbnail thumb-image" [alt]="user?.displayName" />
            <a href="javascript:void(0)" (click)="editUser(user)">{{user.displayName}}</a>
          </td>
          <td width="30%">
            {{user.jobTitle}}
          </td>
          <td width="30%">{{user.emailId}}</td>
          <td width="10%" class="text-center">

            <!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd">
            <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
              viewBox="0 0 298.807 298.807" style="enable-background:new 0 0 298.807 298.807;" xml:space="preserve" class="status"
              [ngClass]="statusClass[user.isActive]">
              <g>
                <path d="M223.383,255.164l-9.54-33.76c-71.4,63.126-130.786,5.012-141.612-11.675l5.504-3.399c2.433-1.508,3.857-4.221,3.707-7.081
                                                    c-0.149-2.857-1.846-5.41-4.423-6.654l-49.377-23.802c-1.08-0.523-2.239-0.782-3.399-0.782c-1.433,0-2.861,0.398-4.121,1.175
                                                    c-2.279,1.403-3.682,3.871-3.722,6.548l-0.841,54.812c-0.045,2.861,1.478,5.519,3.965,6.937c1.205,0.682,2.539,1.02,3.872,1.02
                                                    c1.429,0,2.857-0.389,4.121-1.169l2.633-1.627c45.271,73.442,149.175,80.638,205.414,32.69
                                                    C229.663,266.098,225.12,261.325,223.383,255.164z" />
                <path d="M56.666,169.026c-5.809-31.47,15.082-95.47,84.416-103.008v0.836c0,2.861,1.563,5.499,4.071,6.873
                                                    c1.174,0.647,2.474,0.965,3.767,0.965c1.469,0,2.936-0.413,4.221-1.234l46.196-29.5c2.26-1.443,3.623-3.931,3.623-6.608
                                                    c0-2.678-1.363-5.166-3.618-6.609L153.14,1.234C151.856,0.413,150.388,0,148.919,0c-1.293,0-2.593,0.318-3.767,0.965
                                                    c-2.508,1.374-4.071,4.011-4.071,6.873v8.639C73.737,16.189,2.111,79.857,6.727,165.732c0,0,10.425-10.112,17.517-10.112
                                                    C30.207,155.62,31.274,156.788,56.666,169.026z" />
                <path d="M292.123,212.351c-0.592-2.802-2.662-5.061-5.405-5.887l-5.652-1.707c16.622-46.53,11.226-126.807-66.247-171.649
                                                    c0.293,1.383,0.532,2.787,0.532,4.24c0,6.942-3.494,13.317-9.346,17.054l-26.679,17.035c23.634,6.821,77.648,48.932,54.274,118.997
                                                    l-3.384-1.02c-0.746-0.223-1.508-0.338-2.265-0.338c-2.025,0-4.006,0.792-5.488,2.249c-2.045,2.005-2.832,4.966-2.056,7.723
                                                    l14.899,52.746c0.727,2.574,2.717,4.599,5.275,5.375c0.741,0.223,1.507,0.333,2.265,0.333c1.846,0,3.662-0.658,5.105-1.892
                                                    l41.604-35.691C291.73,218.055,292.715,215.153,292.123,212.351z" />
              </g>
            </svg>
          </td>
        </tr>
      </ng-container>
    </tbody>
    <tr *ngIf="user.length > 0" id="mfBootstrapPaginator">
      <td colspan="4" class="text-right">
        <mfBootstrapPaginator [rowsOnPageSet]="[user.length+0.1,5,10,25]"></mfBootstrapPaginator>
      </td>
    </tr>
  </table>
</div>
<div *ngIf="user.length == 0" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 no-data">
  No user exists
</div>

<!-- <app-heat-map-chart></app-heat-map-chart> -->
