@import '../../../../variables';
.expand-icon {
  display: flex; //   justify-content: space-around;
  align-items: center;
  padding-left: 15px;
  @media only screen and (max-width: 1280px) {
    padding-left: 0px;
  }
}
.center {
  text-align: center;
}
.date-slide {
  @media only screen and (max-width: 1280px) {
    font-size: 12px;
  }
  @media only screen and (max-width: 1200px) {
    font-size: 14px;
  }
}

.status-td{
  display: flex;
  align-items: center;
  justify-content: center;
  .status{
    width: 25px;
    height: 25px;
  }
}

.status-heading {
  display: flex;
  justify-content: space-around;
  align-items: center;
  .item {
    border: 0px;
    flex-basis: 100%;
    text-align: center; // padding: 5px 0px 0px;
    // border-right: 1px solid #5c6373;
    padding: 2px;
    font-size: 14px;
    position: relative;
    padding: 7px 0px;
    height: 35px;
    animation: colorchange 1s; /* animation-name followed by duration in seconds*/
   -webkit-animation: colorchange 1s; /* Chrome and Safari */
   animation-iteration-count: infinite;
    @media only screen and (max-width: 1360px) {
      font-size: 13px;
    }
    @media only screen and (max-width: 1200px) {
      font-size: 12px;
    }
    @media only screen and (max-width: 1120px) {
      font-size: 11px;
    }
    @media only screen and (max-width: 991px) {
      font-size: 13px;
    }
      &.inactive {
        color: #000000;
      }
      &.stopped {
        color: $status-stopped;
      }
      &.idle {
        color: $status-idle;
      }
      &.moving {
        color: $status-moving;
      }
      &.alarm {
        color: $status-alarm;
      }
      @keyframes colorchange
      {
        0%   {opacity: 1}
        50%  {opacity: 0.5}
      }
      
      @-webkit-keyframes colorchange
      {
        0%   {opacity: 1}
        50%  {opacity: 0.5}
      }
  }
  .item:last-child {
    border-right: 0px;
  }
}


.status-heading-panel {
  padding: 0px;
}

.app-table {
  margin-bottom: 0px;
  tfoot td {
    background: white;
    @media only screen and (min-width: 320px) and (max-width: 480px) {
      text-align: center;
    }
  }

  .child-table>td {
    padding: 2px;
    background: white;
  }
  .slider-container {
    background: #57607d;
  }
  .play-icon {
    text-align: center;
    color: #5cbf63;
    background: #57607d;
    padding: 0px;
    cursor: pointer;
  }
  .list {
    padding: 0px;
  }
  .no-padding {
    padding: 0px;
  }
  .no-top {
    border-top: 0px;
  }
  .heading-table {
    background: $panel-header-bg;
    color: #dadee3;
    tr>td {
      padding: 5px;
    }
  }
  th {
    border: none;
    padding: 7px 5px;
    &:first-child {
      display: none;
    }
    &:nth-child(2) {
      padding-left: 55px;
    }
  }
  th span {
    color: white;
    font-weight: bold;
    font-size: 13px;
    font-weight: normal;
  }
  tbody tr td {
    padding: 5px;
    white-space: unset;
    img {
      margin-right: 5px;
    }
    p {
      margin: 0;
      display: inline-block;
      width: calc(100% - 60px);
      vertical-align: middle;
      &:hover {
        cursor: pointer;
        text-decoration: underline;
        color: blue;
      }
    }
  }
  td.pagination-td {
    padding-left: 0;
    padding-right: 0;
  }
}

.app-without-border {
  margin-bottom: 0px;
}

.resize-icons {
  position: absolute;
  top: 6px;
  right: 6px;
  cursor: pointer;
  color: #fff;
}
.pagination-footer {
  padding-top: 0px;
  padding-bottom: 0px;
}
.google-map-form {
  .form-control {
    border-radius: 1px;
    -webkit-appearance: button;
    -moz-appearance: button;
    padding: 1px;
    &.input-sm {
      height: 23px;
    }
  }
  select.input-sm {
    line-height: 1.5;
  }
}

.map-table-container {
  background: white;
  border-bottom: 0px;
}

.geofence-footer {
  position: absolute;
  bottom: 2px;
  width: 100%;
  right: 0;
  padding: 0px;
  .col-lg-12 {
    padding: 0;
  }
}


.geo-fencing-list-container {
  position: relative;
  @media only screen and (max-width: 991px) {
    .resize-icons {
      display: none;
    }
  }
}



.window-max-min-handler {
  position: absolute;
  top: 8px;
  left: 10px;
  @media only screen and (max-width: 991px) {
      display: none;
  }
  i {
    cursor: pointer;
    color: white;
    float: left;
    z-index: 1;
    font-size: 14px;
  }
 }

 .table-responsive {
   position: relative;
}

@media only screen and (min-width: 320px) and (max-width: 480px) {
  .table-responsive {
    margin-bottom: 35px;
  }
  .app-table{
    display: block;
    thead tr{
      display: none;
    }
    tbody{
      display: block;
      tr.inline{
        display: block;
        position: relative;
        border-bottom: 1px solid #ddd;
        td{
          display: inline-block;
          border-top: 0px;
          width: 100%;
          padding: 5px 10px;
          text-align: left;
          .glyphicon-triangle-right {
            top: 0px;
          }
          img {
            margin: 5px 10px 5px 0px;
          }
          p {
            width: calc(100% - 140px);
          }
          &:last-child {
            padding: 5px 10px;
            width: 100%;
            text-align: left;
            display: flex;
            align-items: center;
            padding-bottom: 10px;
          }
        }
        td:before{
          content: attr(data-name);
          font-weight: bold;
          margin-right: 5px;
        }
      }
      tr.inline.active {
        background-color: #56607c;
        color: white;
        td{
          background-color: #55607b;
        }
      }
    }
    .slider-container{
      display: block;
      width: 100%;
      td {
        width: 100%;
      }
    }
    .expand-icon{
      display: inline-block;
      .glyphicon {
        position: absolute;
        right: 15px;
        top: 10px;
      }
    }
  }

  .status-heading .item{
    align-self: flex-end;
  }

}

