@import '../../../variables.scss';

.rule-engine {
    background-color: white;
    .main-body {
      .fa {
        font-size: 18px;
        position: relative;
        top: 2px;
        cursor: pointer;
        transition: all 0.3s ease;
        &:hover {
          font-weight: bold;
        }
        @media only screen and (max-width: 650px) {
          font-size: 15px;
        }
      }
      .fa-pencil-square-o {
        margin: 0px 5px;
        color: #56607c;
      }
    }
    .rule-table {
      .add-rule-btn{
        position: absolute;
        top: 7px;
        display: inline-block;
        width: 25px;
        height: 25px;
        right: 10px;
        cursor: pointer;
        @media only screen and (max-width: 1000px) {
          right: 5px;
          
        }

        @media only screen and (max-width: 650px) {
          right: 0px;
          width: 17px;
          height: 17px;
        }
        .plus-icon {
          max-width: 20px;
          cursor: pointer;
          @media only screen and (max-width: 1000px) {
            max-width: 16px;
          }
          @media only screen and (max-width: 767px) {
            max-width: 13px;
          }
          @media only screen and (max-width: 650px) {
            max-width: 11px;
          }
        }
      }
      thead {
        background-color: $table-header;
        color: #FFFFFF; // border: 1px solid #F1F1F1;
        position: relative;
        .actions-th {
          @media only screen and (max-width: 850px) {
            text-align: left;
          }
        }
      }
      tfoot {
        background-color: $table-footer;
        &.alarm-hed-color {
          color: #FFFFFF;
        }
      }
      thead tr th {
        font-weight: normal;
      }
      thead tr th span {
        color: #FFFFFF;
      }
      tbody tr td {
        color: #2a3142;
      }
      tfoot tr td {
        text-align: right;
      }
      tr {
        @media only screen and (max-width: 767px) {
          font-size: 12px;
          td,th {
            padding: 8px 0px;
            &:first-child {
              padding-left: 3px;
            }
          }
        }
        @media only screen and (max-width: 650px) {
          font-size: 11px;
        }
      }
    }
    .search-svg-icon {
      max-width: 20px;
      margin: 0px 10px;
      cursor: pointer;
      @media only screen and (max-width: 1000px) {
        max-width: 16px;
        margin: 0px 0px;
      }
      @media only screen and (max-width: 767px) {
        max-width: 13px;
      }
      @media only screen and (max-width: 650px) {
        max-width: 11px;
      }
    }
  }

  .status {
    @media only screen and (max-width: 650px) {
      height: 20px;
    }
  }

  #ruleMfBootstrapPaginator {
    .pagination-footer {
      padding-top: 0px;
      padding-bottom: 0px;
    }
  }

  .table-responsive>.table>tbody>tr>td, .table-responsive>.table>tbody>tr>th, .table-responsive>.table>tfoot>tr>td, .table-responsive>.table>tfoot>tr>th, .table-responsive>.table>thead>tr>td, .table-responsive>.table>thead>tr>th {
    @media only screen and (max-width: 650px) {
      white-space: unset;
    }
  }

  @media only screen and (max-width: 500px) {
    .table.rule-table {
      width: 500px;
    }
    // .rule-engine .rule-table thead {
    //   position: static;
    // }
    // .table-responsive>.table>thead>tr>th {
    //   &:first-child {
    //     position: absolute;
    //     left: 0;
    //     top: auto;
    //     width: 151px;
    //   }
    // }
    // table {
    //   tbody {
    //     position: static;
    //   }
    // }
    // .table-responsive>.table>tbody>tr>td {
    //   &:first-child {
    //     position: absolute;
    //     left: 0;
    //     top: auto;
    //     width: 151px;
    //   }
    // }
  }