.panel-app {
  margin-bottom: 1px;
  border:0px;
}

.form-control {
  border: 0px solid #ccc;
}


.container-fluid {
  #genAssetDescApp {
    margin-bottom: 0px;
    border: 0px;
    background-color: transparent;
    .svg-icon {
      position: absolute;
      left: 4px;
      top: 50%;
      transform: translate(0%,-50%);
    }
    .panel-white-heading {
      position: relative;
      padding: 0px;
      background: rgba(226,226,226,1);
      background: -moz-linear-gradient(top, rgba(226,226,226,1) 0%, rgba(217,217,217,1) 54%, rgba(163,163,163,1) 99%, rgba(209,209,209,1) 100%);
      background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(226,226,226,1)), color-stop(54%, rgba(217,217,217,1)), color-stop(99%, rgba(163,163,163,1)), color-stop(100%, rgba(209,209,209,1)));
      background: -webkit-linear-gradient(top, rgba(226,226,226,1) 0%, rgba(217,217,217,1) 54%, rgba(163,163,163,1) 99%, rgba(209,209,209,1) 100%);
      background: -o-linear-gradient(top, rgba(226,226,226,1) 0%, rgba(217,217,217,1) 54%, rgba(163,163,163,1) 99%, rgba(209,209,209,1) 100%);
      background: -ms-linear-gradient(top, rgba(226,226,226,1) 0%, rgba(217,217,217,1) 54%, rgba(163,163,163,1) 99%, rgba(209,209,209,1) 100%);
      background: linear-gradient(to bottom, rgba(226,226,226,1) 0%, rgba(217,217,217,1) 54%, rgba(163,163,163,1) 99%, rgba(209,209,209,1) 100%);
      .material-icons {
        &.settings {
          position: absolute;
          font-size: 15px;
          top: 50%;
          transform: translateY(-50%);
          left: 5px;
        }
      }
      .svg-icon {
        max-width: 20px;
      }
      .text-left {
        .genAsset-info-text{
          position: relative;
          color: white;
          top: 4px;
        }
        select.input-sm {
          height: 25px;
          line-height: 25px;
        }
      }
    }
    .panel-body-padding {
      background-color: white;
      padding: 3px;
      padding-bottom: 25px;
      box-shadow: #999 3px 3px 5px;
    }
    .panel-border {
      margin-bottom: 5px;
      border-radius: 0px;
      border: 1px solid #c7c7c7 !important;
      position: relative;
      .panel-border-top {
        border: 1px solid #c1c1c1 !important;
        margin-bottom: 5px;
      }
      .panel-border-bottom {
        border: none;
      }
      .genAsses-description-image-div {
        text-align: center;
        background-color: white;
        border: 1px solid transparent;
        position: relative;
        .genAsset-desc-img{
          height: 122px;
          display: inline-block;
          @media only screen and (max-device-width: 850px) {
            height: 76px;
          }
        }
        .camera_alt {
          position: absolute;
          font-size: 5px;
          top: 5px;
          right: 10px;
          font-size: 20px;
          color: #848a94;
          cursor: pointer;
        }
      }
      .panel-desc-all-p {
        padding: 5px 0px 2px 0px !important;
        color: #3e3e3e;
        font-weight: bold;
        position: relative;
        font-size: 12px;
        background-color: #848b94;
        color: white;
        max-height: 135px;
        overflow: auto;
        @media only screen and (max-device-width: 1268px) {
          font-size: 10px;
        }
        @media only screen and (max-device-width: 480px) {
          font-size: 13px;
        }
        .panel-row {
          display: inline-block;
          width: 100%;
          .heading {
            padding: 0px;
            padding-left: 5px;
          }
          .desc-value {
            padding: 0px;
            white-space: nowrap;
            overflow: hidden;
            position: relative;
            cursor: pointer;
            width: 53%;
            background-color: #555c62;
            color: white;
            float: right;
            margin-right: 5px;
            p {
              margin: 0px;
              position: relative;
              display: inline-block;
            }
            .arrows {
              display: none;
              position: absolute;
              top: -3px;
              margin: 0;
              line-height: 1;
              font-size: 22px;
              color: #0e76bc;
              font-weight: bold;
              cursor: pointer;
            }
            .active-arrow {
              display: block;
            }
            .left-arrow{
              left: 0;
            }
            .right-arrow {
              right: 0;
            }
          }
        }
      }
    }
    .genAsset-info-dropdown-label{
      padding: 0;width: 100%;
      .custome-select-box-div {
        .custome-select-box {
          padding: 0;
          background-color: transparent;
          height: 25px;
          padding-left: 25px !important;
          line-height: 1;
          font-size: 14px;
        }
        .up {
          top: 5%;
        }
        .down {
          top: 25%;
        }
      }
    }
  }
}

.image-slider-modal {
  .modal-md {
    width: 500px;
  }
  .modal-header {
    background: #e2e2e2;
    background: -webkit-gradient(left top, left bottom, color-stop(0%, #e2e2e2), color-stop(54%, #d9d9d9), color-stop(99%, #a3a3a3), color-stop(100%, #d1d1d1));
    background: linear-gradient(to bottom, #e2e2e2 0%, #d9d9d9 54%, #a3a3a3 99%, #d1d1d1 100%);
    padding: 5px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    i {
      font-size: 15px;
      position: relative;
      top: 3px;
    }
    h4 {
      display: inline-block;
      margin: 0;
      margin-left: 5px;
      font-size: 14px;
      font-weight: bol
    }
    .close {
      margin-top: 0px;
      position: relative;
      top: 2px;
      left: 0px;
    }
  }
  .modal-body {
    height: 340px;
    padding: 5px;
    position: relative;
    overflow: hidden;
    .images {
      position: relative;
      width: 100%;
      height: 330px;
      transition: all 0.5s ease;
      right: 0px;
      .image {
        display: inline-block;
        margin-right: 5px;
        height: 100%;
        img {
          width: 488px;
          height: 100%;
          object-fit: cover;
        }
      }
    }
    .material-icons {
      font-size: 60px;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      color: white;
      cursor: pointer;
      z-index: 1;
      &.before {
        left: -10px;
      }
      &.next {
        right: -10px;
      }
    }
  }
}

.go-to-asset-dashboard {
  position: absolute;
  bottom: 65px;
  right: 17px;
  cursor: pointer;
  img {
    width: 20px;
    height: 20px;
    border-radius: 100%;
    overflow: hidden;
    box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.15);
  }
}



