$border_color : #e6e6e6;
$font-color-label : #b1b1b1;

.add-rule-modal {
    .custom-errors {
      margin-left: 155px;
    }
    .modal-header {
      background-color: #57607d;
      color: white;
      .close {
        outline: none;
        color: white;
        opacity: 1;
      }
    }
    .modal-body {
      min-height: 350px;
      padding: 25px;
      background-color: #f4f6f9;
      .rule-content {
        position: relative;
        .rule-row {
          margin-bottom: 20px;
          display: flex;
          &.rule-description {
            display: block;
            position: relative;
            textarea {
              width: 100%;
              padding: 10px 15px;
              font-size: 16px;
              border: 1px solid $border_color;
              border-radius: 3px;
              outline: none;
            }
            #totalConditions {
              position: absolute;
              width: 100%;
              top: 0px;
              margin-left: 5px;
              margin-top: 5px;
              z-index: 1;
              .condition {
                position: relative;
                display: inline-block;
                padding: 5px 10px;
                background-color: rgba(0, 0, 0, 0.2);
                color: white;
                margin-right: 5px;
                margin-bottom: 5px;
                border-radius: 3px;
                .delete-conition {
                  position: absolute;
                  top: 50%;
                  right: 5px;
                  margin: 0;
                  transform: translateY(-50%);
                  color: white;
                  width: 20px;
                  height: 20px;
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  background-color: #56607c;
                  border-radius: 50%;
                  font-size: 11px;
                  cursor: pointer;
                  &:hover {
                    background-color: #ff5e52;
                  }
                }
              }
            }
          }
          .column {
            width: calc(50% - 10px);
            position: relative;
            &:first-child {
              margin-right: 25px;
            }
            select {
              -webkit-appearance: none;
              border: none;
              outline: none;
              padding: 11px 15px;
              border: 1px solid $border_color;
              box-shadow: none;
              font-size: 16px;
              height: auto;
              line-height: 1;
              color: $font-color-label;
              font-weight: 100;
              width: 100%;
            }
            .rule-name {
              width: 100%;
              font-size: 16px;
              font-weight: 100;
              padding: 8px 15px;
              border: 1px solid $border_color;
              border-radius: 3px;
              outline: none;
            }
            &.status-info {
              padding: 0px 15px;
              border: 1px solid $border_color;
              border-radius: 3px;
              background-color: white;
              height: 40px;
              display: flex;
              align-items: center;
              .label-text {
                width: 30%;
                color: $font-color-label;
                font-size: 16px;
                font-weight: 100;
              }
              .active-inactive {
                display: flex;
                justify-content: space-around;
                width: 70%;
                color: #848484;
                font-weight: 100;
                line-height: 1;
                font-size: 14px;
              }
              .output {
                display: flex;
                justify-content: flex-end;
                width: 70%;
                color: #848484;
                font-weight: 100;
                line-height: 1;
                font-size: 14px;
              }
            }
            .arrow_drop_down {
              position: absolute;
              top: 2px;
              right: 5px;
              font-size: 35px;
              color: #56607c;
            }
          }
          &.assets-list {
            width: 100%;
            display: block;
            .selected-list {
              .c-btn {
                padding: 9px 15px;
                box-shadow: none;
                border-color: $border_color;
                border-radius: 3px;
                font-size: 16px;
                font-weight: 100;
                span {
                  color: $font-color-label;
                }
                .c-token {
                  span {
                    color: white;
                  }
                }
              }
            }
          }
          .status-checkbox {
            margin: 0;
            display: inline-block;
            label {
                display: inline-flex;
                margin: 0;
                justify-content: center;
                align-items: center;
            }
            .c-check {
                user-select: none;
                cursor: pointer;
                width: -webkit-fit-content;
                width: -moz-fit-content;
                width: fit-content;
                margin-right: 15px;
                .check-icon {
                    display: inline-block;
                    margin-right: 5px;
                }
                span {
                    font-weight: normal;
                }
                input:checked+.checkbox {
                    border-color: #ccc;
                }
                input {
                    position: absolute;
                    z-index: -1;
                    width: 0;
                    height: 0;
                    opacity: 0;
                }
                .checkmark__circle {
                    stroke-dasharray: 166;
                    stroke-dashoffset: 166;
                    stroke-width: 2;
                    stroke-miterlimit: 10;
                    stroke: #d8d8d8;
                    fill: #d8d8d8;
                }
                input:checked+.check-icon .checkmark__circle {
                    fill: none;
                    stroke: #4daf88;
                }
                .checkmark {
                    width: 20px;
                    height: 20px;
                    border-radius: 50%;
                    display: block;
                    stroke-width: 2;
                    stroke: #fff;
                    stroke-miterlimit: 10;
                    margin: 10% auto;
                    box-shadow: inset 0px 0px 0px #4daf88;
                }
                input:checked+.check-icon .checkmark {
                    animation: fill .5s ease-in-out 0s forwards;
                }
                .checkmark__check {
                    transform-origin: 50% 50%;
                    stroke: #fff;
                    stroke-width: 5;
                }
                @keyframes fill {
                    100% {
                        box-shadow: inset 0px 0px 0px 30px #4daf88;
                    }
                }
            }
          }
          
          &.start-end-days {
            display: flex;
            .time-schedule-box {
              display: flex;
              width: 100%;
              .column {
                select {
                  width: 100%;
                }
              }
            }
          }
          
          &.schedule {
            display: block;
            .day-types {
              width: 100%;
              display: flex;
              padding: 6px 15px;
              background-color: white;
              border-radius: 3px;
              border: 1px solid $border_color;
              align-items: center;
              .label-text {
                width: 25%;
                color: $font-color-label;
                font-size: 16px;
                font-weight: 100;
              }
              .day-name {
                width: 75%;
                app-day-scheduler {
                  display: flex;
                  width: 100%;
                  justify-content: space-around;
                  line-height: 1;
                  .day-info {
                    margin-right: 0px;
                    font-size: 12px;
                    .c-check {
                      margin: 0;
                      line-height: 1;
                      display: inline-flex;
                      justify-content: center;
                      align-items: center;
                      span {
                        margin-left: 7px;
                        color: $font-color-label;
                        font-size: 14px;
                      }
                    }
                  }
                }
              }
            }
          }
          &.exclude {
            width: 100%;
            display: flex;
            padding: 6px 15px;
            background-color: white;
            border-radius: 3px;
            border: 1px solid $border_color;
            align-items: center;
            .label-text {
              font-size: 16px;
              font-weight: 100;
              width: 25%;
              color: $font-color-label;
            }
            .exclude-days {
              width: 75%;
              margin: 0;
              line-height: 1;
              .app-exclude-days {
                min-height: 26px;
                display: flex;
                .selected-days {
                  border: none;
                  margin: 0;
                  padding: 0
                }
                .form-control {
                  border: none;
                  box-shadow: none;
                  width: 100% !important;
                  padding: 0;
                  line-height: 1;
                  height: 20px;
                  display: flex;
                }
              }
            }
          }
        }
        .output-data {
          .output-content {
            display: block;
            margin-right: 0px !important;
            width: 100%;
            padding: 20px;
            background: white;
            border: 1px solid $border_color;
            border-radius: 3px;
            .output-top {
              width: 100%;
              display: flex;
            }
            .output-bottom {
              width: 100%;
              display: flex;
              .output-type {
                margin-bottom: 0px;
              }
            }
            .output-type {
              width: 100%;
              margin-bottom: 15px;
              position: relative;
              &.first {
                margin-right: 25px;
              }
              input {
                width: 100%;
                padding: 9px 10px;
                border: 1px solid $border_color;
                border-radius: 3px;
                outline: none;
              }
            }
          }
        }
        .back-rule-text {
          opacity: 0;
          z-index: -1;
          display: inline-block;
          margin: 0;
          padding: 0px 0px;
          line-height: 1;
          max-width: 75%;
          position: absolute;
        }
  
        .dropdown-content-list {
          position: absolute;
          width: 100%;
          left: 153px;
          top: 5px;
        }

        .rule-type-dropdown {
          position: absolute;
          top: 100px;
          width: 80%;
          border: 1px solid #d8d8d8;
          left: 0;
          transition: none;
          z-index: 9999;
          -webkit-box-shadow: 2px 2px 5px 0px rgb(190, 195, 200);
          -moz-box-shadow: 2px 2px 5px 0px rgb(190, 195, 200);
          box-shadow: 2px 2px 5px 0px rgb(190, 195, 200);
          ul {
            list-style: none;
            padding: 0;
            margin: 0;
            font-size: 15px;
            max-height: 250px;
            overflow: auto;
            background-color: white;
            li.active{
              background-color : #56607c;
              color: white;
            }
            li {
              padding: 5px 15px;
              border-bottom: 1px solid #d8d8d8;
              cursor: pointer;
              &:hover {
                background-color : #56607c;
                color: white;
              }
              &:last-child {
                border-bottom: none;
              }
            }
          }
        }
      }
    }
    .modal-footer {
      .btn {
        transition: all 0.3s ease;
      }
      .btn-save, .btn-test, .btn-publish {
        outline: none;
        &:hover {
          background-color: #56607c;
          color: white;
        }
      }
      .btn-cancel {
        &:hover {
          color: red;
        }
      }
      .btn-save, .btn-test, .btn-publish {
        border: 1px solid #56607c;
      }
    }
  }

  @media only screen and (max-width: 500px) {
    .add-rule-modal {
      .modal-body {
        padding: 20px 5px;
      }
    }
  }