<div bsModal #ruleEnginedModal="bs-modal" class="modal fade add-rule-modal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title pull-left">
          <strong>Add Rule </strong>
        </h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="cancelRule(false)">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="rule-content">
          <form [formGroup]="templateForm">
            <div class="rule-row rule-type-name">
              <div class="column">
                <select formControlName="ruleType" class="form-control" (change)="onRuleTypeChange($event.target.value)">
                  <option *ngFor="let type of ruleTypes" [selected]="type == templateForm.value.ruleType"> {{type}} </option>
                </select>
                <i class="material-icons arrow_drop_down">arrow_drop_down</i>
              </div>
              <div class="column">
                <input type="text" formControlName="ruleName" placeholder="Enter your rule name*" class="input rule-name" required>
                <div *ngIf="templateForm.get('ruleName').errors && (templateForm.get('ruleName').dirty || templateForm.get('ruleName').touched)"
                  class="custom-errors">Rule name can not be empty.</div>
              </div>
            </div>

            <div class="rule-row rule-description">
              <p class="back-rule-text" id="backRuleText" [innerHTML]="templateForm.value.ruleText"></p>
              <div class="total-conditions" id="totalConditions">
                <div class="condition" *ngFor="let condition of totalConditions;let index = index" [ngStyle]="index == totalConditions.length - 1 && {'padding-right' : '30px'}">
                  {{condition}}
                  <p class="delete-conition" *ngIf="index == totalConditions.length - 1" (click)="deleteCondition()">X</p>
                </div>
              </div>
              <textarea type="text" rows="5" id="ruleTextArea" class="input" formControlName="ruleText" [(ngModel)]="templateForm.value.ruleText"
                (keyup)='keyUpRuleInput.next($event);$event.preventDefault()' (keyup.enter)="addToRuleText(modelService.totalKeysUpDown === 0 ? modelService.totalKeysUpDown : modelService.totalKeysUpDown - 1)"
                placeholder="$" (keydown.arrowup)="arrowUp($event)" (keydown.arrowdown)="arrowDown($event)"></textarea>
              <div *ngIf="totalConditions.length == 0 && !isInvalidConditionalOperation && templateForm.get('ruleText').errors && (templateForm.get('ruleText').dirty || templateForm.get('ruleText').touched)"
                class="custom-errors">Rule text can not be empty.</div>
              <div *ngIf="isInvalidConditionalOperation" class="custom-errors">Invalid condition.</div>
              <div class="dropdown-content-list" id="dropdownContentList">
                <div id="ruleTypeDropdown" [ngStyle]="(dropDownList?.length == 0 || !isShowDropDown) && {'display':'none'}" class="rule-type-dropdown">
                  <ul id="rulesDropDown">
                    <li *ngFor="let type of dropDownList;let index = index" (click)="addToRuleText(index)">
                      {{type}}
                    </li>
                  </ul>
                </div>
              </div>
            </div>

            <div class="rule-row rule-status-output">
              <div class="column status-info">
                <div class="label-text">{{"generic_status" | translate}}</div>
                <div class="active-inactive">
                  <div class="status-checkbox">
                    <label class="c-check">
                      <input class="appInput" type="checkbox" value="online">
                      <div class="check-icon">
                        <svg class="checkmark" viewBox="0 0 52 52" xmlns="http://www.w3.org/2000/svg">
                          <circle class="checkmark__circle" cx="26" cy="26" fill="none" r="25"></circle>
                          <path class="checkmark__check" d="M14.1 27.2l7.1 7.2 16.7-16.8" fill="none"></path>
                        </svg>
                      </div>
                      <span>{{"generic_active" | translate}}</span>
                    </label>
                  </div>
                  <!-- (change)="changeGeoFenceStatus('inactive')" -->
                  <div class="status-checkbox">
                    <label class="c-check">
                      <input class="appInput" type="checkbox" value="online">
                      <div class="check-icon">
                        <svg class="checkmark" viewBox="0 0 52 52" xmlns="http://www.w3.org/2000/svg">
                          <circle class="checkmark__circle" cx="26" cy="26" fill="none" r="25"></circle>
                          <path class="checkmark__check" d="M14.1 27.2l7.1 7.2 16.7-16.8" fill="none"></path>
                        </svg>
                      </div>
                      <span>{{"generic_inactive"| translate}}</span>
                    </label>
                  </div>
                </div>
              </div>
              <div class="column status-info">
                <div class="label-text">{{"rule_output" | translate}}</div>
                <div class="output">
                  <div class="status-checkbox">
                    <label class="c-check">
                      <input class="appInput" type="checkbox" value="online" formControlName="isOutPut" (change)="onCheckChange()">
                      <div class="check-icon">
                        <svg class="checkmark" viewBox="0 0 52 52" xmlns="http://www.w3.org/2000/svg">
                          <circle class="checkmark__circle" cx="26" cy="26" fill="none" r="25"></circle>
                          <path class="checkmark__check" d="M14.1 27.2l7.1 7.2 16.7-16.8" fill="none"></path>
                        </svg>
                      </div>
                      <span>{{"alarm" | translate}}</span>
                    </label>
                  </div>
                </div>
              </div>
            </div>

            <div class="rule-row output-data" formGroupName="alarm" *ngIf="templateForm.value.isOutPut">
              <div class="column output-content">
                <div class="output-top">
                  <div class="output-type first">
                    <input placeholder="{{placeholderpoint}}" type="text" class="input" formControlName="pointName">
                    <div *ngIf="templateForm.get('alarm.pointName').errors && (templateForm.get('alarm.pointName').dirty || templateForm.get('alarm.pointName').touched)"
                      class="custom-errors">Point name can not be empty.</div>
                  </div>
                  <div class="output-type">
                    <input placeholder="{{placeholderdesc}}" type="text" class="input" formControlName="description">
                    <div *ngIf="templateForm.get('alarm.description').errors && (templateForm.get('alarm.description').dirty || templateForm.get('alarm.description').touched)"
                      class="custom-errors">Description can not be empty.</div>
                  </div>
                </div>
                <div class="output-bottom">
                  <div class="output-type first">
                    <select class="form-control" formControlName="priority">
                      <option *ngFor="let priority of alarmPriorities" [ngValue]="priority"> {{priority}} </option>
                    </select>
                    <i class="material-icons arrow_drop_down">arrow_drop_down</i>
                  </div>
                  <div class="output-type">
                    <input placeholder="Enter value" type="text" class="input" formControlName="value">
                  </div>
                </div>
              </div>
            </div>

            <div class="rule-row assets-list">
              <angular2-multiselect appUnselectOptionMultiselect id="addRuleMultiselectAsset" (onUnselectAll)="onUnselectAll($event)" [data]="assets"
                [(ngModel)]="selectedAssets" formControlName="selectedAssets">
              </angular2-multiselect>
              <div *ngIf="templateForm.get('selectedAssets').value.length == 0  && (templateForm.get('selectedAssets').dirty || templateForm.get('selectedAssets').touched)"
                class="custom-errors">Please select atleast one asset.</div>
            </div>

            <div class="rule-row schedule">
              <div class="day-types">
                <div class="label-text">Excluded Schedule</div>
                <div class="day-name">
                  <app-day-scheduler (notifyChange)="selectedDayNotifyChange($event)" [data]="templateForm.controls['selectedDays'].value"></app-day-scheduler>
                </div>
              </div>
              <div *ngIf="(templateForm.controls['selectedDays'].value.length == 0) && isDirtyselectedDays" class="custom-errors">Please select atleast one day.</div>
            </div>

            <div class="rule-row exclude">
              <div class="label-text">{{"generic_day_schedule" | translate}}</div>
              <div class="exclude-days">
                <app-exclude-days [excludedDays]="selectedExcludedDays" (selected)="selectedExcludeDays($event)"></app-exclude-days>
              </div>
            </div>

            <div class="rule-row start-end-days">
              <div class="time-schedule-box">
                <div class="time-box column">
                  <select class="form-control" formControlName="startTimeSchedule" (ngModelChange)="onStartTimeModelChange($event)">
                    <option value="">{{"generic_start_time" | translate}}</option>
                    <option startTimeOptionsDisable [optionValue]="time.value" [optionReset]="startTimeReset" [timeRange]="startTimeDisableRange"
                      [value]="time.displayValue" *ngFor="let time of startTimeList">{{time.displayValue}}</option>
                  </select>
                  <i class="material-icons arrow_drop_down">arrow_drop_down</i>
                  <div *ngIf="templateForm.get('startTimeSchedule').errors && (templateForm.get('startTimeSchedule').dirty || templateForm.get('startTimeSchedule').touched)"
                    class="custom-errors">Please select start time.</div>
                </div>
                <div class="time-box column">
                  <select class="form-control" formControlName="endTimeSchedule" (ngModelChange)="onEndTimeModelChange($event)">
                    <option value="">{{"generic_end_time" | translate}}</option>
                    <option endTimeSelectOptionsDisable [optionValue]="time.value" [optionReset]="endTimeReset" [timeRange]="endTimeDisableRange"
                      [value]="time.displayValue" *ngFor="let time of endTimeList">{{time.displayValue}}</option>
                  </select>
                  <i class="material-icons arrow_drop_down">arrow_drop_down</i>
                  <div *ngIf="templateForm.get('endTimeSchedule').errors && (templateForm.get('endTimeSchedule').dirty || templateForm.get('endTimeSchedule').touched)"
                    class="custom-errors">Please select end time.</div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="modal-footer">
        <button class="btn btn-cancel" (click)="cancelRule(false)">{{"generic_cancel" | translate}}</button>
        <button class="btn btn-tab" (click)="saveRule()" [disabled]="!templateForm.valid"> {{!selectedRule ? 'Save' : 'Update'}}</button>
        <button class="btn btn-tab" (click)="testRule()" [disabled]="totalConditions.length == 0 || selectedAssets.length == 0">{{"rule_test" | translate}}</button>
        <button class="btn btn-publish" *ngIf="selectedRule" (click)="unpublishRule(rule)">Unpublish</button>
        <button class="btn btn-publish" [disabled]="true" *ngIf="!selectedRule" (click)="publishRule(rule)">{{"rule_publish" | translate}}</button>
      </div>
    </div>
    <div class="loading-img" *ngIf="isLoading">
      <img src="assets/images/loading.svg">
    </div>
  </div>
</div>
