.panel-app {
  margin-bottom: 1px;
}
.expand-icon {
  max-width: 17px;
}
.alarm-console-search-icon {
  position: absolute;
  cursor: pointer;
  right: 35px;
  top: 5px;
  width: 20px;
  height: 20px;
  @media only screen and (max-device-width: 990px) {
    right: 8px;
  }
  
}
.no-data {
  font-size: 14px;
}
.filter-search-table {
  top: 36px;
  td {
    padding: 0px 8px !important;
  }
}  
.expand-icon {
  width: 17px;
  height: 17px;
}
.asset-table-tr{
  td {
    padding: 3px 8px !important;
    white-space: normal;
    font-size: 14px;
  }
}
.alarm-console-assetId {
  transition: all 0.3s ease;
  &:hover{
    cursor: pointer;
    color: #108EE2;
  }
}
.status-icon {
  width: 18px;
  height: 18px;
}
.panel-white-heading{
  padding: 6px 10px 6px 30px;
  position: relative;
  .bell-icon {
    width: 20px;
    height: 20px;
    position: absolute;
    left: 4px;
    top: 50%;
    transform: translate(0%,-50%);
  }
}
.center {
  text-align: center;
}
.alarm-console-table {
  display: table;
  width: 100%;
  margin-bottom: 0;
  thead {
    float: left;
    width: 100%;
    tr {
      width: 100%;
      display: table;
    }
  }
  tbody {
    float: left;
    width: 100%;
    overflow: auto;
    max-height: 400px;
    tr {
      width: 100%;
      display: table;
    }
  }
}


