<div [style.minHeight.px]="minInnerHeight" class="panel panel-app" [hidden]="!selectedView">
  <div class="panel-heading clearfix panel-white-heading panel-border">
    <div class="text-left">
      <img src="assets/images/bell.svg" class="bell-icon svg-icon" />
      <span class="pull-left">{{"asset_alarm" | translate}}</span>
      <img *ngIf="alarmData.length > 0" src="assets/images/search-normal.svg" class="svg-icon alarm-console-search-icon" (click)="toggleFilterSearch = !toggleFilterSearch"
      />
      <span class="pull-right">
        <a href="javascript:void(0)" (click)="toggleExpand = !toggleExpand;changeTableMaxView()" [hidden]="selectedRealTimeData.length > 0">
          <img *ngIf="!toggleExpand" src="assets/images/expand.svg" class="expand-icon" />
          <img *ngIf="toggleExpand" src="assets/images/collapse.svg" class="expand-icon" />
        </a>
      </span>
    </div>
  </div>
  <div class="panel-body-padding" [ngClass]="selectedRealTimeData.length >0 ? 'panel-max-height':'panel-full-page-height'">
    <div class="table-responsive">
      <table id="AdAlarmConsoleTable" class="table org-table alarm-console-table" [mfData]="alarmData ? alarmData : []" [mfRowsOnPage]="10"
        #mf="mfDataTable" [(mfSortBy)]="paginationInfo.sortBy" [(mfSortOrder)]="paginationInfo.sortOrder">
        <thead>
          <tr>
            <th width="40%" class="text-left">
              <mfDefaultSorter by="name" class="sorter"> {{"alarm_desc" | translate}}</mfDefaultSorter>
            </th>
            <th width="45%" class="text-center" id="trigger-time">
              <mfDefaultSorter by="tOccurrence_date_time" class="sorter"> {{"alarm_trigger" | translate}}</mfDefaultSorter>
            </th>
            <th width="15%" class="text-center search-include-th center">
              <mfDefaultSorter by="status" class="sorter"> {{"generic_status" | translate}}</mfDefaultSorter>
            </th>
          </tr>
          <app-table-filter *ngIf="toggleFilterSearch" [widthData]="filterWidthData" (notifyChange)="updateData($event)" [(filterValues)]="filterValues"
            [(data)]="alarmData"></app-table-filter>
        </thead>
        <tbody class="main-body" [style.borderBottom]="(alarmData.length != 0 && alarmData.length < 5) ? '1px solid #dddddd' : none" [style.maxHeight.px]="toggleFilterSearch ? mainBodyHeight - 40 : mainBodyHeight"
          id="mainBody" [ngStyle]="toggleFilterSearch && {'margin-top': '40px'}">
          <ng-container *ngFor="let asset of mf.data">
            <tr *ngIf="alarmData.length > 0;else no_data" class="asset-table-tr">
              <td width="40%" class="alarm-console-assetId text-left" (click)="goToOperationAlarm(asset.assetID)" [innerHTML]="asset.name"></td>
              <td width="45%" class="text-center">{{ !asset.occurrence_date_time ? '' : asset.occurrence_date_time | convertToLocalDate }}</td>
              <td width="15%" class="text-center">
                <img class="status-icon" *ngIf="asset?.event_param[0]?.sts == 2 || asset?.event_param[0]?.sts == 'Acknowledged'" src="assets/images/alarm_normal_2.svg"
                />
                <img class="status-icon" *ngIf="asset?.event_param[0]?.sts == 0 || asset?.event_param[0]?.sts == 'Alarm'" src="assets/images/alarm_normal_0.svg"
                />
                <img class="status-icon" *ngIf="asset?.event_param[0]?.sts != 0 && asset?.event_param[0]?.sts != 2 && asset?.event_param[0]?.sts != 'Acknowledged' && asset?.event_param[0]?.sts != 'Alarm'"
                  src="assets/images/alarm_normal.svg" />
              </td>
            </tr>
          </ng-container>
        </tbody>
        <tr *ngIf="alarmData.length !== 0 && liveData && liveData.length > paginationInfo.numberRowPerPage" id="mfBootstrapPaginator">
          <td colspan="3" class="text-right pagination-td">
            <mfBootstrapPaginator [rowsOnPageSet]="[liveData.length+0.1,5,10,25]"></mfBootstrapPaginator>
          </td>
        </tr>
      </table>
    </div>
    <div *ngIf="alarmData.length == 0" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 no-data">
      {{"generic_no_data_exists" | translate}}
    </div>
  </div>
</div>
<div class="panel panel-app" [hidden]="selectedView">
  <div class="panel-heading clearfix panel-white-heading">
    <a href="javascript:void(0)" (click)="changeTableView()">
      <i class="glyphicon glyphicon-arrow-right"></i>
    </a>
  </div>
  <div class="panel-body-shrink panel-border panel-white-heading" [ngClass]="selectedRealTimeData.length >0 ? 'panel-max-height':'panel-full-page-height'">
    <div class="vertical-text">{{"asset_alarm" | translate}}</div>
  </div>
</div>
