
table {
	border-collapse: collapse;
	border-spacing: 0;
}
img{
    max-width: 100%;
    height: auto;
}

.routing-dispatch-list{
    height: calc(100vh - 105px);
    overflow: auto;
    @media only screen and (max-width: 991px){
        height: initial;
        overflow: initial;
    }
}

.btn{
    display: flex;
    align-items: center;
    font-weight: bold;
    border: 1px solid #0e76bc;
    box-shadow: none;
    color: #0e76bc;
    margin-left: 10px;
    .icon{
        font-size: 20px;
        padding-right: 5px;
    }
    &:hover{
        background: #0e76bc;
        color: white;
    }
    &:active{
        box-shadow:none;
    }
}
.tabs {
    padding: 0px;
    background: #f8f8f8;
    .nav {
        ul {
            font-size: 0;
            margin: 0px;
            padding: 0px;
            display: flex;
            text-align: center;
            li {
                display: inline-block;
                padding: 15px 30px;
                font-size: 16px;
                color: gray;
                border: 1px solid #f8f8f8;
                transition: all 0.2s ease 0s;
                position: relative;
                display: flex;
                align-items: center;
                flex-flow: column;
                justify-content: center;
                @media only screen and (max-width: 479px) {
                    padding: 10px 10px;
                }
                .icon {
                    display: block;
                    text-align: center;
                }
                &::after {
                    content: '';
                    position: absolute;
                    width: calc(100% + 2px);
                    left: 0px;
                    background: #f8f8f8;
                    height: 1px;
                    bottom: -1px;
                    left: -1px;
                    transition: all 0.5s ease 0s;
                }
                &:hover {
                    color: #0e76bc;
                    cursor: pointer;
                    border-radius: 5px;
                    border-bottom-left-radius: 0px;
                    border-bottom-right-radius: 0px;
                    transition: all 0.2s ease 0s;
                }
                &.active {
                    color: #0e76bc;
                    cursor: pointer;
                    border-radius: 5px;
                    border: 1px solid #0e76bc;
                    border-bottom-left-radius: 0px;
                    border-bottom-right-radius: 0px;
                    transition: all 0.5s ease 0s;
                    background: #fff;
                    box-shadow: 0px -5px 15px 0 rgba(0, 0, 0, 0.05);
                    border: 0px;
                    border: 1px solid #ffffff;
                    &::after {
                        width: 0px;
                    }
                }
            }
        }
    }
    .tab {
        display: none;
        padding: 10px;
        margin-top: -1px;
        border-radius: 5px;
        background: #fff;
        &.active {
            display: block;
        }
    }
}
.table-scroll{
    border-radius: 3px;
    overflow: auto;
    margin: 15px;
}
.create{
    display: flex;
    justify-content: flex-end;
    margin-bottom: 10px;
}

table{
    min-width: 450px;
    thead{
        tr{
            border-bottom: 1px solid #e5e5e5;
            th{
                padding: 10px 10px;
                border-right:  1px solid #e5e5e5;
                &:last-child{
                    border-right: 0px;
                }
                &.center{
                    text-align: center;
                }
            }
        }
    }
    tbody{
        tr{
            border-bottom: 1px solid #e5e5e5;
            td{
                padding: 5px 10px;
                border-right:  1px solid #e5e5e5;
                &:last-child{
                    border-right: 0px;
                }
                .icon{
                    color: #898e9a;
                    cursor: pointer;
                    &:hover{
                        color: #0e76bc;
                    }
                }
                &.center{
                    text-align: center;
                }
            }
            &:last-child{
                border-bottom: 0px;
            }
        }
    }
}
.routeList{
    margin: 0px 10px 10px 10px;
    border: 1px solid #dcdcdc;
    border-radius: 3px;
    overflow: hidden;
}
.title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #f1f1f1;
    padding: 10px;
    border-bottom: 1px solid #dcdcdc;
    .left{
        display: flex;
        align-items: center;
        .icon{
            display: block;
            line-height: 1;
            width: 24px;
            i{
                font-size: 30px;
                color: #0e76bc;
            }
        }   
        .name{
            padding-left: 5px;
            h2{
                font-size: 20px;
                margin: 0px;
                color: #0e76bc;
            }
            .info{
                margin-top: 5px;
                display: flex;
                .item{
                    display: flex;
                    align-items: center;
                    position: relative;
                    border: 0px;
                    padding-right: 15px;
                    i{
                        color: gray;
                        font-size: 16px;
                        margin-right: 5px;
                    }
                    p{
                        color: gray;
                        margin: 0px;
                    }
                    &:after{
                        content: '';
                        top: 50%;
                        height: 60%;
                        width: 1px;
                        position: absolute;
                        background: #c6c6c6;
                        right: 7px;
                        transform: translateY(-50%);
                    }
                    &:last-child{
                        &:after{
                            display: none;
                        }
                    }
                }
            }
        }
    }
    .right{
        .action{
            display: flex;
            align-items: center;
            .btn{
                padding: 6px 8px 6px;
                .count{
                    background: #0e76bc;
                    font-size: 13px;
                    padding: 0px 5px;
                    border-radius: 3px;
                    margin-left: 5px;
                    color: white;
                    @media only screen and (max-width: 1199px) and (min-width: 992px) {
                        display: none;
                    }
                    @media only screen and (max-width: 767px){
                        display: none;
                    }
                }
                &:hover{
                    .count{
                        background: #fff;
                        color: #0e76bc;
                    }   
                }
            }
        }
    }
    &.custom{
        background: #fff;
        justify-content: flex-end;
        border-bottom:0px;
        .left{

        }
    }
}

.routes{
    .route{
        margin: 20px;
        background: #f9f9f9;
        border-radius: 3px;
        border: 1px solid #ebebeb;
    }
}

.table-with-title{
    padding: 15px;
    border-radius: 5px;
    overflow: hidden;
    overflow: hidden;
    .title{
        border-radius: 3px;
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
        color: white;
        border-top: 0px;
        background: #009688;
        padding: 0px;
        .left{
            h3{
                margin: 0px;
                padding: 10px;
                font-size: 16px;
                font-weight: bold;
            }
        }
        .right{
            .btn{
                color: white;
                i{
                    color: white;
                }
                &:hover{
                    color: #fff;
                    i{
                        color: #fff;
                    }
                }
            }
        }
    }
}


.createSampleAsPoiForm{
    margin: 30px 0px;
    .btn{
        max-width: 180px;
        margin: 15px auto;
        text-align: center;
        display: block;
        padding: 6px 12px 5px;
    }
}


.poi{
    margin: 20px;
    background: #f9f9f9;
    border-radius: 3px;
    border: 1px solid #ebebeb;
}


.input{
    margin-bottom: 10px;
    label{
        display: block;
        margin-bottom: 2px;
    }
    input{
        display: block;
        width: 100%;
    }
}

.custom{
    border-radius: 2px;
    overflow: hidden;
    thead{
        tr{
            border: 0px;
            th{
                padding: 10px 10px;
                color: #2a3142;
                font-weight: bold;
                border: 0px;
                background: #f5f5f5;
                border-top: 1px solid #dcdcdc;
                border-left: 1px solid #dcdcdc;
                &:last-child{
                    border-right: 1px solid #dcdcdc;
                }
            }
        }
    }
    tbody{
        border: 0px;
        tr{
            border: 0px;
            td{
                padding: 10px 10px;
                color: #2a3142;
                background: #fff;
                border: 0px;
                border-top: 1px solid #dcdcdc;
                border-left: 1px solid #dcdcdc;
                &:last-child{
                    border-right: 1px solid #dcdcdc;
                }
            }
            &:last-child{
                td{
                    border-bottom: 1px solid #dcdcdc;
                }
            }
        }
    }
}