<div class="routing-dispatch-list">
  <div class="title custom">
    <div class="right">
      <div class="action">
        <div class="btn" (click)="this.currentActivity.routeList = false;this.currentActivity.createRoute = false ;this.currentActivity.createPOI = false; this.currentActivity.assetDriverView = true; changeActivity()">
          <span>Assign</span>
        </div>
        <div class="btn" (click)="this.currentActivity.routeList = false;this.currentActivity.createRoute = true ;this.currentActivity.createPOI = false; this.currentActivity.assetDriverView = false;changeActivity()">
          <i class="material-icons icon">add</i>
          <span>Create Route</span>
          <span class="count">{{unassignPOI.length}} POI</span>
        </div>
        <div class="btn" (click)="this.currentActivity.routeList = false;this.currentActivity.createRoute = false  ;this.currentActivity.createPOI = true; this.currentActivity.assetDriverView = false;changeActivity()">
          <i class="material-icons icon">add</i>
          <span>Create POI</span>
          <span class="count">{{unassignSample.length}} Sample</span>
        </div>
      </div>
    </div>
  </div>
  <div class="routeList" *ngIf="currentWorkflow.route">
    <div class="title">
      <div class="left">
        <div class="icon">
          <img src="assets/images/routing-dispatch/route.png" />
        </div>
        <div class="name">
          <h2>Route list</h2>
        </div>
      </div>
    </div>
    <div class="table-scroll">
      <table class="table org-table bg-white custom" [mfData]="routes ? routes : []" [mfRowsOnPage]="paginationInfo.numberRowPerPage"
        #mf="mfDataTable" [(mfSortBy)]="paginationInfo.sortBy" [(mfSortOrder)]="paginationInfo.sortOrder">
        <thead class="alarm-hed-color">
          <tr>
            <th width="20%">Name</th>
            <th width="20%">Day Schedule</th>
            <th width="20%">Time</th>
            <th width="20%">POI Count</th>
          </tr>
        </thead>
        <tbody class="main-body">
          <ng-container *ngFor="let route of mf.data; let index = index">
            <tr>
              <td width="20%">{{route.name}}</td>
              <td width="20%">{{route.daySchedule}}</td>
              <td width="20%">{{route.maxDuration/3600}} H</td>
              <td width="20%">{{route.poi.length}}</td>
            </tr>
          </ng-container>
        </tbody>
        <tr *ngIf="routes.length> paginationInfo.numberRowPerPage">
          <td colspan="12" class="pagination-footer">
            <mfBootstrapPaginator [rowsOnPageSet]="[routes.length+0.1,10,25,50,500]"></mfBootstrapPaginator>
          </td>
        </tr>
      </table>
    </div>
  </div>
  <div class="poiList" *ngIf="currentWorkflow.poi">
    <div class="title">
      <div class="left">
        <div class="icon">
          <img src="assets/images/routing-dispatch/poi.png">
        </div>
        <div class="name">
          <h2>POI List</h2>
        </div>
      </div>
      <div class="right">
        <div class="action">
          <div class="btn" (click)="this.currentActivity.routeList = false;this.currentActivity.createRoute = true ;this.currentActivity.createPOI = false;changeActivity()">
            <i class="material-icons icon">add</i>
            <span>Create Route</span>
            <span class="count">{{unassignPOI.length}} POI</span>
          </div>
          <div class="btn" (click)="this.currentActivity.routeList = false;this.currentActivity.createRoute = false  ;this.currentActivity.createPOI = true;changeActivity()">
            <i class="material-icons icon">add</i>
            <span>Create POI</span>
            <span class="count">{{unassignSample.length}} Sample</span>
          </div>
        </div>
      </div>
    </div>
    <div class="table-scroll">
      <table class="table org-table bg-white" [mfData]="unassignPOI ? unassignPOI : []" [mfRowsOnPage]="paginationInfo.numberRowPerPage"
        #mf="mfDataTable" [(mfSortBy)]="paginationInfo.sortBy" [(mfSortOrder)]="paginationInfo.sortOrder">
        <thead class="alarm-hed-color">
          <tr>
            <th width="15%">Name</th>
            <th width="35%">Address</th>
            <th width="15%">Capacity</th>
            <th width="15%">Waiting Time</th>
            <th width="10%" class="center">Edit</th>
            <th width="10%" class="center">Delete</th>
          </tr>
        </thead>
        <tbody class="main-body">
          <ng-container *ngFor="let poi of mf.data; let index = index">
            <tr>
              <td width="15%">{{poi.name}}</td>
              <td width="35%">{{poi.address.formattedAddress}}</td>
              <td width="15%">{{poi.totalCapacity}}</td>
              <td width="15%">{{poi.waitingTime}} S</td>
              <td width="10%" class="center">
                <div class="icon">
                  <i class="material-icons">edit</i>
                </div>
              </td>
              <td width="10%" class="center">
                <div class="icon">
                  <i class="material-icons">delete</i>
                </div>
              </td>
            </tr>
          </ng-container>
        </tbody>
        <tr *ngIf="unassignPOI.length> paginationInfo.numberRowPerPage">
          <td colspan="12" class="pagination-footer">
            <mfBootstrapPaginator [rowsOnPageSet]="[unassignPOI.length+0.1,10,25,50,500]"></mfBootstrapPaginator>
          </td>
        </tr>
      </table>
    </div>
  </div>
  <div class="sampleList" *ngIf="currentWorkflow.sample">
    <div class="title">
      <div class="left">
        <div class="icon">
          <img src="assets/images/routing-dispatch/sample.png">
        </div>
        <div class="name">
          <h2>Sample List</h2>
        </div>
      </div>
      <div class="right">
        <div class="action">
          <div class="btn" (click)="this.currentActivity.routeList = false;this.currentActivity.createRoute = false  ;this.currentActivity.createPOI = true;changeActivity()">
            <i class="material-icons icon">add</i>
            <span>Create POI</span>
          </div>
        </div>
      </div>
    </div>
    <div class="table-scroll">
      <table>
        <thead>
          <tr>
            <th width="30%">Name</th>
            <th width="60%">Address</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let sample of unassignSample; let i = index;">
            <td width="30%">{{sample.name}}</td>
            <td width="60%">{{sample.address.formattedAddress}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <!-- <div class="tabs">
    <div class="nav">
      <ul>
        <li [ngClass]="{'active' : currentTabs[index]}" *ngFor="let tab of tabs; let index = index" (click)="currentTabs = [];currentTabs[index]=true">
          <span class="icon material-icons">{{tab.tag}}</span>
          <span>{{tab.name}}</span>
        </li>
      </ul>
    </div>
    <div class="tab" [ngClass]="{'active' : currentTabs[0]}">
      <div class="table-scroll">
        <table>
          <thead>
            <tr>
              <th width="20%">Name</th>
              <th width="20%">Distance</th>
              <th width="20%">Time</th>
              <th width="20%">POI Count</th>
              <th width="10%" class="center">Edit</th>
              <th width="10%" class="center">Delete</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let route of routes; let i = index;">
              <td width="20%">{{route.routeName}}</td>
              <td width="20%">{{route.routeDistance}}</td>
              <td width="20%">{{route.routeTime}}</td>
              <td width="20%">{{route.POI.length}}</td>
              <td width="10%" class="center">
                <div class="icon">
                  <i class="material-icons">edit</i>
                </div>
              </td>
              <td width="10%" class="center">
                <div class="icon">
                  <i class="material-icons">delete</i>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="tab" [ngClass]="{'active' : currentTabs[1]}">
      <div class="create">
        <div class="btn" (click)="this.currentActivity.routeList = false;this.currentActivity.createRoute = true ;this.currentActivity.createPOI = false;changeActivity()">
          <i class="material-icons icon">add</i>
          <span>Create Route</span>
        </div>
      </div>
      <div class="table-scroll">
        <table>
          <thead>
            <tr>
              <th width="15%">Name</th>
              <th width="35%">Address</th>
              <th width="15%">Sample Count</th>
              <th width="15%">Total Time</th>
              <th width="10%" class="center">Edit</th>
              <th width="10%" class="center">Delete</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let poi of unassignPOI; let i = index;">
              <td width="15%">{{poi.name}}</td>
              <td width="35%">{{poi.address}}</td>
              <td width="15%">{{poi.count}}</td>
              <td width="15%">{{poi.thresholdTime + (poi.sampleTime*poi.count)}} S</td>
              <td width="10%" class="center">
                <div class="icon">
                  <i class="material-icons">edit</i>
                </div>
              </td>
              <td width="10%" class="center">
                <div class="icon">
                  <i class="material-icons">delete</i>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="tab" [ngClass]="{'active' : currentTabs[2]}">
      <div class="create">
        <div class="btn" (click)="this.currentActivity.routeList = false;this.currentActivity.createRoute = false;this.currentActivity.createPOI = true;changeActivity()">
          <i class="material-icons icon">add</i>
          <span>Create POI</span>
        </div>
      </div>
      <div class="table-scroll">
        <table>
          <thead>
            <tr>
              <th width="30%">Name</th>
              <th width="60%">Address</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let sample of unassignSample; let i = index;">
              <td width="30%">{{sample.name}}</td>
              <td width="60%">{{sample.address.formattedAddress}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div> -->
</div>