agm-map {
  height: 100%;
}
.asset-location {
  .placeholderNew-info {
    width: 20px;
    height: 20px;
    position: absolute;
    left: 4px;
    top: 50%;
    transform: translate(0%,-50%);
  }
}
.panel-app {
  margin-bottom: 1px;
}

.panel-body.panel-min-height
{
  height: calc(100% - 30px);
}

.panel-body.panel-asset-info
{
  height: 540px;
}
.angular-google-map,
.angular-google-map-container {
  width: 100%;
  height: 100%;
}

.location-info{
  width: 100px;
  display: inline-block;
  margin: 0 0 0 5px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  line-height: 1.4;
  margin-left: 5px;
  font-size: 12px;
  font-weight: normal;
  color: #2a3142;
  text-transform: none;
  position: relative;
  top: 3px;
}

.asset-location {
  .panel-heading {
    position: relative;
    padding: 4px 15px 4px 30px;
  }
}

.no-data-found {
  opacity: 0.5;
  pointer-events: none;
}


