<div class="panel panel-app asset-location" [style.height.px]="assetLocationHeight" [ngClass]="{'no-data-found' : isNoDataFound}">
  <div class="panel-heading clearfix panel-white-heading">
    <img src="assets/images/placeholderNew.svg" class="placeholderNew-info svg-icon" />
    <span class="text-left">{{"asset_location" | translate}} :</span>
    <p *ngIf="assetLocationAddress.address1" class="location-info">{{assetLocationAddress.address1}}, {{assetLocationAddress.address2}}</p>
    <span class="text-right"></span>
  </div>
  <div class="panel-body panel-min-height" id="map_canvas">
    <agm-map [latitude]="latitude" (centerChange)="centerChange($event)" [usePanning]="true" [fullscreenControl]="true" [longitude]="longitude"
      [minZoom]="1" [zoom]="mapZoom">
      <agm-marker *ngIf="icon != null" [latitude]="latitude" [longitude]="longitude" [iconUrl]="icon" [label]="labelOptions"
        [zIndex]="zIndex" title="{{labelOptions}}">
      </agm-marker>
      <div [hidden]="latitude">
        <app-gmap (mapReady)="mapRendered($event)"></app-gmap>
      </div>
    </agm-map>
  </div>
</div>

<!--
  altitude : geoMapValues[2],
  direction : geoMapValues[3],
  speed : geoMapValues[4]
-->
