<div class="push-notification-container" [ngClass]="{ open: openNotificationDrawer }" [ngStyle]="{ bottom: notificationContainerBottomPosition }">
  <div class="notification-header">
    Notifications
  </div>
  <div class="notification-body">
    <ng-template [ngIf]="pushNotifications && pushNotifications.length > 0">
      <div class="notification-item" *ngFor="let notification of pushNotifications" (click)="goToOperationAlarm(notification)">
        <p [innerHTML]="notification.body"></p>
      </div>
    </ng-template>
    <div *ngIf="pushNotifications && pushNotifications.length == 0" class="no-notifications">
      <h5>No notifications exists.</h5>
      <img src="assets/images/turn-notifications-off-button.svg" />
    </div>
  </div>
</div>