
.push-notification-container {
  position: fixed;
  top: 68px;
  z-index: 9999;
  border-left: 1px solid #ccc;
  width: 339px;
  right: -340px;
  background: #fff;
  border-top: 1px solid #ccc;
  transition: all 500ms ease;
  @media only screen and (min-device-width: 320px) and (max-device-width: 767px) {
    top: 106px;
  } 
  .notification-header {
    background-color: #56607c;
    padding: 11px 0px;
    color: white;
    text-align: center;
    font-size: 15px;
    line-height: 1;
  }
  .notification-body {
    overflow-y: auto;
    height: calc(100% - 37px);
  }
  .notification-item {
    cursor: pointer;
    padding: 10px 15px;
    border-bottom: 1px solid #ccc;
    border-left: 3px solid transparent;
    transition: all 0.3s ease;
    p {
      margin: 0px;
      p {
        margin: 0px;
      }
    }
    strong {
      color: #2b3141;
    }
    &:hover {
      border-left: 3px solid #5cc732;
      background-color: white;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.34);
    }
  }
  .no-notifications {
    text-align: center;
    padding: 15px;
    img {
      max-width: 30px;
    }
  }
  
}
.push-notification-container.open {
  right: 0;
  box-shadow: 1px 6px 10px rgba(0, 0, 0, 0.34);
  background-color: rgb(238, 243, 246);
  transition: all 500ms ease;
}
