<div class="theme-options">
  <div class="color-options" [ngClass]="{'active' : toggleColorOptions}" (click)="toggleColorOptions = !toggleColorOptions">
    <i class="fa fa-cog" aria-hidden="true"></i>
  </div>
  <div class="color-options-menu" [ngClass]="{'active' : toggleColorOptions}">
    <p *ngFor="let option of themeTypes; let index = index" (click)="openModal($event,index)">{{option}}</p>
  </div>
</div>

<div bsModal #themeModal="bs-modal" class="modal fade theme-options-modal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <ul>
          <li *ngFor="let option of themeTypes; let index = index" (click)="setSelectedOption(index)" [ngClass]="{'active' : selectedThemeTypes[index]}">{{option}}</li>
        </ul>
        <button type="button" class="close pull-right" aria-label="Close" (click)="cancel()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="content-row" *ngIf="selectedBackgroundOption == 'bgColor'">
          <label>Select Color</label>
          <div class="color-picker-dialog" (click)="colorPickerClicked($event)">
            <input [(colorPicker)]="colorOptions.backgroundColor" [cpPosition]="'right'" [style.background]="colorOptions.backgroundColor"
              [value]="colorOptions.backgroundColor" [cpOKButton]="true" [cpCancelButton]="true" [cpSaveClickOutside]="false"
              [cpOKButtonClass]="'btn btn-primary btn-xs'" [cpCancelButtonClass]="'btn btn-cancel btn-xs'" (colorPickerChange)="onChangeColor($event,1)"
            />
          </div>
        </div>

        <div class="content-row" *ngIf="selectedBackgroundOption == 'brColor'">
          <label>Select Color</label>
          <div class="color-picker-dialog" (click)="colorPickerClicked($event)">
            <input [(colorPicker)]="colorOptions.borderColor" [cpPosition]="'right'" [style.background]="colorOptions.borderColor" [value]="colorOptions.borderColor"
              [cpOKButton]="true" [cpCancelButton]="true" [cpSaveClickOutside]="false" [cpOKButtonClass]="'btn btn-primary btn-xs'"
              [cpCancelButtonClass]="'btn btn-cancel btn-xs'" (colorPickerChange)="onChangeColor($event,1)" />
          </div>
        </div>

        <div class="content-row" *ngIf="selectedBackgroundOption == 'gradient'">
          <label>Select First Color</label>
          <div class="color-picker-dialog" (click)="colorPickerClicked($event)">
            <input [(colorPicker)]="colorOptions.gradient.first" [cpPosition]="'right'" [style.background]="colorOptions.gradient.first"
              [value]="colorOptions.gradient.first" [cpOKButton]="true" [cpCancelButton]="true" [cpSaveClickOutside]="false"
              [cpOKButtonClass]="'btn btn-primary btn-xs'" [cpCancelButtonClass]="'btn btn-cancel btn-xs'" (colorPickerChange)="onChangeColor($event,2);"
            />
          </div>
          <label>Select Second Color</label>
          <div class="color-picker-dialog" (click)="colorPickerClicked($event)">
            <input [(colorPicker)]="colorOptions.gradient.second" [cpPosition]="'right'" [style.background]="colorOptions.gradient.second"
              [value]="colorOptions.gradient.second" [cpOKButton]="true" [cpCancelButton]="true" [cpSaveClickOutside]="false"
              [cpOKButtonClass]="'btn btn-primary btn-xs'" [cpCancelButtonClass]="'btn btn-cancel btn-xs'" (colorPickerChange)="onChangeColor($event,2);"
            />
          </div>
        </div>
        <div class="content-row" *ngIf="selectedBackgroundOption == 'gradient'">
          <label>Select Position</label>
          <select [(ngModel)]="selectedPosition" (ngModelChange)="onChangePosition($event)">
            <option *ngFor="let position of positionTypes" [value]="position">{{position}}</option>
          </select>
        </div>
        <div class="content-row" *ngIf="selectedBackgroundOption == 'border'">
          <label>Border Radius</label>
          <input type="number" min="1" step="1" placeholder="Enter Width" [(ngModel)]="colorOptions.borderWidth">
        </div>
        <div class="demo-theme" [ngStyle]="{'background' : colorOptions.backgroundColor, 'border-color' : colorOptions.borderColor, 'border-width' : (colorOptions.borderWidth ? colorOptions.borderWidth+'px' : '1px') }"></div>
      </div>
      <div class="modal-footer">
        <button class="btn btn-tab" (click)="cancel()">Cancel</button>
        <button class="btn btn-tab" (click)="reset()">Reset</button>
        <button class="btn btn-tab" (click)="saveTheme()">Save</button>
      </div>
    </div>
  </div>
</div>