.day-info {
    display: inline-block;
    margin-right: 10px;
    text-align: center;
    font-size: 12px;
    .c-check {
        display: block;
        user-select: none;
        cursor: pointer;
        margin-bottom: 5px;
        width: -webkit-fit-content;
        width: -moz-fit-content;
        width: fit-content;
        input:checked+.checkbox {
            border-color: #ccc;
        }
        input {
            position: absolute;
            z-index: -1;
            width: 0;
            height: 0;
            opacity: 0;
        }
        .checkmark__circle {
            stroke-dasharray: 166;
            stroke-dashoffset: 166;
            stroke-width: 2;
            stroke-miterlimit: 10;
            stroke: #d8d8d8;
            fill: #d8d8d8;
        }
        input:checked+.check-icon .checkmark__circle {
            fill: none;
            stroke: #4daf88;
        }
        .checkmark {
            width: 20px;
            height: 20px;
            border-radius: 50%;
            display: block;
            stroke-width: 2;
            stroke: #fff;
            stroke-miterlimit: 10;
            margin: 10% auto;
            box-shadow: inset 0px 0px 0px #4daf88;
        }
        input:checked+.check-icon .checkmark {
            animation: fill .5s ease-in-out 0s forwards;
        }
        .checkmark__check {
            transform-origin: 50% 50%;
            stroke: #fff;
            stroke-width: 5;
        }
        @keyframes fill {
            100% {
                box-shadow: inset 0px 0px 0px 30px #4daf88;
            }
        }
    }
}

.tooltip {
    position: relative;
    opacity: 1;
    width: auto;
    display: inline-block;
    .t-content {
        position: absolute;
        width: auto; // white-space: pre;
        padding: 5px 10px;
        text-align: center;
        top: 0px;
        transform: translate(-50%, -70%);
        left: 50%;
        top: -12px;
        line-height: 20px;
        border-radius: 3px;
        z-index: 100;
        transition: all 0.2s ease 0s;
        display: block;
        background-color: #c7c7c7;
        opacity: 0;
        font-size: 14px;
        &:after {
            content: '';
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 10px 10px 0 10px;
            border-color: #c7c7c7 transparent transparent transparent;
            position: absolute;
            bottom: -10px;
            left: 50%;
            transform: translate(-50%, 0);
        }
    }
    &:hover {
        .t-content {
            opacity: 1;
            transition: all 0.5s ease 0s;
            transform: translate(-50%, -100%);
        }
    }
}