<div *ngFor="let daySchedule of daySchedules;let index = index" class="day-info">
  <label class="c-check">
    <input class="appInput" type="checkbox" [checked]="selectedDayList[index]" (change)="toggleSelectedDay(index)">
    <div class="check-icon tooltip">
      <svg class="checkmark" viewBox="0 0 52 52" xmlns="http://www.w3.org/2000/svg">
        <circle class="checkmark__circle" cx="26" cy="26" fill="none" r="25"></circle>
        <path class="checkmark__check" d="M14.1 27.2l7.1 7.2 16.7-16.8" fill="none"></path>
      </svg>
      <div class="t-content">{{daySchedule.text}}</div>
    </div>
    <span>{{daySchedule.name}}</span>
  </label>
</div>