.main-container {
  padding: 1px;
  .table-container {
    padding: 1px;
    background: white;
  }
}

.fixed-height {
  padding: 0px;
}

.map-panel {
  background: #efefef;
}

.geo-fencing-main-container {
  .col-md-7,
  .col-md-5,
  .col-md-12 {
    padding: 0;
  }
  .row {
    background-color: white;
  }
}
