<div class="container-fluid geo-fencing-main-container">
  <div class="row">
    <div class="" [ngClass]="{ 'col-md-12': fullscreen.map, 'col-md-7': !fullscreen.map, 'hidden': fullscreen.list }">
      <div class="panel panel-without-bottom map-panel">
        <div class="panel-body fixed-height">
          <app-geofence-map-view [hidden]="minimize.map" (drawingmodeChanged)="drawingmodeChanged($event)"></app-geofence-map-view>
          <div [hidden]="!minimize.map" class="vertical-text">MAP VIEW</div>
        </div>
      </div>
    </div>
    <div class="" [ngClass]="{ 'col-md-12': fullscreen.list, 'col-md-5': !fullscreen.list, 'hidden': fullscreen.map }">
      <div class="panel panel-without-bottom">
        <div class="panel-body fixed-height">
          <app-geofence-table-view [hidden]="minimize.list" [shape]="selectedShape"></app-geofence-table-view>
          <div [hidden]="!minimize.list" class="vertical-text">MAP VIEW</div>
        </div>
      </div>
    </div>
  </div>
</div>
