<div *ngIf="item.id == chartType.IMAGE">
  <div class="image-upload">
    <input type="file" id="uploadLogo{{ItemIndex}}" style="display:none" (change)="onFileChange($event)" />
    <div class="content-center upload-logo">
      <img src="assets/images/logo.png" *ngIf="!uploadedImages[ItemIndex]">
      <img id="thumbnail{{ItemIndex}}" *ngIf="uploadedImages[ItemIndex]">
      <button (click)="uploadLogo()">Upload Logo</button>
    </div>
  </div>
</div>

<div class="table-data" *ngIf="item.id == 'table'" id="table{{ItemIndex}}">
  <table>
    <thead>
      <tr [ngGrid]="gridConfig">
        <th draggable [dragData]="head" id="tHead-{{head.tableIndex}}-{{head.assetIndex}}-{{head.pointIndex}}" droppable (onDrop)="onTableHeaderDrop($event)"
          (mousedown)="dragDropTableHeader($event, head)" *ngFor="let head of selectedColumns[ItemIndex]; let childIndex = index">{{head.pointName}}
          <i class="glyphicon glyphicon-trash" (click)="removeTableHeader(head, ItemIndex, childIndex)"></i>
        </th>
      </tr>
    </thead>
  </table>
  <div class="content-center drag-drop-point-header" *ngIf="!selectedColumns[ItemIndex] || selectedColumns[ItemIndex].length == 0">
    Drag and drop points here to make as table header...
  </div>
</div>

<div class="pie-chart" *ngIf="item.id == chartType.PIECHART && !item.isIconView">
  <div class="chart-layer" id="pieChartLayer-{{ItemIndex}}"></div>
  <div class="point-name-edit" *ngIf="item.isDataAvailable">
    <i class="glyphicon glyphicon-option-vertical" (click)="toggleEditOptionsExpands()"></i>
    <div class="point-name-list" *ngIf="editOptionExpand">
      <p *ngFor="let point of item.config.pieChartData.data; let editIndex = index">
        <i class="glyphicon glyphicon-trash" (click)="removePointNameFromChart(editIndex,item.id)"></i>
        <span>{{point.name}}</span>
      </p>
    </div>
  </div>
  <app-pie-chart [data]="item.config.pieChartData.data" [chartInfo]="item.config.pieChartData.pieChartInfo"></app-pie-chart>
</div>

<div class="content-center" *ngIf="item.id == chartType.BARCHART">
  <div class="chart-layer" id="barChartLayer-{{ItemIndex}}"></div>
  <!--<pre>{{item.config['barChartData'].barChartInfo | json}}</pre>-->
  <app-bar-chart [data]="item.config.barChartData.data" [chartInfo]="item.config['barChartData'].barChartInfo"></app-bar-chart>
</div>

<div class="line-chart content-center" *ngIf="item.id == chartType.LINECHART">
    <app-line-chart [result]="item.config.linechartData.data" [chartInfo]="item.config.linechartData.lineChartInfo"></app-line-chart>
</div>

<div class="content-center" *ngIf="item.id == chartType.CURVECHART">
  <app-line-chart [result]="item.config.linechartData.data" [chartInfo]="item.config.linechartData.lineChartInfo"></app-line-chart>
</div>

<div class="content-center" *ngIf="item.id == chartType.BUBBLECHART">
  <!--<pre>{{item.config.bubblechartData.bubbleChartInfo | json}}</pre>-->
  <app-bubble-chart [data]="item.config.bubblechartData.data" [chartInfo]="item.config.bubblechartData.bubbleChartInfo"></app-bubble-chart>
</div>

<div class="content-center" *ngIf="item.id == chartType.AREAFILLEDCHART">
  <app-area-filled-chart [data]="item.config.areafilledchartData.data" [chartInfo]="item.config.areafilledchartData.areaFilledChartInfo"></app-area-filled-chart>
</div>

<div class="content-center" *ngIf="item.id == chartType.THERMOMETER">
  <app-thermo-chart></app-thermo-chart>
</div>

<div class="content-center" *ngIf="item.id == chartType.GUAGE">
  <app-half-gauge></app-half-gauge>
</div>
