<div id="mySidenav" class="sidenav" [appSidenavMenu]="isOpened">
  <ul class="side-menu">
    <li class="hamburg-icon">
      <a href="javascript:void(0);">
        <span class="material-icons" (click)="toggleMenu()">menu</span>
      </a>
    </li>
    <li routerLinkActive="active">
      <a routerLink="../admin/feature" href="javascript:void(0);" (click)="this.isOpened = false;">
        <span class="svg-holder">
          <svg-icon src="assets/icons/icon_Dashboard.svg#Dashboard"></svg-icon>
        </span>
        <span class="title">{{'module_dashboard' | translate}}</span>
      </a>
    </li>
    <li *ngFor="let data of sidebar" routerLinkActive="active">
      <a href="javascript:void(0);" routerLink="../{{data.url}}" (click)="changeRoute(data)">
        <span class="svg-holder">
          <svg-icon src="{{data.imageIcon}}"></svg-icon>
        </span>
        <span class="title" >{{ data.name}}</span>
      </a>
    </li>
  </ul>
</div>

<div id="main" [appSidenavContent]="isOpened" (click)="isOpened ? this.isOpened=false: ''">
  <app-header [isAdminModule]="isAdminModule" (openEmailSummaryDrawer)="showEmailSummary($event)" [(pushNotification)]="pushNotification"
    [emailSummaryCount]="eSummaryCount" (openNotificationDrawer)="showPushNotification($event)">
  </app-header>
  <div class="container-fluid no-padding" [appAdminViewStructure]="isAdminModule">
    <router-outlet></router-outlet>
  </div>
  <app-footer [isAdminModule]="isAdminModule"></app-footer>
  <app-push-notification-list [(openNotificationDrawer)]="showNotification" (setPushNotificationCount)="setPushNotificationCount($event)">
  </app-push-notification-list>
  <app-email-summary [showEmailSummary]="showESummary" (emailSummaryCount)="emailSummaryCount($event)"></app-email-summary>
  <div class="overlay"></div>
  <div class="loading-img" *ngIf="isLoading">
    <img src="assets/images/loading.svg">
  </div>
  <div class="loading-overlay" *ngIf="isLoading"></div>
</div>
