<div [ngStyle]="{ minHeight: minInnerHeight + 'px' }" class="panel panel-app panel-without-bottom geo-fencing-list-container">
  <div class="panel-body map-table-container">
    <div class="table-responsive">
      <table class="table app-table" id="geoCreateFenceTable" [mfData]="geoFenceAvailable" #mf="mfDataTable" [mfRowsOnPage]="paginationInfo.numberRowPerPage"
        [(mfSortBy)]="paginationInfo.sortBy" [(mfSortOrder)]="paginationInfo.sortOrder" *ngIf="!isAddNew">
        <thead>
          <tr class="geofence-inline">
            <th width="20%">
              <mfDefaultSorter class="sorter" by="name">{{"generic_name" | translate}}</mfDefaultSorter>
            </th>
            <th width="20%">
              <mfDefaultSorter class="sorter" by="shape">{{"generic_shape" | translate}}</mfDefaultSorter>
            </th>
            <th width="30%">
              <mfDefaultSorter class="sorter" by="tCreatedOn">{{"generic_created_on" | translate}}</mfDefaultSorter>
            </th>
            <th width="15%" class="center">
              <mfDefaultSorter class="sorter" by="status">{{"generic_status" | translate}}</mfDefaultSorter>
            </th>
            <th width="15%" class="center">
              <img src="assets/images/search.svg" *ngIf="geoFenceAvailable.length != 0" class="svg-icon search-svg-icon" (click)="setToggleFilterSearch()"
              />
              <li class="glyphicon glyphicon-plus geofence-add-icon" (click)="toggleAddForm(true)"></li>
              <div class="window-max-min-handler no-padding">
                <i class="glyphicon pull-right resize-icons" *ngIf="!minimize.list" (click)="fullscreen.list = !fullscreen.list; fullscreen.map = false;changeMinMax();"
                  [ngClass]="{'glyphicon-resize-full': !fullscreen.list , 'glyphicon-resize-small':fullscreen.list}"></i>
              </div>
            </th>
          </tr>
          <app-table-filter *ngIf="toggleFilterSearch" [widthData]="filterWidthData" (notifyChange)="updateData($event)" [(filterValues)]="filterValues"
            [(data)]="geoFenceAvailable"></app-table-filter>
        </thead>
        <tbody id="mainBodyData" [ngStyle]="(geoFenceAvailable.length == 0 && {'border' : 'none'}) || (toggleFilterSearch && {'margin-top': '40px'})"
          class="main-body" [style.height.px]="toggleFilterSearch ? mainBodyHeight - 40 : mf.data.length > 0 ? mainBodyHeight : 0">
          <ng-template ngFor let-item [ngForOf]="mf.data" let-i="index">
            <tr class="geofence-inline" [ngStyle]="{ 'border-color': item.status == 1 ? '#94d67d' : '#6e7488'}">
              <td width="80%">
                <div class="top-details">
                  <div class="item-name" [ngStyle]="{ 'color': item.status == 1 ? '#94d67d' : '#6e7488'}">{{ item.name }}</div>
                  <div class="item-shape">
                    <img src="assets/images/{{ item.shape == 'polygon' ? 'polygon.png' : 'circle.svg' }}" />
                  </div>
                </div>
                <div>{{ item.createdOn | convertToLocalDate}}</div>
              </td>
              <td width="20%" class="icon-area ">

                <div class="item-right">
                  <img class="dashboardTileGeofence" src="assets/images/Dashboard tile - Geofence.svg" />
                  <div class="ribbon">
                    <span class="fa fa-edit" (click)="editItem(item)"></span>
                    <span class="fa fa-trash" (click)="selectedGeoFence=item;confirmModal.show();"></span>
                  </div>
                </div>
              </td>
            </tr>
          </ng-template>
        </tbody>
        <tr *ngIf="geoFenceAvailable.length > 0" id="geoMfBootstrapPaginator" [ngStyle]="geoFenceAvailable.length == 0 && {'border' : 'none'}">
          <td colspan="5" class="pagination-footer" [ngClass]="{'pagination-td' : !fullscreen.list}">
            <mfBootstrapPaginator [rowsOnPageSet]="[geoFenceAvailable.length+0.1,15,25,50,500]"></mfBootstrapPaginator>
          </td>
        </tr>
      </table>
      <div class="geofence-info">
        <div class="geofence-info-header" *ngIf="isAddNew">
          <span>Create Geofence</span>
          <div class="geofence-info-header-buttons">
            <button class="btn btn-tab" type="button" (click)="cancelGeofence()">Cancel</button>
            <button class="btn btn-tab" type="button" (click)="saveGeofence()" [disabled]="!geofenceForm.valid">{{newGeofence.geofenceId ? 'Update' : 'Save'}}</button>
          </div>
        </div>
        <div class="col-lg-12 geofence-row" *ngIf="isAddNew">
          <form [formGroup]="geofenceForm">
            <div class="geo-fence-create">
              <div class="geo-progress">
                <ul class="geo-progressbar">
                  <li [ngClass]="{'done': (steps[2] || steps[1]), 'active': steps[0]}">
                    <span>Step 1</span>
                  </li>
                  <li [ngClass]="{'done' : steps[2] , 'active' : steps[1]}">
                    <span>Step 2</span>
                  </li>
                  <li [ngClass]="{'active' : steps[2]}">
                    <span>Step 3</span>
                  </li>
                </ul>
                <div class="geo-items">
                  <div class="geo-item" *ngIf="steps[0]">
                    <div class="content form">
                      <div class="group single" [ngClass]="{'is-error' : geofenceForm.get('name').errors && (geofenceForm.get('name').dirty || geofenceForm.get('name').touched)}">
                        <div class="input geo-tooltip">
                          <input type="text" placeholder="Name*" formControlName="name" />
                          <div class="t-content">{{"generic_name" | translate}}</div>
                        </div>
                        <div *ngIf="geofenceForm.get('name').errors && (geofenceForm.get('name').dirty || geofenceForm.get('name').touched)" class="custom-errors">
                          <div [hidden]="!geofenceForm.get('name').errors.required">
                            Name is required.
                          </div>
                          <div [hidden]="!geofenceForm.get('name').errors.minlength">
                            Name must be at least 2 characters long.
                          </div>
                          <div [hidden]="!geofenceForm.get('name').errors.maxlength">
                            Name cannot be more than 64 characters long.
                          </div>
                          <div [hidden]="!geofenceForm.get('name').errors.pattern">
                            Please enter valid name
                          </div>
                        </div>
                      </div>
                      <div class="group geo-fence-status">
                        <label class="status-label">{{"generic_status" | translate}}</label>
                        <div class="status-checkbox">
                          <div class="checkbox">
                            <label class="c-check">
                              <input class="appInput" formControlName="activeStatus" (change)="changeGeoFenceStatus('active')" type="checkbox" value="online">
                              <div class="check-icon">
                                <svg class="checkmark" viewBox="0 0 52 52" xmlns="http://www.w3.org/2000/svg">
                                  <circle class="checkmark__circle" cx="26" cy="26" fill="none" r="25"></circle>
                                  <path class="checkmark__check" d="M14.1 27.2l7.1 7.2 16.7-16.8" fill="none"></path>
                                </svg>
                              </div>
                              <span>{{"generic_active" | translate}}</span>
                            </label>
                          </div>
                        </div>
                        <div class="status-checkbox">
                          <div class="checkbox">
                            <label class="c-check">
                              <input class="appInput" formControlName="inActiveStatus" (change)="changeGeoFenceStatus('inactive')" type="checkbox" value="online">
                              <div class="check-icon">
                                <svg class="checkmark" viewBox="0 0 52 52" xmlns="http://www.w3.org/2000/svg">
                                  <circle class="checkmark__circle" cx="26" cy="26" fill="none" r="25"></circle>
                                  <path class="checkmark__check" d="M14.1 27.2l7.1 7.2 16.7-16.8" fill="none"></path>
                                </svg>
                              </div>
                              <span>{{"generic_inactive" | translate}}</span>
                            </label>
                          </div>
                        </div>
                      </div>
                      <div class="group">
                        <div class="input geo-dropdown geo-tooltip" [ngClass]="{'is-error' : geofenceForm.get('host').errors && (geofenceForm.get('host').dirty || geofenceForm.get('host').touched)}">
                          <select formControlName="host">
                            <option value="">{{"generic_host" | translate}}*</option>
                            <option [value]="host" *ngFor="let host of availableHosts">{{host}}</option>
                          </select>
                          <div class="t-content">Host</div>
                          <div *ngIf="geofenceForm.get('host').errors && (geofenceForm.get('host').dirty || geofenceForm.get('host').touched)" class="custom-errors">Please select host.</div>
                        </div>
                        <div class="input geo-dropdown geo-tooltip" [ngClass]="{'is-error' : geofenceForm.get('host').errors && (geofenceForm.get('host').dirty || geofenceForm.get('host').touched)}">
                          <select name="shape" formControlName="shape">
                            <option *ngFor="let shape of availableShape" [value]="shape">{{shape}}</option>
                          </select>
                          <div class="t-content">{{"generic_shape" | translate}}</div>
                        </div>
                      </div>
                      <div class="group single" [ngClass]="{'is-error' : geofenceForm.get('radius').errors && (geofenceForm.get('radius').dirty || geofenceForm.get('radius').touched)}">
                        <div class="input geo-radius geo-tooltip">
                          <input type="number" placeholder="Radius" name="radius" formControlName="radius" (ngModelChange)="onRadiusChange($event)">
                          <div *ngIf="geofenceForm.get('radius').errors && (geofenceForm.get('radius').dirty || geofenceForm.get('radius').touched)"
                            class="custom-errors">
                            <div [hidden]="!geofenceForm.get('radius').errors.required">
                              Radius can not be empty.
                            </div>
                            <div [hidden]="!geofenceForm.get('radius').errors.min">
                              Please enter valid radius.
                            </div>
                          </div>
                          <div class="t-content">{{"generic_radius" | translate}}</div>
                          <div class="unit-as-radius">m</div>
                        </div>
                      </div>
                      <div class="group single">
                        <div class="input">
                          <input type="text" class="readonly" placeholder="{{placeholder}}" name="boundary" readonly formControlName="geoCoordinates">
                        </div>
                      </div>
                      <div class="bottom">
                        <button (click)="cancelGeofence()">Cancel</button>
                        <button (click)="steps = []; steps[1] = true" [disabled]="geofenceForm.get('name').errors || geofenceForm.get('host').errors">Next
                          <img class="next" src="assets/images/right-arrow.svg">
                        </button>
                      </div>
                    </div>
                  </div>
                  <div class="geo-item" *ngIf="steps[1]">
                    <div class="content form">
                      <div class="group">
                        <div class="input input-category geo-tooltip" [ngClass]="{'is-error' : geofenceForm.get('category').errors && (geofenceForm.get('category').dirty || geofenceForm.get('category').touched)}">
                          <input type="text" placeholder="Category*" class="half" formControlName="category" />
                          <div class="t-content">{{"generic_category" | translate}}</div>
                          <div *ngIf="geofenceForm.get('category').errors && (geofenceForm.get('category').dirty || geofenceForm.get('category').touched)"
                            class="custom-errors">
                            Category required.
                          </div>
                        </div>
                        <div class="input geo-dropdown geo-tooltip">
                          <app-native-color-picker [selectedColor]="geofenceForm.value['color']" (onColorChange)="onColorChange($event)"></app-native-color-picker>
                          <div class="t-content">Color</div>
                        </div>
                      </div>
                      <div class="group single" [ngClass]="{'is-error' : geofenceForm.get('selectedAssets').value.length == 0  && (geofenceForm.get('selectedAssets').dirty || geofenceForm.get('selectedAssets').touched)}">
                        <div class="input geo-tooltip">
                          <angular2-multiselect appUnselectOptionMultiselect id="geoMultiselectAsset" (onUnselectAll)="onUnselectAll($event)" [data]="availableAssets"
                            [(ngModel)]="selectedAssets" formControlName="selectedAssets" name="selectedAssetsSelect">
                          </angular2-multiselect>
                          <div class="t-content">{{"generic_assets" | translate}}</div>
                        </div>
                        <div *ngIf="geofenceForm.get('selectedAssets').value.length == 0  && (geofenceForm.get('selectedAssets').dirty || geofenceForm.get('selectedAssets').touched)"
                          class="custom-errors">
                          Please select atleast one asset.
                        </div>
                      </div>
                      <div class="group single">
                        <div class="input geo-tooltip">
                          <input type="text" placeholder="Tags" formControlName="tags" />
                          <div class="t-content">{{"generic_tags" | translate}}</div>
                        </div>
                      </div>
                      <div class="group day-schedule" [ngClass]="{'is-error' : geofenceForm.get('scheduleDayOfWeek').value.length == 0 && isDirtyDaySchedule}">
                        <label class="days-label">{{"generic_day_schedule" | translate}}</label>
                        <div class="days">
                          <div class="checkbox">
                            <app-day-scheduler (notifyChange)="selectedDayNotifyChange($event)" [data]="geofenceForm.get('scheduleDayOfWeek').value"></app-day-scheduler>
                          </div>
                        </div>
                        <div *ngIf="geofenceForm.get('scheduleDayOfWeek').value.length == 0 && isDirtyDaySchedule" class="custom-errors">
                          Please select atleast one day.
                        </div>
                      </div>
                      <div class="group withLabel exclude-days geo-tooltip">
                        <label>{{"generic_exclude_days" | translate}}</label>
                        <div class="data">
                          <app-exclude-days [excludedDays]="selectedExcludedDays" (selected)="selectedExcludeDays($event)"></app-exclude-days>
                        </div>
                        <div class="t-content">{{"generic_exclude_days" | translate}}</div>
                      </div>
                      <div class="group all-days">
                        <div class="checkbox">
                          <label class="c-check">
                            <input class="appInput" name="073001d5-cc10-c523-85e9-e849e6452463" type="checkbox" value="online" (change)="toggleAllDays($event)">
                            <div class="check-icon">
                              <svg class="checkmark" viewBox="0 0 52 52" xmlns="http://www.w3.org/2000/svg">
                                <circle class="checkmark__circle" cx="26" cy="26" fill="none" r="25"></circle>
                                <path class="checkmark__check" d="M14.1 27.2l7.1 7.2 16.7-16.8" fill="none"></path>
                              </svg>
                            </div>
                            <span>{{"generic_alldays" | translate}}</span>
                          </label>
                        </div>
                      </div>
                      <div class="group withLabel select-time">
                        <label>{{"generic_time_schedule" | translate}}</label>
                        <div class="data">
                          <div>
                            <select [ngClass]="{'disabledTime' : isActiveAllDays}" formControlName="startTimeSchedule" (ngModelChange)="onStartTimeModelChange($event)">
                              <option value="">{{"generic_start_time" | translate}}</option>
                              <option startTimeOptionsDisable [optionValue]="time.id" [optionReset]="startTimeReset" [timeRange]="startTimeDisableRange"
                                [value]="time.itemName" *ngFor="let time of startTimeList">{{time.itemName}}</option>
                            </select>
                            <div *ngIf="geofenceForm.get('startTimeSchedule').errors && (geofenceForm.get('startTimeSchedule').dirty || geofenceForm.get('startTimeSchedule').touched)"
                              class="custom-errors">Please select start time.</div>
                          </div>
                          <div>
                            <select [ngClass]="{'disabledTime' : isActiveAllDays}" formControlName="endTimeSchedule" (ngModelChange)="onEndTimeModelChange($event)">
                              <option value="">{{"generic_end_time" | translate}}</option>
                              <option endTimeSelectOptionsDisable [optionValue]="time.id" [optionReset]="endTimeReset" [timeRange]="endTimeDisableRange"
                                [value]="time.itemName" *ngFor="let time of endTimeList">{{time.itemName}}</option>
                            </select>
                            <div *ngIf="geofenceForm.get('endTimeSchedule').errors && (geofenceForm.get('endTimeSchedule').dirty || geofenceForm.get('endTimeSchedule').touched)"
                              class="custom-errors">Please select end time.</div>
                          </div>
                        </div>
                      </div>
                      <div class="bottom">
                        <button (click)="steps = []; steps[0] = true">
                          <img class="previous" src="assets/images/left-arrow.svg">{{"generic_previous" | translate}}
                        </button>
                        <button [disabled]="geofenceForm.get('category').errors ||
                        geofenceForm.get('selectedAssets').value.length == 0 ||
                        geofenceForm.get('scheduleDayOfWeek').value.length == 0 ||
                        (!isActiveAllDays && (geofenceForm.get('startTimeSchedule').errors ||
                        geofenceForm.get('endTimeSchedule').errors))" (click)="steps = [];steps[2]=true;">Next
                          <img class="next" src="assets/images/right-arrow.svg">
                        </button>
                      </div>
                    </div>
                  </div>
                  <div class="geo-item third-step" *ngIf="steps[2]">
                    <div class="content form">
                      <div class="group multiInput">
                        <div class="input" formGroupName="onMaxSpeed">
                          <div class="checkbox">
                            <label class="c-check">
                              <input class="appInput" formControlName="isMaxSpeed" (change)="onCheckChange('onMaxSpeed','isMaxSpeed')" type="checkbox">
                              <div class="check-icon">
                                <svg class="checkmark" viewBox="0 0 52 52" xmlns="http://www.w3.org/2000/svg">
                                  <circle class="checkmark__circle" cx="26" cy="26" fill="none" r="25"></circle>
                                  <path class="checkmark__check" d="M14.1 27.2l7.1 7.2 16.7-16.8" fill="none"></path>
                                </svg>
                              </div>
                              <span>{{"geo_max_speed_alert" | translate}}</span>
                            </label>
                          </div>
                          <div class="input-group" *ngIf="geofenceForm.value.onMaxSpeed.isMaxSpeed">
                            <div class="input-group-text geo-tooltip" [ngClass]="{'is-error' : geofenceForm.get('onMaxSpeed.maxSpeedAlertDesc').errors && (geofenceForm.get('onMaxSpeed.maxSpeedAlertDesc').dirty || geofenceForm.get('onMaxSpeed.maxSpeedAlertDesc').touched)}">
                              <input type="text" placeholder="Alert Desc*" name="maxSpeedAlertDesc" formControlName="maxSpeedAlertDesc">
                              <div *ngIf="geofenceForm.get('onMaxSpeed.maxSpeedAlertDesc').errors && (geofenceForm.get('onMaxSpeed.maxSpeedAlertDesc').dirty || geofenceForm.get('onMaxSpeed.maxSpeedAlertDesc').touched)"
                                class="custom-errors">{{"co_desc_req" | translate}}</div>
                              <div class="t-content">{{"geo_description" | translate}}</div>
                            </div>
                            <div class="input-group-text input-group-text-last geo-tooltip" [ngClass]="{'is-error' : geofenceForm.get('onMaxSpeed.maxSpeedAlertLimit').errors && (geofenceForm.get('onMaxSpeed.maxSpeedAlertLimit').dirty || geofenceForm.get('onMaxSpeed.maxSpeedAlertLimit').touched)}">
                              <input type="number" placeholder="Alert Limit*" name="maxSpeedAlertLimit" formControlName="maxSpeedAlertLimit">
                              <div *ngIf="geofenceForm.get('onMaxSpeed.maxSpeedAlertLimit').errors && (geofenceForm.get('onMaxSpeed.maxSpeedAlertLimit').dirty || geofenceForm.get('onMaxSpeed.maxSpeedAlertLimit').touched)"
                                class="custom-errors">
                                <div [hidden]="!geofenceForm.get('onMaxSpeed.maxSpeedAlertLimit').errors.required">
                                  Value is required.
                                </div>
                                <div [hidden]="!geofenceForm.get('onMaxSpeed.maxSpeedAlertLimit').errors.min">
                                  Value must not be below 5.
                                </div>
                                <div [hidden]="!geofenceForm.get('onMaxSpeed.maxSpeedAlertLimit').errors.max">
                                  Value must not be above 100.
                                </div>
                              </div>
                              <div class="t-content">{{"geo_limit" | translate}}</div>
                            </div>
                          </div>
                        </div>
                        <div class="input" formGroupName="onMinSpeed">
                          <div class="checkbox">
                            <label class="c-check">
                              <input type="checkbox" name="onMinSpeed" formControlName="isMinSpeed" (change)="onCheckChange('onMinSpeed','isMinSpeed')">
                              <div class="check-icon">
                                <svg class="checkmark" viewBox="0 0 52 52" xmlns="http://www.w3.org/2000/svg">
                                  <circle class="checkmark__circle" cx="26" cy="26" fill="none" r="25"></circle>
                                  <path class="checkmark__check" d="M14.1 27.2l7.1 7.2 16.7-16.8" fill="none"></path>
                                </svg>
                              </div>
                              <span>{{"geo_min_speed_alert" | translate}}</span>
                            </label>
                          </div>
                          <div class="input-group" *ngIf="geofenceForm.value.onMinSpeed.isMinSpeed">
                            <div class="input-group-text geo-tooltip" [ngClass]="{'is-error' : geofenceForm.get('onMinSpeed.minSpeedAlertDesc').errors && (geofenceForm.get('onMinSpeed.minSpeedAlertDesc').dirty || geofenceForm.get('onMinSpeed.minSpeedAlertDesc').touched)}">
                              <input type="text" placeholder="Alert Desc*" name="minSpeedAlertDesc" formControlName="minSpeedAlertDesc">
                              <div *ngIf="geofenceForm.get('onMinSpeed.minSpeedAlertDesc').errors && (geofenceForm.get('onMinSpeed.minSpeedAlertDesc').dirty || geofenceForm.get('onMinSpeed.minSpeedAlertDesc').touched)"
                                class="custom-errors">{{"co_desc_req" | translate}}</div>
                              <div class="t-content">{{"geo_description" | translate}}</div>
                            </div>
                            <div class="input-group-text input-group-text-last geo-tooltip" [ngClass]="{'is-error' : geofenceForm.get('onMinSpeed.minSpeedAlertLimit').errors && (geofenceForm.get('onMinSpeed.minSpeedAlertLimit').dirty || geofenceForm.get('onMinSpeed.minSpeedAlertLimit').touched)}">
                              <input type="number" placeholder="Alert Limit*" name="minSpeedAlertLimit" formControlName="minSpeedAlertLimit">
                              <div *ngIf="geofenceForm.get('onMinSpeed.minSpeedAlertLimit').errors && (geofenceForm.get('onMinSpeed.minSpeedAlertLimit').dirty || geofenceForm.get('onMinSpeed.minSpeedAlertLimit').touched)"
                                class="custom-errors">
                                <div [hidden]="!geofenceForm.get('onMinSpeed.minSpeedAlertLimit').errors.required">
                                  Value is required.
                                </div>
                                <div [hidden]="!geofenceForm.get('onMinSpeed.minSpeedAlertLimit').errors.min">
                                  Value must not be below 5.
                                </div>
                                <div [hidden]="!geofenceForm.get('onMinSpeed.minSpeedAlertLimit').errors.max">
                                  Value must not be above 100.
                                </div>
                              </div>
                              <div class="t-content">{{"geo_limit" | translate}}</div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="group multiInput">
                        <div class="input" formGroupName="onMaxTimeAlert">
                          <div class="checkbox">
                            <label class="c-check">
                              <input type="checkbox" class="appInput" name="onMaxTimeAlert" formControlName="isMaxTimeAlert" (change)="onCheckChange('onMaxTimeAlert','isMaxTimeAlert')">
                              <div class="check-icon">
                                <svg class="checkmark" viewBox="0 0 52 52" xmlns="http://www.w3.org/2000/svg">
                                  <circle class="checkmark__circle" cx="26" cy="26" fill="none" r="25"></circle>
                                  <path class="checkmark__check" d="M14.1 27.2l7.1 7.2 16.7-16.8" fill="none"></path>
                                </svg>
                              </div>
                              <span>{{"geo_max_stay_time_alert" | translate}}</span>
                            </label>
                          </div>
                          <div class="input-group" *ngIf="geofenceForm.value.onMaxTimeAlert.isMaxTimeAlert">
                            <div class="input-group-text geo-tooltip" [ngClass]="{'is-error' : geofenceForm.get('onMaxTimeAlert.maxStayTimeAlertDesc').errors && (geofenceForm.get('onMaxTimeAlert.maxStayTimeAlertDesc').dirty || geofenceForm.get('onMaxTimeAlert.maxStayTimeAlertDesc').touched)}">
                              <input type="text" placeholder="Alert Desc*" name="maxStayTimeAlertDesc" formControlName="maxStayTimeAlertDesc">
                              <div *ngIf="geofenceForm.get('onMaxTimeAlert.maxStayTimeAlertDesc').errors && (geofenceForm.get('onMaxTimeAlert.maxStayTimeAlertDesc').dirty || geofenceForm.get('onMaxTimeAlert.maxStayTimeAlertDesc').touched)"
                                class="custom-errors">{{"co_desc_req" | translate}}</div>
                              <div class="t-content">{{"geo_description" | translate}}</div>
                            </div>
                            <div class="input-group-text input-group-text-last geo-tooltip" [ngClass]="{'is-error' : geofenceForm.get('onMaxTimeAlert.maxStayTimeAlertSeconds').errors && (geofenceForm.get('onMaxTimeAlert.maxStayTimeAlertSeconds').dirty || geofenceForm.get('onMaxTimeAlert.maxStayTimeAlertSeconds').touched)}">
                              <input type="number" placeholder="Alert Seconds*" name="maxStayTimeAlertSeconds" formControlName="maxStayTimeAlertSeconds">
                              <div *ngIf="geofenceForm.get('onMaxTimeAlert.maxStayTimeAlertSeconds').errors && (geofenceForm.get('onMaxTimeAlert.maxStayTimeAlertSeconds').dirty || geofenceForm.get('onMaxTimeAlert.maxStayTimeAlertSeconds').touched)"
                                class="custom-errors">
                                <div [hidden]="!geofenceForm.get('onMaxTimeAlert.maxStayTimeAlertSeconds').errors.required">
                                  Value is required.
                                </div>
                                <div [hidden]="!geofenceForm.get('onMaxTimeAlert.maxStayTimeAlertSeconds').errors.min">
                                  Value must not be below 5.
                                </div>
                                <div [hidden]="!geofenceForm.get('onMaxTimeAlert.maxStayTimeAlertSeconds').errors.max">
                                  Value must not be above 120.
                                </div>
                              </div>
                              <div class="t-content">{{"geo_seconds" | translate}}</div>
                            </div>
                          </div>
                        </div>
                        <div class="input" formGroupName="onMinStayTime">
                          <div class="checkbox">
                            <label class="c-check">
                              <input type="checkbox" class="appInput" name="onMinStayTime" formControlName="isMinStayTime" (change)="onCheckChange('onMinStayTime','isMinStayTime')">
                              <div class="check-icon">
                                <svg class="checkmark" viewBox="0 0 52 52" xmlns="http://www.w3.org/2000/svg">
                                  <circle class="checkmark__circle" cx="26" cy="26" fill="none" r="25"></circle>
                                  <path class="checkmark__check" d="M14.1 27.2l7.1 7.2 16.7-16.8" fill="none"></path>
                                </svg>
                              </div>
                              <span>{{"geo_min_stay_time_alert" | translate}}</span>
                            </label>
                          </div>
                          <div class="input-group" *ngIf="geofenceForm.value.onMinStayTime.isMinStayTime">
                            <div class="input-group-text geo-tooltip" [ngClass]="{'is-error' : geofenceForm.get('onMinStayTime.minStayTimeAlertDesc').errors && (geofenceForm.get('onMinStayTime.minStayTimeAlertDesc').dirty || geofenceForm.get('onMinStayTime.minStayTimeAlertDesc').touched)}">
                              <input type="text" placeholder="Alert Desc*" name="minStayTimeAlertDesc" formControlName="minStayTimeAlertDesc">
                              <div *ngIf="geofenceForm.get('onMinStayTime.minStayTimeAlertDesc').errors && (geofenceForm.get('onMinStayTime.minStayTimeAlertDesc').dirty || geofenceForm.get('onMinStayTime.minStayTimeAlertDesc').touched)"
                                class="custom-errors">{{"co_desc_req" | translate}}</div>
                              <div class="t-content">{{"geo_description" | translate}}</div>
                            </div>
                            <div class="input-group-text input-group-text-last geo-tooltip" [ngClass]="{'is-error' : geofenceForm.get('onMinStayTime.minStayTimeAlertSeconds').errors && (geofenceForm.get('onMinStayTime.minStayTimeAlertSeconds').dirty || geofenceForm.get('onMinStayTime.minStayTimeAlertSeconds').touched)}">
                              <input type="number" placeholder="Alert Seconds*" name="minStayTimeAlertSeconds" formControlName="minStayTimeAlertSeconds">
                              <div *ngIf="geofenceForm.get('onMinStayTime.minStayTimeAlertSeconds').errors && (geofenceForm.get('onMinStayTime.minStayTimeAlertSeconds').dirty || geofenceForm.get('onMinStayTime.minStayTimeAlertSeconds').touched)"
                                class="custom-errors">
                                <div [hidden]="!geofenceForm.get('onMinStayTime.minStayTimeAlertSeconds').errors.required">
                                  Value is required.
                                </div>
                                <div [hidden]="!geofenceForm.get('onMinStayTime.minStayTimeAlertSeconds').errors.min">
                                  Value must not be below 5.
                                </div>
                                <div [hidden]="!geofenceForm.get('onMinStayTime.minStayTimeAlertSeconds').errors.max">
                                  Value must not be above 120.
                                </div>
                              </div>
                              <div class="t-content">{{"geo_description" | translate}}</div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="group multiInput geofence-entrance-exit">
                        <div class="input" formGroupName="onEntranceAlert">
                          <div class="checkbox">
                            <label class="c-check">
                              <input type="checkbox" class="appInput" name="entranceAlert" formControlName="isEntranceAlert" (change)="onCheckChange('onEntranceAlert','isEntranceAlert')">
                              <div class="check-icon">
                                <svg class="checkmark" viewBox="0 0 52 52" xmlns="http://www.w3.org/2000/svg">
                                  <circle class="checkmark__circle" cx="26" cy="26" fill="none" r="25"></circle>
                                  <path class="checkmark__check" d="M14.1 27.2l7.1 7.2 16.7-16.8" fill="none"></path>
                                </svg>
                              </div>
                              <span>{{"geo_geofence_entrance_alert" | translate}}</span>
                            </label>
                          </div>
                          <div class="input-group" *ngIf="geofenceForm.value.onEntranceAlert.isEntranceAlert">
                            <div class="input-group-text geo-tooltip" [ngClass]="{'is-error' : geofenceForm.get('onEntranceAlert.onEntranceAlertDelay').errors && (geofenceForm.get('onEntranceAlert.onEntranceAlertDelay').dirty || geofenceForm.get('onEntranceAlert.onEntranceAlertDelay').touched)}">
                              <input type="number" name="onEntranceAlertDelay" placeholder="Delay*" formControlName="onEntranceAlertDelay">
                              <div *ngIf="geofenceForm.get('onEntranceAlert.onEntranceAlertDelay').errors && (geofenceForm.get('onEntranceAlert.onEntranceAlertDelay').dirty || geofenceForm.get('onEntranceAlert.onEntranceAlertDelay').touched)"
                                class="custom-errors">
                                <div [hidden]="!geofenceForm.get('onEntranceAlert.onEntranceAlertDelay').errors.required">
                                  Value is required.
                                </div>
                                <div [hidden]="!geofenceForm.get('onEntranceAlert.onEntranceAlertDelay').errors.min">
                                  Value must not be below 0.
                                </div>
                                <div [hidden]="!geofenceForm.get('onEntranceAlert.onEntranceAlertDelay').errors.max">
                                  Value must not be above 120.
                                </div>
                              </div>
                              <div class="t-content">{{"generic_delay" |translate}}</div>
                            </div>
                            <div class="input-group-text input-group-text-middle geo-tooltip" [ngClass]="{'is-error' : geofenceForm.get('onEntranceAlert.onEntranceAlertBoundary').errors && (geofenceForm.get('onEntranceAlert.onEntranceAlertBoundary').dirty || geofenceForm.get('onEntranceAlert.onEntranceAlertBoundary').touched)}">
                              <input type="number" name="onEntranceAlertBoundary" placeholder="Boundary*" formControlName="onEntranceAlertBoundary">
                              <div *ngIf="geofenceForm.get('onEntranceAlert.onEntranceAlertBoundary').errors && (geofenceForm.get('onEntranceAlert.onEntranceAlertBoundary').dirty || geofenceForm.get('onEntranceAlert.onEntranceAlertBoundary').touched)"
                                class="custom-errors">
                                <div [hidden]="!geofenceForm.get('onEntranceAlert.onEntranceAlertBoundary').errors.required">
                                  Value is required.
                                </div>
                                <div [hidden]="!geofenceForm.get('onEntranceAlert.onEntranceAlertBoundary').errors.min">
                                  Value must not be below 0.
                                </div>
                                <div [hidden]="!geofenceForm.get('onEntranceAlert.onEntranceAlertBoundary').errors.max">
                                  Value must not be above 100.
                                </div>
                              </div>
                              <div class="t-content">{{"generic_boundary" | translate}}</div>
                            </div>
                            <div class="input-group-text input-group-text-last geo-tooltip" [ngClass]="{'is-error' : geofenceForm.get('onEntranceAlert.onEntranceAlertDesc').errors && (geofenceForm.get('onEntranceAlert.onEntranceAlertDesc').dirty || geofenceForm.get('onEntranceAlert.onEntranceAlertDesc').touched)}">
                              <input type="text" placeholder="Desc*" name="onEntranceAlertDesc" formControlName="onEntranceAlertDesc">
                              <div *ngIf="geofenceForm.get('onEntranceAlert.onEntranceAlertDesc').errors && (geofenceForm.get('onEntranceAlert.onEntranceAlertDesc').dirty || geofenceForm.get('onEntranceAlert.onEntranceAlertDesc').touched)"
                                class="custom-errors">{{"co_desc_req" | translate}}</div>
                              <div class="t-content">Desc</div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="group multiInput geofence-entrance-exit">
                        <div class="input" formGroupName="onExitAlert">
                          <div class="checkbox">
                            <label class="c-check">
                              <input type="checkbox" class="appInput" name="onExitAlert" formControlName="isExitAlert" (change)="onCheckChange('onExitAlert','isExitAlert')">
                              <div class="check-icon">
                                <svg class="checkmark" viewBox="0 0 52 52" xmlns="http://www.w3.org/2000/svg">
                                  <circle class="checkmark__circle" cx="26" cy="26" fill="none" r="25"></circle>
                                  <path class="checkmark__check" d="M14.1 27.2l7.1 7.2 16.7-16.8" fill="none"></path>
                                </svg>
                              </div>
                              <span>{{"geo_geofence_exit_alert" | translate}}</span>
                            </label>
                          </div>
                          <div class="input-group" *ngIf="geofenceForm.value.onExitAlert.isExitAlert">
                            <div class="input-group-text geo-tooltip" [ngClass]="{'is-error' : geofenceForm.get('onExitAlert.onExitAlertDelay').errors && (geofenceForm.get('onExitAlert.onExitAlertDelay').dirty || geofenceForm.get('onExitAlert.onExitAlertDelay').touched)}">
                              <input type="number" name="onExitAlertDelay" placeholder="Delay*" formControlName="onExitAlertDelay">
                              <div *ngIf="geofenceForm.get('onExitAlert.onExitAlertDelay').errors && (geofenceForm.get('onExitAlert.onExitAlertDelay').dirty || geofenceForm.get('onExitAlert.onExitAlertDelay').touched)"
                                class="custom-errors">
                                <div [hidden]="!geofenceForm.get('onExitAlert.onExitAlertDelay').errors.required">
                                  Value is required.
                                </div>
                                <div [hidden]="!geofenceForm.get('onExitAlert.onExitAlertDelay').errors.min">
                                  Value must not be below 0.
                                </div>
                                <div [hidden]="!geofenceForm.get('onExitAlert.onExitAlertDelay').errors.max">
                                  Value must not be above 120.
                                </div>
                              </div>
                              <div class="t-content">{{"generic_delay" | translate}}</div>
                            </div>
                            <div class="input-group-text input-group-text-middle geo-tooltip" [ngClass]="{'is-error' : geofenceForm.get('onExitAlert.onExitAlertBoundary').errors && (geofenceForm.get('onExitAlert.onExitAlertBoundary').dirty || geofenceForm.get('onExitAlert.onExitAlertBoundary').touched)}">
                              <input type="number" name="onExitAlertBoundary" placeholder="Boundary*" formControlName="onExitAlertBoundary">
                              <div *ngIf="geofenceForm.get('onExitAlert.onExitAlertBoundary').errors && (geofenceForm.get('onExitAlert.onExitAlertBoundary').dirty || geofenceForm.get('onExitAlert.onExitAlertBoundary').touched)"
                                class="custom-errors">
                                <div [hidden]="!geofenceForm.get('onExitAlert.onExitAlertBoundary').errors.required">
                                  Value is required.
                                </div>
                                <div [hidden]="!geofenceForm.get('onExitAlert.onExitAlertBoundary').errors.min">
                                  Value must not be below 0.
                                </div>
                                <div [hidden]="!geofenceForm.get('onExitAlert.onExitAlertBoundary').errors.max">
                                  Value must not be above 100.
                                </div>
                              </div>
                              <div class="t-content">{{"generic_boundary" | translate}}</div>
                            </div>
                            <div class="input-group-text input-group-text-last geo-tooltip" [ngClass]="{'is-error' : geofenceForm.get('onExitAlert.onExitAlertDesc').errors && (geofenceForm.get('onExitAlert.onExitAlertDesc').dirty || geofenceForm.get('onExitAlert.onExitAlertDesc').touched)}">
                              <input type="text" name="onExitAlertDesc" placeholder="Desc*" formControlName="onExitAlertDesc">
                              <div *ngIf="geofenceForm.get('onExitAlert.onExitAlertDesc').errors && (geofenceForm.get('onExitAlert.onExitAlertDesc').dirty || geofenceForm.get('onExitAlert.onExitAlertDesc').touched)"
                                class="custom-errors">{{"co_desc_req" | translate}}</div>
                              <div class="t-content">Desc</div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="no-geo-fence-draw">
                        <div *ngIf="isCreateGeofenceError" class="custom-errors" style="text-align:center">
                          Please create a geofence
                        </div>
                      </div>
                      <div class="bottom">
                        <button (click)="steps = []; steps[1] = true">
                          <img class="previous" src="assets/images/left-arrow.svg">{{"generic_previous" | translate}}
                        </button>
                        <button (click)="cancelGeofence()">{{"generic_cancel" | translate}}</button>
                        <button class="btn btn-tab" type="button" (click)="saveGeofence()" [disabled]="!geofenceForm.valid">
                          <img class="verify" src="assets/images/verify-sign.svg"> {{newGeofence.geofenceId ? 'Update' : 'Save'}}</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
        <div class="loading-img-overlay" *ngIf="isLoading"></div>
        <div class="loading-img" *ngIf="isLoading">
          <img src="assets/images/loading.svg">
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-12 col-md-12 col-sm-12 no-data" *ngIf="geoFenceAvailable.length == 0">
    {{geoFenceDataMessage}}
    <div class="GeofenceNoData" (click)="toggleAddForm(true)" *ngIf="!isAddNew">
      <img src="assets/images/Geofence - no data.svg">
    </div>
  </div>

</div>


<div bsModal #confirmModal="bs-modal" class="modal fade confirm-modal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title pull-left">
          Delete
        </h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="selectedGeoFence = null;confirmModal.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
        <p>Are you sure you want to delete this geo fence?</p>
      </div>
      <div class="modal-footer">
        <div class="text-right">
          <button type="submit" class="btn btn-tab" (click)="deleteGeoFence()">Yes</button>
          <button type="button" class="btn btn-tab" (click)="selectedGeoFence = null;confirmModal.hide()">No</button>
        </div>
      </div>
    </div>
  </div>
</div>
