$brand_color:#55607b;
.time-schedule {
    padding: 0;
    .time-container {
        display: inline-block;
        width: 40%;
    }
    .time-container.endtime {
        float: right;
    }
}

.GeofenceNoData {
    margin-top: 10px;
    img {
        max-width: 100px;
        cursor: pointer;
    }
}

#geoCreateFenceTable {
    margin-bottom: 0px;
    background-color: white;
    thead {
        height: 33px;
        th {
            padding: 7px 6px;
            border-bottom: none;
        }
    }
    tbody {
        .geofence-inline {
            td {
                .dashboardTileGeofence {
                    max-width: 50%;
                    margin-bottom: 5px;
                }
                .ribbon {
                    span {
                        font-size: 15px;
                        color: #56607c;
                        transition: all 0.3s ease;
                        &.fa-trash {
                            &:hover {
                                color: red;
                            }
                        }
                        &.fa-edit {
                            &:hover {
                                color: #51b0fb;
                            }
                        }
                    }
                }
            }
        }
    }
    @media only screen and (max-width: 610px) {
        width: 610px;
        overflow: auto;
        table {
            thead {
                th {
                    padding: 5px 3px;
                }
            }
        }
        #mainBodyData {
            tr {
                td {
                    padding: 5px 3px;
                    font-size: 12px;
                    line-height: 1;
                    .status {
                        height: 20px;
                    }
                    .fa {
                        font-size: 14px;
                    }
                }
            }
        }
    }
    .main-body {
        overflow: auto;
        padding: 5px;
        tr.geofence-inline {
            width: calc(50% - 10px);
            display: inline-block;
            background-color: rgba(255, 255, 255, 0.64);
            border-radius: 5px;
            position: relative;
            z-index: 1;
            margin: 5px 5px;
            border: 1px solid #dddddd;
            td {
                border-top: none;
                position: relative;
                .top-details {
                    display: flex;
                    align-items: center;
                    margin-bottom: 5px;
                }
                .item-name {
                    font-size: 14px;
                    font-weight: bold;
                    color: #56607c;
                    display: inline-block;
                }
                .item-shape {
                    display: inline-block;
                    line-height: 1;
                    margin-left: 5px;
                    img {
                        max-width: 16px;
                    }
                }
                .item-right {
                    text-align: center;
                    line-height: 1;
                }
            }
            td.icon-area {
                padding: 0px;
            }
        }
        tr.geofence-inline:nth-child(even) {
            float: right;
        }
    }
}

.center {
    text-align: center;
}

.no-data {
    text-align: center;
    padding: 10px;
}

.checkbox-toggle-content {
    padding: 20px 20px;
    margin-top: 15px;
    padding-bottom: 5px;
    background-color: #f5f7fa;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.1);
    border: 1px solid transparent;
}

.search-svg-icon {
    max-width: 17px;
    position: relative;
    top: -1px;
    margin-right: 3px;
    cursor: pointer;
    @media only screen and (max-width: 1230px) {
        max-width: 15px;
    }
    @media only screen and (max-width: 1120px) {
        margin-right: 0px;
        max-width: 13px;
    }
}

.glyphicon-plus {
    font-size: 1.1em;
}

.table>thead>tr>th {
    padding: 6px;
}

.geofence-add-icon {
    background: none;
    cursor: pointer;
    @media only screen and (max-width: 1120px) {
        font-size: 0.9em;
    }
}

.resize-icons {
    @media only screen and (max-width: 1120px) {
        font-size: 12px;
    }
}

.fa {
    font-size: 18px;
    line-height: 1;
}

.glyphicon-edit {
    font-size: 13px;
    color: #56607c;
    margin: 0px 5px;
    transition: all 0.3s ease;
    &:hover {
        color: black;
    }
}

.geofence-create-btn {
    .btn-tab {
        margin-left: 5px;
        margin-top: 2px;
    }
    .btn-tab:focus {
        outline: none;
    }
}

.geofence-info {
    position: relative;
    .geofence-row {
        overflow: auto;
        padding: 15px 0px 10px 0px;
        height: 100%;
        background-color: white;
        color: rgba(0, 0, 0, .87);
        .form-horizontal {
            .form-group {
                margin: 0;
                margin-bottom: 15px;
                display: flex;
                align-items: center;
                .control-label {
                    text-align: left;
                    font-size: 14px;
                    padding: 0px;
                }
                .col-sm-9 {
                    padding: 0px;
                }
                .material-icons {
                    position: absolute;
                    height: 34px;
                    top: 0;
                    background-color: #2775bc;
                    color: white;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    padding: 5px;
                    border-radius: 4px;
                }
                .col-sm-12 {
                    padding: 0px;
                }
            }
        }
        .checkbox-inline {
            margin-right: 10px;
            border-left: 4px solid #53bd9d;
            padding-bottom: 10px;
            margin-bottom: 10px;
            padding-right: 10px;
            padding-left: 30px;
            box-shadow: -2px 2px 5px 0px rgba(161, 161, 161, 1);
        }
        .checkbox-inline+.checkbox-inline,
        .radio-inline+.radio-inline {
            margin-right: 10px;
            margin-left: 0px;
        }
        .status {
            .col-sm-9 {
                line-height: 1;
                .switch {
                    margin: 0;
                }
            }
        }
        .exclude-days {
            app-exclude-days {
                .app-exclude-days {
                    .form-control {
                        width: 48%;
                    }
                }
            }
        }
        .threeSteps {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
            .step {
                display: flex;
                align-items: center;
                padding: 0px 15px;
                position: relative;
                flex-direction: column;
                .step-circle {
                    width: 35px;
                    height: 35px;
                    border-radius: 50%;
                    background-color: #f0f1f1;
                    display: inline-flex;
                    justify-content: center;
                    align-items: center;
                    z-index: 1;
                    .material-icons {
                        color: #55607b;
                        font-size: 20px;
                    }
                }
                .line {
                    position: absolute;
                    width: 100%;
                    top: 35%;
                    border-bottom: 2px solid #bec3c8;
                    right: 0;
                }
                .line.active {
                    border-bottom: 2px solid #53bd9d;
                }
                .step-circle.active {
                    background-color: #53bd9d;
                    .material-icons {
                        color: white;
                    }
                }
                span {
                    font-size: 13px;
                }
                span.active {
                    color: #53bd9d;
                }
            }
            .accordian-list {
                background-color: yellow;
                width: 100%;
                height: 2px;
                .accordian {
                    position: relative;
                }
            }
        }
    }
    .geofence-info-header {
        color: white;
        background-color: #56607c;
        font-size: 16px;
        padding: 6px 15px;
        position: relative;
        height: 33px;
        .geofence-info-header-buttons {
            float: right;
            position: absolute;
            right: 0;
            top: 0;
            .btn {
                padding: 5px 12px;
            }
        }
    }
}

app-exclude-days {
    .app-exclude-days {
        .selected-days {
            margin: 0 !important;
            border: none !important;
            width: calc(100% - 24px) !important;
        }
    }
}

app-native-color-picker {
    position: absolute;
    width: 100%;
    height: 100%;
    .form-control {
        border-left: none !important;
        margin-left: 0 !important;
        padding-left: 10px !important;
        height: 100%;
        border: none;
        line-height: 2 !important;
        color: #8d8d8d !important;
        box-shadow: none !important;
    }
    .c-btn {
        border-radius: 0px !important;
        box-shadow: none !important;
        padding: 7px !important;
        border-left: none !important;
        padding-left: 10px !important;
        font-size: 13px !important;
    }
}

angular2-multiselect {
    .c-btn {
        box-shadow: none !important;
        border: 1px solid #e6e6e6 !important;
        padding: 12px 10px !important;
        color: #8d8d8d !important;
        span {
            line-height: 1 !important;
        }
    }
    .pure-checkbox {
        label {
            padding-bottom: 0px !important;
            letter-spacing: normal !important;
        }
    }
    .c-token {
        display: flex;
        height: 20px;
        padding: 0 5px;
        align-items: center;
        justify-content: center;
        margin: 0;
    }
}

.form-step {
    background: #fff;
    padding: 30px;
    background-color: white;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.2);
    position: relative;
    padding-bottom: 40px;
    background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
    .form-step-header {
        position: absolute;
        top: 0;
        width: 100%;
        right: 0;
        height: 70px;
        font-size: 17px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        background-color: #55607b;
        border-top-right-radius: 5px;
        border-top-left-radius: 5px;
    }
    .step-footer {
        text-align: right;
        position: absolute;
        width: 100%;
        bottom: 0;
        left: 0;
        background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
        padding: 5px 30px;
        button {
            background-color: blue;
        } // background-color: white;
    }
    .content {
        display: flex;
        width: 100%;
        .content-label {
            width: 20%;
            display: inline-flex;
            justify-content: center;
            align-items: center;
            span {
                font-size: 12px;
            }
        }
        .form-control {
            width: 100%;
            display: inline-block;
            box-shadow: none;
            outline: none;
            border: 1px solid #bec3c7;
            margin-left: 45px;
            border-radius: 4px;
            .switch {
                margin: 0;
                position: relative;
                top: -1px;
            }
        }
    }
}

.form-step.step-three {
    padding: 15px;
    padding-bottom: 30px;
    .select-content {
        display: flex;
        width: 100%;
        .checkbox-text {
            width: 35%;
            display: inline-flex;
            label {
                font-weight: normal;
                display: inline-table;
                position: relative; // top: 5px;
                margin: 0px;
            }
            input {
                margin-right: 5px;
            }
        }
        .checkbox-content {
            width: 65%;
            display: inline-flex;
            .checkbox-description {
                width: 50%;
                display: inline-flex;
                div {
                    &:first-child {
                        width: 100%
                    }
                }
                input {
                    width: 100%;
                    display: inline-block;
                    box-shadow: none;
                    outline: none;
                    border: 1px solid #bec3c7;
                    border-radius: 0px;
                    padding: 6px;
                }
            }
            .checkbox-description {
                &:first-child {
                    margin-right: 10px;
                }
            }
        }
    }
}

#geoMfBootstrapPaginator {
    .pagination-footer {
        padding-top: 0px;
    }
}

.loading-img-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.2;
    z-index: 9;
}

.window-max-min-handler {
    position: absolute;
    right: 5px;
    top: 7px;
    cursor: pointer;
    @media only screen and (max-width: 991px) {
        display: none;
        right: 1px;
    }
}

@media only screen and (max-width: 991px) {
    .time-container {
        width: 60%;
    }
}

@media only screen and (max-width: 768px) {
    .time-container {
        float: none;
        width: 100%;
        margin-right: 0;
        margin-bottom: 10px;
    }
}

#accordion section,
#accordion .pointer,
#accordion h1,
#accordion p {
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    margin-bottom: 10px;
}

.form-main-step {
    margin: 0 auto;
    width: 95%;
    margin-top: 10px;
}

#accordion {
    margin-bottom: 30px;
    h1 {
        font-size: 20px;
        margin: 0;
        padding: 10px 10px 10px 15px;
        background-color: #2775bc;
        color: white;
        line-height: 1;
        display: flex;
        align-items: center;
        cursor: pointer;
        position: relative;
        a {
            color: white;
            font-size: 16px;
            line-height: 1;
            text-decoration: none;
        }
        i {
            color: white;
        }
        .toggle-icon {
            position: absolute;
            right: 10px;
            top: 50%;
            transform: translateY(-50%);
        }
    }
    h1.active {
        box-shadow: 0 3px 1px -2px rgba(0, 0, 0, .2), 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12);
    }
    section.active {
        margin: 10px 0;
    }
    .step-content {
        transition: all 0.5s ease;
        height: 0px;
    }
    .step-content.active {
        padding: 10px 3px 0px 3px;
        height: auto;
        background-color: white;
    }
}

select.disabledTime {
  opacity: 0.5 !important;
  background-color: white !important;
  pointer-events: none;
  cursor: not-allowed;
}

.all-days-label {
    margin-bottom: 0px !important;
    div {
        font-size: 11px;
    }
}

.toggle-days {
    float: left;
    position: relative;
    display: block;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    width: 36px;
    margin-right: 8px;
    padding: 4px 0px 6px 2px;
    cursor: pointer;
    top: 5px;
    .toggle.active {
        left: 100%;
    }
    .toggle {
        color: rgba(0, 0, 0, 0.87);
        background-color: rgb(245, 245, 245);
        box-sizing: border-box;
        font-family: Roboto, sans-serif;
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
        box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 6px, rgba(0, 0, 0, 0.12) 0px 1px 4px;
        border-radius: 50%;
        position: absolute;
        top: 1px;
        left: 22px;
        width: 20px;
        height: 20px;
        line-height: 24px;
        margin-left: -20px;
        transition: all 0.3s ease;
    }
    .range.active {
        background-color: rgb(83, 189, 157);
    }
    .range {
        width: 100%;
        height: 14px;
        border-radius: 30px;
        background-color: rgb(189, 189, 189);
    }
}

.geofence-info .geofence-row .form-horizontal .form-group .day-box i.material-icons {
    position: absolute;
    top: 1px;
    left: 3px;
    font-size: 16px;
    line-height: 1;
    width: 15px;
    height: 15px;
    font-weight: bold;
}

.geo-fence-create {
    padding: 10px 10px;
    float: right;
    width: 100%;
    @media screen and (max-width: 979px) {
        float: none;
        width: 100%;
    }
    @media screen and (max-width:479px) {
        padding: 0px;
    }
    button {
        margin: 20px 0 0;
        padding: 8px 10px;
        font-size: 18px;
        background: none;
        color: #fff;
        border: 1px solid #abb0ba;
        background: #56607c;
        border-radius: 3px;
        outline: none;
        @media only screen and (max-width: 1200px) {
          font-size: 15px;
        }
        &:focus {
            outline: none;
        }
        &:hover {
            cursor: pointer;
            background: $brand_color;
            color: #fff;
        }
        img {
            width: 20px;
            height: 20px;
            @media only screen and (max-width: 1200px) {
              width: 20px;
              height: 20px;
            }
            &.previous {
                margin-right: 10px;
                @media only screen and (max-width: 1200px) {
                  margin-right: 5px;
                }
            }
            &.next {
                margin-left: 5px;
            }
        }
    }
    .geo-progress {
        height: auto;
        .geo-progressbar {
            padding: 0;
            display: flex;
            font-size: 15px;
            li {
                flex: 1;
                text-align: center;
                list-style-type: none;
                padding: 10px;
                border: 1px solid #f0f1f2;
                border-right: none;
                background: #f0f1f2;
                span {
                    position: relative;
                    color: #9a9a9a;
                    ;
                    &:before {
                        content: '';
                        display: block;
                        height: 10px;
                        width: 10px;
                        position: absolute;
                        top: 50%;
                        left: -30px;
                        border-radius: 100%;
                        transform: translateY(-50%);
                        background: none;
                        border: 2px solid #9a9a9a;
                        @media screen and (max-width: 1199px) {
                            left:-25px;
                        }
                    }
                }
                &.active {
                    background: $brand_color;
                    border: 1px solid $brand_color;
                    span {
                        color: #fff;
                        &:before {
                            border: 2px solid #fff;
                        }
                    }
                }
                &.done {
                    background: #fff;
                    span {
                        color: $brand_color;
                        &:before {
                            background: $brand_color;
                            border: 2px solid $brand_color;
                        }
                    }
                }
                @media screen and (max-width:479px) {
                    font-size: 12px;
                    span {
                        &:before {
                            height: 5px;
                            width: 5px;
                            left: -18px;
                        }
                    }
                }
            }
        }
        .geo-items {
            margin-top: 20px;
            width: 100%;
            background: #f0f0f0;
            .geo-item {
                .content {
                    padding: 15px;
                    padding-bottom: 30px;
                    @media screen and (max-width: 479px) {
                        padding-left: 5px;
                        padding-right: 5px;
                    }
                }
                &.third-step {
                  .multiInput {
                    .input {
                      @media only screen and (max-width: 1200px) {
                        margin-bottom: 15px
                      }
                    }
                  }
                  .bottom {
                    @media only screen and (max-width: 480px) {
                      display: block;
                      button {
                        &:first-child {
                          display: block;
                          width: 100%;
                          margin-bottom: 15px;
                        }
                        &:nth-child(2) {
                          display: inline-block;
                          width: calc(50% - 7px);
                          margin: 0;
                          margin-right: 10px;
                        }
                        &:nth-child(3) {
                          display: inline-block;
                          width: calc(50% - 7px);
                          margin: 0;
                          margin-right: 0px;
                        }
                      }
                    }
                  }
                }
            }
        }
    }
    .geo-tooltip {
        position: relative;
        opacity: 1;
        width: auto;
        display: inline-block;
        .t-content {
            position: absolute;
            width: auto; // white-space: pre;
            padding: 5px 10px;
            text-align: center;
            top: 0px;
            transform: translate(-50%, 45%);
            left: 50%;
            top: -12px;
            line-height: 20px;
            border-radius: 3px;
            transition: all 0.2s ease 0s;
            display: block;
            background-color: #c7c7c7;
            opacity: 0;
            font-size: 14px;
            z-index: 1070;
            white-space: pre;
            &:after {
                content: '';
                width: 0;
                height: 0;
                border-style: solid;
                border-width: 10px 10px 0 10px;
                border-color: #c7c7c7 transparent transparent transparent;
                position: absolute;
                bottom: -10px;
                left: 50%;
                transform: translate(-50%, 0);
            }
        }
        &:hover {
            .t-content {
                opacity: 1;
                transition: all 0.5s ease 0s;
                transform: translate(-50%, -100%);
            }
        }
    }
    .bottom {
        display: flex;
        padding: 0px;
        margin-top: 10px;
        button {
            flex: 1;
            margin-right: 15px;
            @media only screen and (min-device-width: 990px) and (max-device-width: 1200px) {
              margin-right: 10px;
            }
            &:last-of-type {
                margin-right: 0;
            }
            &[disabled] {
                background-color: #8e95b2;
                &:hover {
                    cursor: not-allowed;
                }
            }
        }
    }
    input {
        &::-webkit-input-placeholder {
            /* Chrome/Opera/Safari */
            color: #d2d2d2;
        }
        &::-moz-placeholder {
            /* Firefox 19+ */
            color: #d2d2d2;
        }
        &:-ms-input-placeholder {
            /* IE 10+ */
            color: #d2d2d2;
        }
        &:-moz-placeholder {
            /* Firefox 18- */
            color: #d2d2d2;
        }
    }
    .form {
        .input {
            // margin-top: 15px;
            label {
                font-size: 13px;
                line-height: 25px;
                letter-spacing: 1.6px;
                color: #9a9a9a;
                padding-bottom: 10px;
                display: block;
                font-weight: bold;
                text-transform: uppercase;
            }
            input,
            textarea,
            {
                line-height: normal;
                padding: 10px 15px 10px;
                border-radius: 4px;
                background-color: #ffffff;
                border: solid 1px #e6e6e6;
                font-size: 16px;
                width: 100%;
                -webkit-appearance: none;
                color: rgba(60, 65, 68, 0.8);
                outline: none;
                &:focus {
                    outline: none;
                }
                &.readonly {
                    background-color: #eaeaea;
                }
                &[disabled] {
                    background-color: #ffffff;
                    opacity: 0.5;
                }
            }
            textarea {
                height: 109px;
            }
            input.btn {
                font-size: 16.2px;
                letter-spacing: 3px;
                color: rgba(36, 54, 57, 0.37);
                max-width: 250px;
                text-align: center;
                box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.11);
                border: solid 1px rgba(154, 173, 192, 0.05);
                border-radius: 4px;
                padding: 16px 0px;
                cursor: pointer;
                background: #fff;
                margin: 0px auto;
                display: block;
                &:hover {
                    color: #fff;
                    background-color: #37c4a3;
                }
            }
            input[type=number]::-webkit-inner-spin-button,
            input[type=number]::-webkit-outer-spin-button {
                -webkit-appearance: none;
                margin: 0;
            }
            &.geo-radius {
                position: relative;
                .unit-as-radius {
                    position: absolute;
                    top: 12px;
                    right: 20px;
                    font-size: 15px;
                    color: #8d8d8d;
                    font-weight: bold;
                    font-size: 17px;
                    line-height: 1;
                }
            }
        }
        .group {
            width: 100%;
            display: flex;
            justify-content: space-between;
            margin-top: 15px;
            &:first-child {
                .input {
                    margin-top: 0px;
                }
            }
            &.geofence-entrance-exit {
              .input {
                width: 100%;
              }
            }
            .input {
                width: calc(50% - 10px);
                &.geo-dropdown {
                    border: solid 1px #e6e6e6;
                    background-color: #ffffff;
                    border-radius: 4px;
                    position: relative;
                    height: 41px;
                    select {
                        -moz-appearance: none;
                        -webkit-appearance: none;
                        line-height: normal;
                        padding: 10px 15px 10px;
                        border-radius: 3px;
                        background-color: #ffffff;
                        border: none;
                        font-size: 16px;
                        letter-spacing: 0.4px;
                        width: 100%;
                        color: #d2d2d2;
                        outline: none;
                        &:focus {
                            outline: none;
                        }
                    }
                      @media screen and (max-width: 479px) {
                        margin-top: 15px;
                        &:first-child {
                          margin-top: 0px;
                        }
                    }
                    
                }
                @media screen and (max-width: 479px) {
                    width: 100%;
                }
            }
            .error {
                p {
                    color: #ff2f2f;
                    padding: 5px;
                    clear: both;
                    display: block;
                }
            }
            &.geo-fence-status {
                line-height: 1;
                border-radius: 3px;
                background-color: #ffffff;
                border: solid 1px #e6e6e6;
                margin-top: 15px;
                display: -ms-flexbox;
                display: flex;
                -ms-flex-align: center;
                align-items: center;
                height: 41px;
                padding: 0 15px;
                .status-label {
                    margin-bottom: 0px;
                    line-height: 1;
                    font-size: 16px;
                    color: rgb(210, 210, 210);
                    font-weight: normal;
                    width: 30%;
                    @media screen and (max-width: 479px) {
                        width: 15%;
                        display: inline-block;
                    }
                }
                .status-checkbox {
                    width: 35%;
                    .checkbox {
                        margin: 0;
                        margin-top: 3px;
                        font-size: 16px;
                        .c-check {
                            color: #8d8d8d;
                            display: inline-flex;
                            align-items: center;
                            justify-content: center;
                            padding: 0;
                            margin: 0;
                            .check-icon {
                                margin-right: 5px;
                            }
                            input {
                                width: 0;
                                padding: 0;
                            }
                            span {
                                margin-top: 1px;
                            }
                        }
                    }
                    @media screen and (max-width:479px) {
                      width: 30%;
                      display: inline-block;
                    }
                    // @media screen and (max-width:479px) {
                    //     width: 100%;
                    //     padding-left: 10px;
                    // }
                }
                @media screen and (max-width:479px) {
                    display: flex;
                }
            }
            &.status {
                .input {
                    padding: 10px 0;
                    display: flex;
                    .c-check {
                        margin: 0;
                        padding: 0;
                    }
                }
            }
            &.day-schedule {
                position: relative;
                line-height: 1; // padding: 10px 15px 10px;
                border-radius: 3px;
                background-color: #ffffff;
                border: solid 1px #e6e6e6;
                margin-top: 15px;
                display: flex;
                align-items: center;
                height: 41px;
                padding: 0 15px;
                padding-right: 0px;
                @media only screen and (min-device-width: 992px) and (max-device-width: 1280px) {
                  height: 60px;
                }
                .days-label {
                    margin-bottom: 0px;
                    line-height: 1;
                    font-size: 16px;
                    color: rgb(210, 210, 210);
                    font-weight: normal;
                    width: 30%;
                    margin-top: 3px;
                    @media screen and (max-width: 479px) {
                        width: 100%;
                        margin-bottom: 5px;
                    }
                }
                .days {
                    width: 70%;
                    margin-top: 3px;
                    .checkbox {
                        margin: 0;
                        display: flex;
                        justify-content: space-between;
                        @media screen and (max-width: 479px) {
                            display: block;
                        }
                        .c-check {
                            display: inline-flex;
                            justify-content: center;
                            align-items: center;
                            margin-bottom: 0;
                            .check-icon {
                                margin-right: 5px;
                            }
                            &:first-of-type {
                                padding-left: 0;
                            }
                        }
                    }
                    @media screen and (max-width: 479px) {
                        width: 100%;
                    }
                }
                .input {
                    input {
                        text-align: right;
                    }
                }
                @media screen and (max-width: 479px) {
                    display: block;
                    height: initial;
                    padding: 10px;
                }
            }
            &.withLabel {
                line-height: 1;
                border-radius: 3px;
                background-color: #ffffff;
                border: solid 1px #e6e6e6;
                margin-top: 15px;
                display: -ms-flexbox;
                display: flex;
                -ms-flex-align: center;
                align-items: center;
                height: 41px;
                padding: 0 15px;
                label {
                    margin-bottom: 0px;
                    line-height: 1;
                    font-size: 16px;
                    color: #d2d2d2;
                    font-weight: normal;
                    width: 30%;
                    @media screen and (max-width: 479px) {
                        width: 100%;
                        margin-bottom: 5px;
                    }
                }
                .data {
                    width: 70%;
                    @media screen and (max-width: 479px) {
                        width: 100%;
                    }
                }
                &.select-time {
                    padding-right: 0;
                    align-items: flex-start;
                    label {
                        padding-top: 13px;
                        @media only screen and (min-device-width: 990px) and (max-device-width: 1078px) {
                          padding-top: 4px;
                        }
                    }
                    .data {
                        position: relative;
                        display: flex;
                        height: 100%;
                        select {
                            line-height: normal;
                            padding: 9px 15px 9px;
                            background-color: #ffffff;
                            font-size: 16px;
                            width: 100%;
                            color: rgba(60, 65, 68, 0.8);
                            outline: none;
                            border: none;
                            position: relative;
                            box-shadow: none;
                            height: 100%;
                        }
                        &:before {
                            content: ' ';
                            position: absolute;
                            z-index: 1;
                            height: 39px;
                            left: 0;
                            top: 0;
                            border-right: 1px solid #e6e6e6;
                        }
                        &:after {
                            content: ' ';
                            position: absolute;
                            z-index: 1;
                            height: 39px;
                            left: 50%;
                            top: 0;
                            border-right: 1px solid #e6e6e6;
                        }
                        >div {
                            position: relative;
                            flex: 1;
                            @media screen and (max-width: 479px) {
                              border: 1px solid #e6e6e6;
                              border-left: none;
                              &:first-child {
                                border: 1px solid #e6e6e6;
                                border-right: none;
                              }
                            }
                        }
                    }
                    @media screen and (max-width: 479px) {
                        padding: 10px;
                    }
                }
                &.exclude-days {
                    padding-right: 0;
                    height: auto;
                    .data {
                        input {
                            line-height: normal;
                            padding: 8px 0 7px 15px;
                            background-color: #ffffff;
                            font-size: 16px;
                            width: 100%;
                            color: rgba(60, 65, 68, 0.8);
                            outline: none;
                            border: none;
                            -webkit-appearance: menulist;
                        }
                    }
                    @media screen and (max-width: 479px) {
                        padding: 10px;
                    }
                }
                @media screen and (max-width: 479px) {
                    display: block;
                    height: initial;
                    padding: 10px;
                }
            }
            &.all-days {
                // padding-top: 15px;
                -ms-flex-pack: end;
                border: 1px solid transparent;
                justify-content: flex-end;
                .checkbox {
                    margin: 0;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-size: 16px;
                    .c-check {
                        margin: 0;
                        display: inline-flex;
                        justify-content: center;
                        align-items: center;
                        color: #8d8d8d;
                        .check-icon {
                            margin: 0;
                            margin-right: 10px;
                        }
                    }
                }
            }
            &.multiInput {
                .input {
                    .checkbox {
                        margin: 0;
                        .c-check {
                            display: inline-flex;
                            align-items: flex-start;
                            justify-content: center;
                            padding: 0;
                            font-size: 12px;
                            
                            .check-icon {
                                margin-right: 10px;
                            }
                            input {
                                width: 0;
                                padding: 0;
                            }
                            span {
                                margin-top: 1px;
                            }
                        }
                    }
                    .input-group {
                        display: flex;
                        border-radius: 3px;
                        .input-group-text {
                            position: relative;
                            border-top-left-radius: 3px;
                            border-bottom-left-radius: 3px;
                            @media only screen and (max-width: 1200px) {
                              width: 50%;
                            }
                            &:first-of-type {
                                input {
                                    border-right: none;
                                    border-radius: inherit;
                                }
                            }
                            &.input-group-text-middle {
                              border: none;
                              input {
                                border-radius: 0px;
                                border-right: none;
                              }
                            }
                            &.input-group-text-last {
                              border-top-right-radius: 3px;
                              border-bottom-right-radius: 3px;
                              input {
                                border-radius: inherit;
                                border-top-left-radius: 0px;
                                border-bottom-left-radius: 0px;
                              }
                            }
                        }
                        input {
                            border: none;
                            border-radius: 0;
                            padding: 10px 8px;
                            font-size: 14px;
                            background-color: #ffffff;
                            border: solid 1px #e6e6e6;
                        }
                    }
                }
                @media screen and (max-width: 1199px) {
                    display: block;
                    .input {
                        width: 100%;
                    }
                }
            }
            @media screen and (max-width: 479px) {
                display: block;
            }
        }
        .groupThree {
            width: 100%;
            .input {
                width: calc(33.33% - 14px);
                margin: 25px 10px 0px;
                &:nth-of-type(2) {
                    margin-left: 10px !important;
                }
                &:nth-of-type(3n+1) {
                    margin-left: 10px;
                    margin-right: 0px;
                }
                &:nth-of-type(3n+2) {
                    margin-right: 10px;
                    margin-left: 0px !important;
                }
            }
            &.Threeinput {
                .input {
                    &:nth-of-type(3n+1) {
                        margin-left: 0px;
                        margin-right: 10px !important;
                    }
                    &:nth-of-type(3n+2) {
                        margin-left: 10px !important;
                        margin-right: 10px !important;
                    }
                    &:nth-of-type(3n+3) {
                        margin-left: 10px !important;
                        margin-right: 0px !important;
                    }
                }
            }
        }
        .groupUnlimited {
            width: 100%;
            .input {
                display: inline-block;
                width: auto;
                margin: 0px 20px 20px 0px !important;
            }
        }
        .single {
            width: 100%;
            position: relative;
            .input {
                width: 100%;
                margin-left: 0px !important;
                margin-right: 0px !important;
            }
        }
        .customFile {
            position: relative;
            border-radius: 100%;
            width: 100px;
            height: 100px;
            border-radius: 100%;
            margin: 0px auto;
            input {
                opacity: 0;
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0px;
                left: 0px;
            }
        }
    }
    .c-check {
        display: block;
        user-select: none;
        cursor: pointer;
        margin-bottom: 5px;
        width: -webkit-fit-content;
        width: -moz-fit-content;
        width: fit-content;
        input:checked+.checkbox {
            border-color: #ccc;
        }
        input {
            position: absolute;
            z-index: -1;
            width: 0;
            height: 0;
            opacity: 0;
        }
        .checkmark__circle {
            stroke-dasharray: 166;
            stroke-dashoffset: 166;
            stroke-width: 2;
            stroke-miterlimit: 10;
            stroke: #d8d8d8;
            fill: #d8d8d8;
        }
        input:checked+.check-icon .checkmark__circle {
            fill: none;
            stroke: #4daf88;
        }
        .checkmark {
            width: 20px;
            height: 20px;
            border-radius: 50%;
            display: block;
            stroke-width: 2;
            stroke: #fff;
            stroke-miterlimit: 10;
            margin: 10% auto;
            box-shadow: inset 0px 0px 0px #4daf88;
        }
        input:checked+.check-icon .checkmark {
            animation: fill .5s ease-in-out 0s forwards;
        }
        .checkmark__check {
            transform-origin: 50% 50%;
            stroke: #fff;
            stroke-width: 5;
        }
        @keyframes fill {
            100% {
                box-shadow: inset 0px 0px 0px 30px #4daf88;
            }
        }
    }
    .no-geo-fence-draw {
        position: relative;
        .custom-errors {
            width: 100%;
            text-align: center;
        }
    }
}

.custom-errors {
    position: absolute;
    top: 100%;
    left: 0;
}

.input-category {
  &.is-error {
    margin-bottom: 20px;
  }
}

.is-error {
  margin-bottom: 35px;
}

