@import '../../../../variables';
.customer-feature-list {
  input {
    margin-right: 10px;
  }
}

.normal-table {
  font-family: $app-font;
  thead {
    background-color: $table-header;
    th {
      padding: 10px;
      color: white;
    }
    select {
      background-color: #eaebeb;
      color: #333;
      padding: 5px;
      min-width: 130px;
    }
  }
  .odd {
    background-color: white;
  }
  .even {
    background-color: #f5f5f5;
  }
}
.thumbnail img {
    width: 30%;
    padding: 20px 0;
}
.rule-description {
  height: 130px;
}
.switch {
    margin-top: 6px;
}
@media only screen and (max-width: 991px) {
    .user-status-change {
        text-align: center;
        margin-top: 15px;
    }
}
@media only screen and (max-width: 767px) {
    .btn-action-area {
        margin-top: 15px;
    }
}
.onboarding-content {
  min-height: initial;
  border-bottom: none;
}
section.verticle-tabs {
  zoom: 1;
  position: relative;
  height: auto;
}
section.verticle-tabs:after,
section.verticle-tabs:before {
  content: "";
  display: table;
}
section.verticle-tabs:after {
  clear: both;
}
section.verticle-tabs h4 {
  background: transparent;
  cursor: pointer;
  border: 1px solid rgba(0,0,0,0.2);
  border-top: none;
  padding: 15px 20px;
  position: relative;
  border-right: none;
  font-size: 14px;
}
section.verticle-tabs h4:first-child {
  border-top: 1px solid rgba(0,0,0,0.2);
}
@media screen and (min-width: 600px) {
  section.verticle-tabs h4 {
    position: relative;
    height: 50px;
    display: block;
    margin-top: 0;
    margin-bottom: 0;
  }
}
section.verticle-tabs ul {
  zoom: 1;
  position: relative;
  height: auto;
  /*min-height: 100%;*/
  border: 1px solid rgba(0,0,0,0.2);
  display: none;
  margin: 0;
  background-color: #fff;
}
section.verticle-tabs ul:after,
section.verticle-tabs ul:before {
  content: "";
  display: table;
}
section.verticle-tabs ul:after {
  clear: both;
}
section.verticle-tabs ul li {
  list-style: none;
}

section.verticle-tabs .active {
  cursor: default;
  border-bottom: 1px solid rgba(0,0,0,0.2);
  border-right: none;
}
section.verticle-tabs .active:after {
  content: '';
  position: absolute;
  width: 1px;
  height: 100%;
  background-color: #fff;
  right: -2px;
  z-index: 9999;
  top: 0px;
}
@media screen and (min-width: 600px) {
  section.verticle-tabs .active {
    background: #fff;
    border-right: 1px solid rgba(0,0,0,0);
  }
}
section.verticle-tabs .active + ul {
  display: block;
  min-height: 200px;
}
@media screen and (max-width: 599px) {

  section.verticle-tabs .active:after {
    content: '';
    position: absolute;
    width: 0px;
    height: 100%;
    background-color: #ecf0f1;
    right: 0px;
    z-index: 9999;
    top: 0px;
  }
  section.verticle-tabs .active {
    background-color: #fff;
    border-right: 1px solid rgba(0,0,0,0.2);
  }
  section.verticle-tabs h4 {
    border-right: 1px solid rgba(0,0,0,0.2);
  }
  section.verticle-tabs h4:not(:first-child) {
    border-top: 1px solid rgba(0,0,0,0.2);
  }
  section.verticle-tabs ul {
    padding: 0;
  }
  .tab-actions {
    padding-top: 10px;
  }
}

section.verticle-tabs {
  margin-bottom: 15px;
  display: flex;
  .verticle-tabs-left {
    display: flex;
    flex-direction: column;
    width: 33%;
  }
  .verticle-tabs-right {
    position: relative;
    display: flex;
    flex-direction: column;
    width: calc(100% - 33%);
    ul {
      display: block;
      padding: 8px 30px;
    }
  }
}

.no-topics {
  text-align: center;
  margin: 55px 0px;
  font-size: 20px;
  opacity: 0.6;
}

