<div class="container-fluid create-role-group-main-container">
    <div class="row">
        <div class="col-lg-12 onboarding-content" [style.minHeight.px]="onboardingContentMinHeight">
            <div class="onboarding-nav-option">

                <div class="btn-group">
                    <a class="btn btn-default btn-icon btn-custom-nav" [ngClass]="{ 'active': !isEditMode }">
                        <span class="material-icons">add_circle</span>
                        <span class="hidden-xs"> {{"co_role_create" | translate}}</span>
                    </a>
                </div>

                <div class="btn-group">
                    <a class="btn btn-default btn-icon btn-custom-nav" [ngClass]="{ 'active': isEditMode }">
                        <span class="material-icons">domain</span>
                        <span class="hidden-xs"> {{"co_role_feature" | translate}}</span>
                    </a>
                </div>
            </div>


            <div *ngIf="!isEditMode">
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                        <div class="row">
                            <form #onboardingFormRoleGroup="ngForm" class="onboarding-form">
                                <div class="col-lg-12">
                                    <label class="control-label">{{"co_role_details" | translate}}</label>
                                    <div class="thumbnail">

                                        <img class="img img-responsive" src="assets/images/default_role_group.svg#def_rolegroup" alt="" />
                                        <div class="row">
                                            <div class="col-lg-7 col-md-7 col-sm-12">
                                                <label class="control-label required-lbl">Display Name</label>
                                                <input type="email" class="form-control input-sm" required name="displalyName" #displayName="ngModel" [(ngModel)]="roleGroup.displalyName"
                                                    minlength="4" maxlength="64" pattern="[a-zA-Z][a-zA-Z ]*([']?[-]?)[a-zA-Z ]*">
                                                <div *ngIf="displayName.errors && (displayName.dirty || displayName.touched)" class="text-danger">
                                                    <div [hidden]="!displayName.errors.required">
                                                       {{"co_display_req" | translate}}
                                                    </div>
                                                    <div [hidden]="!displayName.errors.minlength">
                                                      {{"co_display_minlen" | translate}}
                                                    </div>
                                                    <div [hidden]="!displayName.errors.maxlength">
                                                      {{"co_display_maxlen" | translate}}
                                                    </div>
                                                    <div [hidden]="!displayName.errors.pattern">
                                                      {{"co_display_invalid" | translate}}
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-5 col-md-5 col-sm-12 user-status-change">
                                                <div class="control-label">Active</div>
                                                <label class="switch">
                                                    <input type="checkbox" name="userstatus" [(ngModel)]="roleGroup.status">
                                                    <div class="slider round"></div>
                                                </label>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <div class="col-lg-12">
                                    <label class="control-label required-lbl">{{"co_role_description" | translate}}</label>
                                    <textarea class="form-control rule-description" name="Description" rows="20" #description="ngModel" [(ngModel)]="roleGroup.description"
                                        required minlength="4" maxlength="128" [(ngModel)]="name" (ngModelChange)="checkRoleGroupDescription()"> </textarea>
                                    <div *ngIf="description.errors && (description.dirty || description.touched)" class="text-danger">
                                        <div [hidden]="!description.errors.required">
                                           {{"co_desc_req" | translate}}
                                        </div>
                                        <div [hidden]="!description.errors.minlength">
                                            {{"co_desc_minlen" | translate}}
                                        </div>
                                        <div [hidden]="!description.errors.maxlength">
                                          {{"co_desc_maxlen" | translate}}
                                        </div>
                                    </div>
                                    <div class="text-danger" *ngIf="roleGroup.description.length > 3 && !isValidDescription">
                                      {{"co_desc_invalid" | translate}}
                                    </div>
                                </div>
                            </form>

                        </div>
                    </div>
                    <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                        <div class="onboarding-instruction hidden-xs thumbnail">
                            <h3>{{"co_create_role" | translate}}</h3>
                            <p>{{"co_role_guide1" | translate}} </p>
                            <p>{{"co_role_guide2" | translate}}</p>

                        </div>
                        <div class="row">
                            <div class="col-lg-12 text-right form-group btn-action-area">
                                <button class="btn btn-tab" (click)="cancel()">{{"generic_cancel" | translate}}</button>
                                <button class="btn btn-tab" (click)="saveRoleGroup(onboardingFormRoleGroup.valid)" [disabled]="onboardingFormRoleGroup.invalid">{{"generic_continue" | translate}}</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12" *ngIf="isEditMode">
                    <section class="verticle-tabs">
                        <div class="verticle-tabs-left">
                            <h4 [ngClass]="{ active: featureSelected == 1 }">{{"generic_admin" | translate}}</h4>
                            <h4 [ngClass]="{ active: featureSelected == 2 }">{{"generic_operational" | translate}}</h4>
                            <h4 [ngClass]="{ active: featureSelected == 3 }">{{"generic_subscription" | translate}}</h4>
                        </div>
                        <div class="verticle-tabs-right">
                            <ul id="admin-content" *ngIf="featureSelected == 1">
                                <li>
                                    <div class="table-responsive" *ngIf="featureSelected == 1">
                                        <table class="table">
                                            <thead>
                                                <tr>
                                                    <th>{{"generic_feature_name" | translate}}</th>
                                                </tr>
                                            </thead>
                                            <tbody [style.maxHeight.px]="tableBodyMaxHeight">
                                                <tr *ngFor="let feature of _features;let isOdd=odd;let isEven=even;" [class.odd]="isOdd" [class.even]="isEven">
                                                    <td>
                                                        <label class="control-label">
                                                            <input type="checkbox" name="{{feature.featureId}}" [(ngModel)]="feature.enabled" (change)="checkForm()" /> {{feature.name}}
                                                        </label>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </li>
                            </ul>
                            <ul id="operational-content" *ngIf="featureSelected == 2">
                                <li>
                                    <div class="table-responsive" *ngIf="featureSelected == 2">
                                        <table class="table">
                                            <thead>
                                                <tr>
                                                    <th>{{"generic_feature_name" | translate}}</th>
                                                </tr>
                                            </thead>
                                            <tbody [style.maxHeight.px]="tableBodyMaxHeight">
                                                <tr *ngFor="let feature of _features;let isOdd=odd;let isEven=even;" [class.odd]="isOdd" [class.even]="isEven">
                                                    <td>
                                                        <label class="control-label">
                                                            <input type="checkbox" name="{{feature.featureId}}" [(ngModel)]="feature.enabled" (change)="checkForm()" /> {{feature.name}}
                                                        </label>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </li>
                            </ul>
                            <ul id="subscription-content" *ngIf="featureSelected == 3">
                                <li>
                                    <ng-template [ngIf]="featureSelected == 3">
                                        <app-subscription-topics (subscriptionTopicsSubscriber)="subscriptionTopics = $event" [tableBodyMaxHeight]="tableBodyMaxHeight" [companyAndRoleData]="companyRoleData" [groupId]="groupId"></app-subscription-topics>
                                    </ng-template>
                                    <h3 class="no-topics" *ngIf="subscriptionTopics?.length == 0">{{"co_topic_unavailable" | translate}}</h3>
                                </li>
                            </ul>
                        </div>
                    </section>
                    <div class="col-lg-12 text-right form-group no-padding tab-actions">
                        <button class="btn btn-tab" type="button" (click)="cancel()">{{"generic_cancel" | translate}}</button>
                        <!--<button class="btn btn-tab" type="button" (click)="goToNextTab()" [disabled]="!selected">Continue</button>-->
                        <button class="btn btn-tab" type="button" (click)="goToNextTab()" [disabled]="featureSelected == 2 && !selected">{{"generic_continue" | translate}}</button>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <!--<app-subscription-topic-option-template [templateUsedFor]="templateUsedFor" [status]="topicOptionStatus" [templateData]="templateData" [companyAndRoleData]="companyAndRoleDataForSubscription" *ngIf="openSubscriptionTopicOptionModal" (closeModal)="closeTopicOptionModal($event)"></app-subscription-topic-option-template>-->
</div>
