<div class="buiding-container">
  <div class="buiding-subcontainer">
    <div class="companyListContainer">
      <div *ngFor="let companyDes of arrayCompanyList">
        <div class="companyList" (click)="companyDetails(companyDes)">
          <div style="color:white; display: flex;
     align-items: center;
     justify-content: center;">
            <span>{{companyDes.assetId}}</span>
          </div>
          <i style="color:white; right:5px; position:absolute;font-size:18px" class="fa fa-arrow-circle-right" aria-hidden="true"></i>
          <div class="divider"></div>
        </div>
      </div>
    </div>
  </div>
</div>