div.buiding-container
{
width: 96%;
height: 100%;
overflow: scroll;
}

.buiding-subcontainer
{
    width: 95%;
    height: 86%;
    position: absolute;
    background-size: 100% 100%;
    overflow: scroll;
    background-image: url("/assets/images/images/building_Image.jpg");
}
.companyListContainer
{
  margin-top: 15px;
  margin-left: 20px;
  position: relative;
  overflow: scroll;
}
.companyList
{
    width: 300px;
    height: 60px;
    background: black;
    position: relative;
    opacity: 0.8;
    display: flex;
    align-items: center;
    text-align:  center;
    justify-content: center;
    
}
.divider
{
    height: 1px;
    width: 300px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0px;
    background: white;
}