<div class="panel panel-app panel-without-bottom" appMapWindowResize [map]="map" [data]="mapData" (onChangeHeight)="mainContainerHeight = $event">
  <div class="panel-heading clearfix" id="gmap-header">
    <div class="col-lg-12 google-map-form">
      <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
        <select class="form-control input-sm" [(ngModel)]="geoFilter.event" (ngModelChange)="changeFilter()">
          <option value="" selected> {{"geo_events" | translate}} </option>
          <option value="0"> {{"geo_inactive" | translate}} </option>
          <option value="1"> {{"geo_stopped" | translate}} </option>
          <option value="2"> {{"geo_idle" | translate}}</option>
          <option value="3"> {{"geo_moving" | translate}} </option>
          <option value="4"> {{"geo_alarm" | translate}}</option>
        </select>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
        <select class="form-control input-sm" [(ngModel)]="geoFilter.facility" (ngModelChange)="changeFilter()">
          <option value=""> Facilities </option>
          <option *ngFor="let facility of availableFacility" [value]="facility.facilityId"> {{facility.facilityName}}</option>
        </select>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
        <select class="form-control input-sm" [(ngModel)]="geoFilter.geofence" (ngModelChange)="changeGeoFenceFilter(true)">
          <option value=""> {{"geo_fence" | translate}} </option>
          <option *ngFor="let geoFence of availableGeoFence" [value]="geoFence.geofenceId"> {{geoFence.name}}</option>
        </select>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
        <select class="form-control input-sm" tabindex="1" #assetTypeSelect="ngModel" name="assetTypeSelect" (ngModelChange)="changeFilter()"
          [(ngModel)]="geoFilter.assetType">
          <option value="" selected>{{"ao_asset_type" | translate}}</option>
          <option *ngFor="let assettype of avilableaAssetType" [value]="assettype.name">{{assettype.name}}</option>
        </select>
      </div>
      <div class="window-max-min-handler no-padding">
        <i class="glyphicon pull-right resize-icons" *ngIf="!minimize.list" (click)="fullscreen.map = !fullscreen.map; fullscreen.list = false;changeMinMax();"
          [ngClass]="{'glyphicon-resize-full': !fullscreen.map , 'glyphicon-resize-small':fullscreen.map}"></i>
        <!-- <i class="glyphicon pull-right resize-icons" (click)="minimize.list = !minimize.list; minimize.map = false;changeMinMax();"
          [ngClass]="{'glyphicon-arrow-left': !minimize.list , 'glyphicon-arrow-right':minimize.list }"></i> -->
      </div>
    </div>


  </div>
  <div class="panel-body map-body">
    <agm-map [ngStyle]="{ height: mainContainerHeight + 'px' }" [latitude]="lat" [longitude]="lng" [fullscreenControl]="true"
      [zoom]="zoom" mapTypeControl="true" [mapTypeControlOptions]="mapTypeControlOptions" [streetViewControl]="false" [zoomControlOptions]="zoomControlOptions"
      (zoomChange)="zoomChange($event)" [clickableIcons]="false" id="geoTrackingAgmMap">
      <agm-marker *ngFor="let marker of mapData; let i = index;" [latitude]="marker.latitude" [longitude]="marker.longitude" [iconUrl]="marker.icon"
        [label]="label" [zIndex]="marker.zIndex" title="{{marker.assetId}}" (markerClick)="clickedMarker(i)">
        <agm-info-window [disableAutoPan]="true" [isOpen]="marker.isOpen">
          <table class="table info-table">
            <tr>
              <td class="img-div">
                <img [src]="marker.assetLogo" width="30px" height="30px" alt="Marker">
                <span class="status">
                  <div *ngIf="marker?.status == 0">
                    <!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd">
                    <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                      viewBox="0 0 298.807 298.807" style="enable-background:new 0 0 298.807 298.807;" xml:space="preserve"
                      class="status inactive">
                      <g>
                        <path d="M223.383,255.164l-9.54-33.76c-71.4,63.126-130.786,5.012-141.612-11.675l5.504-3.399c2.433-1.508,3.857-4.221,3.707-7.081
                    c-0.149-2.857-1.846-5.41-4.423-6.654l-49.377-23.802c-1.08-0.523-2.239-0.782-3.399-0.782c-1.433,0-2.861,0.398-4.121,1.175
                    c-2.279,1.403-3.682,3.871-3.722,6.548l-0.841,54.812c-0.045,2.861,1.478,5.519,3.965,6.937c1.205,0.682,2.539,1.02,3.872,1.02
                    c1.429,0,2.857-0.389,4.121-1.169l2.633-1.627c45.271,73.442,149.175,80.638,205.414,32.69
                    C229.663,266.098,225.12,261.325,223.383,255.164z" />
                        <path d="M56.666,169.026c-5.809-31.47,15.082-95.47,84.416-103.008v0.836c0,2.861,1.563,5.499,4.071,6.873
                    c1.174,0.647,2.474,0.965,3.767,0.965c1.469,0,2.936-0.413,4.221-1.234l46.196-29.5c2.26-1.443,3.623-3.931,3.623-6.608
                    c0-2.678-1.363-5.166-3.618-6.609L153.14,1.234C151.856,0.413,150.388,0,148.919,0c-1.293,0-2.593,0.318-3.767,0.965
                    c-2.508,1.374-4.071,4.011-4.071,6.873v8.639C73.737,16.189,2.111,79.857,6.727,165.732c0,0,10.425-10.112,17.517-10.112
                    C30.207,155.62,31.274,156.788,56.666,169.026z" />
                        <path d="M292.123,212.351c-0.592-2.802-2.662-5.061-5.405-5.887l-5.652-1.707c16.622-46.53,11.226-126.807-66.247-171.649
                    c0.293,1.383,0.532,2.787,0.532,4.24c0,6.942-3.494,13.317-9.346,17.054l-26.679,17.035c23.634,6.821,77.648,48.932,54.274,118.997
                    l-3.384-1.02c-0.746-0.223-1.508-0.338-2.265-0.338c-2.025,0-4.006,0.792-5.488,2.249c-2.045,2.005-2.832,4.966-2.056,7.723
                    l14.899,52.746c0.727,2.574,2.717,4.599,5.275,5.375c0.741,0.223,1.507,0.333,2.265,0.333c1.846,0,3.662-0.658,5.105-1.892
                    l41.604-35.691C291.73,218.055,292.715,215.153,292.123,212.351z" />
                      </g>
                    </svg>
                  </div>
                  <div *ngIf="marker?.status == 1">
                    <!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd">
                    <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                      viewBox="0 0 298.807 298.807" style="enable-background:new 0 0 298.807 298.807;" xml:space="preserve"
                      class="status stopped">
                      <g>
                        <path d="M223.383,255.164l-9.54-33.76c-71.4,63.126-130.786,5.012-141.612-11.675l5.504-3.399c2.433-1.508,3.857-4.221,3.707-7.081
                    c-0.149-2.857-1.846-5.41-4.423-6.654l-49.377-23.802c-1.08-0.523-2.239-0.782-3.399-0.782c-1.433,0-2.861,0.398-4.121,1.175
                    c-2.279,1.403-3.682,3.871-3.722,6.548l-0.841,54.812c-0.045,2.861,1.478,5.519,3.965,6.937c1.205,0.682,2.539,1.02,3.872,1.02
                    c1.429,0,2.857-0.389,4.121-1.169l2.633-1.627c45.271,73.442,149.175,80.638,205.414,32.69
                    C229.663,266.098,225.12,261.325,223.383,255.164z" />
                        <path d="M56.666,169.026c-5.809-31.47,15.082-95.47,84.416-103.008v0.836c0,2.861,1.563,5.499,4.071,6.873
                    c1.174,0.647,2.474,0.965,3.767,0.965c1.469,0,2.936-0.413,4.221-1.234l46.196-29.5c2.26-1.443,3.623-3.931,3.623-6.608
                    c0-2.678-1.363-5.166-3.618-6.609L153.14,1.234C151.856,0.413,150.388,0,148.919,0c-1.293,0-2.593,0.318-3.767,0.965
                    c-2.508,1.374-4.071,4.011-4.071,6.873v8.639C73.737,16.189,2.111,79.857,6.727,165.732c0,0,10.425-10.112,17.517-10.112
                    C30.207,155.62,31.274,156.788,56.666,169.026z" />
                        <path d="M292.123,212.351c-0.592-2.802-2.662-5.061-5.405-5.887l-5.652-1.707c16.622-46.53,11.226-126.807-66.247-171.649
                    c0.293,1.383,0.532,2.787,0.532,4.24c0,6.942-3.494,13.317-9.346,17.054l-26.679,17.035c23.634,6.821,77.648,48.932,54.274,118.997
                    l-3.384-1.02c-0.746-0.223-1.508-0.338-2.265-0.338c-2.025,0-4.006,0.792-5.488,2.249c-2.045,2.005-2.832,4.966-2.056,7.723
                    l14.899,52.746c0.727,2.574,2.717,4.599,5.275,5.375c0.741,0.223,1.507,0.333,2.265,0.333c1.846,0,3.662-0.658,5.105-1.892
                    l41.604-35.691C291.73,218.055,292.715,215.153,292.123,212.351z" />
                      </g>
                    </svg>
                  </div>
                  <div *ngIf="marker?.status == 2">
                    <!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd">
                    <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                      viewBox="0 0 298.807 298.807" style="enable-background:new 0 0 298.807 298.807;" xml:space="preserve"
                      class="status idle">
                      <g>
                        <path d="M223.383,255.164l-9.54-33.76c-71.4,63.126-130.786,5.012-141.612-11.675l5.504-3.399c2.433-1.508,3.857-4.221,3.707-7.081
                    c-0.149-2.857-1.846-5.41-4.423-6.654l-49.377-23.802c-1.08-0.523-2.239-0.782-3.399-0.782c-1.433,0-2.861,0.398-4.121,1.175
                    c-2.279,1.403-3.682,3.871-3.722,6.548l-0.841,54.812c-0.045,2.861,1.478,5.519,3.965,6.937c1.205,0.682,2.539,1.02,3.872,1.02
                    c1.429,0,2.857-0.389,4.121-1.169l2.633-1.627c45.271,73.442,149.175,80.638,205.414,32.69
                    C229.663,266.098,225.12,261.325,223.383,255.164z" />
                        <path d="M56.666,169.026c-5.809-31.47,15.082-95.47,84.416-103.008v0.836c0,2.861,1.563,5.499,4.071,6.873
                    c1.174,0.647,2.474,0.965,3.767,0.965c1.469,0,2.936-0.413,4.221-1.234l46.196-29.5c2.26-1.443,3.623-3.931,3.623-6.608
                    c0-2.678-1.363-5.166-3.618-6.609L153.14,1.234C151.856,0.413,150.388,0,148.919,0c-1.293,0-2.593,0.318-3.767,0.965
                    c-2.508,1.374-4.071,4.011-4.071,6.873v8.639C73.737,16.189,2.111,79.857,6.727,165.732c0,0,10.425-10.112,17.517-10.112
                    C30.207,155.62,31.274,156.788,56.666,169.026z" />
                        <path d="M292.123,212.351c-0.592-2.802-2.662-5.061-5.405-5.887l-5.652-1.707c16.622-46.53,11.226-126.807-66.247-171.649
                    c0.293,1.383,0.532,2.787,0.532,4.24c0,6.942-3.494,13.317-9.346,17.054l-26.679,17.035c23.634,6.821,77.648,48.932,54.274,118.997
                    l-3.384-1.02c-0.746-0.223-1.508-0.338-2.265-0.338c-2.025,0-4.006,0.792-5.488,2.249c-2.045,2.005-2.832,4.966-2.056,7.723
                    l14.899,52.746c0.727,2.574,2.717,4.599,5.275,5.375c0.741,0.223,1.507,0.333,2.265,0.333c1.846,0,3.662-0.658,5.105-1.892
                    l41.604-35.691C291.73,218.055,292.715,215.153,292.123,212.351z" />
                      </g>
                    </svg>
                  </div>
                  <div *ngIf="marker?.status == 3">
                    <!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd">
                    <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                      viewBox="0 0 298.807 298.807" style="enable-background:new 0 0 298.807 298.807;" xml:space="preserve"
                      class="status moving">
                      <g>
                        <path d="M223.383,255.164l-9.54-33.76c-71.4,63.126-130.786,5.012-141.612-11.675l5.504-3.399c2.433-1.508,3.857-4.221,3.707-7.081
                    c-0.149-2.857-1.846-5.41-4.423-6.654l-49.377-23.802c-1.08-0.523-2.239-0.782-3.399-0.782c-1.433,0-2.861,0.398-4.121,1.175
                    c-2.279,1.403-3.682,3.871-3.722,6.548l-0.841,54.812c-0.045,2.861,1.478,5.519,3.965,6.937c1.205,0.682,2.539,1.02,3.872,1.02
                    c1.429,0,2.857-0.389,4.121-1.169l2.633-1.627c45.271,73.442,149.175,80.638,205.414,32.69
                    C229.663,266.098,225.12,261.325,223.383,255.164z" />
                        <path d="M56.666,169.026c-5.809-31.47,15.082-95.47,84.416-103.008v0.836c0,2.861,1.563,5.499,4.071,6.873
                    c1.174,0.647,2.474,0.965,3.767,0.965c1.469,0,2.936-0.413,4.221-1.234l46.196-29.5c2.26-1.443,3.623-3.931,3.623-6.608
                    c0-2.678-1.363-5.166-3.618-6.609L153.14,1.234C151.856,0.413,150.388,0,148.919,0c-1.293,0-2.593,0.318-3.767,0.965
                    c-2.508,1.374-4.071,4.011-4.071,6.873v8.639C73.737,16.189,2.111,79.857,6.727,165.732c0,0,10.425-10.112,17.517-10.112
                    C30.207,155.62,31.274,156.788,56.666,169.026z" />
                        <path d="M292.123,212.351c-0.592-2.802-2.662-5.061-5.405-5.887l-5.652-1.707c16.622-46.53,11.226-126.807-66.247-171.649
                    c0.293,1.383,0.532,2.787,0.532,4.24c0,6.942-3.494,13.317-9.346,17.054l-26.679,17.035c23.634,6.821,77.648,48.932,54.274,118.997
                    l-3.384-1.02c-0.746-0.223-1.508-0.338-2.265-0.338c-2.025,0-4.006,0.792-5.488,2.249c-2.045,2.005-2.832,4.966-2.056,7.723
                    l14.899,52.746c0.727,2.574,2.717,4.599,5.275,5.375c0.741,0.223,1.507,0.333,2.265,0.333c1.846,0,3.662-0.658,5.105-1.892
                    l41.604-35.691C291.73,218.055,292.715,215.153,292.123,212.351z" />
                      </g>
                    </svg>
                  </div>
                  <div *ngIf="marker?.status == 4">
                    <!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd">
                    <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                      viewBox="0 0 298.807 298.807" style="enable-background:new 0 0 298.807 298.807;" xml:space="preserve"
                      class="status alarm">
                      <g>
                        <path d="M223.383,255.164l-9.54-33.76c-71.4,63.126-130.786,5.012-141.612-11.675l5.504-3.399c2.433-1.508,3.857-4.221,3.707-7.081
                    c-0.149-2.857-1.846-5.41-4.423-6.654l-49.377-23.802c-1.08-0.523-2.239-0.782-3.399-0.782c-1.433,0-2.861,0.398-4.121,1.175
                    c-2.279,1.403-3.682,3.871-3.722,6.548l-0.841,54.812c-0.045,2.861,1.478,5.519,3.965,6.937c1.205,0.682,2.539,1.02,3.872,1.02
                    c1.429,0,2.857-0.389,4.121-1.169l2.633-1.627c45.271,73.442,149.175,80.638,205.414,32.69
                    C229.663,266.098,225.12,261.325,223.383,255.164z" />
                        <path d="M56.666,169.026c-5.809-31.47,15.082-95.47,84.416-103.008v0.836c0,2.861,1.563,5.499,4.071,6.873
                    c1.174,0.647,2.474,0.965,3.767,0.965c1.469,0,2.936-0.413,4.221-1.234l46.196-29.5c2.26-1.443,3.623-3.931,3.623-6.608
                    c0-2.678-1.363-5.166-3.618-6.609L153.14,1.234C151.856,0.413,150.388,0,148.919,0c-1.293,0-2.593,0.318-3.767,0.965
                    c-2.508,1.374-4.071,4.011-4.071,6.873v8.639C73.737,16.189,2.111,79.857,6.727,165.732c0,0,10.425-10.112,17.517-10.112
                    C30.207,155.62,31.274,156.788,56.666,169.026z" />
                        <path d="M292.123,212.351c-0.592-2.802-2.662-5.061-5.405-5.887l-5.652-1.707c16.622-46.53,11.226-126.807-66.247-171.649
                    c0.293,1.383,0.532,2.787,0.532,4.24c0,6.942-3.494,13.317-9.346,17.054l-26.679,17.035c23.634,6.821,77.648,48.932,54.274,118.997
                    l-3.384-1.02c-0.746-0.223-1.508-0.338-2.265-0.338c-2.025,0-4.006,0.792-5.488,2.249c-2.045,2.005-2.832,4.966-2.056,7.723
                    l14.899,52.746c0.727,2.574,2.717,4.599,5.275,5.375c0.741,0.223,1.507,0.333,2.265,0.333c1.846,0,3.662-0.658,5.105-1.892
                    l41.604-35.691C291.73,218.055,292.715,215.153,292.123,212.351z" />
                      </g>
                    </svg>
                  </div>
                </span>
              </td>
              <td class="details">
                <div *ngIf="geoFilter.utilities == 1">
                  {{"ao_assetid" | translate}} :
                  <span class="clickable" (click)="navigateDashboard(marker)">{{marker.assetId}}</span>

                </div>
                <div *ngIf="geoFilter.utilities == 2">
                  {{"ao_vin" | translate}}: {{marker.vin}}
                </div>
                <div *ngIf="geoFilter.utilities == 3">
                  {{"ao_make" | translate}} : {{marker.make}}
                </div>
                <div *ngIf="geoFilter.utilities == 4">
                  {{"ao_model" | translate}} : {{marker.model}}
                </div>
                <div *ngIf="geoFilter.utilities == 5">
                  {{"ao_serial_number" | translate}} : {{marker.serialNumber}}
                </div>
                <div>
                  updated : {{marker.latestSyncDate | convertToLocalDate}}
                </div>
                <div>
                  {{"generic_location" | translate}} :
                  <span></span>{{marker?.latitude}},{{marker?.longitude}}
                </div>
            </tr>
            <tr *ngIf="!marker.isPlaying" (click)="playWithRoute(i)">
              <td class="play-route" colspan="2">
                <div>Play Route</div>
              </td>
            </tr>
            <tr *ngIf="marker.isPlaying">
              <td colspan="4" class="slider-info">
                <!-- <div class="col-xs-12 col-sm-6 col-md-4 col-lg-6">
                    <app-time-slider (timeRange)="timeChanged($event)" #timeRange></app-time-slider>
                  </div> -->
                <div class="slide-main">
                  <app-date-slider [range]="dateRangeValue" (dateRange)="dateChanged($event)" #dateRange></app-date-slider>
                </div>
                <div class="slide-main">
                  <app-time-slider [range]="timeRangeValue" (timeRange)="timeChanged($event)" #timeRange></app-time-slider>
                </div>
                <span class="glyphicon glyphicon-play play-icon" (click)="geoFencingService.isRouteFromMap = true;isPlayWithRoute = true;action.next({item: marker, startDate:sliderDate.startDate, endDate:sliderDate.endDate, startTime:sliderTime.startTime, endTime: sliderTime.endTime })"></span>
              </td>
            </tr>
          </table>
        </agm-info-window>
      </agm-marker>
      <agm-marker *ngFor="let marker of alarmData" [latitude]="marker.lat" [longitude]="marker.lng" (markerClick)="alarmClicked(marker)"
        iconUrl="assets/images/red.png">
      </agm-marker>
      <agm-marker *ngFor="let marker of displayRoute" [latitude]="marker.lat" [longitude]="marker.lng" (markerClick)="alarmClicked(marker)"
        iconUrl="assets/images/red.png">
      </agm-marker>
      <!-- <agm-circle *ngIf="location" [latitude]="lat + 0.3" [longitude]="lng" [radius]="75000" [fillColor]="'red'" [circleDraggable]="false"
        [editable]="true">
      </agm-circle> -->
      <app-gmap (mapReady)="mapRendered($event)"></app-gmap>
    </agm-map>
    <span class="map-control">
      <button class="btn btn-default" (click)="deleteSelectedShape()">
        <div class="map-icon-holder">
          <svg height="14px" width="14px">
            <use [attr.xlink:href]="svgIcons[0]"></use>
          </svg>
        </div>
      </button>
    </span>
    <div class="form-group play-pause-icon" *ngIf="isPlayWithRoute">
      <div>
        <span class="glyphicon glyphicon-stop" (click)="stopAlarmRoute()" *ngIf="selectedMarkerData?.isPlaying"></span>
        <span class="glyphicon glyphicon-pause" (click)="pauseOrReplayAlarm()" *ngIf="!selectedMarkerData?.isPaused && availableGeoData && availableGeoData.length > 0"></span>
        <span class="glyphicon glyphicon-play" (click)="pauseOrReplayAlarm()" *ngIf="selectedMarkerData?.isPaused && availableGeoData && availableGeoData.length > 0"></span>
      </div>
    </div>
  </div>

  <div class="panel-footer clearfix map-footer" id="gmap-footer">

    <div class="form-inline">
      <div class="checkbox col-lg-3 col-md-3 col-sm-3 col-xs-3">
        <label>
          <input type="checkbox" [(ngModel)]="geoFilter.showZones" (change)="resetGeoFenceFilter(geoFilter.showZones)" /> {{"geo_show_zones" | translate}}
        </label>
      </div>
      <div class="pull-right pull-right-clear google-map-form col-lg-9 col-md-9 col-sm-9 col-xs-9">
        <div class="form-group col-lg-4 col-md-4 col-sm-4 col-xs-4">
          <select class="form-control input-sm" (ngModelChange)="changeFilter()" [(ngModel)]="geoFilter.utilities">
            <option value="" disabled>Utilities </option>
            <option value="1"> {{"ao_assetid" | translate}} </option>
            <option value="2"> {{"ao_vin" | translate}} </option>
            <option value="3"> {{"ao_make" | translate}} </option>
            <option value="4"> {{"ao_model" | translate}} </option>
            <option value="5"> {{"ao_serial_number" | translate}} </option>
          </select>
        </div>

        <div class="form-group col-lg-4 col-md-4 col-sm-4 col-xs-4">
          <input class="form-control input-sm" type="text" placeholder="{{placeholderone}}" (ngModelChange)="changeFilter()" [(ngModel)]="geoFilter.vin"
          />
        </div>

        <div class="form-group col-lg-4 col-md-4 col-sm-4 col-xs-4 google-location">
          <input id="geoFencingMapAutoComplate" (focus)="setPositionToAutoComplate('in')" (focusout)="setPositionToAutoComplate('out')"
            class="form-control input-sm" type="text" placeholder="{{placeholdertwo}}" name="addressName" [(ngModel)]="location"
          />
        </div>
      </div>
    </div>
  </div>
</div>
