.sebm-google-map-container {
  height: 80vh;
}

.map-body {
  position: relative;
  .map-control {
    position: absolute;
    bottom: 11px;
    left: 200px;
    @media only screen and (max-width: 385px) {
      left: 135px;
    }
    .btn-default {
      padding: 6px 12px;
    }
  }
  .details {
    padding-left: 10px;
    width: 80%;
    max-width: 221px;
    @media only screen and (max-width: 365px) {
      padding-left: 0px;
    }
  }
}

.gmnoprint {
  div {
    bottom: 10px !important;
    left: 175px !important;
  }
}

.map-icon-holder {
  width: 15px;
  height: 15px;
}

.info-table {
  .img-div {
    padding-left: 5px;
    min-width: 47px;
  }
  tr>td {
    border: 0px;
    vertical-align: middle;
  }
  .slide-main {
    padding-top: 3px;
    padding-left: 15px;
    position: relative;
    padding-right: 15px;
  }
}

.clickable:hover {
  cursor: pointer;
  text-decoration: underline;
}

.resize-icons {
  padding-left: 10px;
  cursor: pointer;
}

.map-footer {
  background: #57607d;
}

.form-group.play-pause-icon {
  margin-bottom: 0px;
  display: inline-block;
  position: absolute;
  bottom: 16px;
  color: white;
  right: 140px;
  @media only screen and (max-width: 991px) {
    bottom: 17px;
  }
  @media only screen and (max-width: 530px) {
    bottom: 52px;
    right: 5px;
    padding: 6px;
  }

  padding: 6px;
  
  div {
    width: 60px;
    display: inline-block;
    text-align: center;
    background-color: #59caf8;
    border-radius: 5px;
    padding: 5px;
    line-height: 1.2;
    @media only screen and (max-width: 530px) {
    }
  }
}


#gmap-footer {
  padding: 6px 15px;
}

.slider-info {
  background-color: #59caf8;
  min-width: 271px;
}

.panel-heading {
  .google-map-form {
    position: relative;
    @media only screen and (max-width: 480px) {
      padding: 0px;
      display: inline-block;
    }
  }
  .window-max-min-handler {
    position: absolute;
    right: -9px;
    top: 3px;
  }
}
.form-inline {
  .checkbox {
    padding: 0;
    margin-top: 0px !important; 
    margin-bottom: 0px !important;
    input {
      @media only screen and (max-width: 780px) {
        position: relative;
        top: 2px;
      }
    }
  }
  .google-map-form {
    padding: 0;
    .form-control {
      border-radius: 1px;
      padding: 2px;
      &.input-sm {
        height: 23px;
        width: 100%;
      }
    }
    select.input-sm {
      line-height: 1.5;
    }
    @media only screen and (max-width: 480px) {
      display: inline-block;
    }
    .form-group  {
      padding: 0 5px;
    }
  }
  .form-group {
    margin:  0px !important
  }
}



.panel-heading {
  padding: 5px 15px;
  @media only screen and (max-width: 991px){
    padding: 10px 15px;
  }

  @media only screen and (max-width: 768px){
    padding: 10px 0px;
    .col-lg-3 {
      padding: 0px 5px;
    }
  }

  @media only screen and (max-width: 550px){
    .col-lg-3 {
      padding: 0px 3px;
    }
  }
}

.panel-footer {
  @media only screen and (max-width: 991px){
    padding: 10px 15px;
  }
  @media only screen and (max-width: 481px){
    position: relative;
    padding: 10px 1px;
    .form-group.play-pause-icon{
      display: inline-block;
      position: absolute;
      top: 7px;
      padding: 0px 6px;
    }
  }
}


.glyphicon {
  cursor: pointer;
}

@media only screen and (max-width: 991px) {
  .resize-icons {
    display: none;
  }
  .window-max-min-handler {
    display: none;
  }
}


/* Smartphones (portrait and landscape) ----------- */

@media only screen and (min-width: 320px) and (max-width: 480px) {
  /* Styles */
  .google-map-form > div.col-xs-6 {
    margin-bottom: 3px;
    padding-left: 0px;
  }
  .pull-right-clear{
    float: none !important;
  }

  .col-xs-3 {
    width: 50%;
    margin: 5px 0px;
    margin-bottom: 0px;
  }

  .map-body {
    .map-control {
      bottom: 55px;
    }
  }
  .form-inline {
    .checkbox.col-lg-3{
      width: 50%;
      margin-bottom: 10px !important;
      text-align: center;
      float: right;
    }
    .pull-right-clear.google-map-form.col-lg-9{
      width: 100%;
      .form-group.col-lg-4 {
        width: 50%;
        margin-bottom: 10px !important;
      }
      .form-group.col-lg-4.google-location {
        width: 100%;
      }
    }
  }
}


@media only screen and (min-width: 320px) and (max-width: 365px) {
  .table.info-table {
    tbody {
      width: 230px !important;
      tr {
        display: block;
        td.play-route, td.slider-info {
          width: 230px;
          min-width: auto;
          padding: 10px 5px;
        }
      }
    }
    .slider-info {
      .slide-main {
        width: 215px;
        display: inline-block;
        padding: 0px 10px;
      }
    }
  }
}  
