@import '../../../variables.scss';

.strip-outer.active {
  position: absolute;
  bottom: -25px;
}
.strip-outer.fixed {
  position: fixed;
  bottom: 0px;
  z-index: 9;
}
.strip-outer.fixedwith-footer {
  position: fixed;
  bottom: 36px;
  z-index: 9;
  @media only screen and (max-device-width: 480px) {
    bottom: 56px;
  }

}

.strip-outer {
  padding: 10px 5px;
  background-color: #efefef;
  border: 1px solid #CDD1D9;
  -moz-box-shadow: inset 0 0 5px #D3D3D3 !important;
  -webkit-box-shadow: inset 0 0 5px #D3D3D3 !important;
  box-shadow: inset 0 0 5px #D3D3D3 !important;
  overflow-x: auto;
  white-space: nowrap;
  text-align: center;
  .strip-inner {
  	width : 110px;
  	display: inline-block;
	.feature-card {
      cursor: pointer;
      line-height: 10.8px;
      width: 90%;

      .svg-holder {
        width: 50px;
        height: 50px;
        line-height: 4;
        margin: auto;
        border-radius: 50%; // border :  1px solid
        &.active{
        	background-color: #108EE2;
        }
        img {
          max-width: 35px;
          margin-top: -12px;
        }
      }
      .svg-icon {
        width: 100px;
        height: 100px;
        position: relative;
    	right: 5px;
    	top:-5px;
      }

    }
  }
}
