<div class="panel panel-app panel-without-bottom create-route-map" (onChangeHeight)="mainContainerHeight = $event">
  <div class="panel-body map-body">
    <agm-map [latitude]="lat" [longitude]="lng">
      <agm-marker *ngFor="let marker of poi; let i = index;" [latitude]="marker.address.latitude" [longitude]="marker.address.longitude"
        [iconUrl]="marker.icon" title="{{marker.name}}"></agm-marker>
      <app-gmap (mapReady)="mapRendered($event)"></app-gmap>
    </agm-map>
  </div>
</div>