<div class="battery-level">
  <div class="battery-level-top"></div>
  <div class="level level-1" [ngClass]="className">
    <div class="fill" [style.height]="!data['value'] ? '100%' : data['value'] > 12.5 && data['value'] < 15 ? (10 - ((data['value'] - 12.5)*10)/2.5)+'px' : data['value'] <= 15 ? '100%' : '0px'"></div>
    <div class="level-value level-value-1"></div>
  </div>
  <div class="level level-2" [ngClass]="className">
    <div class="fill" [style.height]="!data['value'] ? '100%' : data['value'] > 10 && data['value'] < 12.5 ? (10 - ((data['value'] - 10)*10)/2.5)+'px' : data['value'] < 12.5 ? '100%' : '0px'"></div>
    <div class="level-value level-value-2"></div>
  </div>
  <div class="level level-3" [ngClass]="className">
    <div class="fill" [style.height]="!data['value'] ? '100%' : data['value'] > 7.5 && data['value'] < 10 ? (10 - ((data['value'] - 7.5)*10)/2.5)+'px' : data['value'] < 10 ? '100%' : '0px'"></div>
    <div class="level-value level-value-3"></div>
  </div>
  <div class="level level-4" [ngClass]="className">
    <div class="fill" [style.height]="!data['value'] ? '100%' : data['value'] > 5 && data['value'] < 7.5 ? (10 - ((data['value'] - 5)*10)/2.5)+'px' : data['value'] < 7.5 ? '100%' : '0px'"></div>
    <div class="level-value level-value-4"></div>
  </div>
  <div class="level level-5" [ngClass]="className">
    <div class="fill" [style.height]="!data['value'] ? '100%' : data['value'] > 2.5 && data['value'] < 5 ? (10 - ((data['value'] - 2.5)*10)/2.5)+'px' : data['value'] < 5 ? '100%' : '0px'"></div>
    <div class="level-value level-value-5"></div>
  </div>
  <div class="level level-6" [ngClass]="className">
    <div class="fill" [style.height]="!data['value'] ? '100%' : data['value'] >= 2.5 ? '0px' : ((data['value']*10)/2.5)+'px'"></div>
    <div class="level-value level-value-6"></div>
  </div>
  <div class="fill-battery-level"></div>
</div>