.battery-level {
    position: relative;
    padding: 3px 3px;
    border: 4px solid #9e9e9e;
    border-top: none;
    padding-bottom: 0px;
    .battery-level-top {
        position: absolute;
        border: 4px solid #9e9e9e;
        top: -14px;
        width: 30px;
        border-bottom: none;
        height: 11px;
        width: 35px;
        left: 3px;
        &:after {
            content: '';
            width: 11px;
            height: 4px;
            background-color: #9e9e9e;
            position: absolute;
            top: 6px;
            right: 27px;
        }
        &:before {
            content: '';
            width: 11px;
            height: 4px;
            background-color: #9e9e9e;
            position: absolute;
            top: 6px;
            left: 27px;
        }
    }
    .level {
        width: 35px;
        height: 10px;
        margin-bottom: 2px;
        position: relative;
        // &.level-1 {
        //     background-color: #479d47;
        // }
        // &.level-2 {
        //     background-color: #98cd59;
        // }
        // &.level-3 {
        //     background-color: #f08c3c;
        // }
        // &.level-4 {
        //     background-color: #ef5c36;
        // }
        // &.level-5 {
        //     background-color: #ee4b34;
        // }
        // &.level-6 {
        //     background-color: #ed3b36;
        // }
        .fill {
            position: absolute;
            right: 0;
            width: 100%;
            opacity: 0.8;
            background-color: white;
        }
        .level-value {
            position: absolute;
            width: 10px;
            height: 4px;
            right: -20px;
            top: 50%;
            transform: translateY(-50%);
            display: none;
            // &.active {
            //     display: inline-block;
            // }
            // &.level-value-1 {
            //     background-color: #479d47;
            // }
            // &.level-value-2 {
            //     background-color: #98cd59;
            // } 
            // &.level-value-3 {
            //     background-color: #f08c3c;
            // } 
            // &.level-value-4 {
            //     background-color: #ef5c36;
            // } 
            // &.level-value-5 {
            //     background-color: #ee4b34;
            // }
            // &.level-value-6 {
            //     background-color: #ed3b36;
            // }
        }
    }
}

.red {
    background-color: red;
}
.orange {
    background-color: orange;
}
.green {
    background-color: green;
}