<ngb-tabset class="onboarding-tab" (tabChange)="beforeChange($event)" #assetBoardingTab>
  <ngb-tab id="assetTab">
    <ng-template ngbTabTitle>
      <div class="wizard-box">
        <svg-icon src="{{wizardItems[0].activeIcon}}" *ngIf="wizardItems[0].active"></svg-icon>
        <svg-icon src="{{wizardItems[0].icon}}" *ngIf="!wizardItems[0].active"></svg-icon>
        <span class="timeline-line"></span>
        <div class="title hidden-xs">{{wizardItems[0].name}}</div>
      </div>
    </ng-template>
    <ng-template ngbTabContent>
      <app-create-asset (status)="moveNextTab($event)" [returningBack]="returnToCreateAsset" (createDeviceOrFacility)="createDeviceOrFacility($event)"></app-create-asset>
    </ng-template>
  </ngb-tab>
  <ngb-tab id="facilityTab">
    <ng-template ngbTabTitle>
      <div class="wizard-box">
        <svg-icon src="{{wizardItems[1].activeIcon}}" *ngIf="wizardItems[1].active"></svg-icon>
        <svg-icon src="{{wizardItems[1].icon}}" *ngIf="!wizardItems[1].active"></svg-icon>
        <span class="timeline-line"></span>
        <div class="title hidden-xs">{{wizardItems[1].name}}</div>
      </div>
    </ng-template>
    <ng-template ngbTabContent>
      <app-create-facility (deviceOrFacilityCreated)="deviceOrFacilityCreated($event)" (back)="gotoPreviousTab($event)"></app-create-facility>
    </ng-template>
  </ngb-tab>
  <ngb-tab id="deviceTab">
    <ng-template ngbTabTitle>
      <div class="wizard-box">
        <svg-icon src="{{wizardItems[2].activeIcon}}" *ngIf="wizardItems[2].active"></svg-icon>
        <svg-icon src="{{wizardItems[2].icon}}" *ngIf="!wizardItems[2].active"></svg-icon>
        <span class="timeline-line"></span>
        <div class="title hidden-xs">{{wizardItems[2].name}}</div>
      </div>
    </ng-template>
    <ng-template ngbTabContent>
      <app-create-device (deviceOrFacilityCreated)="deviceOrFacilityCreated($event)" (back)="gotoPreviousTab($event)"></app-create-device>
    </ng-template>
  </ngb-tab>
</ngb-tabset>
