.panel-app {
  margin-bottom: 1px;
  border:0px;
  width: 100%;
  float: right;
  position: relative;
  .no-data {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 100%;
    height: auto;
    display: block;
    img {
      width: 30px;
      height: 30px;
    }
    p {
      margin-top: 10px;
      font-size: 16px;
    }
  }
  .panel-white-heading{
    background-image: linear-gradient(90deg,#4cc4ff,#4ca6ff);
    padding: 0px 0px 0px 25px;
    position: relative;
    font-size: 12px;
    font-weight: bold;
    .bell-icon {
      width: 20px;
      height: 20px;
      position: absolute;
      left: 4px;
      top: 50%;
      transform: translate(0%,-50%);
    }
  }
  .text-left {
    .pull-left {
      top: 8px;
      position: relative;
      color: white;
      left: -12px;
    }
    .alarm-console-search-icon {
      right: 15px;
      top: 6px;
      width: 17px;
      height: 17px;
    }
  }
  .panel-body-padding {
    padding: 0px;
    .table-responsive {
      table {
        thead {
          // background-color: #efe9e9;
          tr {
            th {
              mfdefaultsorter {
                a {
                  color: #3d3780 !important;
                }
              }
            }
          }
        }
        #mainBody {
          tr {
            td {
              color: #3d3780;
              border: 0px;
              border-bottom: 1px solid #e4e4e4;
              text-align: center;
              &.alarm-console-assetId {
                text-align: left;
              }
            }
          }
        }
      }
    }
  }
}

.text-left svg {
  float: left;
  position: relative;
  left: -20px;
}

.alarm-console-assetId {
  color: #8D919D;
  transition: all 0.3s ease;
  position: relative;
  &:hover{
    cursor: pointer;
    color: #108EE2;
  }
  .hide-show-div {
    position: absolute;
    height: 100%;
    display: flex;
    align-items: center;
    left: 2px;
    top: 0px;
    img {
      width: 15px;
      height: 15px;
      cursor: pointer;
    }
  }
  &.toggle {
    padding-left: 20px !important;
  }
}
.status-icon {
  width: 18px;
  height: 18px;
}


.org-table thead{
  background-color: #e4e4e4;
  color: #545454;
}

.org-table {
  border: 0px solid #F1F1F1;
}

.org-table .sorter a {
  color: #3e3e3e!important;
  font-weight: bold!important;
}

mfdefaultsorter .sorter a.text-nowrap {
  color: #3e3e3e!important;
  font-weight: bold!important;
}

.org-table tbody tr td {
  color: #2a3142;
  border: 0px;
  border-right: 1px solid #e4e4e4;
}


.org-table thead tr th {
  font-weight: normal;
  text-align: center;
  color: #000;
  border-bottom: 0px;
}
.panel-app {
  margin-bottom: 1px;
}
.expand-icon {
  max-width: 17px;
}
.alarm-console-search-icon {
  position: absolute;
  cursor: pointer;
  right: 40px;
  top: 5px;
  width: 20px;
  height: 20px;
}
.filter-search-table {
  top: 36px;
  td {
    padding: 0px 8px !important;
  }
}
.expand-icon {
  width: 12px;
  height: 12px;
}
.asset-table-tr{
  &:nth-child(even) {
    background-color: #e0e0e0;
  }
  td {
    white-space: normal;
  }
}
.alarm-console-assetId {
  transition: all 0.3s ease;
  &:hover{
    cursor: pointer;
    color: #108EE2;
  }
}
.status-icon {
  width: 18px;
  height: 18px;

}
.panel-white-heading{
  padding: 6px 15px 6px 30px;
  position: relative;
  .bell-icon {
    width: 20px;
    height: 20px;
    position: absolute;
    left: 4px;
    top: 50%;
    transform: translate(0%,-50%);
  }
}
.center {
  text-align: center;
}
.alarm-console-table {
  display: table;
  width: 100%;
  margin-bottom: 0;
  thead {
    float: left;
    width: 100%;
    tr {
      width: 100%;
      display: table;
      font-size: 14px;
      th {
        font-weight: bold;
      }
    }
  }
  tbody {
    float: left;
    width: 100%;
    overflow: auto;
    max-height: 400px;
    tr {
      width: 100%;
      display: table;
      font-size: 14px;
    }
  }
}

.alarm-console-table {
  tbody {
    &#mainBody {
      height: 481px;
      max-height: none;
      @media only screen and (max-device-width: 1200px) {
        height: 520px;
      }
    }
  }
}


@media only screen and (min-width : 320px)and (max-width : 992px) {
  .alarm-console-search-icon {
    position: absolute;
    cursor: pointer;
    right: 40px;
    top: 6px;
    max-width: 20px;
  }
  .pull-left {
    padding-left: 10px;
  }
  .panel-white-heading .bell-icon {
    max-width: 20px;
    position: absolute;
    left: 10px;
    top: 36%;
    -webkit-transform: translate(0%, -50%);
    transform: translate(0%, -50%);
  }
  .panel-white-heading[_ngcontent-c14] {
    padding: 6px 15px 6px 30px;
    position: absolute;
    background-color: #f7f7f7 !important;
  }

}

.panel-app .panel-full-page-height {
  min-height: 350px;
}
@media only screen and (min-width : 320px)and (max-width : 767px) {
  .panel-app .panel-full-page-height {
    min-height: 550px;
  }
}

@media only screen and (min-width : 1600px)and (max-width : 3000px) {
  .panel-app .panel-full-page-height {
    min-height: 450px;
  }
}

.org-table tfoot {
  background-color: #fff;
}
