<div [style.minHeight]="minInnerHeight" class="panel panel-app" [hidden]="!selectedView">
  <div class="panel-body-padding">
    <div class="table-responsive">
      <table id="AdAlarmConsoleTable" class="table org-table alarm-console-table" [mfData]="alarmData ? alarmData : []" #mf="mfDataTable"
        [(mfSortBy)]="paginationInfo.sortBy" [(mfSortOrder)]="paginationInfo.sortOrder" [mfRowsOnPage]="paginationInfo.numberRowPerPage">
        <thead>
          <tr>
            <th width="25%" class="first">
              <mfDefaultSorter by="name" class="sorter"> Alarm Description</mfDefaultSorter>
            </th>
            <th width="60%" class="sec">
              <mfDefaultSorter by="tOccurrenceDateTime" class="sorter"> Trigger Time</mfDefaultSorter>
            </th>
            <th width="15%" class="search-include-th center third">
              <mfDefaultSorter by="status" class="sorter"> Status</mfDefaultSorter>
            </th>
          </tr>
          <app-table-filter *ngIf="toggleFilterSearch" [widthData]="filterWidthData" (notifyChange)="updateData($event)" [(filterValues)]="filterValues"
            [(data)]="alarmData"></app-table-filter>
        </thead>
        <tbody class="main-body" id="mainBody" [style.height.px]="alarmData && alarmData.length <= 10 ? alarmData.length == 0 ? 552 : 532 : 480"
          [ngStyle]="toggleFilterSearch && {'margin-top': '40px'}">
          <ng-container *ngFor="let asset of mf.data;let i = index">
            <tr *ngIf="alarmData.length > 0;else no_data" class="asset-table-tr">
              <td width="25%" class="alarm-console-assetId" [ngClass]="{'toggle' : !toggleAlarms.value}" (click)="goToOperationAlarm(asset.assetID)">{{asset?.name}}
                <div class="hide-show-div" *ngIf="!toggleAlarms.value" (click)="toggleTableRowsData(i)">
                  <img src="assets/images/gen-view/blind-symbol-of-an-opened-eye-with-a-slash.svg" />
                </div>
              </td>
              <td width="60%">{{ asset.occurrenceDateTime | convertToLocalDate}}</td>
              <td width="15%" class="center">
                <img class="status-icon" *ngIf="asset?.status == 2 || asset?.status == 'Acknowledged'" src="assets/images/alert_console_orange.svg"
                />
                <img class="status-icon" *ngIf="asset?.status == 0 || asset?.status == 'Alarm'" src="assets/images/alert_console_right.svg"
                />
                <img class="status-icon" *ngIf="asset?.status != 0 && asset?.status != 2 && asset?.status != 'Acknowledged' && asset?.status != 'Alarm'"
                  src="assets/images/alert_console_alert.svg" />
              </td>
            </tr>
          </ng-container>
        </tbody>
        <tr *ngIf="alarmData && alarmData.length > paginationInfo.numberRowPerPage" id="genViewAlarmBootstrapPaginator">
          <td colspan="3">
            <mfBootstrapPaginator [rowsOnPageSet]="[alarmData.length+0.1,10,20,25]"></mfBootstrapPaginator>
          </td>
        </tr>
      </table>
    </div>
    <div *ngIf="alarmData.length == 0" class="no-data">
      <img src="assets/images/turn-notifications-off-button.svg">
      <p>No Alarm exists.</p>
    </div>
  </div>
</div>