<div class="create-poi-form">
  <div class="route">
    <div class="title">
      <div class="right">
        <div class="action">
          <div class="btn" (click)="this.currentActivity.routeList = true ;this.currentActivity.createRoute = false;this.currentActivity.createPOI = false;changeActivity()">
            Go to Route list
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="tabs">
    <div class="nav">
      <ul>
        <li [ngClass]="{'active' : currentTabs[index]}" *ngFor="let tab of tabs; let index = index" (click)="currentTabs = [];currentTabs[index]=true">
          <div class="icon">
            <img [src]="tab.img" />
          </div>
          <span>{{tab.name}}</span>
        </li>
      </ul>
    </div>
    <div class="tab createPoi" [ngClass]="{'active' : currentTabs[0]}">
      <div class="content">
        <form [formGroup]="createPoiForm">
          <div class="input">
            <label>
              POI Name
            </label>
            <input class="form-control input-sm" type="text" formControlName="name" placeholder="POI Name" />
            <div *ngIf="createPoiForm.get('name').errors && (createPoiForm.get('name').dirty || createPoiForm.get('name').touched)" class="custom-errors">
              <div [hidden]="!createPoiForm.get('name').errors.required">
                Poi name is required.
              </div>
            </div>
          </div>
          <div class="input" *ngIf="!measurementCount">
            <label>
              Total capacity
            </label>
            <input class="form-control input-sm" type="number" formControlName="totalCapacity" placeholder="Total capacity" />
            <div *ngIf="createPoiForm.get('totalCapacity').errors && (createPoiForm.get('totalCapacity').dirty || createPoiForm.get('totalCapacity').touched)"
              class="custom-errors">
              <div [hidden]="!createPoiForm.get('totalCapacity').errors.required">
                Total capacity is required.
              </div>
            </div>
          </div>
          <div class="input">
            <label>
              Waiting time (In second)
            </label>
            <input class="form-control input-sm" type="number" formControlName="waitingTime" placeholder="Waiting time" />
            <div *ngIf="createPoiForm.get('waitingTime').errors && (createPoiForm.get('waitingTime').dirty || createPoiForm.get('waitingTime').touched)"
              class="custom-errors">
              <div [hidden]="!createPoiForm.get('waitingTime').errors.required">
                Start time is required.
              </div>
            </div>
          </div>
          <!-- <div class="input">
                  <label>
                    Address
                  </label>
                  <input class="form-control input-sm" id="address" type="text" formControlName="address" name="addressName" placeholder="Address"
                  />
                  <div *ngIf="createPoiForm.get('address').errors && (createPoiForm.get('address').dirty || createPoiForm.get('address').touched)"
                    class="custom-errors">
                    <div [hidden]="!createPoiForm.get('address').errors.required">
                      Address is required.
                    </div>
                  </div>
                </div> -->
          <div class="input">
            <label>
              Tags
            </label>
            <input class="form-control input-sm" type="text" formControlName="tags" placeholder="Tags" />
          </div>
        </form>
        <div class="table-with-title" [hidden]="selectedMarker.length == 0">
          <div class="title">
            <div class="left">
              <h3>All available sample</h3>
            </div>
          </div>
          <div class="table-scroll">
            <table>
              <thead>
                <tr>
                  <!-- <th width="5%"></th> -->
                  <th width="20%">Sample Id</th>
                  <th width="20%">Name</th>
                  <th width="40%">Address</th>
                  <th width="10%">Use as poi</th>
                  <th width="10%">Remove</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let sample of selectedMarker; let i = index;">
                  <!-- <td width="5%">
                          <input type="checkbox" (change)="addPoints(i, $event)" />
                        </td> -->
                  <td width="20%">{{sample.sampleId}}</td>
                  <td width="20%">{{sample.name}}</td>
                  <td width="40%">{{sample.address.formattedAddress}}</td>
                  <td width="10%" class="center">
                    <input type="checkbox" (change)="useAsPoi(i, $event)" [checked]="sample.useAsPoi" />
                  </td>
                  <td width="10%" class="center">
                    <div class="icon" (click)="removePoi(i)">
                      <i class="md-icon material-icons">delete</i>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div *ngIf="error.poiLocation" class="custom-errors poi-location-error">
            Poi location is required. You can select any sample as poi OR you can add new address from left bottom.
          </div>
          <div class="btn" (click)="createPoi()">Create POI</div>
        </div>
      </div>
    </div>
    <div class="tab createBulkPoi" [ngClass]="{'active' : currentTabs[1]}">
      <div class="table-scroll">
        <table>
          <thead>
            <tr>
              <th width="10%" class="center">
                <input type="checkbox" (change)="allUseAsPoi(i, $event)" [checked]="checkAllSample" />
              </th>
              <th width="30%">Name</th>
              <th width="60%">Address</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let sample of samples; let i = index;">
              <td width="10%" class="center">
                <input type="checkbox" (change)="useAsPoiBulk(i, $event)" [checked]="sample.selected" />
              </td>
              <td width="30%">{{sample.name}}</td>
              <td width="60%">{{sample.address.formattedAddress}}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <form [formGroup]="createPoiBulkForm" class="createSampleAsPoiForm">
        <div class="input" *ngIf="!measurementCount">
          <label>
            Total capacity
          </label>
          <input class="form-control input-sm" type="number" formControlName="totalCapacity" placeholder="Total capacity" />
          <div *ngIf="createPoiBulkForm.get('totalCapacity').errors && (createPoiBulkForm.get('totalCapacity').dirty || createPoiBulkForm.get('totalCapacity').touched)"
            class="custom-errors">
            <div [hidden]="!createPoiBulkForm.get('totalCapacity').errors.required">
              Total capacity is required.
            </div>
          </div>
        </div>
        <div class="input">
          <label>
            Waiting time (In second)
          </label>
          <input class="form-control input-sm" type="number" formControlName="waitingTime" placeholder="Waiting time" />
          <div *ngIf="createPoiBulkForm.get('waitingTime').errors && (createPoiBulkForm.get('waitingTime').dirty || createPoiBulkForm.get('waitingTime').touched)"
            class="custom-errors">
            <div [hidden]="!createPoiBulkForm.get('waitingTime').errors.required">
              Start time is required.
            </div>
          </div>
        </div>
        <div class="input">
          <label>
            Tags
          </label>
          <input class="form-control input-sm" type="text" formControlName="tags" placeholder="Tags" />
        </div>
        <div class="btn" (click)="createSampleAsPoi()">Create sample as poi</div>
      </form>
    </div>
  </div>
</div>