img{
    max-width: 100%;
    height: auto;
}

.tabs {
    padding: 0px;
    background: #f8f8f8;
    .nav {
        ul {
            font-size: 0;
            margin: 0px;
            padding: 0px;
            display: flex;
            text-align: center;
            li {
                display: inline-block;
                padding: 15px 30px;
                font-size: 16px;
                color: gray;
                border: 1px solid #f8f8f8;
                transition: all 0.2s ease 0s;
                position: relative;
                display: flex;
                align-items: center;
                flex-flow: column;
                justify-content: center;
                @media only screen and (max-width: 479px) {
                    padding: 10px 10px;
                }
                .icon {
                    display: block;
                    text-align: center;
                    width: 24px;
                    margin-bottom: 10px;
                }
                &::after {
                    content: '';
                    position: absolute;
                    width: calc(100% + 2px);
                    left: 0px;
                    background: #f8f8f8;
                    height: 1px;
                    bottom: -1px;
                    left: -1px;
                    transition: all 0.5s ease 0s;
                }
                &:hover {
                    color: #0e76bc;
                    cursor: pointer;
                    border-radius: 5px;
                    border-bottom-left-radius: 0px;
                    border-bottom-right-radius: 0px;
                    transition: all 0.2s ease 0s;
                }
                &.active {
                    color: #0e76bc;
                    cursor: pointer;
                    border-radius: 5px;
                    border: 1px solid #0e76bc;
                    border-bottom-left-radius: 0px;
                    border-bottom-right-radius: 0px;
                    transition: all 0.5s ease 0s;
                    background: #fff;
                    box-shadow: 0px -5px 15px 0 rgba(0, 0, 0, 0.05);
                    border: 0px;
                    border: 1px solid #ffffff;
                    &::after {
                        width: 0px;
                    }
                }
            }
        }
    }
    .tab {
        display: none;
        padding: 10px;
        margin-top: -1px;
        border-radius: 5px;
        background: #fff;
        &.active {
            display: block;
        }
    }
}

.create-poi-form{
    height: calc(100vh - 105px);
    overflow: auto;
    @media only screen and (max-width: 991px) {
        padding: 0px 0px 36px;
        height: auto;
    }
    .btn{
        font-weight: bold;
        border: 1px solid #0e76bc;
        box-shadow: none;
        color: #0e76bc;
        max-width: 150px;
        margin: 20px auto 0px;
        text-align: center;
        display: block;
        .icon{
            font-size: 20px;
            padding-right: 5px;
        }
        &:hover{
            background: #0e76bc;
            color: white;
        }
        &:active{
            box-shadow:none;
        }
    }
    .content{
        padding: 10px;
    } 
}
.title{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background: #f8f8f8;
    padding: 10px;
    .left{
        display: flex;
        align-items: center;
        .icon{
            display: block;
            line-height: 1;
            i{
                font-size: 30px;
                color: #4CAF50;
            }
        }   
        .name{
            padding-left: 5px;
            h2{
                font-size: 20px;
                margin: 0px;
                color: #575757;
            }
            .info{
                margin-top: 5px;
                display: flex;
                .item{
                    display: flex;
                    align-items: center;
                    position: relative;
                    border: 0px;
                    padding-right: 15px;
                    i{
                        color: gray;
                        font-size: 16px;
                        margin-right: 5px;
                    }
                    p{
                        color: gray;
                        margin: 0px;
                    }
                    &:after{
                        content: '';
                        top: 50%;
                        height: 60%;
                        width: 1px;
                        position: absolute;
                        background: #c6c6c6;
                        right: 7px;
                        transform: translateY(-50%);
                    }
                    &:last-child{
                        &:after{
                            display: none;
                        }
                    }
                }
            }
        }
    }
    .right{
        .action{
            display: flex;
            align-items: center;
            .btn{
                margin: 0px;
            }
        }
    }
}

.table-scroll{
    border: 1px solid #d6d6d6;
    border-radius: 3px;
    overflow: auto;
}

table{
    min-width: 650px;
    thead{
        tr{
            border-bottom: 1px solid #e5e5e5;
            th{
                padding: 10px 10px;
                border-right:  1px solid #e5e5e5;
                &:last-child{
                    border-right: 0px;
                }
                &.center{
                    text-align: center;
                }
            }
        }
    }
    tbody{
        tr{
            border-bottom: 1px solid #e5e5e5;
            td{
                padding: 5px 10px;
                border-right:  1px solid #e5e5e5;
                &:last-child{
                    border-right: 0px;
                }
                .icon{
                    color: #898e9a;
                    cursor: pointer;
                    &:hover{
                        color: #0e76bc;
                    }
                }
                &.center{
                    text-align: center;
                }
            }
            &:last-child{
                border-bottom: 0px;
            }
            &.disabled{
                color: #c2c2c2;
            }
        }
    }
}

.table-with-title{
    padding: 5px 0px 0px;
    border-radius: 5px;
    margin-bottom: 20px;
    overflow: hidden;
    .title{
        border-radius: 3px;
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
        color: white;
        border-top: 0px;
        background: #009688;
        padding: 0px;
        .left{
            h3{
                margin: 0px;
                padding: 10px;
                font-size: 16px;
                font-weight: bold;
            }
        }
        .right{
            .btn{
                color: white;
                i{
                    color: white;
                }
                &:hover{
                    color: #fff;
                    i{
                        color: #fff;
                    }
                }
            }
        }
    }
    .btn{

    }
}

 

.input{
    margin-bottom: 10px;
    label{
        display: block;
        margin-bottom: 2px;
    }
    input{
        display: block;
        width: 100%;
    }
}

.poi-location-error{
    margin-top: 20px;
    margin-bottom: -10px;
}

.createBulkPoi{
    table{
        margin: 15px 0px;
    }
    .createSampleAsPoiForm {
        margin: 20px 0px;
    }
    .btn{
        max-width: 200px;
    }
}