.create-route-form{
    height: calc(100vh - 105px);
    overflow: auto;
    @media only screen and (max-width: 991px) {
        padding: 0px 0px 36px;
        height: auto;
    }
    .btn{
        display: flex;
        align-items: center;
        font-weight: bold;
        border: 1px solid #0e76bc;
        box-shadow: none;
        color: #0e76bc;
        .icon{
            font-size: 20px;
            padding-right: 5px;
        }
        &:hover{
            background: #0e76bc;
            color: white;
        }
        &:active{
            box-shadow:none;
        }
    }

    .table-scroll{
        border: 1px solid #d6d6d6;
        border-radius: 3px;
        overflow: auto;
    }

    table{
        min-width: 650px;
        thead{
            tr{
                border-bottom: 1px solid #e5e5e5;
                th{
                    padding: 10px 10px;
                    border-right:  1px solid #e5e5e5;
                    &:last-child{
                        border-right: 0px;
                    }
                    &.center{
                        text-align: center;
                    }
                }
            }
        }
        tbody{
            tr{
                border-bottom: 1px solid #e5e5e5;
                td{
                    padding: 5px 10px;
                    border-right:  1px solid #e5e5e5;
                    &:last-child{
                        border-right: 0px;
                    }
                    .icon{
                        color: #898e9a;
                        cursor: pointer;
                        &:hover{
                            color: #0e76bc;
                        }
                    }
                    &.center{
                        text-align: center;
                    }
                }
                &:last-child{
                    border-bottom: 0px;
                }
                &.disabled{
                    color: #c2c2c2;
                }
            }
        }
    }

    .btn.loadRoutes{
        max-width: 120px;
        margin: 15px auto 10px;
        text-align: center;
        display: block;
        padding: 7px 12px 5px;
    }

    .table-with-title{
        padding: 5px 0px 0px;
        border-radius: 5px;
        overflow: hidden;
        overflow: hidden;
        .title{
            border-radius: 3px;
            border-bottom-left-radius: 0px;
            border-bottom-right-radius: 0px;
            color: white;
            border-top: 0px;
            background: #57607d;
            padding: 0px;
            border-bottom: 1px solid #fff;
            .left{
                h3{
                    margin: 0px;
                    padding: 10px;
                    font-size: 16px;
                    font-weight: bold;
                }
            }
            .right{
                .btn{
                    color: white;
                    max-width: initial;
                    align-items: center;
                    display: flex;
                    margin: 10px;
                    i{
                        color: white;
                    }
                    &:hover{
                        color: #fff;
                        i{
                            color: #fff;
                        }
                    }
                }
            }
        }
    }

    .title{
        display: flex;
        justify-content: space-between;
        align-items: center;
        background: #f1f1f1;
        padding: 10px;
        .left{
            display: flex;
            align-items: center;
            .icon{
                display: block;
                line-height: 1;
                i{
                    font-size: 30px;
                    color: #4CAF50;
                }
            }   
            .name{
                padding-left: 5px;
                h2{
                    font-size: 20px;
                    margin: 0px;
                    color: #575757;
                }
                .info{
                    margin-top: 5px;
                    display: flex;
                    .item{
                        display: flex;
                        align-items: center;
                        position: relative;
                        border: 0px;
                        padding-right: 15px;
                        i{
                            color: gray;
                            font-size: 16px;
                            margin-right: 5px;
                        }
                        p{
                            color: gray;
                            margin: 0px;
                        }
                        &:after{
                            content: '';
                            top: 50%;
                            height: 60%;
                            width: 1px;
                            position: absolute;
                            background: #c6c6c6;
                            right: 7px;
                            transform: translateY(-50%);
                        }
                        &:last-child{
                            &:after{
                                display: none;
                            }
                        }
                    }
                }
            }
        }
        .right{
            .action{
                display: flex;
                align-items: center;
            }
        }
    }
    .route{
        .content{
            padding: 10px;
        }
    }

    .assets{
        margin: 10px 0px;
        label{
            font-weight: bold;
            font-size: 13px;
            color: #676767;
            margin-bottom: 2px;
            letter-spacing: 0.02em;
        }
        h3{
            margin: 0px 0px 5px;
            font-size: 20px;
        }
        .list-area{
            box-shadow: 0px 1px 5px rgba(149, 149, 149, 0.2) !important;
        }
        .selected-list{
            .c-btn{
                font-size: 14px;
                box-shadow: none !important;
                border: 1px solid #cecece;
                padding: 6px 10px 6px !important;
                height: auto;
                border-radius: 3px;
                width: 100% !important;
            }
        }
        ul{
            padding: 10px 0px !important;
            .pure-checkbox{
                display: inline-flex !important;
                align-items: center;
                margin: 0px 0px 10px 10px;
                border-radius: 4px;
                background: #f5f5f5 !important;
               
                .icon{
                    display: flex;
                    margin-right: 5px;
                    color: #9b9b9b;
                }
                .name{
                    p{
                        margin: 0px;
                        span{
                            font-weight: bold;
                            color: #000000;
                        }
                    }
                }
                &:hover{
                    background: #e1e1e1 !important;
                }
            }
        }
        .c-token{
            margin: 0px 10px 10px 0px !important;
            padding: 5px !important;
            position: relative;
            background: #00bcd4 !important;
            .c-label{
                min-width: 50px;
            }
            .icon{
                display: flex;
            }
            .name{
                p{
                    margin-bottom: 0px;
                }
                span{
                    font-weight: bold;
                }
            }
            .fa-remove{
                position: absolute;
                top: 5px;
                right: 5px;
            }
        }
    }
    .table-with-title{
        .btn{
            display: block;
            margin: 15px auto 15px;
            max-width: 100px;
        }
    }
}




.form{
    .input{
        label{
            font-weight: bold;
            font-size: 13px;
            color: #676767;
            margin-bottom: 2px;
            letter-spacing: 0.02em;
        }
        input, textarea, select{
            font-size: 14px;
            box-shadow: none;
            border: 1px solid #cecece;
            padding: 6px 10px 6px;
            height: auto;
            border-radius: 3px;
            width: 100%;
            line-height: normal; 
            &:focus{
                border: solid 1px #009688;
                box-shadow: none;
                outline: none;
            }
        }
        input[type=date]{
            &:focus{
                border: 1px solid #cecece;
            }
        }
        input[type=number]::-webkit-inner-spin-button, 
        input[type=number]::-webkit-outer-spin-button { 
          -webkit-appearance: none; 
          margin: 0; 
        }
        .custom-errors{
            margin: 5px auto;
        }
        .input-with-type{
            position: relative;
            span{
                position: absolute;
                height: calc(100% - 4px);
                right: 2px;
                top: 2px;
                background: #cecece;
                display: flex;
                align-items: center;
                padding: 10px;
                color: #5f5f5f;
                border-radius: 2px;
            }
        }
    }
    .group{
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin-bottom: 10px;
        .input{
            width: calc(50% - 10px);
        }
        .group{
            margin-bottom: 0px;
            .input{
                width: calc(50% - 5px);
            }
        }
    }
    .single{
        width: 100%;
        margin-bottom: 10px;
        .input{
            width: 100%;
        }
    }
    .checkboxs{
        display: flex;
        margin: 5px 0px 10px;
        label{
            margin-bottom: 0px;
        }
    }
}

.c-check {
    cursor: pointer;
    display: flex;
    align-items: center;
    input:checked + .checkbox {
        border-color: #ccc;
    }
    input{
        position: absolute;
        z-index: -1;
        width: 0 !important;
        height: 0 !important;
        opacity: 0;
    }

    .checkmark__circle {
        stroke-dasharray: 166;
        stroke-dashoffset: 166;
        stroke-width: 2;
        stroke-miterlimit: 10;
        stroke: #d8d8d8;
        fill: #d8d8d8;
      }

      input:checked + .check-icon .checkmark__circle{
        fill: none;
        stroke: #4daf88;
      }
      .checkmark {
        width: 20px;
        height: 20px;
        border-radius: 50%;
        display: block;
        stroke-width: 2;
        stroke: #fff;
        stroke-miterlimit: 10;
        margin: 10% auto;
        box-shadow: inset 0px 0px 0px #4daf88;
      }

      input:checked + .check-icon .checkmark{
        animation: fill .5s ease-in-out 0s forwards;
      }
      
      .checkmark__check {
        transform-origin: 50% 50%;
        stroke: #fff;
        stroke-width: 5;
      } 

      span{
        font-weight: normal;
        display: block;
        margin-left: 5px;
      }
      @keyframes fill {
        100% {
          box-shadow: inset 0px 0px 0px 30px #4daf88;
        }
      }
}