<div class="create-route-form">
  <div class="route">
    <div class="title">
      <div class="left">
        <div class="icon">
          <i class="md-icon material-icons">directions</i>
        </div>
        <div class="name">
          <h2>Create Route</h2>
        </div>
      </div>
      <div class="right">
        <div class="action">
          <div class="btn" (click)="this.currentActivity.routeList = true ;this.currentActivity.createRoute = false;this.currentActivity.createPOI = false;changeActivity()">
            Go to Route list
          </div>
        </div>
      </div>
    </div>
    <div class="content">
      <form [formGroup]="createRouteForm" class="form">
        <div class="group">
          <div class="input">
            <label>
              Starting point
            </label>
            <input class="form-control input-sm" type="text" id="startLocation" name="addressName" placeholder="Starting point" />
            <div *ngIf="!createRouteForm.get('startLocation').value.geometry && (createRouteForm.get('startLocation').dirty || createRouteForm.get('startLocation').touched)"
              class="custom-errors">
              Start point need to select from dropdown
              <!-- <div [hidden]="!createRouteForm.get('startingPoint').errors.required">
                
              </div> -->
            </div>
          </div>
          <div class="input">
            <label>
              Ending point
            </label>
            <input class="form-control input-sm" type="text" id="endLocation" name="addressName" placeholder="End point" />
            <div *ngIf="!createRouteForm.get('endLocation').value.geometry && (createRouteForm.get('endLocation').dirty || createRouteForm.get('endLocation').touched)"
              class="custom-errors">
              Ending point need to select from dropdown
              <!-- <div [hidden]="!createRouteForm.get('endingPoint').errors.required">
                Ending point is required.
              </div> -->
            </div>
          </div>
        </div>
        <div class="group">
          <div class="input">
            <label>
              Start time
            </label>
            <select class="form-control" formControlName="startTimeSchedule">
              <option value="">Start time</option>
              <option startTimeOptionsDisable [optionValue]="time.value" [optionReset]="startTimeSchedule" [timeRange]="startTimeDisableRange"
                [value]="time.displayValue" *ngFor="let time of startTimeList">{{time.displayValue}}</option>
            </select>
            <div *ngIf="createRouteForm.get('startTimeSchedule').errors && (createRouteForm.get('startTimeSchedule').dirty || createRouteForm.get('startTimeSchedule').touched)"
              class="custom-errors">
              <div [hidden]="!createRouteForm.get('startTimeSchedule').errors.required">
                Start time is required.
              </div>
            </div>
          </div>
          <div class="input">
            <label>
              Travel time
            </label>
            <div class="group">
              <div class="input">
                <div class="input-with-type">
                  <input class="form-control input-sm" type="number" formControlName="travelTimeHours" placeholder="Hours" min="0" (blur)="onBlurMethod('travelTimeHours', 'travelTimeMinutes')"
                  />
                  <span>HH</span>
                </div>
              </div>
              <div class="input">
                <div class=" input-with-type">
                  <input class="form-control input-sm" type="number" formControlName="travelTimeMinutes" placeholder="Minutes" min="0" max="59"
                    (blur)="onBlurMethod('travelTimeMinutes', 'travelTimeHours')" />
                  <span>MM</span>
                </div>
              </div>
            </div>
            <div *ngIf="createRouteForm.get('travelTimeHours').errors && (createRouteForm.get('travelTimeHours').dirty || createRouteForm.get('travelTimeHours').touched)"
              class="custom-errors">
              <div [hidden]="!createRouteForm.get('travelTimeHours').errors.required">
                Start time is required.
              </div>
            </div>
            <div *ngIf="createRouteForm.get('travelTimeMinutes').errors && (createRouteForm.get('travelTimeMinutes').dirty || createRouteForm.get('travelTimeMinutes').touched)"
              class="custom-errors">
              <div [hidden]="!createRouteForm.get('travelTimeMinutes').errors.required">
                Start time is required.
              </div>
            </div>
          </div>
        </div>
        <div class="single">
          <div class="input">
            <label>
              Day schedule
            </label>
            <div class="checkboxs">
              <app-day-scheduler (notifyChange)="selectedDayNotifyChange($event)" [data]="createRouteForm.get('daySchedule').value"></app-day-scheduler>
            </div>
            <div *ngIf="createRouteForm.get('daySchedule').value.length == 0  && (createRouteForm.get('daySchedule').dirty || createRouteForm.get('daySchedule').touched)"
              class="custom-errors">
              Please select atleast one day.
            </div>
          </div>
        </div>
        <div class="single">
          <div class="input">
            <label>
              Exclude Days
            </label>
            <app-exclude-days [excludedDays]="selectedExcludedDays" (selected)="selectedExcludeDays($event)"></app-exclude-days>
          </div>
        </div>
        <div class="single">
          <div class="input">
            <label>
              Tags
            </label>
            <input type="text" placeholder="Add tags" formControlName="tags" />
          </div>
        </div>
        <div class="assets input">
          <label>
            Selecte assets
          </label>
          <angular2-multiselect [data]="assets" [(ngModel)]="selectedAssets" [settings]="dropdownSettings" formControlName="selectedAssets">
            <c-badge>
              <ng-template let-item="item">
                <div class="icon">
                  <i class="md-icon material-icons">local_shipping</i>
                </div>
                <div class="name">
                  <p>{{item.assetId}} -
                    <span>{{item.capacity}}</span>
                  </p>
                </div>
              </ng-template>
            </c-badge>
            <c-item>
              <ng-template let-item="item">
                <div class="icon">
                  <i class="md-icon material-icons">local_shipping</i>
                </div>
                <div class="name">
                  <p>{{item.assetId}} -
                    <span>{{item.capacity}}</span>
                  </p>
                </div>
              </ng-template>
            </c-item>
          </angular2-multiselect>
          <div *ngIf="createRouteForm.get('selectedAssets').value.length == 0  && (createRouteForm.get('selectedAssets').dirty || createRouteForm.get('selectedAssets').touched)"
            class="custom-errors">
            Please select atleast one asset.
          </div>
        </div>
      </form>
      <div class="table-with-title">
        <div class="title">
          <div class="left">
            <h3>All available POI</h3>
          </div>
          <div class="right">
            <div class="btn" (click)="this.currentActivity.routeList = false;this.currentActivity.createRoute = false;this.currentActivity.createPOI = true;changeActivity()">
              <i class="material-icons icon">add</i>
              <span>Create POI</span>
            </div>
          </div>
        </div>
        <table class="table org-table bg-white" [mfData]="poi ? poi : []" [mfRowsOnPage]="paginationInfo.numberRowPerPage" #mf="mfDataTable"
          [(mfSortBy)]="paginationInfo.sortBy" [(mfSortOrder)]="paginationInfo.sortOrder">
          <thead class="alarm-hed-color">
            <tr>
              <th width="5%">
                <input type="checkbox" (change)="selectAllPoi(i, $event)" [checked]="checkAllPoi" />
              </th>
              <th width="15%">Name</th>
              <th width="30%">Address</th>
              <th width="15%">Capacity</th>
              <th width="15%">Waiting Time</th>
            </tr>
          </thead>
          <tbody class="main-body">
            <ng-container *ngFor="let poiSingle of mf.data; let i = index">
              <tr>
                <td width="5%">
                  <input type="checkbox" (change)="selectSingelPoi(poiSingle.poiId, $event)" [checked]="poiSingle.selected" />
                </td>
                <td width="15%">{{poiSingle.name}}</td>
                <td width="30%">{{poiSingle.address.formattedAddress}}</td>
                <td width="15%">{{poiSingle.totalCapacity}}</td>
                <td width="15%">{{poiSingle.waitingTime}} S</td>
              </tr>
            </ng-container>
          </tbody>
          <tr *ngIf="poi.length> paginationInfo.numberRowPerPage">
            <td colspan="12" class="pagination-footer">
              <mfBootstrapPaginator [rowsOnPageSet]="[poi.length+0.1,10,25,50,500]"></mfBootstrapPaginator>
            </td>
          </tr>
        </table>
        <div *ngIf="poiError" class="custom-errors">
          Please select atleast one POI.
        </div>
        <div class="btn loadRoutes" *ngIf="!(finalRoute.length > 0)" (click)="intialrenderRoute()">Load Routes</div>
      </div>

      <!-- <div class="table-with-title">
        <div class="title">
          <div class="left">
            <h3>All available POI</h3>
          </div>
          <div class="right">
            <div class="btn" (click)="this.currentActivity.routeList = false;this.currentActivity.createRoute = false;this.currentActivity.createPOI = true;changeActivity()">
              <i class="material-icons icon">add</i>
              <span>Create POI</span>
            </div>
          </div>
        </div>
        <div class="table-scroll">
          <table>
            <thead>
              <tr>
                <th width="10%" class="center">
                  <input type="checkbox" />
                </th>
                <th width="20%">Name</th>
                <th width="40%">Address</th>
                <th width="15%">Capacity</th>
                <th width="15%">Waiting time</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let singlgePoi of poi; let i = index;">
                <td width="10%" class="center">
                  <input type="checkbox" />
                </td>
                <td width="20%">{{singlgePoi.name}}</td>
                <td width="40%">{{singlgePoi.address.formattedAddress}}</td>
                <td width="15%">{{singlgePoi.totalCapacity}}</td>
                <td width="15%">{{singlgePoi.waitingTime}}</td>
              </tr>
            </tbody>
          </table>
        </div>
        
      </div> -->
      <div class="table-with-title" *ngIf="finalRoute.length > 0">
        <div class="title">
          <div class="left">
            <h3>All possible route</h3>
          </div>
        </div>
        <div class="table-scroll">
          <table>
            <thead>
              <tr>
                <th width="5%"></th>
                <th width="15%">Name</th>
                <th width="35%">POI</th>
                <th width="10%">Total Time</th>
                <th width="15%">Total Dist</th>
                <th width="20%">Possible Asset</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let route of finalRoute; let i = index;" [hidden]="!route.status" [ngClass]="{'disabled' : route.reming != undefined && !route.reming}">
                <td width="5%">
                  <input type="checkbox" (change)="updateRoute(i, $event)" [disabled]="route.reming != undefined && !route.reming" />
                </td>
                <td width="15%">Route {{i}}</td>
                <td width="35%">
                  <span *ngFor="let poi of route.poi;">
                    {{poi.name}},
                  </span>
                </td>
                <td width="10%">
                  {{route.totalTime/3600 | number : '1.1-1' }} H
                </td>
                <td width="15%">
                  {{route.totalDistance/1000 | number : '1.1-1'}} km
                </td>
                <td width="20%">
                  <span *ngFor="let asset of route.assets;">
                    {{asset.assetId}} ,
                  </span>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="btn" [hidden]="selectedRoute.length > 0" (click)="startIndex = startIndex+1;lastIndex = lastIndex + 5; renderRoute()">Load more</div>
      </div>
      <div class="table-with-title" *ngIf="selectedRoute.length > 0">
        <div class="title">
          <div class="left">
            <h3>Assign Assets and Driver to Selected Routes</h3>
          </div>
        </div>
        <div class="table-scroll">
          <table>
            <thead>
              <tr>
                <th width="30%">Name</th>
                <th width="40%">POI</th>
                <th width="15%">Total Time</th>
                <th width="15%">Total Dist</th>
                <!-- <th width="20%">Assign Asset</th>
                <th width="20%">Assign Driver</th> -->
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let route of selectedRoute; let i = index;" [hidden]="!route.status">
                <td width="30%">
                  <input type="text" [(ngModel)]="route.name" placeholder="Route name" />
                </td>
                <td width="40%">
                  <span *ngFor="let poi of route.poi;">
                    {{poi.name}},
                  </span>
                </td>
                <td width="15%">
                  {{route.totalTime/3600 | number : '1.1-1' }} H
                </td>
                <td width="15%">
                  {{route.totalDistance/1000 | number : '1.1-1'}} km
                </td>
                <!-- <td width="20%">
                  <select (change)="assignAsset($event, 'Route ' + i)">
                    <option disabled="disabled">Select asset</option>
                    <option *ngFor="let asset of route.assets;" [value]="asset.assetName" [disabled]="(assets[asset.index].selectedFor || assets[asset.index].selected) && !(assets[asset.index].selectedFor == 'Route ' + i)">{{asset.assetName}}</option>
                  </select>
                </td>
                <td width="20%">
                  <select (change)="assignDriver($event, 'Route ' + i)">
                    <option disabled="disabled">Select driver</option>
                    <option *ngFor="let driver of drivers;" [value]="driver.driverName" [disabled]="(driver.selectedFor || driver.selected) && !(driver.selectedFor == 'Route ' + i)">{{driver.driverName}}</option>
                  </select>
                </td> -->
              </tr>
            </tbody>
          </table>
        </div>
        <div *ngIf="routeNameError" class="custom-errors route-name-error">
          You need to give every route name.
        </div>
        <div class="btn" (click)="saveRoutes()">Save Routes</div>
      </div>
    </div>
  </div>
</div>