<div class="clearfix"></div>
<footer class="footer" id="appFooter" [ngClass]="{ 'admin-module': isAdmin }">
  <div class="container-fluid no-padding">
    <span>© 2018 {{'footer' | translate}}</span>
  </div>
</footer>
