@import '../../../variables';
.footer {
    background-color: $container-border;
    color: white;
    /*
  padding: 8px;
  text-align: center;
  width: 100%;
  margin-left: -1px;
*/
    padding: 8px;
    text-align: center;
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 9;
    span {
        @media only screen and (max-width: 479px) {
            font-size: 12px;
        }
    }
}

.footer.admin-module {
    position: fixed;
}