<!-- <div class="viewScroll">
  <div class="view">
    <div class="head">
      <div class="headRow">
        <div class="headItem"></div>
        <div class="headItem" *ngFor="let asset of assets; let i = index">{{asset.assetId}}</div>
        <div class="headItem" *ngFor="let asset of assets; let i = index">{{asset.assetId}}</div>
      </div>
    </div>
    <div class="body">
      <div class="bodyRow">
        <div class="bodyItem"></div>
        <div class="bodyItem" *ngFor="let asset of assets; let i = index">{{asset.assetId}}</div>
        <div class="bodyItem" *ngFor="let asset of assets; let i = index">{{asset.assetId}}</div>
      </div>
      <div class="bodyRow" *ngFor="let route of routes; let i = index">
        <div class="bodyItem">{{route.name}}</div>
        <div class="bodyItem" *ngFor="let asset of assets; let i = index">asssingle box</div>
        <div class="bodyItem" *ngFor="let asset of assets; let i = index">asssingle box</div>
      </div>
    </div>
  </div>
</div> -->
<div class="viewPage">
  <div class="title">
    <div class="left">
      <div class="name" [hidden]="!currentView.asset">
        <h2>Asset view</h2>
      </div>
      <div class="name" [hidden]="!currentView.driver">
        <h2>Driver view</h2>
      </div>
    </div>
    <div class="right">
      <div class="action">
        <div class="btn" *ngIf="currentView.asset" (click)=changeView()>
          Driver view
        </div>
        <div class="btn" *ngIf="currentView.driver" (click)=changeView()>
          Asset view
        </div>
      </div>
    </div>
  </div>
  <div class="viewScroll asset" [hidden]="!currentView.asset">
    <div class="div-table">
      <div class="div-table-row">
        <div class="div-table-col"></div>
        <div class="div-table-col" *ngFor="let asset of assets; let i = index">{{asset.assetId}}</div>
      </div>
      <div class="div-table-row" *ngFor="let route of routesForAsset; let routeIndex = index">
        <div class="div-table-col">{{route.name}}</div>
        <div class="div-table-col" *ngFor="let asset of assets; let assetIndex = index" [ngClass]="{disable: !((route.assign && route.assignAssetId == asset.aId) && (asset.assign && asset.assignRouteId == route.routeId)) && (route.possibleAssets.indexOf(asset.aId) == -1 || route.assign || asset.assign)}">
          <div class="assignBox" *ngIf="((route.assign && route.assignAssetId == asset.aId) && (asset.assign && asset.assignRouteId == route.routeId)) || (!(route.possibleAssets.indexOf(asset.aId) == -1) && !route.assign && !asset.assign)">
            <p>Assign Drive</p>
            <select (change)="assignDriver($event, routeIndex, assetIndex)">
              <option value="none">Select driver</option>
              <option *ngFor="let driver of drivers;" [value]="driver.driverName" [disabled]="(driver.selectedFor || driver.selected) && !(driver.selectedFor == route.routeId)"
                [selected]="driver.selectedFor == route.routeId">{{driver.driverName}}</option>
            </select>
          </div>
          <div class="assignBox" *ngIf="route.possibleAssets.indexOf(asset.aId) == -1 && !(route.assign && asset.assign)">
            <p>This asset is not possible for this routes</p>
          </div>
          <div class="assignBox" *ngIf="!(route.possibleAssets.indexOf(asset.aId) == -1) && !(route.assign && asset.assign) && route.assign">
            <p>This route is already assign</p>
          </div>
          <div class="assignBox" *ngIf="!(route.possibleAssets.indexOf(asset.aId) == -1) && !(route.assign && asset.assign) && asset.assign">
            <p>This asset is already assign</p>
          </div>
          <div class="assignBox" *ngIf="(route.assign && asset.assign) && !((route.assignAssetId == asset.aId) || (asset.assignRouteId == route.routeId))">
            <p>This asset and route is already assign</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="viewScroll driver" [hidden]="!currentView.driver">
    <div class="div-table">
      <div class="div-table-row first-row">
        <div class="div-table-col"></div>
        <div class="div-table-col" *ngFor="let driver of drivers; let i = index">{{driver.driverName}}</div>
      </div>
      <div class="div-table-row" *ngFor="let route of routesForDriver; let routeIndex = index">
        <div class="div-table-col first-cell">{{route.name}}</div>
        <div class="div-table-col" *ngFor="let driver of drivers; let driverIndex = index" [ngClass]="{disable: !((route.assign && route.assignDriverId == driver.driverId) && (driver.assign && driver.assignRouteId == route.routeId)) && (route.assign || driver.assign)}">
          <div class="assignBox" *ngIf="((route.assign && route.assignDriverId == driver.driverId) && (driver.assign && driver.assignRouteId == route.routeId)) || (!route.assign && !driver.assign)">
            <p>Assign Asset</p>
            <select (change)="assignAsset($event, routeIndex, driverIndex)">
              <option value="none">Select asset</option>
              <option *ngFor="let asset of assets;" [value]="asset.aId" [disabled]="(route.possibleAssets.indexOf(asset.aId) == -1) || ((asset.selectedFor || asset.selected) && !(asset.selectedFor == route.routeId))"
                [selected]="asset.selectedFor == route.routeId">{{asset.assetId}}</option>
            </select>
          </div>
          <div class="assignBox" *ngIf="!(route.assign && driver.assign) && route.assign">
            <p>This route is already assign</p>
          </div>
          <div class="assignBox" *ngIf="!(route.assign && driver.assign) && driver.assign">
            <p>This asset is already assign</p>
          </div>
          <div class="assignBox" *ngIf="(route.assign && driver.assign) && !((route.assignDriverId == driver.driverId) || (driver.assignRouteId == route.routeId))">
            <p>This asset and route is already assign</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="btn saveAssignment" (click)="saveRouteAssignment()">Save Route Assignment</div>
</div>