.viewPage{
    padding: 20px 5px 60px;
}   
.btn{
    border: 1px solid #2a3142;
    color: #2a3142;
    background: #fff;
    text-align: center;
    border-radius: 2px;
    display: block;
    &:hover{
        border: 1px solid #2a3142;
        color: #fff;
        background: #2a3142;
    }
    &:active{
        box-shadow:none;
    }
    &.saveAssignment{
        border: 1px solid #2a3142;
        color: #2a3142;
        background: #fff;
        max-width: 200px;
        margin: 20px auto;
        text-align: center;
        display: block;
        &:hover{
            border: 1px solid #2a3142;
            color: #fff;
            background: #2a3142;
        }
    }
}
.viewScroll{
    width: 100%;
    overflow: auto;
}
.div-table {
    display: block;
    width: auto;
    background-color: #eee; 
    .div-table-row {
        display: flex;
        .div-table-col {
            width: 140px;
            padding: 15px;
            border-left: 1px solid #d6d6d6;
            border-bottom: 1px solid #d6d6d6;
            background: #ffffff;
            display: flex;
            justify-content: center;
            align-items: center;
            .assignBox{
                p{
                    text-align: center;
                    color: #2a3142;
                }
                select{
                    font-size: 14px;
                    box-shadow: none;
                    border: 1px solid #cecece;
                    padding: 5px 5px 5px;
                    height: auto;
                    border-radius: 3px;
                    width: 100%;
                    line-height: normal;
                    &:focus{
                        border: solid 1px #009688;
                        box-shadow: none;
                        outline: none;
                    }
                }
            }
            &:first-child{
                color: #2a3142;
                text-align: center;
                font-weight: bold;
                background: #f7f7f7;
            }
            &:last-child{
                border-right: 1px solid #d6d6d6;
            }
            &.disable{
                color: #d6d6d6;
                background: #F8F7F8;
                background: repeating-linear-gradient(45deg, #f9f9f9, #f9f9f9 5px, #fff 5px, #fff 10px);
                .assignBox{
                    p{
                        color: #ebebeb;
                    }
                }
            }
            &.first-row{
                
            }
          }
          &:first-child{
            .div-table-col {
                background: #ffffff;
                color: #2a3142;
                text-align: center;
                font-weight: bold;
                background: #f7f7f7;
            }
        }
    }   
}

.title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border: 1px solid #d6d6d6;
    background: #f7f7f7;
    .left{
        display: flex;
        align-items: center;
        .icon{
            display: block;
            line-height: 1;
            i{
                font-size: 30px;
                color: #4CAF50;
            }
        }   
        .name{
            padding-left: 5px;
            h2{
                font-size: 20px;
                margin: 0px;
                color: #2a3142;
            }
            .info{
                margin-top: 5px;
                display: flex;
                .item{
                    display: flex;
                    align-items: center;
                    position: relative;
                    border: 0px;
                    padding-right: 15px;
                    i{
                        color: gray;
                        font-size: 16px;
                        margin-right: 5px;
                    }
                    p{
                        color: gray;
                        margin: 0px;
                    }
                    &:after{
                        content: '';
                        top: 50%;
                        height: 60%;
                        width: 1px;
                        position: absolute;
                        background: #c6c6c6;
                        right: 7px;
                        transform: translateY(-50%);
                    }
                    &:last-child{
                        &:after{
                            display: none;
                        }
                    }
                }
            }
        }
    }
    .right{
        .action{
            display: flex;
            align-items: center;
        }
    }
}
 
  