.no-data-table {
    border-bottom: none;
    margin-bottom: 0px;
}

.panel-app {
    margin-bottom: 1px;
}

.container-fluid {
    padding: 0;
    .row {
        margin: 0;
        .col-sm-12.col-md-6.col-lg-6 {
            padding: 0;
            .hundred-percent-height {
                margin: 0px 0px;
                .realdata-block {
                    background-color: #fff;
                    padding: 10px 15px;
                    width: 32%;
                    text-align: center;
                    margin: 10px 0px;
                    border-radius: 2px;
                    border-top: 4px solid #4baaf8;
                    box-shadow: #999 2px 2px 10px;
                    h1 {
                        font-size: 15px;
                        margin-top: 10px;
                        margin-bottom: 10px;
                    }
                    .placeholderNew-info.svg-icon {
                        margin-top: 10px;
                    }
                    .placeholderNew-info.alarm-icon {
                        margin-top: 3px;
                    }
                    &:nth-child(2) {
                        margin: 10px 10px;
                    }
                }
            }
        }
        .engine-remote-container {
            .hundred-percent-height {
                .engine-runtime {
                    width: 49%;
                    margin: 10px 10px !important;
                    &:nth-child(2) {
                        margin-right: 10px !important;
                        margin-left: 0px !important;
                    }
                    .hour {
                        margin-top: 50px;
                        .firstHour {
                            color: #757575;
                            font-weight: bold;
                            width: 60%;
                            div {
                                font-weight: 300;
                                background-color: rgba($color: #000000, $alpha: 0.68);
                                padding: 0px 0px !important;
                                border: 1px solid black;
                                color: white;
                                border-radius: 5px;
                                height: 20px;
                                width: 17px;
                                background-origin: 0;
                                font-size: 10px;
                                -webkit-box-pack: center;
                                -ms-flex-pack: center;
                                justify-content: center;
                                -webkit-box-align: center;
                                -ms-flex-align: center;
                                align-items: center;
                                display: -webkit-inline-box;
                                display: -ms-inline-flexbox;
                                display: inline-flex;
                                box-shadow: 0 1px 4px #000000;
                            }
                            span {
                                color: #3498db !important;
                            }
                        }
                        .secHour {
                            color: #757575;
                            font-weight: bold;
                            width: 60px;
                            float: right;
                            text-align: right;
                            div {
                                background-color: rgba($color: #000000, $alpha: 0.68);
                                border: 1px solid black;
                                border-radius: 5px;
                                margin-right: 3px;
                                padding: 0px 5px !important;
                                font-weight: 300;
                                margin-right: 3px;
                                padding: 0px 0px !important;
                                color: white;
                                height: 20px;
                                width: 17px;
                                padding: 0;
                                font-size: 11px;
                                justify-content: center;
                                align-items: center;
                                display: inline-flex;
                                box-shadow: 0 1px 4px #000000;
                            }
                            span {
                                color: #3498db !important;
                            }
                        }
                    }
                }
                .realdata-block.engine-remote {
                    margin-left: 0px !important;
                }
            }
            .engine-remote {
                width: 49%;
                margin-left: 10px;
                margin-right: 10px;
                .stlp.withoutData {
                    margin-top: 30px;
                }
            }
        }
    }
    .gen-view-row {
        margin: 0;
        .display-flex-row-2 {
            margin-right: 10px;
            .fuel-meter {
                padding: 0px 0px;
                width: 50%;
                border-radius: 2px;
                border-top: 4px solid #4baaf8;
                box-shadow: #999 2px 2px 10px;
                min-width: calc(50% + 5px);
                .flex-grow {
                    margin: 0;
                    .col-xs-12 {
                        .row {
                            margin: 0px;
                        }
                    }
                }
            }
            .power {
                border-radius: 2px;
                border-top: 4px solid #4baaf8;
                padding: 0;
                height: auto;
                box-shadow: #999 2px 2px 10px;
                width: calc(50% - 3px);
                .row {
                    margin: 0;
                    .power-volt {
                        padding: 10px;
                        display: inline-flex;
                        width: 100%;
                        justify-content: center;
                        align-items: center;
                        table {
                            tbody {
                                tr {
                                    td {
                                        color: #3d3780;
                                        font-weight: bold;
                                        font-size: 14px;
                                        p {
                                            line-height: 2;
                                            margin: 0px;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
            .voltage {
                border-radius: 2px;
                border-top: 4px solid #4baaf8;
                padding: 0;
                box-shadow: #999 2px 2px 10px;
                width: calc(50% - 7px);
                .row {
                    margin: 0px;
                    .col-xs-12 {
                        padding: 0px;
                        .row {
                            margin: 0px;
                            .volt-col.newvlt {
                                div {
                                    div {
                                        font-size: 13px;
                                        font-weight: bold;
                                        text-align: center;
                                    }
                                    .button-volt {
                                        box-shadow: 0 2px 4px 0 #419cdb, 0 0 0 0 #4cb5ff;
                                        background-image: -webkit-linear-gradient(90deg, #4cc4ff, #4ca6ff);
                                        background-image: -moz-linear-gradient(90deg, #4cc4ff, #4ca6ff);
                                        background-image: -ms-linear-gradient(90deg, #4cc4ff, #4ca6ff);
                                        background-image: -o-linear-gradient(90deg, #4cc4ff, #4ca6ff);
                                        background-image: linear-gradient(90deg, #4cc4ff, #4ca6ff);
                                        padding: 10px 0px;
                                        cursor: pointer;
                                    }
                                    .button-volt:hover {
                                        border: 0px solid #CCCCCC;
                                        background-color: #FFFFFF;
                                        background-image: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to(#0089D9));
                                        background-image: -webkit-linear-gradient(top, #FFFFFF, #0089D9);
                                        background-image: -moz-linear-gradient(top, #FFFFFF, #0089D9);
                                        background-image: -ms-linear-gradient(top, #FFFFFF, #0089D9);
                                        background-image: -o-linear-gradient(top, #FFFFFF, #0089D9);
                                        background-image: linear-gradient(to bottom, #FFFFFF, #0089D9);
                                        filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#FFFFFF, endColorstr=#0089D9);
                                    }
                                }
                            }
                        }
                    }
                }
            }
            .power-voltage {
                padding: 0;
                margin-left: 10px;
                display: flex;
                justify-content: space-between;
            }
        }
    }
}

.card {
    border: 1px solid #c7c7c7;
    overflow: hidden;
    margin-bottom: 15px;
    box-shadow: #999 3px 3px 5px;
    background-color: white;
    @media only screen and (max-device-width: 1200px) {
        margin-bottom: 10px;
    }
    .card-header {
        display: flex;
        align-items: center;
        padding: 5px 5px;
        background: rgba(226, 226, 226, 1);
        background: -moz-linear-gradient(top, rgba(226, 226, 226, 1) 0%, rgba(217, 217, 217, 1) 54%, rgba(163, 163, 163, 1) 99%, rgba(209, 209, 209, 1) 100%);
        background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(226, 226, 226, 1)), color-stop(54%, rgba(217, 217, 217, 1)), color-stop(99%, rgba(163, 163, 163, 1)), color-stop(100%, rgba(209, 209, 209, 1)));
        background: -webkit-linear-gradient(top, rgba(226, 226, 226, 1) 0%, rgba(217, 217, 217, 1) 54%, rgba(163, 163, 163, 1) 99%, rgba(209, 209, 209, 1) 100%);
        background: -o-linear-gradient(top, rgba(226, 226, 226, 1) 0%, rgba(217, 217, 217, 1) 54%, rgba(163, 163, 163, 1) 99%, rgba(209, 209, 209, 1) 100%);
        background: -ms-linear-gradient(top, rgba(226, 226, 226, 1) 0%, rgba(217, 217, 217, 1) 54%, rgba(163, 163, 163, 1) 99%, rgba(209, 209, 209, 1) 100%);
        background: linear-gradient(to bottom, rgba(226, 226, 226, 1) 0%, rgba(217, 217, 217, 1) 54%, rgba(163, 163, 163, 1) 99%, rgba(209, 209, 209, 1) 100%);
        .settings {
            font-size: 15px;
            cursor: pointer;
        }
        p {
            display: inline-block;
            margin: 0;
            margin-left: 5px;
            font-size: 14px;
            font-weight: bold;
            @media only screen and (max-device-width: 1268px) {
                font-size: 11px;
            }
            @media only screen and (max-device-width: 1200px) {
                font-size: 12px;
            }
        }
    }
    .card-body {
        background-color: white;
        height: calc(100% - 25px);
        display: flex;
        justify-content: center;
        align-items: center;
        padding-bottom: 10px;
        position: relative;
    }
    &.genview-analyser {
        width: 100%;
        margin-bottom: 0px;
        &.table-parameters {
            .card-header {
                padding: 5px 5px;
                position: relative;
                i {
                    font-size: 18px;
                }
                p {
                    font-size: 14px;
                }
                .data-points {
                    position: absolute;
                    right: 0px;
                    top: 0px;
                    padding: 5px; // border: 1px solid #d5d8df;
                    background: linear-gradient(to bottom, rgba(226, 226, 226, 0.5) 0%, rgba(217, 217, 217, 0.5) 54%, rgba(163, 163, 163, 0.5) 99%, rgba(209, 209, 209, 0.5) 100%);
                    select {
                        -webkit-appearance: menulist;
                        border: none;
                        background-color: transparent;
                        outline: none;
                    }
                }
            }
            .card-body {
                height: 281px;
                overflow: auto;
            }
        }
    }
}

.display-flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    @media only screen and (max-width: 1200px) {
        display: block;
    }
    .charts {
        padding: 0px;
        .card {
            .text {
                position: absolute;
                bottom: 5px;
                font-weight: bold;
                font-size: 12px;
                &.unit-text {
                    left: 10px;
                }
                &.value-text {
                    right: 5px;
                }
            }
            &.oil-pressure {
                width: calc(30% - 10px);
                margin-right: 15px;
                @media only screen and (max-width: 1200px) {
                    display: inline-block;
                    width: calc(50% - 8px);
                    .card-body {
                        height: 120px;
                    }
                }
                @media only screen and (max-width: 850px) {
                    display: inline-block;
                    width: calc(50% - 5px);
                    margin-right: 10px;
                    margin-bottom: 5px;
                }
                @media only screen and (max-width: 410px) {
                    width: 100%;
                    margin-right: 0px;
                }
                .text {
                    position: absolute;
                    bottom: 5px;
                    font-weight: bold;
                    font-size: 12px;
                    &.unit-text {
                        left: 10px;
                    }
                    &.value-text {
                        right: 10px;
                    }
                }
            }
            &.coolant-temp {
                width: calc(24% - 10px);
                margin-right: 15px;
                .card-body {
                    padding-top: 22px;
                    padding-bottom: 18px;
                }
                @media only screen and (max-width: 1200px) {
                    width: calc(50% - 8px);
                    margin-right: 0px;
                    float: right;
                    .card-body {
                        padding-top: 16px;
                        padding-bottom: 4px;
                    }
                }
                @media only screen and (max-width: 850px) {
                    width: calc(50% - 5px);
                    display: inline-block;
                }
            }
            &.battery-level {
                width: calc(23% - 10px);
                margin-right: 15px;
                @media only screen and (max-width: 1200px) {
                    display: inline-block;
                    width: calc(50% - 8px);
                }
                .card-body {
                    margin-top: 3px;
                    @media only screen and (max-width: 1200px) {
                        height: 120px;
                        margin-top: 0px;
                        padding-top: 20px;
                    }
                }
                @media only screen and (max-width: 850px) {
                    display: inline-block;
                    width: calc(50% - 5px);
                    margin-right: 10px;
                    margin-bottom: 5px;
                }
                .text {
                    bottom: 7px;
                }
            }
            &.fuel-level {
                width: calc(24% - 10px);
                @media only screen and (max-width: 1200px) {
                    width: calc(50% - 8px);
                    float: right;
                    .card-body {
                        height: 120px;
                    }
                }
                @media only screen and (max-width: 850px) {
                    width: calc(50% - 5px);
                    display: inline-block;
                }
                @media only screen and (max-width: 410px) {
                    width: 100%;
                }
            }
        }
    }
    .table-parameters {
        ::-webkit-scrollbar {
            width: 3px;
        }
        /* Track */
        ::-webkit-scrollbar-track {
            background: #f1f1f1;
        }
        /* Handle */
        ::-webkit-scrollbar-thumb {
            background: #888d9a;
        }
        /* Handle on hover */
        ::-webkit-scrollbar-thumb:hover {
            background: #555;
        }
        .card-body {
            display: block;
            height: 241px;
            overflow: auto;
            padding: 0px;
            .table-rows {
                position: relative;
                .hide-show-div {
                    position: absolute;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    left: 2px;
                    top: 0px;
                    img {
                        width: 15px;
                        height: 15px;
                        cursor: pointer;
                    }
                }
                .active {
                    padding-left: 20px !important;
                }
            }
            .engine-parameters-body {
                display: flex;
                background-color: #FFF;
                &:nth-child(even) {
                    background-color: #e0e0e0;
                }
                .text {
                    border-right: 1px solid #c5c5c5;
                    padding: 5px 0px 5px 5px;
                    font-size: 14px;
                    display: inline-flex;
                    align-items: center;
                    word-break: break-all;
                    &.name {
                        width: 40%;
                    }
                    &.value {
                        width: 25%;
                    }
                    &.unit {
                        width: 35%;
                        border-right: none;
                    }
                }
                &:last-child {
                    border-bottom: 1px solid #c5c5c5;
                }
            }
        }
        &.timers {
            .card-body {
                height: 132px;
                @media only screen and (max-device-width: 1200px) {
                    height: 120px;
                }
            }
        }
    }
    .measurements-parameters {
        padding: 0px;
        .engine-parameters {
            width: 40%;
            margin-right: 15px;
            @media only screen and (max-width: 1200px) {
                width: 100%;
                margin-bottom: 15px;
                &.table-parameters {
                    .card-body {
                        max-height: 200px;
                    }
                }
            }
            @media only screen and (max-device-width: 967px) {
                &.table-parameters {
                    .card-body {
                        max-height: 135px;
                    }
                }
            }
        }
        .ac-measurements {
            width: 30%;
            margin-right: 15px;
            @media only screen and (max-width: 1200px) {
                display: inline-block;
                width: calc(50% - 8px);
                &.table-parameters {
                    .card-body {
                        max-height: 200px;
                    }
                }
            }
            @media only screen and (max-width: 979px) {
                display: block;
                width: 100%;
                &.table-parameters {
                    .card-body {
                        max-height: 135px;
                    }
                }
            }
        }
        .load-measurements {
            width: 30%;
            @media only screen and (max-width: 1200px) {
                width: calc(50% - 8px);
                float: right;
                &.table-parameters {
                    .card-body {
                        max-height: 200px;
                    }
                }
            }
            @media only screen and (max-width: 979px) {
                display: block;
                width: 100%;
                &.table-parameters {
                    .card-body {
                        max-height: 135px;
                    }
                }
            }
        }
    }
    .no-data {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        font-size: 14px;
    }
}

app-liquid-fill-gauge {
    display: flex;
    justify-content: center;
}

.coolant-temp-layout {
    position: relative;
    width: 50px;
    height: 100px;
    .top-circle {
        position: absolute;
        top: -13px;
        left: 10px;
        width: 30px;
        height: 75px;
        border: 5px solid #9d9d9d;
        border-radius: 20px;
        border-bottom-color: white;
        border-bottom-right-radius: 0px;
        border-bottom-left-radius: 0px;
        z-index: 2;
        background-color: white;
    }
    .bottom-circle {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 50px;
        height: 50px;
        border: 5px solid #9d9d9d;
        border-radius: 50%;
        z-index: 1;
        .inside-bottom-circle {
            position: absolute;
            left: 50%;
            bottom: 7px;
            transform: translateX(-50%);
            width: 25px;
            height: 25px;
            background-color: #429345;
            border-radius: 50%;
        }
    }
    .trasnparent-div {
        position: absolute;
        top: 5px;
        left: 10px;
        width: 30px;
        height: 45px;
        border-right: 5px solid white;
        border-style: dashed;
        border-bottom: none;
        border-left: none;
        border-top: none;
        z-index: 3;
        .inside-top-circle {
            position: absolute;
            left: 10px;
            width: 10px;
            height: 65px;
            top: -6px;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
            overflow: hidden;
            z-index: 1;
            .level {
                position: absolute;
                height: 18px;
                width: 100%;
                left: 0;
                &.level-1 {
                    top: 0px;
                    background-color: #da332e;
                }
                &.level-2 {
                    top: 18px;
                    background-color: #de5833;
                }
                &.level-3 {
                    bottom: 17px;
                    background-color: #e18538;
                }
                &.level-4 {
                    bottom: -1px;
                    background-color: #80bd42;
                }
            }
        }
        .inside-top-circle-fill {
            position: absolute;
            left: 10px;
            width: 10px;
            top: -6px;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
            overflow: hidden;
            z-index: 2;
            background-color: white;
            opacity: 0.8;
            border-bottom: 1px solid #888d9a;
        }
    }
    .sun-sunny-day-weather-symbol {
        position: absolute;
        top: 0px;
        right: -7px;
        img {
            width: 15px;
            height: 15px;
        }
    }
    .dot-sunny-day-weather-symbol {
        position: absolute;
        bottom: 40px;
        right: -5px;
        img {
            width: 10px;
            height: 10px;
        }
    }
}

.allGraphPointCircle {
    .dots {
        opacity: 1;
        transition: all 0.5s ease 0s;
        g {
            pointer-events: all;
            circle {
                pointer-events: all;
            }
        }
        &.active {
            opacity: 1;
        }
        &.notActive {
            opacity: 0.1;
        }
    }
}

#genviewAnalyserGraph {
    path {
        fill: none;
    }
    .axis path,
    .axis line {
        fill: none;
        stroke: grey;
        stroke-width: 1;
        shape-rendering: crispEdges;
    }
    .tick {
        text {
            font-size: 11px;
        }
    }
    .allGraph {
        .path {
            opacity: 1;
            pointer-events: none;
            transition: all 0.5s ease 0s;
            .active {
                opacity: 1;
            }
            &.notActive {
                opacity: 0.1;
            }
        }
    }
    .allyAxis {
        .yAxis {
            transition: all 0.5s ease 0s;
            &.notActive {
                opacity: 0.1;
            }
            &.active {
                opacity: 1;
            }
        }
    }
    .data-circle {
        cursor: pointer;
    }
}

.gen-tooltip {
    color: #fff;
    width: 200px;
    height: auto;
    padding: 0px;
    position: absolute;
    text-align: center;
    background: rgba(0, 0, 0, 0.8);
    border-radius: 3px;
    transform: translate(10px, 0px);
    transition: transform 0.2s ease 0s, opacity 0.2s ease 0s;
    .info {
        padding: 5px 10px;
        p {
            margin: 0px;
            color: #fff;
            text-align: left;
            padding: 3px 0px;
            font-size: 11px;
            span {
                font-weight: bold;
                color: #fff;
            }
        }
    }
}

.no-graph {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  flex-direction: column;
  img {
    width: 50px;
    height: 50px;
  }
  p {
    margin-top: 15px;
    font-size: 16px;
  }
}

.data-name-for-graph {
    display: flex;
    margin: 0px 10px 0px 10px;
    flex-wrap: wrap;
    position: relative;
    justify-content: center;
    .data-name {
        margin-bottom: 15px;
        font-size: 13px;
        display: flex;
        align-items: center;
        position: relative;
        min-height: 20px;
        flex: 1;
        margin: 0px 5px;
        justify-content: center;
        input[type="checkbox"]+label:before {
            box-sizing: content-box;
            content: '';
            position: absolute;
            top: 50%;
            left: 0;
            width: 18px;
            height: 18px;
            border: none;
            margin-top: -9px;
            text-align: center;
            transition: all 0.4s ease;
        }
        .beforeDiv {
            position: absolute;
            top: 50%;
            left: 0;
            width: 18px;
            height: 18px;
            border: none;
            margin-top: -9px;
            text-align: center;
            background: inherit;
        }
        .default {
            border: 2px solid white;
        }
        label {
            span {
                font-size: 12px;
            }
        }
    }
    #oneDataPointError {
        display: none;
        position: absolute;
        bottom: -10px;
        left: 0;
        width: 100%;
        margin: 0;
        text-align: center;
        font-size: 13px;
    }
}

.data-points-modal {
    .modal-dialog {
        width: 660px;
    }
    .modal-header {
        background-color: #56607c;
        color: white;
    }
    .modal-body {
        padding: 0px;
        .data-list {
            .point-name {
                margin-bottom: 15px;
                position: relative;
                .material-icons {
                    top: 0px !important;
                    right: -5px !important;
                }
            }
            .added-text {
                padding: 15px 20px;
                border-bottom: 2px solid #f1f1f1;
                color: #a0a0a0;
                font-size: 16px;
                position: relative;
                .add-icons {
                    position: absolute;
                    right: 15px;
                    font-size: 30px;
                    top: 10px;
                    cursor: pointer;
                    background-color: #55607b;
                    color: white;
                    border-radius: 50%;
                }
            }
            .added-content {
                margin-left: 20px;
                border-bottom: 2px solid #f1f1f1;
                padding: 15px 20px 15px 0px;
                position: relative;
                max-height: 290px;
                overflow-y: auto;
                .material-icons {
                    position: absolute;
                    top: 15px;
                    right: 15px;
                    color: #bbc0d1;
                    cursor: pointer;
                    transition: all 0.3s ease;
                    &:hover {
                        color: red;
                    }
                }
            }
            .recently-added-point {
                position: relative;
                .new-data-points {
                    position: absolute;
                    background-color: white;
                    z-index: 1;
                    top: 52px;
                    right: 0px;
                    border: 2px solid #e5e5e5;
                    max-height: 300px;
                    overflow: auto;
                    div {
                        padding: 10px;
                        border-bottom: 2px solid #ececec;
                        cursor: pointer;
                        transition: all 0.3s ease;
                        background-color: white;
                        font-weight: 200;
                        font-size: 14px;
                        max-width: 250px;
                        &:hover {
                            background-color: #55607b;
                            color: white;
                        }
                    }
                }
            }
            .all-added-point {
                margin-top: 20px;
            }
        }
        .point-checked {
            padding: 15px;
            margin-top: 15px;
            background-color: #f4f4f4;
            .analytics-list {
                padding-top: 15px;
                border-top: 1px solid #e4e4e4;
                ;
            }
            .status-checkbox {
                margin: 0;
                padding-bottom: 10px;
                display: inline-block;
                label {
                    display: inline-flex;
                    margin: 0;
                    justify-content: center;
                    align-items: center;
                }
                .c-check {
                    user-select: none;
                    cursor: pointer;
                    width: -webkit-fit-content;
                    width: -moz-fit-content;
                    width: fit-content;
                    margin-right: 15px;
                    .check-icon {
                        display: inline-block;
                        margin-right: 5px;
                    }
                    span {
                        font-weight: normal;
                    }
                    input:checked+.checkbox {
                        border-color: #ccc;
                    }
                    input {
                        position: absolute;
                        z-index: -1;
                        width: 0;
                        height: 0;
                        opacity: 0;
                    }
                    .checkmark__circle {
                        stroke-dasharray: 166;
                        stroke-dashoffset: 166;
                        stroke-width: 2;
                        stroke-miterlimit: 10;
                        stroke: #d8d8d8;
                        fill: #d8d8d8;
                    }
                    input:checked+.check-icon .checkmark__circle {
                        fill: none;
                        stroke: #4daf88;
                    }
                    .checkmark {
                        width: 20px;
                        height: 20px;
                        border-radius: 50%;
                        display: block;
                        stroke-width: 2;
                        stroke: #fff;
                        stroke-miterlimit: 10;
                        margin: 10% auto;
                        box-shadow: inset 0px 0px 0px #4daf88;
                    }
                    input:checked+.check-icon .checkmark {
                        animation: fill .5s ease-in-out 0s forwards;
                    }
                    .checkmark__check {
                        transform-origin: 50% 50%;
                        stroke: #fff;
                        stroke-width: 5;
                    }
                    @keyframes fill {
                        100% {
                            box-shadow: inset 0px 0px 0px 30px #4daf88;
                        }
                    }
                }
            }
        }
        .no-data-points {
            padding: 20px;
            text-align: center;
            font-size: 18px;
            color: red;
        }
    }
}

.custome-checkbox {
    input[type="checkbox"] {
        border: 0;
        clip: rect(0 0 0 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
    }
    input[type="checkbox"]+label {
        position: relative;
        padding-left: 2em;
        vertical-align: middle;
        user-select: none;
        cursor: pointer;
        margin: 0px;
        color: #000;
        font-weight: 300;
    }
    input[type="checkbox"]+label:before {
        box-sizing: content-box;
        content: '';
        color: #57607d;
        position: absolute;
        top: 50%;
        left: 0;
        width: 14px;
        height: 14px;
        margin-top: -9px;
        border: 2px solid #57607d;
        text-align: center; // transition: all 0.4s ease;
    }
    input[type="checkbox"]:checked+label:before {
        background: #57607d !important;
    }
    input[type="checkbox"]+label:after {
        background-color: transparent;
        top: 50%;
        left: 4px;
        width: 8px;
        height: 3px;
        margin-top: -4px;
        border-style: solid;
        border-color: #ffffff;
        border-width: 0 0 3px 3px;
        border-image: none;
        transform: rotate(-45deg) scale(0);
    }
    input[type="checkbox"]+label:after {
        box-sizing: content-box;
        content: '';
        position: absolute;
        top: 50%;
        left: 4px;
        width: 8px;
        height: 3px;
        -webkit-transform: scale(0);
        transform: scale(0);
        -webkit-transform-origin: 50%;
        transform-origin: 50%;
    }
    input[type="checkbox"]:checked+label:after {
        transform: rotate(-45deg) scale(1);
    }
}

.loading-img {
    background-color: #ffffffc9;
}

.data-points-modal {
    z-index: 10000;
    padding: 0px 10px;
    .custom {
        @media only screen and (max-width: 767px) {
            margin: 15px auto;
            width: auto;
            max-width: 660px;
        }
        .modal-header {
            padding: 5px 15px
        }
        .modal-body {
            .all-added-point {
                margin-top: 5px;
                border-top: 1px solid #f1f1f1;
                .added-content {
                    padding: 5px 20px 0px;
                }
            }
            .added-content {
                padding: 5px 20px 0px;
                .point-checked {
                    background: #fff;
                    box-shadow: 0px 0px 10px 0 rgba(0, 0, 0, 0.1);
                    padding: 10px 15px 0px 15px;
                    border-radius: 3px;
                    margin-top: 5px;
                    border-radius: 3px;
                    .status-checkbox {
                        .c-check {
                            display: inline-block;
                            .check-icon {
                                vertical-align: middle;
                            }
                            span {
                                font-size: 13px;
                                vertical-align: middle;
                            }
                            svg {
                                width: 16px;
                                height: 16px;
                            }
                        }
                    }
                    .analytics-list {
                        padding-top: 10px;
                    }
                }
            }
            .data-list {
                .added-text {
                    padding: 10px 20px;
                    border-bottom: 1px solid #f1f1f1;
                }
                .add-icons {
                    font-size: 20px;
                    top: 7px;
                    right: 15px;
                }
                .added-content {
                    padding: 5px 20px 10px;
                    border-bottom: 0px;
                    margin-left: 0px;
                    .firstElement {
                        display: none;
                    }
                    .squreCheckbox {
                        padding: 5px 0px;
                        .checkbox {
                            width: 16px;
                            height: 16px;
                        }
                        svg {
                            width: 16px;
                            height: 16px;
                        }
                        span {
                            font-size: 13px;
                        }
                    }
                    .material-icons {
                        top: 10px;
                        right: 15px;
                        font-size: 17px;
                    }
                }
            }
        }
        .modal-footer {
            padding: 10px 15px;
            .btn {
                padding: 7px 10px;
                border-radius: 2px;
                line-height: 1;
            }
        }
    }
}

.squreCheckbox {
    user-select: none;
    cursor: pointer;
    margin-bottom: 0;
    .label {
        position: relative;
        display: flex;
        font-weight: normal;
        border-radius: 0px;
        cursor: pointer;
        margin: 0px;
        padding: 0px;
        align-items: center;
    }
    input[type="checkbox"] {
        border: 0;
        clip: rect(0 0 0 0);
        height: 100%;
        margin: 0px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 100%;
        left: 0px;
    }
    input:checked+.checkbox {
        border-color: #20C2E0;
    }
    input:checked+.checkbox svg path {
        fill: #20C2E0;
    }
    input:checked+.checkbox svg polyline {
        stroke-dashoffset: 0;
    }
    &:hover.checkbox svg path {
        stroke-dashoffset: 0;
    }
    .checkbox {
        position: relative;
        top: 0px;
        float: left;
        margin: 0px 5px 0px 0px;
        width: 20px;
        height: 20px;
        border: 2px solid #C8CCD4;
        border-radius: 3px;
    }
    .checkbox svg {
        position: absolute;
        top: -2px;
        left: -2px;
    }
    .checkbox svg path {
        fill: none;
        stroke: #20C2E0;
        stroke-width: 2;
        stroke-linecap: round;
        stroke-linejoin: round;
        stroke-dasharray: 71px;
        stroke-dashoffset: 71px;
        transition: all 0.6s ease;
    }
    .checkbox svg polyline {
        fill: none;
        stroke: #FFF;
        stroke-width: 2;
        stroke-linecap: round;
        stroke-linejoin: round;
        stroke-dasharray: 18px;
        stroke-dashoffset: 18px;
        transition: all 0.3s ease;
    }
    span {
        pointer-events: none;
        font-size: 16px;
        color: #000;
        font-weight: normal;
        vertical-align: middle;
    }
}

// }// .squreCheckbox input:checked+.checkbox {
//     border-color: #20C2E0;
// }
// .squreCheckbox input:checked+.checkbox svg path {
//     fill: #20C2E0;
// }
// .squreCheckbox input:checked+.checkbox svg polyline {
//     stroke-dashoffset: 0;
// }
// .squreCheckbox:hover .checkbox svg path {
//     stroke-dashoffset: 0;
// }
// .squreCheckbox .checkbox {
//     position: relative;
//     top: 0px;
//     float: left;
//     margin-right: 8px;
//     width: 20px;
//     height: 20px;
//     border: 2px solid #C8CCD4;
//     border-radius: 3px;
// }
// .squreCheckbox .checkbox svg {
//     position: absolute;
//     top: -2px;
//     left: -2px;
// }
// .squreCheckbox .checkbox svg path {
//     fill: none;
//     stroke: #20C2E0;
//     stroke-width: 2;
//     stroke-linecap: round;
//     stroke-linejoin: round;
//     stroke-dasharray: 71px;
//     stroke-dashoffset: 71px;
//     transition: all 0.6s ease;
// }
// .squreCheckbox .checkbox svg polyline {
//     fill: none;
//     stroke: #FFF;
//     stroke-width: 2;
//     stroke-linecap: round;
//     stroke-linejoin: round;
//     stroke-dasharray: 18px;
//     stroke-dashoffset: 18px;
//     transition: all 0.3s ease;
// }
// .squreCheckbox span {
//     pointer-events: none;
//     font-size: 16px;
//     color: #000;
//     font-weight: normal;
//     vertical-align: middle;
// }
// .cntr {
//     position: absolute;
//     top: 45%;
//     left: 0;
//     width: 100%;
//     text-align: center;
// }
// .invisible {
// }