<div class="container-fluid">
  <div class="row">
    <div class="display-flex">
      <div class="col-sm-12 col-md-12 col-lg-12 charts">
        <div class="row hundred-percent-height">
          <div class="display-flex hundred-percent-height">
            <div class="card oil-pressure">
              <div class="card-header">
                <i class="material-icons settings">settings</i>
                <p>Oil Pressure</p>
              </div>
              <div class="card-body">
                <app-radial-gauge [(data)]="oilPressureData"></app-radial-gauge>
                <div class="text unit-text" [innerHTML]="oilPressureData.unit"></div>
                <div class="text value-text" [innerHTML]="oilPressureData.value"></div>
              </div>
            </div>
            <div class="card coolant-temp">
              <div class="card-header">
                <i class="material-icons settings">settings</i>
                <p>Coolant Temp</p>
              </div>
              <div class="card-body">
                <div class="coolant-temp-layout">
                  <div class="sun-sunny-day-weather-symbol">
                    <img src="assets/images/gen-view/sun-sunny-day-weather-symbol.svg">
                  </div>
                  <div class="dot-sunny-day-weather-symbol">
                    <img src="assets/images/gen-view/dot-sunny-day-weather-symbol.svg">
                  </div>
                  <div class="top-circle">
                  </div>
                  <div class="bottom-circle">
                    <div class="inside-bottom-circle">
                    </div>
                  </div>
                  <div class="trasnparent-div">
                    <div class="inside-top-circle">
                      <div class="level level-1"></div>
                      <div class="level level-2"></div>
                      <div class="level level-3"></div>
                      <div class="level level-4"></div>
                    </div>
                    <div class="inside-top-circle-fill" [style.height.px]="dynamicHeight"></div>
                  </div>
                </div>
                <div class="text unit-text" [innerHTML]="coolantTemperatureData.unit"></div>
                <div class="text value-text" [innerHTML]="coolantTemperatureData.value"></div>
              </div>
            </div>
            <div class="card battery-level">
              <div class="card-header">
                <i class="material-icons settings">settings</i>
                <p>Battery Voltage</p>
              </div>
              <div class="card-body">
                <app-battery-level-chart [(data)]="batteryVoltageData"></app-battery-level-chart>
                <div class="text unit-text" [innerHTML]="batteryVoltageData.unit"></div>
                <div class="text value-text" [innerHTML]="batteryVoltageData.value"></div>
              </div>
            </div>
            <div class="card fuel-level">
              <div class="card-header">
                <i class="material-icons settings">settings</i>
                <p>Fuel level</p>
              </div>
              <div class="card-body">
                <!-- [ngClass]="oilPressureData.value > 80 ? 'green' : oilPressureData.value > 40 'blue' ? : 'orange'" -->
                <app-liquid-fill-gauge [(data)]="fuelLevelData"></app-liquid-fill-gauge>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="display-flex">
      <div class="col-sm-12 col-md-12 col-lg-12 measurements-parameters">
        <div class="row hundred-percent-height">
          <div class="display-flex hundred-percent-height">
            <div class="card engine-parameters table-parameters">
              <div class="card-header">
                <i class="material-icons settings" (click)="toggleEngineParameters.value = !toggleEngineParameters.value">settings</i>
                <p>Engine Parameters</p>
              </div>
              <div class="card-body">
                <div class="table-rows engine-parameters-body" *ngFor="let data of engineParameters;let i = index">
                  <ng-container *ngIf="data.notInSync != 1">
                    <div class="hide-show-div" *ngIf="!toggleEngineParameters.value" (click)="toggleTableRowsData(i,'engine')">
                      <img src="assets/images/gen-view/blind-symbol-of-an-opened-eye-with-a-slash.svg" />
                    </div>
                    <div class="text name" [ngClass]="{'active' : !toggleEngineParameters.value}" [innerHTML]="data.displayName ? data.displayName : data.name"></div>
                    <div class="text value" [innerHTML]="data.value"></div>
                    <div class="text unit" [innerHTML]="data.unit"></div>
                  </ng-container>
                </div>
                <div class="no-data" *ngIf="engineParameters.length == 0">
                  No data found.
                </div>
              </div>
            </div>
            <div class="card ac-measurements table-parameters">
              <div class="card-header">
                <i class="material-icons settings" (click)="toggleACMeasurements.value = !toggleACMeasurements.value">settings</i>
                <p>AC Measurements</p>
              </div>
              <div class="card-body">
                <div class="table-rows engine-parameters-body" *ngFor="let data of acMeasurements;let i = index">
                  <ng-container *ngIf="data.notInSync != 1">
                    <div class="hide-show-div" *ngIf="!toggleACMeasurements.value" (click)="toggleTableRowsData(i,'ac')">
                      <img src="assets/images/gen-view/blind-symbol-of-an-opened-eye-with-a-slash.svg" />
                    </div>
                    <div class="text name" [ngClass]="{'active' : !toggleACMeasurements.value}" [innerHTML]="data.displayName ? data.displayName : data.name"></div>
                    <div class="text value" [innerHTML]="data.value"></div>
                    <div class="text unit" [innerHTML]="data.unit"></div>
                  </ng-container>
                </div>
                <div class="no-data" *ngIf="acMeasurements.length == 0">
                  No data found.
                </div>
              </div>
            </div>
            <div class="card load-measurements table-parameters">
              <div class="card-header">
                <i class="material-icons settings" (click)="toggleLoadMeasurements.value = !toggleLoadMeasurements.value">settings</i>
                <p>Load Measurements</p>
              </div>
              <div class="card-body">
                <div class="table-rows engine-parameters-body" *ngFor="let data of loadMeasurements;let i = index">
                  <ng-container *ngIf="data.notInSync != 1">
                    <div class="hide-show-div" *ngIf="!toggleLoadMeasurements.value" (click)="toggleTableRowsData(i,'load')">
                      <img src="assets/images/gen-view/blind-symbol-of-an-opened-eye-with-a-slash.svg" />
                    </div>
                    <div class="text name" [ngClass]="{'active' : !toggleLoadMeasurements.value}" [innerHTML]="data.displayName ? data.displayName : data.name"></div>
                    <div class="text value" [innerHTML]="data.value"></div>
                    <div class="text unit" [innerHTML]="data.unit"></div>
                  </ng-container>
                </div>
                <div class="no-data" *ngIf="loadMeasurements.length == 0">
                  No data found.
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="display-flex">
      <div class="card genview-analyser table-parameters">
        <div class="card-header">
          <i class="material-icons settings">settings</i>
          <p>Genview Analyser</p>
          <div class="data-points">
            <select [(ngModel)]="selectedDataPoint" (ngModelChange)="onChangeSelectedDataPoint($event)">
              <option disabled value="-1">Select data point</option>
              <option *ngFor="let data of realtimeData;let index = index;" [value]="index">{{data.name}}</option>
            </select>
          </div>
        </div>
        <div class="card-body" [style.height.px]="genViewAnalyzerData.length == 0 ? 301: ''">
          <div id="genviewAnalyserGraph" class="aGraph"></div>
          <div class="data-name-for-graph" *ngIf="genViewAnalyzerData.length > 0 && selectedDataOnGraph.length > 0">
            <div class="data-name custome-checkbox" *ngFor="let data of selectedDataOnGraph;let index = index">
              <input type="checkbox" [ngClass]="{'default' : !data.checked}" [checked]="data.checked" id="selectedDataOnGraph-{{index}}"
                class="data-point-checkbox" />
              <label (click)="onselectedDataOnGraphClick(index)">
                <div class="beforeDiv" [ngClass]="{'default' : !data.checked}" [style.borderColor]="data.checked ? 'white' : data.color"
                  [style.background]="data.checked ? data.color : 'white'"></div>
                <span [style.color]="data.color">{{data.name}}</span>
              </label>
            </div>
            <div class="custom-errors" id="oneDataPointError">
              Atleast one data point is required.
            </div>
          </div>
          <div class="no-graph" *ngIf="genViewAnalyzerData.length == 0">
            <img src="assets/images/gen-view/bar-chart.svg">
            <p>No data found.</p>
          </div>
          <div class="loading-img" *ngIf="genViewAnalyzerLoader">
            <img src="assets/images/loading.svg">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div bsModal #dataPointsModal="bs-modal" id="dataPointsModal" class="modal fade data-points-modal" tabindex="-1" role="dialog"
  aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-md custom">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title pull-left">
          Data Points
        </h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="dataPointsModal.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="data-list">
          <div class="recently-added-point custome-checkbox" *ngIf="dataPointList[0]">
            <div class="added-text">Recently Added
              <i class="material-icons add-icons" title="Add point" (click)="$event.stopPropagation();toggleAddPointsList = !toggleAddPointsList">add</i>
              <div class="new-data-points" *ngIf="toggleAddPointsList">
                <div *ngFor="let data of realtimeData;let index = index;" (click)="onChangeSelectedDataPoint(index)">
                  {{data.name}}
                </div>
              </div>
            </div>
            <div class="added-content">
              <div class="squreCheckbox">
                <label class="label">
                  <input type="checkbox" [checked]="dataPointList[0].checked">
                  <div class="checkbox">
                    <svg width="20px" height="20px" viewBox="0 0 20 20">
                      <path d="M3,1 L17,1 L17,1 C18.1045695,1 19,1.8954305 19,3 L19,17 L19,17 C19,18.1045695 18.1045695,19 17,19 L3,19 L3,19 C1.8954305,19 1,18.1045695 1,17 L1,3 L1,3 C1,1.8954305 1.8954305,1 3,1 Z"></path>
                      <polyline points="4 11 8 15 16 6"></polyline>
                    </svg>
                  </div>
                  <span>{{dataPointList[0].name}}</span>
                </label>
              </div>
              <i class="material-icons" (click)="removeDataPointsFromList(0)">delete</i>
              <div *ngIf="dataPointList[0].checked" class="point-checked">
                <div class="status-checkbox">
                  <label class="c-check">
                    <input class="appInput" [checked]="dataPointList[0].isSnapshot" (click)="onPointTypeChecked(0,'sanpshot')" type="checkbox"
                      value="online">
                    <div class="check-icon">
                      <svg class="checkmark" viewBox="0 0 52 52" xmlns="http://www.w3.org/2000/svg">
                        <circle class="checkmark__circle" cx="26" cy="26" fill="none" r="25"></circle>
                        <path class="checkmark__check" d="M14.1 27.2l7.1 7.2 16.7-16.8" fill="none"></path>
                      </svg>
                    </div>
                    <span>Snapshot</span>
                  </label>
                </div>
                <div class="status-checkbox">
                  <label class="c-check">
                    <input class="appInput" [checked]="dataPointList[0].isAnalytics" (click)="onPointTypeChecked(0,'analytics')" type="checkbox"
                      value="online">
                    <div class="check-icon">
                      <svg class="checkmark" viewBox="0 0 52 52" xmlns="http://www.w3.org/2000/svg">
                        <circle class="checkmark__circle" cx="26" cy="26" fill="none" r="25"></circle>
                        <path class="checkmark__check" d="M14.1 27.2l7.1 7.2 16.7-16.8" fill="none"></path>
                      </svg>
                    </div>
                    <span>Analytical Data</span>
                  </label>
                </div>
                <div *ngIf="dataPointList[0].isAnalytics" class="analytics-list">
                  <div class="status-checkbox" *ngFor="let analytic of analyticsType;let i = index">
                    <label class="c-check">
                      <input class="appInput" [checked]="dataPointList[0].analytics[i]" (click)="onPointAnalyticTypeChecked(0,i,analytic)" type="checkbox"
                        value="online">
                      <div class="check-icon">
                        <svg class="checkmark" viewBox="0 0 52 52" xmlns="http://www.w3.org/2000/svg">
                          <circle class="checkmark__circle" cx="26" cy="26" fill="none" r="25"></circle>
                          <path class="checkmark__check" d="M14.1 27.2l7.1 7.2 16.7-16.8" fill="none"></path>
                        </svg>
                      </div>
                      <span>{{analytic}}</span>
                    </label>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="all-added-point" *ngIf="dataPointList.length > 1">
            <div class="added-text">All Data Points</div>
            <div class="added-content">
              <div *ngFor="let point of dataPointList;let index = index" [ngClass]="{'firstElement': index == 0 }" class="added-points point-name custome-checkbox">
                <ng-container *ngIf="index !== 0">
                  <div class="squreCheckbox">
                    <label class="label">
                      <input type="checkbox" [checked]="point.checked" id="pointCheckbox-{{index}}">
                      <div class="checkbox">
                        <svg width="20px" height="20px" viewBox="0 0 20 20">
                          <path d="M3,1 L17,1 L17,1 C18.1045695,1 19,1.8954305 19,3 L19,17 L19,17 C19,18.1045695 18.1045695,19 17,19 L3,19 L3,19 C1.8954305,19 1,18.1045695 1,17 L1,3 L1,3 C1,1.8954305 1.8954305,1 3,1 Z"></path>
                          <polyline points="4 11 8 15 16 6"></polyline>
                        </svg>
                      </div>
                      <span>{{point.name}}</span>
                    </label>
                  </div>
                  <i class="material-icons" (click)="removeDataPointsFromList(index)">delete</i>
                  <div *ngIf="point.checked" class="point-checked">
                    <div class="status-checkbox">
                      <label class="c-check">
                        <input class="appInput" [checked]="point.isSnapshot" (click)="onPointTypeChecked(index,'sanpshot')" type="checkbox" value="online">
                        <div class="check-icon">
                          <svg class="checkmark" viewBox="0 0 52 52" xmlns="http://www.w3.org/2000/svg">
                            <circle class="checkmark__circle" cx="26" cy="26" fill="none" r="25"></circle>
                            <path class="checkmark__check" d="M14.1 27.2l7.1 7.2 16.7-16.8" fill="none"></path>
                          </svg>
                        </div>
                        <span>Snapshot</span>
                      </label>
                    </div>
                    <div class="status-checkbox">
                      <label class="c-check">
                        <input class="appInput" [checked]="point.isAnalytics" (click)="onPointTypeChecked(index,'analytics')" type="checkbox" value="online">
                        <div class="check-icon">
                          <svg class="checkmark" viewBox="0 0 52 52" xmlns="http://www.w3.org/2000/svg">
                            <circle class="checkmark__circle" cx="26" cy="26" fill="none" r="25"></circle>
                            <path class="checkmark__check" d="M14.1 27.2l7.1 7.2 16.7-16.8" fill="none"></path>
                          </svg>
                        </div>
                        <span>Analytical Data</span>
                      </label>
                    </div>
                    <div *ngIf="point.isAnalytics" class="analytics-list">
                      <div class="status-checkbox" *ngFor="let analytic of analyticsType;let i = index">
                        <label class="c-check">
                          <input class="appInput" [checked]="point.analytics[i]" (click)="onPointAnalyticTypeChecked(index,i,analytic)" type="checkbox"
                            value="online">
                          <div class="check-icon">
                            <svg class="checkmark" viewBox="0 0 52 52" xmlns="http://www.w3.org/2000/svg">
                              <circle class="checkmark__circle" cx="26" cy="26" fill="none" r="25"></circle>
                              <path class="checkmark__check" d="M14.1 27.2l7.1 7.2 16.7-16.8" fill="none"></path>
                            </svg>
                          </div>
                          <span>{{analytic}}</span>
                        </label>
                      </div>
                    </div>
                  </div>
                </ng-container>
              </div>
            </div>
          </div>
          <div class="no-data-points" *ngIf="dataPointList.length == 0">
            No data found.
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <div class="text-right">
          <button type="submit" class="btn btn-tab" (click)="dataPointsModal.hide()">Cancel</button>
          <button type="button" class="btn btn-tab" (click)="dataPointsModal.hide()">Reset</button>
          <button type="button" class="btn btn-tab" [disabled]="dataPointList.length == 0" (click)="getGenviewAnalyzerData('new')">Save</button>
        </div>
      </div>
    </div>
  </div>
</div>