/*.onboarding-content{
  margin-left: -15px;
}
.subscription-management {
  .chart-center {
    display: table-cell;
  }
  .chart-box {
    min-height: 0;
  }
  .chart-inner {
    height: auto;
    position: relative;
  }
  .last-updated-date {


  }
}*/
.subscription-management {
  display: flex;
}
app-export-data {
  position: absolute;
  top: 10px;
  right: 50px;
}
.pa-15 {
  padding-top: 10px;
}