<div class="chart-table-main-container" appInnerContainer>
  <div class="pie-chart-container">
    <div class="chart-center">
      <div class="chart-box clearfix">
        <div class="chart-inner clearfix">
          <app-pie-chart [chartInfo]="pieChartConfigOptions" [data]="roleChartData" (selectedData)="applyStatusFilter($event)"></app-pie-chart>
        </div>
      </div>
    </div>
    <div class="last-updated-date">
      <span>{{"generic_last_updated" | translate}}: {{lastUpdated | convertToLocalDate }}</span>
    </div>
  </div>
  <div class="table-list-container bg-white pa-15" appInnerContainer [borderWidth]="5">
    <app-export-data *ngIf="roleGroup.length > 0" [src]="'assets/images/export-theme.svg'" [data]="roleGroup" [headers]="headers"
      [fileTagName]="'Role_Group'">
    </app-export-data>
    <div class="text-right org-view">
      <a href="javascript:void(0)" *ngFor="let item of wizardItems" (click)="changeComponent(item.index)" [ngClass]="item.disabled ? 'disabled':''">
        <span class="" [ngClass]="[item.icon, item.active ? '':'in-active']" *ngIf="item.index !==1"></span>
        <img src="assets/images/plus.svg" [ngClass]="[item.icon, item.active ? '':'in-active']" *ngIf="item.index ==1">
      </a>
    </div>
    <ng-template appRoleGroup></ng-template>
  </div>
</div>
