<ngb-tabset class="onboarding-tab" (tabChange)="beforeChange($event)">
  <ngb-tab id="organization">
    <ng-template ngbTabTitle>
      <div class="wizard-box">
        <!--<pre>{{wizardItems | json}}</pre>-->
        <svg-icon src="{{wizardItems[0].activeIcon}}" *ngIf="wizardItems[0].active"></svg-icon>
        <svg-icon src="{{wizardItems[0].icon}}" *ngIf="!wizardItems[0].active"></svg-icon>
        <svg-icon src="{{wizardItems[0].statusIcon}}" *ngIf="wizardItems[0].statusIcon != ''"></svg-icon>
        <span class="timeline-line"></span>
        <div class="title hidden-xs">{{wizardItems[0].name}}</div>
      </div>
    </ng-template>
    <ng-template ngbTabContent>
      <app-create-organization (status)="moveNextTab($event)"></app-create-organization>
    </ng-template>
  </ngb-tab>
  <ngb-tab id="user">
    <ng-template ngbTabTitle>
      <div class="wizard-box">
        <svg-icon src="{{wizardItems[1].activeIcon}}" *ngIf="wizardItems[1].active"></svg-icon>
        <svg-icon src="{{wizardItems[1].icon}}" *ngIf="!wizardItems[1].active"></svg-icon>
        <svg-icon src="{{wizardItems[1].statusIcon}}" *ngIf="wizardItems[1].statusIcon != ''"></svg-icon>
        <span class="timeline-line"></span>
        <div class="title hidden-xs">{{wizardItems[1].name}}</div>
      </div>
    </ng-template>
    <ng-template ngbTabContent>
      <app-create-user (status)="moveNextTab($event)" (createRole)="gotoRoleGroup($event)" (back)="gotoPreviousTab($event)"></app-create-user>
    </ng-template>
  </ngb-tab>
  <ngb-tab id="group">
    <ng-template ngbTabTitle>
      <div class="wizard-box">
        <svg-icon src="{{wizardItems[2].activeIcon}}" *ngIf="wizardItems[2].active"></svg-icon>
        <svg-icon src="{{wizardItems[2].icon}}" *ngIf="!wizardItems[2].active"></svg-icon>
        <svg-icon src="{{wizardItems[2].statusIcon}}" *ngIf="wizardItems[2].statusIcon != ''"></svg-icon>
        <span class="timeline-line"></span>
        <div class="title hidden-xs">{{wizardItems[2].name}}</div>
      </div>
    </ng-template>
    <ng-template ngbTabContent>
      <app-create-role-group (status)="moveNextTab($event)" (back)="gotoPreviousTab($event)"></app-create-role-group>
    </ng-template>
  </ngb-tab>
</ngb-tabset>
