<div class="container-fluid create-user-container">
  <div class="row">
    <div class="onboarding-content" appInnerContainerMaxHeight [ngClass]="{ 'update-profile': userUpdateProfile }">
      <div class="col-lg-12 col-md-12 col-sm-12 onboarding-nav-option" *ngIf="!userUpdateProfile">
        <div class="btn-group">
          <a class="btn btn-default btn-icon btn-custom-nav" [ngClass]="{ 'active': !isEditMode }" (click)="isEditMode = false;resetForm(onboardingFormCreateUser);">
            <span class="material-icons">add_circle</span>
            <span class="hidden-xs"> {{"co_user_new" | translate}}</span>
          </a>
        </div>

        <div class="btn-group">
          <a class="btn btn-default btn-icon btn-custom-nav" [ngClass]="{ 'active': isEditMode }" (click)="isEditMode = true;getGetMembers(onboardingservice.selectedOrganization);">
            <span class="material-icons">domain</span>
            <span class="hidden-xs"> {{"co_user_existing" | translate}}</span>
          </a>
        </div>
      </div>
      <div class="container-fluid">
        <form #onboardingFormCreateUser="ngForm" class="onboarding-form row">

          <div class="col-lg-7 col-md-12 col-sm-12">
            <div class="row">
              <!-- first row -->
              <!--<div class="col-lg-12 col-md-12 col-sm-12">-->
              <!--<pre>{{user | json}}</pre>-->
              <div class="col-lg-12">
                <div class="row">
                  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 organization-left  org-img-holder">
                    <label class="control-label">{{"co_user_details" | translate}}</label>
                    <div class="col-lg-12 col-md-12 col-xs-12 thumbnail">
                      <div class="col-lg-12 no-padding form-group">
                        <img class="img img-responsive" [src]="user.logo" alt="" *ngIf="user.logo" />
                        <img src="assets/images/default_user.svg#def_user" class="img img-responsive" *ngIf="!user.logo" />
                        <span class="material-icons upload-icon" (click)="file.open()">camera_alt</span>
                        <app-file-upload #file (file)="changeImage($event)"></app-file-upload>
                        <input type="text" class="hidden" name="logo" [(ngModel)]="user.logo" #organizationLogo="ngModel">
                      </div>
                      <div class="col-lg-8 col-md-8 col-sm-8 col-xs-7 no-padding">
                        <label class="control-label required-lbl">{{"co_name_display" | translate}}</label>
                        <ng-template [ngIf]="!userUpdateProfile">
                          <span *ngIf="!isEditMode">
                            <input type="text" class="form-control input-sm" name="displayName" #displayName="ngModel" [(ngModel)]="user.displayName"
                              minlength="4" maxlength="64" placeholder="Display Name" required pattern="[a-zA-Z][a-zA-Z ]*([']?[-]?)[a-zA-Z0-9 ]*"
                              tabindex="1">
                            <div *ngIf="displayName.errors && (displayName.dirty || displayName.touched)" class="text-danger">
                              <div [hidden]="!displayName.errors.required">
                                {{"co_display_req" | translate}}
                              </div>
                              <div [hidden]="!displayName.errors.minlength">
                               {{"co_display_minlen" | translate}}
                              </div>
                              <div [hidden]="!displayName.errors.maxlength">
                               {{"co_display_maxlen" | translate}}
                              </div>
                              <div [hidden]="!displayName.errors.pattern">
                                {{"co_display_invalid" | translate}}
                              </div>
                            </div>
                          </span>
                        </ng-template>
                        <ng-template [ngIf]="userUpdateProfile">
                          <input type="hidden" class="form-control input-sm" name="displayName" #displayName="ngModel" [(ngModel)]="user.displayName"
                            minlength="4" maxlength="64" required pattern="[a-zA-Z][a-zA-Z ]*([']?[-]?)[a-zA-Z0-9 ]*" tabindex="1">
                          <div class="readonly-field-label">{{user.displayName}}</div>
                        </ng-template>
                        <span *ngIf="isEditMode">
                          <div class="custome-select-box-div">
                            <select class="custome-select-box form-control input-sm pd-10" [(ngModel)]="userIndex" name="displayName" (change)="setUserSelected(userIndex)"
                              tabindex="1">
                              <option value="">{{"co_user_existing" | translate}}</option>
                              <option *ngFor="let user of availableUsers; let i = index;" [value]="i">{{user.displayName}}</option>
                            </select>
                            <i class="material-icons up">arrow_drop_up</i>
                            <i class="material-icons down">arrow_drop_down</i>
                          </div>
                        </span>

                      </div>
                      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-5 status-icon-group">
                        <ng-template [ngIf]="!userUpdateProfile">
                          <div class="control-label">Active</div>
                          <label class="switch">
                            <input type="checkbox" name="userstatus" [(ngModel)]="user.status">
                            <div class="slider round"></div>
                          </label>
                        </ng-template>
                      </div>
                    </div>
                  </div>

                  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 organization-left">
                    <div class="form-group">
                      <label class="control-label required-lbl">{{"co_name_first" | translate}}</label>
                      <input type="text" class="form-control" name="givenName" #givenName="ngModel" [(ngModel)]="user.givenName" required minlength="2"
                        maxlength="64" pattern="[a-zA-Z][a-zA-Z ]*([']?[-]?)[a-zA-Z ]*" tabindex="7">
                      <div *ngIf="givenName.errors && (givenName.dirty || givenName.touched)" class="text-danger">
                        <div [hidden]="!givenName.errors.required">
                          {{"co_first_name_req" | translate}}
                        </div>
                        <div [hidden]="!givenName.errors.minlength">
                          {{"co_first_name_minlen" | translate}}
                        </div>
                        <div [hidden]="!givenName.errors.maxlength">
                          {{"co_first_name_maxlen" | translate}}
                        </div>
                        <div [hidden]="!givenName.errors.pattern">
                          {{"co_first_name_invalid" | translate}}
                        </div>
                      </div>
                    </div>

                    <div class="form-group">
                      <label class="control-label required-lbl">{{"co_name_last" | translate}}</label>
                      <input type="text" class="form-control" [(ngModel)]="user.surname" name="surname" #surname="ngModel" required minlength="2"
                        maxlength="64" pattern="[a-zA-Z][a-zA-Z ]*([']?[-]?)[a-zA-Z ]*" tabindex="8">
                      <div *ngIf="surname.errors && (surname.dirty || surname.touched)" class="text-danger">
                        <div [hidden]="!surname.errors.required">
                          {{"co_last_name_req" | translate}}
                        </div>
                        <div [hidden]="!surname.errors.minlength">
                          {{"co_last_name_minlen" | translate}}
                        </div>
                        <div [hidden]="!surname.errors.maxlength">
                          {{"co_last_name_maxlen" | translate}}
                        </div>
                        <div [hidden]="!surname.errors.pattern">
                          {{"co_last_name_invalid" | translate}}
                        </div>
                      </div>
                    </div>

                    <div class="form-group">
                      <label class="control-label required-lbl">{{"co_title_job" | translate}}</label>
                      <input type="text" class="form-control" [(ngModel)]="user.jobTitle" name="jobTitle" #jobTitle="ngModel" required minlength="2"
                        maxlength="64" pattern="[a-zA-Z][a-zA-Z ]*([']?[-]?)[a-zA-Z ]*" tabindex="9">
                      <div *ngIf="jobTitle.errors && (jobTitle.dirty || jobTitle.touched)" class="text-danger">
                        <div [hidden]="!jobTitle.errors.required">
                          {{"co_title_req" | translate}}
                        </div>
                        <div [hidden]="!jobTitle.errors.minlength">
                          {{"co_title_minlen" | translate}}
                        </div>
                        <div [hidden]="!jobTitle.errors.maxlength">
                          {{"co_title_maxlen" | translate}}
                        </div>
                        <div [hidden]="!jobTitle.errors.pattern">
                          {{"co_title_invalid" | translate}}
                        </div>
                      </div>
                    </div>

                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <!-- second row -->
              <!--<div class="col-lg-12 col-md-12 col-sm-12">-->
              <div class="col-lg-6 col-md-6 col-sm-6 organization-left">

                <div class="form-group has-feedback has-feedback-left">
                  <label class="control-label required-lbl col-md-12 col-lg-12 col-xs-12 col-sm-12 plr-0">{{"co_username" | translate}}</label>
                  <ng-template [ngIf]="!userUpdateProfile">
                    <div class="col-lg-12 col-md-12 col-sm-12 plr-0">
                      <input type="email" class="form-control" #username="ngModel" [(ngModel)]="user.username" (blur)="onBlurInputEmail($event.target.value)"
                        name="username" required maxlength="64" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" tabindex="2">
                      <span class="form-control-feedback email-control">
                        <span class="material-icons">mail_outline</span>
                      </span>
                    </div>
                    <div *ngIf="username.errors && (username.dirty || username.touched)" class="text-danger">
                      <div [hidden]="!username.errors.required">
                        {{"co_username_req" | translate}}
                      </div>
                      <div [hidden]="!username.errors.maxlength">
                        {{"co_username_maxlen" | translate}}
                      </div>
                      <div [hidden]="!username.errors.pattern">
                        {{"co_username_invalid" | translate}}
                      </div>
                    </div>
                  </ng-template>
                  <ng-template [ngIf]="userUpdateProfile">
                    <div class="readonly-field-label">{{user.username}}</div>
                  </ng-template>
                  <div class="clearfix"></div>
                </div>

                <div class="form-group has-feedback has-feedback-left">
                  <label class="control-label required-lbl col-md-12 col-lg-12 col-xs-12 col-sm-12 plr-0">Email Address</label>
                  <div class="col-lg-12 col-md-12 col-sm-12 plr-0">
                    <input type="email" class="form-control" #emailId="ngModel" [(ngModel)]="user.emailId" name="emailId" required minlength="4"
                      tabindex="3" maxlength="64" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$">
                    <span class="form-control-feedback email-control">
                      <span class="material-icons">mail_outline</span>
                    </span>
                  </div>
                  <!--<div class="col-lg-7 col-md-7 col-sm-7 plr-0 email-domain">@surgecloud.bluesurge.com</div>-->
                  <div class="clearfix"></div>
                  <div *ngIf="emailId.errors && (emailId.dirty || emailId.touched)" class="text-danger">
                    <div [hidden]="!emailId.errors.required">
                      {{"co_email_req" | translate}}
                    </div>
                    <div [hidden]="!emailId.errors.minlength">
                      {{"co_email_minlen" | translate}}
                    </div>
                    <div [hidden]="!emailId.errors.maxlength">
                      {{"co_email_maxlen" | translate}}
                    </div>
                    <div [hidden]="!emailId.errors.pattern && !emailId.errors.minlength">
                      {{"co_email_invalid" | translate}}
                    </div>
                  </div>
                </div>

                <div class="form-group has-feedback has-feedback-left">
                  <label class="control-label required-lbl">Phone Number</label>
                  <!--\(?([0-9]{3})\)?([ .-]?)([0-9]{3})\2([0-9]{4})-->
                  <input type="text" class="form-control" [(ngModel)]="user.phoneNumber" name="phoneNumber" required #phoneNumber="ngModel"
                    minlength="6" maxlength="20" pattern="^[- +()]*[0-9][- +()0-9]*$" tabindex="4">
                  <span class="form-control-feedback">
                    <span class="material-icons">call</span>
                  </span>

                  <div *ngIf="phoneNumber.errors && (phoneNumber.dirty || phoneNumber.touched)" class="text-danger">
                    <div [hidden]="!phoneNumber.errors.required">
                      Phone Number is required.
                    </div>
                    <div [hidden]="!phoneNumber.errors.minlength">
                      Phone Number must be at least 6 characters long.
                    </div>
                    <div [hidden]="!phoneNumber.errors.maxlength">
                      Phone Number cannot be more than 20 characters long.
                    </div>
                    <div [hidden]="!phoneNumber.errors.pattern">
                      Please enter valid Phone Number.
                    </div>
                  </div>
                </div>
                <div class="form-group clearfix">
                  <label class="control-label required-lbl">{{"co_language" | translate}}</label>
                  <div class="custome-select-box-div width-100">
                    <select class="custome-select-box form-control pd-10" [(ngModel)]="user.defaultLanguage" name="language" required #language="ngModel"
                      tabindex="5">
                      <option value="">Select Language</option>
                      <option [value]="language" *ngFor="let language of languages">{{language}}</option>
                    </select>
                    <i class="material-icons up">arrow_drop_up</i>
                    <i class="material-icons down">arrow_drop_down</i>
                  </div>
                  <div *ngIf="!language.pristine && language.invalid" class="text-danger">
                    {{"co_language_req" | translate}}
                  </div>
                </div>
                <div class="form-group clearfix">
                  <label class="control-label required-lbl">{{"co_unit" | translate}}</label>
                  <div class="custome-select-box-div width-100">
                    <select class="custome-select-box form-control pd-10" [(ngModel)]="user.measurementUnit" name="unit" required #unit="ngModel"
                      tabindex="6">
                      <option value="">{{"co_unit_select" | translate}}</option>
                      <option [value]="unit" *ngFor="let unit of units">{{unit}}</option>
                    </select>
                    <i class="material-icons up">arrow_drop_up</i>
                    <i class="material-icons down">arrow_drop_down</i>
                  </div>
                  <div *ngIf="!unit.pristine && unit.invalid" class="text-danger">
                    {{"co_unit_req" | translate}}
                  </div>
                </div>
              </div>
              <div class="col-lg-6 col-md-6 col-sm-6 organization-left">
                <div class="form-group has-feedback has-feedback-left" *ngIf="!userUpdateProfile">
                  <label class="control-label" [ngClass]="{'required-lbl': !isEditMode }">{{"co_password" | translate}}</label>
                  <!--^(?=.*[a-z])(?=.*[A-Z])(?=.*[_\W!~<>?/])([a-zA-Z0-9_\W!~<>?/]){8,32}-->
                  <input type="password" class="form-control" [(ngModel)]="user.password" name="password" #password="ngModel" [required]="!isEditMode"
                    tabindex="10" minlength="8" maxlength="32" pattern="(?=.{8,})((?=.*\d)(?=.*[a-z])(?=.*[A-Z])|(?=.*\d)(?=.*[a-zA-Z])(?=.*[\W_])|(?=.*[a-z])(?=.*[A-Z])(?=.*[\W_])).*">
                  <span class="form-control-feedback">
                    <span class="material-icons">lock_outline</span>
                  </span>
                  <div *ngIf="password.errors && (password.dirty || password.touched)" class="text-danger">
                    <div [hidden]="!password.errors.required">
                      {{"co_password_req" | translate}}
                    </div>
                    <div [hidden]="!password.errors.minlength">
                      {{"co_password_minlen" | translate}}
                    </div>
                    <div [hidden]="!password.errors.maxlength">
                      {{"co_password_maxlen" | translate}}
                    </div>
                    <div [hidden]="!password.errors.pattern">
                      {{"co_password_invalid" | translate}}
                    </div>
                  </div>
                </div>
                <div class="form-group has-feedback has-feedback-left" *ngIf="userUpdateProfile">
                  <label class="control-label">Password</label>
                  <!--<pre>{{user | json}}</pre>-->
                  <!--^(?=.*[a-z])(?=.*[A-Z])(?=.*[_\W!~<>?/])([a-zA-Z0-9_\W!~<>?/]){8,32}-->
                  <input type="password" class="form-control" [(ngModel)]="user.password" name="password" #password="ngModel" readonly tabindex="10"
                    minlength="8" maxlength="32" pattern="(?=.{8,})((?=.*\d)(?=.*[a-z])(?=.*[A-Z])|(?=.*\d)(?=.*[a-zA-Z])(?=.*[\W_])|(?=.*[a-z])(?=.*[A-Z])(?=.*[\W_])).*">
                  <span class="form-control-feedback">
                    <span class="material-icons">lock_outline</span>
                  </span>
                </div>
                <div class="form-group has-feedback has-feedback-left">
                  <!--<div class="input-group input-group-unstyled">-->
                  <label class="control-label required-lbl">{{"co_role" | translate}}</label>
                  <ng-template [ngIf]="!userUpdateProfile">
                    <div class="custome-select-box-div">
                      <select class="custome-select-box form-control role-group-field" [(ngModel)]="user.roleGroup" (ngModelChange)="onRoleGroupChange($event)"
                        name="roleGroupModel" #roleGroupModel="ngModel" required tabindex="11">
                        <option value="" selected>{{"co_role_select" | translate}}</option>
                        <option *ngFor="let role of roleGroup" [value]="role.id">{{role.displayName}}</option>
                      </select>
                      <i class="material-icons up">arrow_drop_up</i>
                      <i class="material-icons down">arrow_drop_down</i>
                    </div>
                    <span class="form-control-feedback">
                      <span class="material-icons">people_outline</span>
                    </span>
                    <span class="material-icons add-icon" (click)="createRoleGroup()">add_circle</span>
                    <!--</div>-->
                    <div *ngIf="roleGroupModel.errors && (roleGroupModel.dirty || roleGroupModel.touched)" class="text-danger">
                      <div [hidden]="!roleGroupModel.errors.required">
                        {{"co_role_req" | translate}}
                      </div>
                    </div>
                  </ng-template>
                  <ng-template [ngIf]="userUpdateProfile">
                    <div class="readonly-field-label" *ngIf="user.roleGroup">{{user.roleName}}</div>
                    <div class="readonly-field-label" *ngIf="!user.roleGroup">None</div>
                  </ng-template>
                </div>
                <div class="form-group">
                  <label class="control-label required-lbl">{{"co_timezone" | translate}}</label>
                  <div class="custome-select-box-div width-100">
                    <select class="custome-select-box form-control pd-10" [(ngModel)]="user.timezone" name="timezone" required #userTimezone="ngModel"
                      tabindex="12">
                      <option value="">{{"co_timezone_select" | translate}}</option>
                      <option [value]="t.id" *ngFor="let t of timezone">{{t.displayName}}</option>
                    </select>
                    <i class="material-icons up">arrow_drop_up</i>
                    <i class="material-icons down">arrow_drop_down</i>
                  </div>
                  <div class="text-danger" *ngIf="!userTimezone.pristine && userTimezone.invalid">
                    {{"co_timezone_req" | translate}}
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label required-lbl">{{"co_organization_default" | translate}}</label>
                  <div class="custome-select-box-div width-100">
                    <select class="custome-select-box form-control pd-10" [(ngModel)]="user.defaultCompanyId" (ngModelChange)="defaultCompanyChooseChange($event)"
                      name="organization" required #organization="ngModel" tabindex="13">
                      <option value="">Select Organization</option>
                      <option [value]="company.companyId" *ngFor="let company of companies">{{company.name}}</option>
                    </select>
                    <i class="material-icons up">arrow_drop_up</i>
                    <i class="material-icons down">arrow_drop_down</i>
                  </div>
                  <div class="text-danger" *ngIf="!organization.pristine && organization.invalid">
                    {{"co_default_org" | translate}}
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label required-lbl">{{"co_page_landing" | translate}}</label>
                  <div class="custome-select-box-div width-100">
                    <select class="custome-select-box form-control pd-10" [(ngModel)]="user.landingPage" name="landingPage" required #landingPage="ngModel"
                      tabindex="14">
                      <option value="">{{"co_page_landing_select" | translate}}</option>
                      <option value="admin/feature">{{"module_dashboard" | translate}}</option>
                      <ng-template ngFor let-landingPage [ngForOf]="landingPages">
                        <option [value]="landingPage.url">{{landingPage.name}}</option>
                      </ng-template>
                    </select>
                    <i class="material-icons up">arrow_drop_up</i>
                    <i class="material-icons down">arrow_drop_down</i>
                  </div>
                  <div class="text-danger" *ngIf="!landingPage.pristine && landingPage.invalid">
                    {{"co_select_landing" | translate}}
                  </div>
                </div>
              </div>
              <!--</div>-->
            </div>
            <!-- second row -->
            <div class="row">
              <div class="col-sm-12 col-lg-12 col-md-12">
                <div class="form-group">
                  <div class="checkbox">
                    <label class="control-label checkbox-label">
                      <input class="styled-checkbox" type="checkbox" name="driverstatus" [(ngModel)]="user.licenseDetailsAvailable" (change)="clearDriving(user.licenseDetailsAvailable)"
                        tabindex="15"> {{"co_dl_details" | translate}}</label>
                  </div>
                </div>
                <div class="driver-license" *ngIf="user.licenseDetailsAvailable">
                  <div class="driver-license-label">
                    <label class="control-label">{{"co_license" | translate}}</label>
                  </div>
                  <div class="content-filed col-lg-6 col-md-6 col-sm-6">
                    <div class="form-group col-lg-12 col-md-12 col-sm-12">
                      <label class="control-label required-lbl">{{"co_license_no" | translate}}</label>
                      <input type="text" class="form-control" [(ngModel)]="user.drivingLicenseNumber" name="drivingLicenseNumber" #drivingLicenseNumber="ngModel"
                        required minlength="4" maxlength="64" pattern="^[0-9a-zA-Z- ]+$" tabindex="16">
                      <div *ngIf="drivingLicenseNumber.errors && (drivingLicenseNumber.dirty || drivingLicenseNumber.touched)" class="text-danger">
                        <div [hidden]="!drivingLicenseNumber.errors.required">
                          {{"co_license_no_req" | translate}}
                        </div>
                        <div [hidden]="!drivingLicenseNumber.errors.minlength">
                          {{"co_license_no_minlen" | translate}}
                        </div>
                        <div [hidden]="!drivingLicenseNumber.errors.maxlength">
                          {{"co_license_no_maxlen" | translate}}
                        </div>
                        <div [hidden]="!drivingLicenseNumber.errors.pattern">
                          {{"co_license_no_invalid" | translate}}
                        </div>
                      </div>
                    </div>
                    <div class="form-group col-lg-12 col-md-12 col-sm-12">
                      <label class="control-label">{{"co_driver_identifier" | translate}}</label>
                      <input type="text" class="form-control" [(ngModel)]="user.driverId" name="driverId" #driverId="ngModel" minlength="1" maxlength="64"
                        pattern="^[0-9a-zA-Z- ]+$" tabindex="17">
                      <div *ngIf="driverId.errors && (driverId.dirty || driverId.touched)" class="text-danger">
                        <div [hidden]="!driverId.errors.maxlength">
                          {{"co_driver_identifier_maxlen" | translate}}
                        </div>
                        <div [hidden]="!driverId.errors.pattern">
                          {{"co_driver_identifier_invalid" | translate}}
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="content-filed col-lg-6 col-md-6 col-sm-6">
                    <div class="form-group col-lg-12 col-md-12 col-sm-12">
                      <label class="control-label required-lbl">{{"co_dl_expiration" | translate}}</label>
                      <my-date-picker name="mydate" [options]="myDatePickerOptions" [(ngModel)]="user.modelDate" (dateChanged)="onDateChanged($event)"
                        required tabindex="18"></my-date-picker>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-5 col-md-12 col-sm-12">
            <label class="control-label">{{"co_details_subscription" | translate}}</label>
            <div class="no-subsctiption thumbnail" *ngIf="userUpdateProfile && subscriptionTopics && subscriptionTopics.length == 0">
              {{"co_found_details" | translate}}
            </div>
            <div class="onboarding-instruction thumbnail" [ngClass]="{ 'thumbnail-none' : subscriptionTopics && subscriptionTopics.length == 0}">
              <div class="hidden-xs" *ngIf="!userUpdateProfile">
                <h3>{{"co_create_user" | translate}}</h3>
                <p>{{"co_user_guide1" | translate}}</p>
                <p>{{"co_user_guide2" | translate}}</p>
                <p>{{"co_user_guide3" | translate}}</p>
              </div>
              <div *ngIf="userUpdateProfile" id="subscription-content">
                <app-subscription-topics (subscriptionTopicsSubscriber)="subscriptionTopicsChanged($event)" [updateProfile]="userUpdateProfile"
                  [companyAndRoleData]="companyRoleData" [groupId]="groupId" [userId]="user['userId']"></app-subscription-topics>
              </div>
            </div>

            <div class="row">
              <div class="col-lg-12 col-sm-12 col-md-12 text-right form-group create-users-action-btn">
                <button class="btn btn-tab" type="button" (click)="cancel()">{{"generic_cancel" | translate}}</button>
                <button class="btn btn-tab" type="button" (click)="saveUser(onboardingFormCreateUser)" [disabled]="onboardingFormCreateUser.invalid">{{"generic_continue" | translate}}</button>
              </div>
            </div>
          </div>





          <!-- main row -->

        </form>
      </div>

    </div>
  </div>
  <app-subscription-topic-option-template [templateUsedFor]="templateUsedFor"
    [status]="topicOptionStatus" [templateData]="templateData" [companyAndRoleData]="companyAndRoleDataForSubscription" *ngIf="openSubscriptionTopicOptionModal"
    (closeModal)="closeTopicOptionModal($event)"></app-subscription-topic-option-template>
</div>
