.checkbox-label {
  line-height: 1.9;
}
.driver-license {
  display: inline-block;
  border: 1px solid #bbc1d1;
  padding: 15px 0px;
  position: relative;
  margin-top: 30px;
  background-color: white;
  .content-filed {
    padding: 0px;
  }
  .driver-license-label{
    position: absolute;
    top: -31px;
    padding: 5px 15px;
    background-color: #ffffff;
    border: 1px solid #bbc1d1;
    left: -1px;
    border-bottom: none;
    label {
      margin-bottom: 0px;
    }
  }
}

.onboarding-nav-option {
  padding: 15px 15px;
}
.add-icon {
  right: 0;
}
.role-group-field {
  width: 93%;
}
@media only screen and (max-width: 767px) {
  .create-users-action-btn {
    padding-top: 15px;
  }
}
.readonly-field-label {
  padding: 2px 0;
}
.update-profile {
  padding: 10px 0;
}
.create-user-container {
  position: relative;
}


.no-subsctiption {
  padding: 10px;
  border-radius: 0px;
  background-color: #eeeeee;
  font-size: 13px;
}

.thumbnail-none {
  padding: 0 !important;
  border: none !important;
}

.onboarding-instruction {
  .hidden-xs {
    padding: 15px;
  }
}

.custome-select-box-div {
  width: 93%;
  display: inline-block;
  select {
    width: 100%;
  }
}

.onboarding-form {
  .form-control {
    border-radius: 1px;
    height: 40px; // color: #bec3c7;
    &.input-sm {
      height: 35px;
    }
  }
}


