.filter-search-table {
    position: absolute;
    top: 0px;
    background-color: #f7f7f7;
    -webkit-box-shadow: 2px 2px 5px 0px rgb(213, 216, 223);
    -moz-box-shadow: 2px 2px 5px 0px rgb(213, 216, 223);
    box-shadow: 2px 2px 5px 0px rgb(213, 216, 223);
    text-align: center;
    td {
      input {
        width: 95%;
        margin: 5px 0px;
        outline: none;
        padding: 3px 5px;
        color: black;
        &:focus{
          border-left: 2px solid #56607c;
          border-top: 2px solid #56607c;
        }
      }
    }
  }