agm-map {
  height: 100%;
}
#map_canvas {
  display: none;
}
.asset-location {
  .placeholderNew-info {
    width: 20px;
    height: 20px;
  }
}
.panel-app {
  margin-bottom: 1px;
}

.panel-body.panel-min-height
{
  height: calc(100% - 25px);
}

.panel-body.panel-asset-info
{
  height: 540px;
}
.angular-google-map,
.angular-google-map-container {
  width: 100%;
  height: 100%;
}

.location-info {
  width: 100%;
  display: inline-block;
  margin: 0 0 0 5px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  line-height: 1;
  margin-left: 5px;
  font-size: 12px;
  font-weight: normal;
  text-transform: none;
  position: relative;
}

.asset-location {
  height: 600px;
  .panel-heading {
    position: relative;
    padding: 12px 15px 12px 30px;
    background-color: #f7f7f7 !important;
    z-index: 9;
  }
}

.panel.panel-app.asset-location {
  border: 0px;

}

.container-fluid {
  padding: 0px;
  margin: 0px 5px;
  .row {
    margin: 0px;
    .location-info-content {
      padding-left: 5px;
      font-size: 12px;
      display: flex;
      align-items: center;
      .placeholderNew-info.svg-icon {
        max-width: 13px;
      }
      .text-left {
        font-weight: bold;
      }
    }
  }
}

// .panel-white-heading {
//   position: relative;
//   padding: 7px 15px 7px 30px;
//   background-color: #f7f7f7 !important;
//   z-index: 9;
//   background-image: linear-gradient(90deg, #4cc4ff, #4ca6ff);
//   border-radius: 0px;
//   .text-left {
//     color: white;
//   }
// }
