<div class="container-fluid">
  <div class="row">
    <div class="panel panel-app asset-location" [style.height.px]="20">
      <div class="panel-body panel-min-height" id="map_canvas">
        <agm-map [latitude]="assetMapInfo?.latitude" (centerChange)="centerChange($event)" [usePanning]="true" [fullscreenControl]="true"
          [longitude]="assetMapInfo?.longitude" [minZoom]="1" [zoom]="mapZoom">
          <agm-marker *ngIf="icon != null" [latitude]="assetMapInfo?.latitude" [longitude]="assetMapInfo?.longitude" [iconUrl]="icon"
            [label]="labelOptions" [zIndex]="zIndex" title="{{labelOptions}}">
          </agm-marker>
          <div [hidden]="assetMapInfo?.latitude">
            <app-gmap (mapReady)="mapRendered($event)"></app-gmap>
          </div>
        </agm-map>
      </div>
      <div class="location-info-content">
        <img src="assets/images/navigator.svg" class="placeholderNew-info svg-icon" />
        <p *ngIf="assetLocationAddress.address1" class="location-info">{{assetLocationAddress.address1}}, {{assetLocationAddress.address2}}</p>
        <span class="text-right"></span>
      </div>
    </div>
  </div>
</div>

<!-- <div class="container-fluid">
  <div class="row">
    <div class="panel panel-app asset-location" [style.height.px]="200">
      <div class="panel-body panel-min-height" id="map_canvas">
        <agm-map [latitude]="assetMapInfo?.latitude" (centerChange)="centerChange($event)" [usePanning]="true" [fullscreenControl]="true"
          [longitude]="assetMapInfo?.longitude" [minZoom]="1" [zoom]="mapZoom">
          <agm-marker *ngIf="icon != null" [latitude]="assetMapInfo?.latitude" [longitude]="assetMapInfo?.longitude" [iconUrl]="icon"
            [label]="labelOptions" [zIndex]="zIndex" title="{{labelOptions}}">
          </agm-marker>
          <div [hidden]="assetMapInfo?.latitude">
            <app-gmap (mapReady)="mapRendered($event)"></app-gmap>
          </div>
        </agm-map>
      </div>
      <div class="location-info-content">
        <img src="assets/images/navigator.svg" class="placeholderNew-info svg-icon" />
        <p *ngIf="assetLocationAddress.address1" class="location-info">{{assetLocationAddress.address1}}, {{assetLocationAddress.address2}}</p>
        <span class="text-right"></span>
      </div>
    </div>
  </div>
</div> -->