.no-data-table {
  border-bottom: none;
  margin-bottom: 0px;
}
.no-data {
  font-size: 14px;
}
.panel-app {
  margin-bottom: 1px;
}
.search-icon {
  width: 20px;
  height: 20px;
  margin-left: 7px;
  margin-right: 7px;
  cursor: pointer;
}
.expand-icon {
  width: 17px;
  height: 17px;
}
.panel-app {
  .panel-full-page-height {
    max-height: none;

    .org-table {
      display: table;
      width: 100%;
      margin-bottom: 0;
      thead{
        float: left;
        width: 100%;
        tr {
          width: 100%;
          display: table;
          text-align: left;
          td {
            line-height: 1px;
            padding: 1px 8px !important;
            input {
              margin: 0px 0 0;
            }
          }
        }
      }
      tbody.main-body {
        float: left;
        width: 100%;
        overflow: auto;
        max-height: 433px;
        .filter-search-table {
          top: 36px;
          input {
            margin: 5px 0px !important;
          }
        }
        @media (max-height: 600px) {
          max-height: 370px;
        }
        tr {
          width: 100%;
          display: table;
          text-align: left;
          td {
            font-size: 14px;
          }
        }
        .td-point-name {
          position: relative;
          background-color: #56607c;
          text-align: center;
          .point-name-row {
            display: inline-block;
            width: 33%;
            margin: 10px 0px;
            margin-right: 16px;
            vertical-align: top;
            .input-text {
              padding: 2px 5px;
              width: 100%;
              border: 1px solid #dddddd;
              outline: none;
              font-size: 12px;
            }
            .form-control {
              height: 23px;
              padding: 0px;
              font-size: 12px;
            }
          }
          .point-name-footer {
            display: inline-block;
            position: absolute;
            right: 9px;
            bottom: 6px;
            .btn-tab {
              font-size: 13px;
              padding: 6px;
            }
          }
        }
        
      }
    }
  }
}

#realTimeDataTable.org-table {
  .asset-checkbox {
    position: relative;
    .asset-name-info {
      display: flex;
      align-items: center;
      .asset-checkbox-content {
        display: inline-block;
        input {
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
        }
      }
    }
    .point-name-access {
      display: inline-block;
      padding-left: 3px;
      max-width: 84%;
      margin: 0;
    }
    .no-point-name-access {
      display: inline-block;
      margin: 0;
      max-width: 93%;
      padding-left: 5px;
      margin-left: 13px;
    }
  }
  .main-body{
    tr {
      td {
        padding: 0px 8px !important;
        white-space: normal;
        input {
          margin: 0 0 0;
        }
      }
    }
  }
}

.historical-data {
  position: relative;
  .historical-data-column {
    width: 33%;
    display: inline-block;
    vertical-align: text-bottom;
    padding: 0 15px;
    margin: 10px 0px;
    label {
      display: block;
    }
    input {
      width: 100%;
      padding: 5px 5px;
      border-radius: 5px;
      outline: none;
    }
  }
  .historical-data-options {
    text-align: right;
    margin-right: 15px;
    margin-bottom: 10px;
    position: relative;
  }
  .custom-errors {
    text-align: center;
    margin: 0;
  }
  .loading-historical-data-content {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.02);
  }
}

.asset-dashboard-info{
  width: 20px;
  height: 20px;
  position: absolute;
  left: 6px;
  top: 50%;
  transform: translate(0%,-50%);
  @media only screen and (max-device-width: 1024px) {
    max-width: 18px;

  }
}

.asset-table {
  .panel-heading {
    position: relative;
    padding: 5px 10px 5px 35px;
  }
}

.point-data-type {
  display: inline-block;
  width: 12px;
  height: 12px;
  margin-left: 17px;
  pointer-events: none;
  transition: none;
  img {
    max-width: 100%;
  }
}

.point-data-type-writable {
  cursor: pointer;
  pointer-events: auto !important;
}






