<div id="appAssetTable" [style.minHeight.px]="allEqualsInArray ? minInnerHeight : minInnerHeight - 15" class="panel panel-app asset-table"
  [hidden]="!selectedView">
  <div class="panel-heading clearfix panel-white-heading panel-border">
    <img src="assets/images/graph-line-screen.svg" class="asset-dashboard-info svg-icon" />

    <span class="pull-left">{{"asset_realtime" | translate}} </span>
    <!-- </div> -->
    <div class="pull-right">
      <app-export-data *ngIf="realtimeData.length > 0" [src]="'assets/images/export-theme.svg'" [data]="realtimeData" [headers]="headers"
        [fileTagName]="'RT'"></app-export-data>
      <img *ngIf="realtimeData.length > 0" src="assets/images/search-normal.svg" class="svg-icon search-icon" (click)="showSearchFilter()"
      />
      <span>
        <a href="javascript:void(0)" (click)="toggleExpand = !toggleExpand;changeTableMaxView()" [hidden]="selectedData.length > 0">
          <img *ngIf="!toggleExpand" src="assets/images/expand.svg" class="expand-icon" />
          <img *ngIf="toggleExpand" src="assets/images/collapse.svg" class="expand-icon" />
        </a>
      </span>
    </div>

    <!-- </div> -->
  </div>
  <div class="panel-body-padding" [ngClass]="selectedData.length >0 ? 'panel-max-height':'panel-full-page-height'">
    <div class="table-responsive">
      <table id="realTimeDataTable" [ngClass]="realtimeData.length == 0 ? 'no-data-table' : ''" class="table org-table" [mfData]="realtimeData ? realtimeData : []"
        [mfRowsOnPage]="paginationInfo.numberRowPerPage" #mf="mfDataTable" [(mfSortBy)]="paginationInfo.sortBy" [(mfSortOrder)]="paginationInfo.sortOrder">
        <thead>
          <tr>
            <th width="36%" class="text-left">
              <!-- <input type="checkbox" name=""> -->
              <mfDefaultSorter by="name" class="sorter">{{"asset_datapoint" | translate}}</mfDefaultSorter>
            </th>
            <th width="14%" class="text-left">
              <mfDefaultSorter by="value" class="sorter">{{"asset_value" | translate}}</mfDefaultSorter>
            </th>
            <th width="10%" class="text-center">
              <mfDefaultSorter by="unit" class="sorter">{{"co_unit" | translate}}</mfDefaultSorter>
            </th>
            <th width="8%" class="text-center">
              <mfDefaultSorter by="node" class="sorter">{{"asset_node" | translate}}</mfDefaultSorter>
            </th>
            <th width="24%" class="text-center">
              <mfDefaultSorter by="tLastUpdate" class="sorter">{{"asset_last_update" | translate}}</mfDefaultSorter>
            </th>
            <th width="8%" class="text-center">
              <mfDefaultSorter by="status" class="sorter">{{"generic_status" | translate}}</mfDefaultSorter>
            </th>
          </tr>
          <app-table-filter *ngIf="toggleFilterSearch" [widthData]="filterWidthData" (notifyChange)="updateData($event)" [(filterValues)]="filterValues"
            [(data)]="realtimeData"></app-table-filter>
        </thead>
        <tbody class="main-body" id="mainBody" [style.maxHeight.px]="toggleFilterSearch ? mainBodyHeight - 40 : mainBodyHeight" [ngStyle]="toggleFilterSearch && {'margin-top': '40px'}">
          <ng-container *ngFor="let asset of mf.data; let index = index">
            <tr *ngIf="realtimeData.length > 0 && asset" class="asset-table-tr">
              <td width="36%" class="asset-checkbox text-left">
                <div class="asset-name-info">
                  <div class="asset-checkbox-content">
                    <input type="checkbox" [checked]="totalCheckBoxClicked[index]?.name == asset.name" [value]="asset.name" (change)="onCheckEventOfData($event,index)"
                      class="checkbox" />
                    <div class="point-data-type" *ngIf="asset.pointDataType" (click)="openpointDataTypeModal(asset,index)" [ngClass]="{'point-data-type-writable' : isAccessForPointName && (asset.pointDataType.split('-')[1] && asset.pointDataType.split('-')[1].trim().toLowerCase().includes('writable'))}">
                      <img *ngIf="asset.pointDataType.split('-')[0].trim().toLowerCase() == 'string'" src="assets/images/{{asset.pointDataType.split('-')[1] && (!isAccessForPointName || asset.pointDataType.split('-')[1].trim().toLowerCase().includes('read')) ? 'string.svg' : 'string_write.svg'}}">
                      <img *ngIf="asset.pointDataType.split('-')[0].trim().toLowerCase() == 'boolean'" src="assets/images/{{asset.pointDataType.split('-')[1] && (!isAccessForPointName || asset.pointDataType.split('-')[1].trim().toLowerCase().includes('read')) ? 'boolean.svg' : 'boolean_write.svg'}}">
                      <img *ngIf="asset.pointDataType.split('-')[0].trim().toLowerCase() == 'numeric'" src="assets/images/{{asset.pointDataType.split('-')[1] && (!isAccessForPointName || asset.pointDataType.split('-')[1].trim().toLowerCase().includes('read')) ? 'number.svg' : 'number_write.svg'}}">
                      <img *ngIf="asset.pointDataType.split('-')[0].trim().toLowerCase() == 'enum'" src="assets/images/{{asset.pointDataType.split('-')[1] && (!isAccessForPointName || asset.pointDataType.split('-')[1].trim().toLowerCase().includes('read')) ? 'enum.svg' : 'enum_write.svg'}}">
                    </div>
                  </div>
                  <p [ngStyle]="(maxmizeView && {'width' : '90%'}) || (!asset.pointDataType && {'margin-left' : '15px'})" class="point-name-access"
                    [innerHTML]="asset.displayName ? asset.displayName : asset.name"></p>
                </div>
              </td>
              <td width="14%" class="text-left" [innerHTML]="asset.value"></td>
              <td width="10%" [innerHTML]="asset.unit" class="text-center"></td>
              <td width="8%" class="text-center">{{asset.node}}</td>
              <td width="24" class="text-center">{{!asset.lastUpdate ? '' : asset.lastUpdate | convertToLocalDate}}</td>
              <td width="8%" class="text-center">{{asset.status}}</td>
            </tr>
            <tr *ngIf="expandedAssets[index]" class="td-point-name">
              <td colspan="6">
                <div class="point-name-row">
                  <div>
                    <select class="form-control" [(ngModel)]="measurementUnit" name="unit" required #unit="ngModel">
                      <option value="">{{"co_unit_select" | translate}}</option>
                      <option [value]="unit.name" *ngFor="let unit of units">{{unit.value}}</option>
                    </select>
                  </div>
                  <div *ngIf="!unit.pristine && unit.invalid" class="custom-errors">
                    This field is required.
                  </div>
                </div>
                <div class="point-name-row">
                  <input type="number" placeholder="Enter Value" class="input-text" [(ngModel)]="pointDataValue" *ngIf="selectedAssetPointName.pointDataType.split('-')[0].trim().toLowerCase() == 'numeric'"
                  />
                  <input type="text" placeholder="Enter Value" class="input-text" [(ngModel)]="pointDataValue" *ngIf="selectedAssetPointName.pointDataType.split('-')[0].trim().toLowerCase()  == 'string' || selectedAssetPointName?.pointDataType.split('-')[0].trim().toLowerCase()  == 'enum'"
                  />
                  <input type="checkbox" [(ngModel)]="pointDataValue" *ngIf="selectedAssetPointName.pointDataType.split('-')[0].trim().toLowerCase()  == 'boolean'"
                  />
                </div>
                <div class="point-name-footer">
                  <button class="btn btn-tab" (click)="cancelPointDataTypeModal()">{{"generic_cancel" | translate}}</button>
                  <button class="btn btn-tab" (click)="savePointDataTypeModal()" [disabled]="unit && unit.invalid">Submit</button>
                </div>
              </td>
            </tr>
          </ng-container>
        </tbody>
        <tr *ngIf="realtimeData.length > 0">
          <td colspan="7" class="pagination-td text-right realtime-table-pagination">
            <mfBootstrapPaginator [rowsOnPageSet]="[realtimeData.length,25,50,100]"></mfBootstrapPaginator>
          </td>
        </tr>
      </table>
      <div class="panel panel-app historical-data" *ngIf="!allEqualsInArray">
        <div class="panel-heading clearfix panel-white-heading panel-border">
          <img src="assets/images/graph-line-screen.svg" class="asset-dashboard-info svg-icon" />
          <span class="pull-left">{{"asset_history" | translate}} </span>
        </div>
        <div class="historical-data-content">
          <div class="frequency historical-data-column">
            <label>{{"asset_frequency" | translate}}</label>
            <select [(ngModel)]="selectedFrequency" class="form-control col-lg-8">
              <option *ngFor="let frcy of frequency">{{frcy}}</option>
            </select>
          </div>

          <div class="date historical-data-column">
            <label>{{"generic_start_date" | translate}}</label>
            <input type="date" [(ngModel)]="startDate" #startDateModel="ngModel" required/>
          </div>

          <div class="date historical-data-column">
            <label>{{"generic_end_date" | translate}}</label>
            <input type="date" [(ngModel)]="endDate" #endDateModel="ngModel" required/>
          </div>
          <div *ngIf="isInValidDate" class="custom-errors">Invalid date selection.</div>
          <div *ngIf="historicalDataList.isNoData" class="custom-errors">No data found.</div>
          <div class="historical-data-options">
            <button class="btn btn-tab" type="button" [disabled]="!startDateModel.dirty || !endDateModel.dirty" (click)="downloadHistoricalData()">Save</button>
          </div>
        </div>
        <div class="loading-historical-data-content" *ngIf="isLoadingHistoricalData">
          <img src="assets/images/loading.svg">
        </div>
      </div>
      <!-- </div> -->
    </div>
    <div *ngIf="realtimeData.length == 0">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 no-data">
        {{"generic_no_data_exists" | translate}}
      </div>
    </div>
  </div>
</div>

<div class="panel panel-app" [hidden]="selectedView">
  <div class="panel-heading clearfix panel-white-heading">
    <a href="javascript:void(0)" (click)="changeTableView()">
      <i class="glyphicon glyphicon-arrow-right"></i>
    </a>
  </div>
  <div class="panel-body-shrink panel-border panel-white-heading" [ngClass]="selectedData.length >0 ? 'panel-max-height':'panel-full-page-height'">
    <div class="vertical-text">{{"asset_realtime" | translate}} </div>
  </div>
</div>
