<div class="container-fluid geo-fencing-main-container">
  <div class="row">
    <div class="" [ngClass]="{ 'col-md-12': fullscreen.map, 'col-md-7': !fullscreen.map, 'hidden': fullscreen.list }">
      <div class="panel panel-without-bottom map-panel">
        <div class="panel-body fixed-height">
          <app-geo-fencing-map [hidden]="minimize.map" (filter)="applyFilter($event)" [data]="assetFiltered"
            (action)="action($event)" (stopAlarmdata)="stopAlarmdata($event)"
            (toggleExpand)="toggleExpand($event)" [realtime]="realtimeDataForMap" [displayMarkerInfo]="displayMarkerIndex"></app-geo-fencing-map>
          <div [hidden]="!minimize.map" class="vertical-text">MAP VIEW</div>
        </div>
      </div>
    </div>
    <div class="" [ngClass]="{ 'col-md-12': fullscreen.list, 'col-md-5': !fullscreen.list, 'hidden': fullscreen.map }">
      <div class="panel panel-without-bottom">
        <div class="panel-body fixed-height">
          <app-geo-fencing-list [hidden]="minimize.list" [filterBy]="filter" (dataChange)="dataChanged($event)"
            (geoData)="geoData($event)" (realTime)="realTimeData($event)" (displayMarkerInfo)="displayMarkerInfo($event)"></app-geo-fencing-list>
          <div [hidden]="!minimize.list" class="vertical-text">MAP VIEW</div>
        </div>
      </div>
    </div>
  </div>
</div>