<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 onboarding-content">
      <div class="col-lg-12 col-md-12 onboarding-nav-option">
        <div class="btn-group">
          <a class="btn btn-default btn-icon btn-custom-nav" [ngClass]="{ 'active': !isEditMode }" (click)="isEditMode = false;onboardingService.isCreatingNewOrg = true;resetForm();">
            <span class="material-icons">add_circle</span>
            <span class="hidden-xs"> {{"co_create_new_org" | translate}}</span>
          </a>
        </div>

        <div class="btn-group">
          <a class="btn btn-default btn-icon btn-custom-nav" [ngClass]="{ 'active': isEditMode }" (click)="isEditMode = true;onboardingService.isCreatingNewOrg = false;">
            <span class="material-icons">domain</span>
            <span class="hidden-xs"> {{"co_select_org" | translate}}</span>
          </a>
        </div>
      </div>


      <form #onboardingForm="ngForm" class="onboarding-form">
        <div class="row">
          <!-- main row -->
          <div class="col-lg-7 col-md-7 col-sm-7">

            <div class="row">
              <!-- first row -->
              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 organization-left">
                <label class="control-label">Organization Details</label>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 thumbnail org-img-holder">
                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding form-group">
                    <img class="img img-responsive" [src]="organization.logo" alt="" *ngIf="organization.logo" />
                    <span class="material-icons upload-icon" (click)="file.open()">camera_alt</span>
                    <app-file-upload #file (file)="changeImage($event)"></app-file-upload>
                    <input type="text" class="hidden" name="logo" [(ngModel)]="organization.logo" #organizationLogo="ngModel">
                    <img src="assets/images/default_organization.svg#def_org" class="img img-responsive" *ngIf="!organization.logo" />
                  </div>
                  <div class="col-lg-12">
                    <div class="row">
                      <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 input-group-sm no-padding">
                        <label class="control-label required-lbl">{{"generic_organization_name" | translate}}</label>
                        <span *ngIf="!isEditMode">
                          <input type="text" class="form-control input-sm" name="organizationName" [(ngModel)]="organization.name" required minlength="4"
                            maxlength="64" #organizationName="ngModel" pattern="^[a-zA-Z'][a-zA-Z-' ]*[a-zA-Z']?" tabindex="1">

                          <div *ngIf="organizationName.errors && (organizationName.dirty || organizationName.touched)" class="text-danger">
                            <div [hidden]="!organizationName.errors.required">
                              {{"co_org_name_req" | translate}}
                            </div>
                            <div [hidden]="!organizationName.errors.minlength">
                              {{"co_org_name_minlen" | translate}}
                            </div>
                            <div [hidden]="!organizationName.errors.maxlength">
                              {{"co_org_name_maxlen" | translate}}
                            </div>
                            <div [hidden]="!organizationName.errors.pattern">
                              {{"co_org_name_invalid" | translate}}
                            </div>
                          </div>
                        </span>
                        <span *ngIf="isEditMode">
                          <div class="custome-select-box-div">
                            <select class="custome-select-box form-control input-sm pd-10" name="organizationNameSelect" [(ngModel)]="organizationIndex" (change)="getCompanySelected(organizationIndex)"
                              tabindex="1">
                              <option value="-1" disabled>{{"co_org_select" | translate}}</option>
                              <option *ngFor="let parent of availableOrganization; let i = index;" [value]="i">{{parent.name}}</option>
                            </select>
                            <i class="material-icons up">arrow_drop_up</i>
                            <i class="material-icons down">arrow_drop_down</i>
                          </div>
                        </span>
                      </div>
                      <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 no-padding status-icon-group">
                        <div class="control-label">{{"generic_active" | translate}}</div>
                        <label class="switch">
                          <input type="checkbox" name="status" [(ngModel)]="organization.status">
                          <div class="slider round"></div>
                        </label>
                      </div>
                    </div>
                  </div>
                </div>
              </div>


              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 organization-left">

                <!-- parent organization -->
                <div class="form-group">
                  <label class="control-label">{{"generic_parent_org"| translate}}</label>
                  <div class="custome-select-box-div">
                    <select class="custome-select-box form-control pd-10" #parentOrganization="ngModel" name="parentOrganization" [(ngModel)]="organization.parentCompany"
                      tabindex="4">
                      <option value="" disabled>Select parent organization</option>
                      <option *ngFor="let parent of availableOrganization" [value]="parent.name">{{parent.name}}</option>
                    </select>
                    <i class="material-icons up">arrow_drop_up</i>
                    <i class="material-icons down">arrow_drop_down</i>
                  </div>
                </div>
                <!-- parent organization -->


                <div class="form-group has-feedback has-feedback-left">
                  <label class="control-label">{{"generic_website" | translate}}</label>
                  <!-- [a-zA-Z0-9]\.[a-zA-Z]{2,}|[a-zA-Z0-9]\.[a-zA-Z]{2,} pattern="(https?:\/\/(?:www\.|(?!www))[a-zA-Z0-9][a-zA-Z0-9-]+[a-zA-Z0-9]\.[^\s]{2,}|www\.[a-zA-Z0-9][a-zA-Z0-9-]+[a-zA-Z0-9]\.[^\s]{2,}|https?:\/\/(?:www\.|(?!www))[a-zA-Z0-9]\.[^\s]{2,}|www\.[a-zA-Z0-9]\.[^\s]{2,})" -->
                  <input type="text" class="form-control" #website="ngModel" [(ngModel)]="organization.website" name="website" pattern="(https?:\/\/(?:www\.|(?!www))[a-zA-Z0-9][a-zA-Z0-9-]+[a-zA-Z0-9]\.[^\s]{2,}|www\.[a-zA-Z0-9][a-zA-Z0-9-]+[a-zA-Z0-9]\.[^\s]{2,}|https?:\/\/(?:www\.|(?!www))[a-zA-Z0-9]\.[^\s]{2,}|www\.[a-zA-Z0-9]\.[^\s]{2,})"
                    tabindex="5">

                  <span class="form-control-feedback">
                    <span class="material-icons">language</span>
                  </span>

                  <div *ngIf="website.errors && (website.dirty || website.touched)" class="text-danger">
                    <div [hidden]="!website.errors.required">
                      {{"co_website_req" | translate}}
                    </div>
                    <div [hidden]="!website.errors.minlength">
                      {{"co_website_minlen" | translate}}
                    </div>
                    <div [hidden]="!website.errors.maxlength">
                      {{"co_website_maxlen" | translate}}
                    </div>
                    <div [hidden]="!website.errors.pattern">
                      {{"co_website_invalid" | translate}}
                    </div>
                  </div>
                </div>
                <div class="form-group has-feedback has-feedback-left">
                  <label class="control-label required-lbl">{{"generic_currency" | translate}}</label>
                  <div class="custome-select-box-div">
                    <select class="custome-select-box form-control menu-list" [(ngModel)]="organization.currencyCode" name="currency" #currency="ngModel"
                      required tabindex="6">
                      <option value="" disabled>Select currency</option>
                      <option *ngFor="let currency of availableCurrencies" value="{{currency.code}}">{{currency.name}}</option>
                    </select>
                    <i class="material-icons up">arrow_drop_up</i>
                    <i class="material-icons down">arrow_drop_down</i>
                  </div>
                  <span class="form-control-feedback">
                    <span class="material-icons">monetization_on</span>
                  </span>
                  <div *ngIf="currency.errors && (currency.dirty || currency.touched)" class="text-danger">
                    <div [hidden]="!currency.errors.required">
                      {{"co_currency_req" | translate}}
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- first row -->

            <div class="row">
              <!-- second row -->
              <!--<div class="col-lg-12">-->
              <div class="col-lg-6 col-md-6 col-sm-6 organization-left">
                <div class="form-group has-feedback has-feedback-left">
                  <label class="control-label required-lbl">{{"generic_address" | translate}}</label>
                  <input type="text" class="form-control" #addressName="ngModel" [(ngModel)]="addressname" name="addressName" required tabindex="2">
                  <span class="form-control-feedback">
                    <span class="material-icons">location_on</span>
                  </span>
                  <div *ngIf="addressName.errors && (addressName.dirty || addressName.touched)" class="text-danger">
                    <div [hidden]="!addressName.errors.required">
                      {{"co_address_req" | translate}}
                    </div>
                    <div [hidden]="!addressName.errors.pattern">
                      {{"co_address_invalid" | translate}}
                    </div>
                  </div>
                </div>

                <div class="form-group has-feedback has-feedback-left" *ngFor="let phone of phoneNumber; let i = index;trackBy:trackByFn">

                  <label class="control-label" [ngClass]="{'required-lbl': i == 0}">
                    <span *ngIf="i == 0">{{"generic_phone" | translate}}</span>
                  </label>
                  <input type="text" class="form-control customer-onboarding-phone" [(ngModel)]="organization.phones[i]" name="phoneNumber{{i}}"
                    #phoneNumbers="ngModel" required pattern="^[- +()]*[0-9][- +()0-9]*$" tabindex="3" />
                  <!-- \d{1,20} -->
                  <span class="form-control-feedback" [ngClass]="{'required-lbl-call': i != 0}">
                    <span class="material-icons">call</span>
                  </span>

                  <span class="material-icons add-icon" *ngIf="i == 0" (click)="phoneNumber.push('')">add_circle</span>
                  <span class="material-icons remove-icon" (click)="phoneNumber.pop()" *ngIf="i != 0">remove_circle</span>

                  <div *ngIf="phoneNumbers && phoneNumbers.errors && (phoneNumbers.dirty || phoneNumbers.touched)" class="text-danger">
                    <div [hidden]="!phoneNumbers.errors.required">
                      {{"co_phone_req" | translate}}
                    </div>
                    <div [hidden]="!phoneNumbers.errors.minlength">
                      {{"co_phone_minlen" | translate}}
                    </div>
                    <div [hidden]="!phoneNumbers.errors.maxlength">
                      {{"co_phone_maxlen" | translate}}
                    </div>
                    <div [hidden]="!phoneNumbers.errors.pattern">
                      {{"co_phone_invalid" | translate}}
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-lg-6 col-md-6 col-sm-6 organization-left">
                <div class="form-group has-feedback has-feedback-left">
                  <label class="control-label required-lbl">{{"generic_email" | translate}}</label>
                  <span class="form-control-feedback">
                    <span class="material-icons">mail_outline</span>
                  </span>

                  <input type="email" class="form-control" #emailId="ngModel" [(ngModel)]="organization.emailId" name="emailId" required minlength="6"
                    maxlength="64" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" tabindex="7">
                  <div *ngIf="emailId.errors && (emailId.dirty || emailId.touched)" class="text-danger">
                    <div [hidden]="!emailId.errors.required">
                     {{"co_email_req" | translate}}
                    </div>
                    <div [hidden]="!emailId.errors.minlength">
                      {{"co_email_minlen" | translate}}
                    </div>
                    <div [hidden]="!emailId.errors.maxlength">
                      {{"co_email_maxlen" | translate}}
                    </div>
                    <div [hidden]="!emailId.errors.pattern && !emailId.errors.minlength">
                      {{"co_email_invalid" | translate}}
                    </div>
                  </div>
                </div>
              </div>
              <!--</div>-->
            </div>
            <!-- second row -->

            <div class="row contact-person">
              <!-- third row -->
              <!--<div class="col-lg-12">-->
              <!--<pre>{{organization | json}}</pre>-->
              <div class="contact-person-label">
                <label class="control-label">{{"generic_contact" | translate}}</label>
              </div>
              <div class="col-lg-6 col-md-6 col-sm-6 organization-left">
                <div class="form-group has-feedback has-feedback-left">
                  <label class="control-label required-lbl">{{"generic_name" | translate}}</label>
                  <input type="text" class="form-control" [(ngModel)]="organization.contact.contactName" (ngModelChange)="organization.contact.contactName=$event"
                    name="contactPerson" #contactPerson="ngModel" required minlength="4" maxlength="64" pattern="^[a-zA-Z'][a-zA-Z-' ]*[a-zA-Z']?"
                    tabindex="8">
                  <span class="form-control-feedback">
                    <span class="material-icons">contacts</span>
                  </span>

                  <div *ngIf="contactPerson && contactPerson.errors && (contactPerson.dirty || contactPerson.touched)" class="text-danger">
                    <div [hidden]="!contactPerson.errors.required">
                      {{"co_person_req" | translate}}
                    </div>
                    <div [hidden]="!contactPerson.errors.minlength">
                      {{"co_person_minlen" | translate}}
                    </div>
                    <div [hidden]="!contactPerson.errors.maxlength">
                      {{"co_person_maxlen" | translate}}
                    </div>
                    <div [hidden]="!contactPerson.errors.pattern">
                      {{"co_person_invalid" | translate}}
                    </div>
                  </div>
                </div>

                <div class="form-group  has-feedback has-feedback-left">
                  <label class="control-label required-lbl">{{"generic_email" | translate}}</label>
                  <input type="email" class="form-control" [(ngModel)]="organization.contact.contactEmailId" (ngModelChange)="organization.contact.contactEmailId=$event"
                    name="emailContact" required #emailContact="ngModel" minlength="4" maxlength="64" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$"
                    tabindex="9">
                  <span class="form-control-feedback">
                    <span class="material-icons">mail_outline</span>
                  </span>
                  <div *ngIf="emailContact.errors && (emailContact.dirty || emailContact.touched)" class="text-danger">
                    <div [hidden]="!emailContact.errors.required">
                      {{"co_email_req" | translate}}
                    </div>
                    <div [hidden]="!emailContact.errors.minlength">
                      {{"co_email_minlen" | translate}}
                    </div>
                    <div [hidden]="!emailContact.errors.maxlength">
                      {{"co_email_maxlen" | translate}}
                    </div>
                    <div [hidden]="!emailContact.errors.pattern && !emailContact.errors.minlength">
                      {{"co_email_invalid" | translate}}
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-6 col-md-6 col-sm-6 organization-left">
                <div class="form-group has-feedback has-feedback-left">
                  <label class="control-label required-lbl">{{"generic_mobile" | translate}}</label>
                  <input type="text" class="form-control" [(ngModel)]="organization.contact.contactMobileNumber" (ngModelChange)="organization.contact.contactMobileNumber=$event"
                    name="contactMobile" #contactMobile="ngModel" minlength="8" maxlength="20" required pattern="^[- +()]*[0-9][- +()0-9]*$"
                    tabindex="10">
                  <span class="form-control-feedback">
                    <span class="material-icons">phone</span>
                  </span>
                  <div *ngIf="contactMobile.errors && (contactMobile.dirty || contactMobile.touched)" class="text-danger">
                    <div [hidden]="!contactMobile.errors.required">
                      {{"co_mobile_req" | translate}}
                    </div>
                    <div [hidden]="!contactMobile.errors.minlength">
                      {{"co_mobile_minlen" | translate}}
                    </div>
                    <div [hidden]="!contactMobile.errors.maxlength">
                      {{"co_mobile_maxlen" | translate}}
                    </div>
                    <div [hidden]="!contactMobile.errors.pattern">
                      {{"co_mobile_invalid" | translate}}
                    </div>
                  </div>
                </div>
                <div class="form-group has-feedback has-feedback-left">
                  <label class="control-label required-lbl">{{"generic_phone" | translate}}</label>
                  <!--\(?([0-9]{3})\)?([ .-]?)([0-9]{3})\2([0-9]{4})-->
                  <input type="text" class="form-control" [(ngModel)]="organization.contact.contactPhoneNumber" (ngModelChange)="organization.contact.contactPhoneNumber=$event"
                    name="contactPhone" required #contactPhone="ngModel" minlength="8" maxlength="20" pattern="^[- +()]*[0-9][- +()0-9]*$"
                    tabindex="11">
                  <span class="form-control-feedback">
                    <span class="material-icons">phone</span>
                  </span>
                  <div *ngIf="contactPhone.errors && (contactPhone.dirty || contactPhone.touched)" class="text-danger">
                    <div [hidden]="!contactPhone.errors.required">
                      Phone Number is required.
                    </div>
                    <div [hidden]="!contactPhone.errors.minlength">
                      Phone Number must be at least 8 characters long.
                    </div>
                    <div [hidden]="!contactPhone.errors.maxlength">
                      Phone Number cannot be more than 20 characters long.
                    </div>
                    <div [hidden]="!contactPhone.errors.pattern">
                      Please enter valid Phone Number.
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!--</div>-->
            <!-- third row -->

          </div>

          <div class="col-lg-5 col-md-5 col-sm-5">
            <div class="onboarding-instruction hidden-xs thumbnail">
              <h3>{{"co_create_org" | translate}}</h3>
              <p>{{"co_org_guide1" | translate }}</p>
              <p>{{"co_org_guide2" | translate }}</p>
              <p>{{"co_org_guide3" | translate }}</p>
              <p>{{"co_org_guide4" | translate }}</p>
              <p>{{"co_org_guide5" | translate }}</p>
            </div>
            <div class="row">
              <div class="col-lg-12 col-md-12 col-sm-12 text-right form-group form-action-btn">
                <button class="btn btn-tab" (click)="cancel()" type="button">{{"generic_cancel" | translate}}</button>
                <button class="btn btn-tab" (click)="saveOrganization(onboardingForm.valid)" type="button" [disabled]="onboardingForm.invalid">{{"generic_continue" | translate}}</button>
              </div>
            </div>
          </div>
          <!-- main row -->
        </div>
      </form>
    </div>
  </div>
</div>
