.contact-person {
  padding: 15px 0px;
  margin: 0;
  margin-top: 30px;
  background-color: white;
  border: 1px solid #bbc1d1;
  position: relative;
  .contact-person-label {
    position: absolute;
    top: -31px;
    padding: 5px 15px;
    background-color: #ffffff;
    border: 1px solid #bbc1d1;
    left: -1px;
    border-bottom: none;

    label {
      margin-bottom: 0px;
    }
  }
}
.onboarding-content {
  .customer-onboarding-phone {
    width: 100%;
  }
  @media only screen and (max-width: 767px) {
    .add-icon, .remove-icon {
      right: 5px;
    }
    .form-action-btn {
      margin-top: 15px;
    }
  }
}

.form-control-feedback {
  &.required-lbl-call {
    top: 28px;
  }
}


.onboarding-form {
  .form-control {
    border-radius: 1px;
    height: 40px; // color: #bec3c7;
    &.input-sm {
      height: 35px;
    }
  }
}

