@import '../../../../variables.scss';
.admin-feature-grid {
  margin-top: 48px;
}
.admin-feature-card-container {
  padding-bottom: 48px;
}
.feature-card {
  width: 77%;
  margin: 0 auto;
  text-align: center;
  cursor: pointer;
  .svg-holder {
    width: 120px;
    height: 120px;
    margin: auto;
    line-height: 10;
    border-radius: 50%;
    &.sea-blue {
      border: 3px solid $sea-blue;
    }
    &.light-green {
      border: 3px solid $light-green;
    }
    &.blue {
      border: 3px solid $blue;
    }
    &.light-yellow {
      border: 3px solid $light-yellow;
    }
    &.light-red {
      border: 3px solid $light-red;
    }
    &.light-sea-blue {
      border: 3px solid $light-sea-blue;
    }
    &.violet {
      border: 3px solid $violet;
    }
    &.green {
      border: 3px solid $green;
    }
    &.light-blue {
      border: 3px solid $light-blue;
    }
    &.yellow {
      border: 3px solid $yellow;
    }
    &.dark-red {
      border: 3px solid $dark-red;
    }
    &.purple {
      border: 3px solid $purple;
    }
    &.purple-blue {
      border: 3px solid $purple-blue;
    }
    &.orange-red {
      border: 3px solid $orange-red;
    }
    &.brown {
      border: 3px solid $brown;
    }
    &.grey {
      border: 3px solid $grey;
    } // &:hover{
    //   border: 3px solid white;
    // }
  }
  .svg-icon {
    width: 130px;
    height: 130px;
    margin: auto;
  }
  .feature-inner-card {
    height: 187px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .34);
    background-color: $light-grey;
    color: #2A3142;
    padding: 28px 10px 28px 10px;
    position: relative;
    display: table;
    width: 100%;
    img {
      width: 34%;
      height: auto;
      cursor: pointer;
    }
    @media only screen and ( max-width: 767px) {
      img {
        width: 20%;
      }
    }
    @media only screen and ( max-width: 479px) {
      img {
        width: 38%;
      }
    }
  }
  .feature-card-content {
    display: table-cell;
    vertical-align: middle;
    svg{
      cursor: pointer;
    }
  }
  .feature-card-footer {
    text-transform: uppercase;
    font-weight: 100;
    font-size: 14px;
    position: absolute;
    bottom: 0;
    width: 100%;
    left: 0;
  }
  @media only screen and ( max-width: 1200px) {
    .feature-card-footer {
      font-size: 13px;
    }
  }
  &.sea-blue {
    &:hover {
      .feature-inner-card {
        background-color: $sea-blue;
        color: #fff;
      }
      .svg-holder {
        border: 3px solid white;
      }
    }
  }
  &.light-green {
    &:hover {
      .feature-inner-card {
        background-color: $light-green;
        color: #fff;
      }
      .svg-holder {
        border: 3px solid white;
      }
    }
  }
  &.blue {
    &:hover {
      .feature-inner-card {
        background-color: $blue;
        color: #fff;
      }
      .svg-holder {
        border: 3px solid white;
      }
    }
  }
  &.light-yellow {
    &:hover {
      .feature-inner-card {
        background-color: $light-yellow;
        color: #fff;
      }
      .svg-holder {
        border: 3px solid white;
      }
    }
  }
  &.light-red {
    &:hover {
      .feature-inner-card {
        background-color: $light-red;
        color: #fff;
      }
      .svg-holder {
        border: 3px solid white;
      }
    }
  }
  &.light-sea-blue {
    &:hover {
      .feature-inner-card {
        background-color: $light-sea-blue;
        color: #fff;
      }
      .svg-holder {
        border: 3px solid white;
      }
    }
  }
  &.violet {
    &:hover {
      .feature-inner-card {
        background-color: $violet;
        color: #fff;
      }
      .svg-holder {
        border: 3px solid white;
      }
    }
  }
  &.green {
    &:hover {
      .feature-inner-card {
        background-color: $green;
        color: #fff;
      }
      .svg-holder {
        border: 3px solid white;
      }
    }
  }
  &.yellow {
    &:hover {
      .feature-inner-card {
        background-color: $yellow;
        color: #fff;
      }
      .svg-holder {
        border: 3px solid white;
      }
    }
  }
  &.light-blue {
    &:hover {
      .feature-inner-card {
        background-color: $light-blue;
        color: #fff;
      }
      .svg-holder {
        border: 3px solid white;
      }
    }
  }
  &.grey {
    &:hover {
      .feature-inner-card {
        background-color: $grey;
        color: #fff;
      }
      .svg-holder {
        border: 3px solid white;
      }
    }
  }
  &.dark-red {
    &:hover {
      .feature-inner-card {
        background-color: $dark-red;
        color: #fff;
      }
      .svg-holder {
        border: 3px solid white;
      }
    }
  }
  &.purple-blue {
    &:hover {
      .feature-inner-card {
        background-color: $purple-blue;
        color: #fff;
      }
      .svg-holder {
        border: 3px solid white;
      }
    }
  }
  &.purple {
    &:hover {
      .feature-inner-card {
        background-color: $purple;
        color: #fff;
      }
      .svg-holder {
        border: 3px solid white;
      }
    }
  }
  &.orange-red {
    &:hover {
      .feature-inner-card {
        background-color: $orange-red;
        color: #fff;
      }
      .svg-holder {
        border: 3px solid white;
      }
    }
  }
  &.brown {
    &:hover {
      .feature-inner-card {
        background-color: $brown;
        color: #fff;
      }
      .svg-holder {
        border: 3px solid white;
      }
    }
  }
}

@media only screen and (min-device-width: 992px) {
  .feature-outer {
    padding-left: 4%;
    padding-right: 0px;
  }
}


// .pin-marker{
//   width: 40px;
//   height: 40px;
//   border-radius: 50% 50% 50% 0;
//   background: #89849b;
//   transform: rotate(-45deg);
// }
