<div class="container-fluid">
  <div class="row admin-feature-card-container">
    <!--<pre>{{features | json}}</pre>-->
    <ng-template ngFor let-feature [ngForOf]="features" let-i="index">
      <div class="col-md-4 col-lg-3 col-sm-6 col-xs-12 admin-feature-grid" *ngIf="feature.controlLevel == 2">
        <div class="feature-card" [ngClass]="feature.color" (mouseover)="featureMouseOver(feature)" (mouseout)="featureMouseOut(feature)"
             (click)="goto(feature)">
          <div class="feature-inner-card">
            <div class="feature-card-content">
              <div [ngClass]="feature.color" (mouseover)="feature.enabled = true" (mouseout)="feature.enabled = false">

                <img [src]="feature.enabled ? feature.imageHoverIcon : feature.imageIcon" />
                <iframe [src]="feature.imageHoverIcon" hidden></iframe>
                <iframe [src]="feature.imageIcon" hidden></iframe>
              </div>
            </div>
            <div class="feature-card-footer">
              {{feature.name}}
            </div>
          </div>
        </div>
      </div>
    </ng-template>
  </div>
</div>


