<!-- {{iothub | json}} -->
<div class="table-responsive">
  <table id="dmIotHubTable" class="table org-table" [mfData]="iothub" [mfRowsOnPage]="paginationOrgInfo.numberRowPerPage" #mf="mfDataTable"
    [(mfSortBy)]="paginationOrgInfo.iothubsortBy" [(mfSortOrder)]="paginationOrgInfo.iothubsortOrder">
    <thead>
      <tr>
        <th width="50%">
          <mfDefaultSorter by="iotHubName" class="sorter"> {{"dm_iothub_name" | translate}} </mfDefaultSorter>
        </th>
        <th width="50%">
          <mfDefaultSorter by="deviceCount" class="sorter"> {{"dm_total_devices" | translate}} </mfDefaultSorter>
          <img *ngIf="iothub.length > 0" src="assets/images/search.svg" class="svg-icon white-search-icon" (click)="toggleFilterSearch = !toggleFilterSearch"
          />
        </th>
      </tr>
      <app-table-filter *ngIf="toggleFilterSearch" [widthData]="filterWidthData" (notifyChange)="updateData($event)" [(filterValues)]="filterValues"
      [(data)]="iothub"></app-table-filter>
    </thead>
    <tbody class="main-body" id="mainBody" [style.maxHeight.px]="toggleFilterSearch ? mainBodyHeight - 40 : mainBodyHeight" [ngStyle]="toggleFilterSearch && {'margin-top': '40px'}">
      <ng-container *ngFor="let asset of mf.data">
        <tr *ngIf="iothub.length > 0">
          <td width="50%">
            <!-- <input type="checkbox" name="" /> -->
            {{asset.iotHubName}}
          </td>
          <td width="50%">
            <a href="javascript:void(0)" (click)="showDevice(asset.iotHubName)"> {{asset.deviceCount}}</a>
          </td>
        </tr>
      </ng-container>
    </tbody>

    <tr *ngIf="iothub.length > 0" id="mfBootstrapPaginator">
      <td colspan="2" class="text-right">
        <mfBootstrapPaginator [rowsOnPageSet]="[iothub.length+0.1,5,10,25]"></mfBootstrapPaginator>
      </td>
    </tr>

  </table>
</div>
<div *ngIf="iothub.length == 0" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 no-data">
  No Iot Hub exists
</div>
<div *ngIf="deviceView">
  <div class="table-responsive" *ngIf="device.length > 0;else no_data_device">
    <table class="table org-table" [mfData]="device" [mfRowsOnPage]="paginationDevInfo.numberRowPerPage" #mfDevice="mfDataTable"
      [(mfSortBy)]="paginationDevInfo.devicesortBy" [(mfSortOrder)]="paginationDevInfo.devicesortOrder">
      <thead>
        <tr>
          <th width="22%">
            <mfDefaultSorter by="gwSNO" class="sorter"> Device ID </mfDefaultSorter>
            <!-- <span class="glyphicon glyphicon-filter">&nbsp;</span> -->
          </th>
          <th width="18%">
            <mfDefaultSorter by="assetId" class="sorter">Asset ID</mfDefaultSorter>
          </th>
          <th width="20%">
            <mfDefaultSorter by="createdDate" class="sorter"> Provisioned Date </mfDefaultSorter>
          </th>
          <th width="20%">
            <mfDefaultSorter by="latestSyncDate" class="sorter"> Last Active Time</mfDefaultSorter>
          </th>
          <th width="10%">
            <mfDefaultSorter by="gwWANIP" class="sorter">WAN IP</mfDefaultSorter>
          </th>
          <th width="10%">
            <mfDefaultSorter by="gwRSSI" class="sorter">RSSI</mfDefaultSorter>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let device of mfDevice.data">
          <td width="22%">
            {{device.gwSNO}}
          </td>
          <td width="18%">
            {{device.assetId}}
          </td>
          <td width="20%">{{device.createdDate | convertToLocalDate }}</td>
          <td width="20%">{{device.latestSyncDate | convertToLocalDate }}</td>
          <td width="10%">{{device.gwWANIP}}</td>
          <td width="10%">{{device.gwRSSI}}</td>
        </tr>
      </tbody>
      <tr>
        <td colspan="6" class="text-right">
          <mfBootstrapPaginator [rowsOnPageSet]="[]"></mfBootstrapPaginator>
        </td>
      </tr>
    </table>
  </div>
  <ng-template #no_data_device>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 no-data">
      No device exists
    </div>
  </ng-template>
</div>
