$app-font:'Roboto',
sans-serif;
$app-color:#96c33b;
$footer-color:#3d4943;
$sea-blue: #20a6f8;
$light-green: #4dbd74;
$blue:#3b529b;
$light-yellow: #f4ba4a;
$light-red: #f05150;
$light-sea-blue: #3bc0c3;
$light-grey: #F7F7F7;
$violet:#623f80;
$green: #649c42;
$yellow: #ffc600;
$light-blue:#5677fc;
$dark-red: #9A0707;
$grey:#A6A7A9;
$purple-blue:#a17fff;
$purple:#b200ff;
$orange-red:#ff371f;
$brown:#7f0000;


$break-small: 320px;
$break-large: 1200px;
$panel-header-bg:#57607d;
$table-header: #57607d;
$table-footer: #57607d;
$container-border: #57607d;
$panel-header-white-bg :#FFFFFF;
$red: #D9534F;
$status-alarm: #eb3c33;
$status-moving: #94d67e;
$status-idle:#ee7f32;
$status-stopped: #5acbf9;
$status-inactive:#6f7588;
