// @media screen and (min-height: 1000px) {
//   .sebm-google-map-container {
//     height: 900px;
//   }
// }

// @media screen and (min-height: 700px) {
//     .sebm-google-map-container {
//       height: 670px;
//     }
//   }


//   @media screen and (min-height: 1300px) {
//     .sebm-google-map-container {
//       height: 1200px;
//     }
//   }

//   @media screen and (min-height: 300px) {
//     .sebm-google-map-container {
//       height: 450px;
//     }
//   }

//   @media screen and (min-height: 800px) {
//     .sebm-google-map-container {
//       height: 700px;
//     }
//   }

  .sebm-google-map-container {
    height: 80vh;
  }
