/* You can add global styles to this file, and also import other style files */

// @import url('https://fonts.googleapis.com/css?family=Catamaran:300,400,700');
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import 'variables';
@import "~nouislider/distribute/nouislider.min.css";
@import 'icons';
@import 'responsive';
body {
  font-family: $app-font;
  margin: 0px;
  --primary-color: #96c33b;
  --secondary-color: orange;
}

html,
body,
.my-content {
  margin: 0;
  width: 100%;
  height: 100%;
}

.spacer {
  flex: 1 1 auto;
}

.car-image {
  height: 180px;
}

.no-padding {
  padding: 0px;
}

.no-padding-left {
  padding-left: 0px;
}

.no-padding-right {
  padding-right: 0px;
}

.nav-profile {
  .material-icons {
    cursor: pointer;
  }
}

.header-menu {
  &.mat-menu-panel {
    max-height: 300px !important;
  }
}

.mat-card-avatar {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  flex-shrink: 0;
}

.item:hover .item-overlay.top {
  top: 0;
}

.item-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  overflow: hidden;
  text-align: center;
  width: 100%;
  -moz-transition: top 0.3s, right 0.3s, bottom 0.3s, left 0.3s;
  -webkit-transition: top 0.3s, right 0.3s, bottom 0.3s, left 0.3s;
  transition: top 0.3s, right 0.3s, bottom 0.3s, left 0.3s;
}

.item-overlay.top {
  top: 100%;
}

.item {
  position: relative;
  border: 1px solid #333;
  float: left;
  overflow: hidden;
  max-width: 540px;
}

.item img {
  max-width: 100%;
}

table {
  display: table;
  width: 100%;
  max-width: 100%;
  thead {
    float: left;
    width: 100%;
    position: relative;
    tr {
      width: 100%;
      display: table;
      th {
        display: table-cell;
        vertical-align: middle !important;
        word-break: break-word;
      }
    }
  }
  tbody {
    float: left;
    width: 100%;
    overflow: auto;
    position: relative;
    tr {
      width: 100%;
      display: table;
      
      td {
        display: table-cell;
        vertical-align: middle !important;
        padding: 0px 5px;
        word-break: break-word;
      }
      td.pagination-td {
        padding-left: 0;
        padding-right: 0;
      }

    }
    tr#mfBootstrapPaginator {
      td.text-right {
        padding-left: 0;
        padding-right: 0;
      }
    }
  }
  tbody.main-body {
    border-left: 1px solid #dddddd;
    border-right: 1px solid #dddddd;
  }
}

.table>tbody+tbody {
  border-top: none;
}

.export-as-options.export-as-options-show{
  z-index: 99 !important;
}

/* https://codepen.io/afinedayproductions/pen/JipKF */

.item-overlay .material-icons {
  position: relative;
  top: 50%;
  cursor: pointer;
}

.org-img-holder {
  margin-bottom: 15px;
  img {
    height: 117px;
    width: 113px;
    margin: auto; // background-image: url('assets/images/user.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }
  .svg-icon {
    text-align: center;
    height: 78px;
    width: 27%; // margin: 0 auto;
  }
  .default {
    width: 100%;
    background-image: url('assets/images/defaulticon.png');
  }
}

.space5 {
  padding: 5%;
}

.input-group.input-group-unstyled input.form-control {
  -webkit-border-radius: 4px !important;
  -moz-border-radius: 4px !important;
  border-radius: 4px !important;
}

.input-group-unstyled .input-group-addon {
  border-radius: 4px;
  border: 0px;
  background-color: transparent;
}

.inner-content {
  padding: 1% 5%;
}

.mydp {
  .mydp .selectorarrow {
    background: #FAFAFA !important;
  }
  /*.selectorarrow {
    background: #FAFAFA !important;
    padding: 0 !important;
    margin-bottom: 0px !important;
    margin-top: 0px !important;
    left: 105%;
    top: -125%;
  }
  .selectorarrowleft,
  .selectorarrowleft {
    &:after,
    &:before {
      top: 21%;
      left: -22px !important;
      transform: rotate(270deg);
      border: solid transparent;
      position: absolute;
      margin-left: 0px !important;
    }
  }*/
}

.onboarding-tab {
  .nav-tabs {
    // border-bottom: 4px solid $container-border;
    margin-left: -2px;
    li {
      min-width: 13.8%;
      margin-bottom: -1px;
      a {
        padding: 0px;
        background-color: #fff;
        border-radius: 0px;
        margin-right: 0px;
        border: 0px; // border-right: 1px solid #d4d7df;
        margin-bottom: -1px;
        .wizard-box {
          &.notcompleted {
            background: white;
            .title {
              color: #777;
            }
            .svg-icon {
              width: 23px;
            }
          }
        }
        &.active {
          background-color: $container-border;
          border: 0px;
          .wizard-box {
            color: white; // background: white;
            .svg-icon {
              color: white;
            }
          }
        }
      }
    }
  }
}

.onboarding-content {
  border: 5px solid $container-border;
  margin-left: -1px;
  background: #ecf0f1; // border-radius: 9px;
  min-height: 81.5vh;
}

/* The switch - the box around the slider */

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 23px;
}


/* Hide default HTML checkbox */

.switch input {
  display: none;
}


/* The slider */

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 19px;
  width: 33px;
  left: 0px;
  bottom: 2px;
  background-color: white;
  transition: .4s;
}

input:checked+.slider {
  background-color: #1ab394;
}

input:focus+.slider {
  box-shadow: 0 0 1px #1ab394;
}

input:checked+.slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}


/* Rounded sliders */

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 25px;
}

.has-feedback-left .form-control-feedback {
  left: 0;
}

.email-control {
  top: 8px;
}

.email-domain {
  padding-top: 10px;
}

.has-feedback-left input.form-control,
.has-feedback-left select.form-control {
  padding-left: 34px;
  /* @input-height-base; */
  padding-right: 12px;
  /* @padding-base-horizontal */
  border-radius: 1px; //  -webkit-appearance: none;
  -moz-appearance: none;
}

.has-feedback label~.form-control-feedback {
  top: 33px;
  color: #bbc1d1;
}

.form-group {
  .mat-icon {
    color: #bbc1d1;
  }
  .material-icons {
    color: #bbc1d1;
  }
}

.form-group .form-control,
.control-label {
  font-weight: 500;
  font-size: 12px; // color: #536262;
}

.form-group .form-control {
  border: 1px solid #bec3c7;
}

.onboarding-nav-option {
  padding: 15px 0%;
  .btn-group {
    // padding-right: 1%;
    margin-right: -4px;
  }
}

.btn-icon {
  display: table-cell;
  border-radius: 0px;
  border: 1px solid #9da4b4;
  background: #ecf0f1;
  padding: 6px 6px;
  box-shadow: none;
  min-width: 160px;
  .material-icons {
    vertical-align: middle;
  }
  &.active,
  &:hover,
  &:focus,
  &:active {
    background: #26a626;
    border: 1px solid #26a626;
    color: #fff;
    box-shadow: none;
    &:hover {
      background: #26a626;
      border: 1px solid #26a626;
      color: #fff;
    }
  }
} // .btn-custom-nav {}
.input-group .form-control:focus {
  z-index: 2;
}

.btn-tab {
  background: #57607d;
  color: white;
  border-radius: 0px;
  &:hover {
    color: white;
  }
  &.alpha3 {
    background-color: rgba(#57607d, 0.3);
  }
  &:focus {
    color: white;
    outline: none !important;
  }
  &:active {
    outline: none !important;
  }
}

.upload-icon {
  position: absolute;
  right: 5px;
  bottom: 0px;
  cursor: pointer;
}

.rolegroup-tab {
  .nav-tabs {
    border: 0px;
    padding-top: 2%;
  }
  .tab-content {
    padding-top: 2%;
  }
  .nav>li>a {
    padding: 0px;
    margin-right: 10px;
  }
}

.required-lbl:after {
  content: "*";
  color: red;
}

.completer-dropdown {
  max-height: 400px;
  overflow-x: scroll;
}

.onboarding-form {
  .form-control {
    border-radius: 1px;
    height: 40px; // color: #bec3c7;
    &.input-sm {
      height: 30px;
    }
  }
}

.add-icon {
  position: absolute;
  top: 32px;
  right: -28px;
  cursor: pointer;
  line-height: 1em;
  z-index: 99;
}
.facility-dropdown, .device-dropdown {
  position: relative;
}
@media only screen and (max-width: 767px) {
  .facility-dropdown .form-control, .device-dropdown .form-control {
    width: 95%;
  }
  .onboarding-content .add-icon {
    right: 0;
  }
}

.remove-icon {
  position: absolute;
  top: 30px;
  right: -30px;
  cursor: pointer;
  line-height: 1;
  z-index: 99;
}

.onboarding-instruction {
  padding: 15px;
  margin-top: 0;
}


/* Tenanant Management Started */

.pa-15 {
  padding: 5px 20px 0px 20px; // margin-left: 0px;
}

.pa-15 {
  app-export-data {
    top: 6px !important;
  }
}

.bg-white {
  background: #fff;
}

.chart-outer-div {
  margin-top: 0.2%; // border-right: 3px solid #E6E6E6;
}

.chart-box {
  border: 1px solid #D5D5D5;
  // margin: 5px 5px; // padding: 10px 0px;
  box-shadow: 1px 1px #D5D5D5;
  background-color: #ffffff;
  min-height: 200px;
  cursor: pointer;
  width: 100%;
  position: relative;
  .chart-inner {
    display: block;
    margin: 0px auto;
    min-height: 350px;
    width: 100%;
  }
  &.active {
    background-color: #8D919D;
  }
  .c100 {
    span {
      cursor: pointer;
    }
  }
  .ngx-charts-outer.ng-trigger.ng-trigger-animationState {
    margin: 0 auto;
    display: block;
    text-align: center;
  }
  svg.ngx-charts {
    float: none;
  }
  .chart-legend div header {
    display: none;
  }
}

.org-table {
  thead {
    background-color: $table-header;
    color: #FFFFFF; // border: 1px solid #F1F1F1;
    &.alarm-hed-color {
      background-color: #57607d;
    }
  }
  tfoot {
    background-color: $table-footer;
    &.alarm-hed-color {
      background-color: #57607d;
      color: #FFFFFF;
    }
  }
  thead tr th {
    font-weight: normal;
  }
  thead tr th span {
    color: #FFFFFF;
  }
  tbody tr td {
    color: #2a3142;
  }
  tfoot tr td {
    text-align: right;
  }
  .svg-icon {
    width: 27px;
    height: 27px;
  }
  .checkbox {
    position: relative;
    top: 2px;
    display: inline-block;
  }
  .thumb-image {
    height: 35px;
    width: 35px;
    padding: 0px;
    border-radius: 0;
    border: none;
    margin-right: 10px;
  }
}

.sorter a {
  color: #fff;
  a span {
    right: 5px;
    top: 3px;
  }
}

.gi-1-5x {
  font-size: 21px;
}

.glyphicon-edit {
  cursor: pointer;
}

.glyphicon-plus {
  background: #333;
  color: #fff;
  font-size: 1.4em;
}

.org-view {
  padding-right: 2px;
  a {
    color: #333;
  }
  a.disabled {
    cursor: not-allowed;
    text-decoration: underline;
  }
  .in-active {
    opacity: 0.50;
  }
  .plus-icon {
    height: 21px;
    width: 21px;
    position: relative;
    bottom: 5px;
  }
}

.prl-0 {
  padding-right: 0px;
  padding-left: 0px;
}

.pr-0 {
  padding-right: 0px;
}

.org-img-thumbnail {
  background-color: #F5F7F8;
  padding: 0px;
  box-shadow: 5px 5px 5px #F5F7F8;
  .org-img {
    border-bottom: 0.1px solid #DEE4E5;
    cursor: pointer;
    padding: 10px;
  }
  .org-center-img {
    display: table;
    margin: 0 auto;
  }
  img {
    height: 100px;
  }
  .caption {
    background-color: #ffffff;
    padding: 5px 10px;
    color: #333;
    p {
      cursor: pointer;
    }
    .svg-icon {
      width: 27px;
      height: 27px;
    }
  }
}

.svg-holder {
  width: 40px;
  height: 40px;
  margin: auto;
}

.no-data {
  text-align: center;
  padding: 15px;
}

.wizard-box {
  text-align: center;
  padding: 9px;
  cursor: pointer;
  color: #333331;
  border-right: 1px solid #d4d7df;
  .icon {
    cursor: pointer;
    font-size: 35px;
  }
  .timeline-line {
    display: inline-block;
    height: 2px;
    position: absolute;
    background: color;
  }
}


/* Tenanant Management End */


/* asset dashboard Started*/

.plr-1 {
  padding-left: 1px;
  padding-right: 1px;
}

.plr-5 {
  padding-left: 5px;
  padding-right: 5px;
}

.plr-0 {
  padding-left: 0px;
  padding-right: 0px;
}

.pl-15 {
  padding-left: 15px !important;
}

.mt-20 {
  margin-top: 20px !important;
}

.pl-0 {
  padding-left: 0px;
}

.pr-0 {
  padding-right: 0px;
}

.ptb-15 {
  padding-top: 15px;
  padding-right: 15px;
}

.panel-transparent {
  background-color: rgba(140, 140, 140, 0.6) !important;
}

.pb-5 {
  padding-bottom: 5px;
}

.bg-grey {
  background-color: #4D4D4D;
}

.mb-20 {
  margin-bottom: 20px;
}


/* Asset dashboard end */

.bg-grey-theme {
  background-color: #57607d;
}

#assetDashboardRight {
  @media only screen and (max-device-width: 990px) {
    width: 100% !important;
    #assetDescApp {
      width: 50%;
      display: inline-block;
    }
    .asset-location {
      width: 50%;
      vertical-align: top;
      height: 100% !important;
      float: right;
      .panel-white-heading {
        padding: 10px 15px 4px 30px;
      }
    }
  }
  /*@media only screen and (max-width: 767px) {
    table tr td {
      white-space: normal !important;
      word-break: normal !important;
    }
  }*/
  @media only screen and (max-device-width: 767px) {

    #assetDescApp {
      width: 100%;
    }
    .asset-location {
      width: 100%;
    }
    .sebm-google-map-container {
      height: 50vh !important;
    }
  }
}

#appAssetAlarmPoint {
  @media only screen and (max-device-width: 990px) {
    width: 100% !important;
  }
}

.panel-app {
  border-radius: 0px;
  box-shadow: none;
  .panel-heading,
  .panel-footer {
    color: white;
    background-color: $panel-header-bg;
    border: 0px;
    padding: 2px 15px;
  }
  .panel-white-heading {
    background-color: $panel-header-white-bg !important;
    color: #1D222E !important;
    font-weight: 500;
    width: 100%;
    text-transform: uppercase;
    @media only screen and (max-device-width: 1024px) {
      font-size: 12px;
    }
  }
  .panel-desc-outer {
    // padding-left: 0px;
    padding-right: 0px;
    .panel-desc {
      background-color: #2a3142 !important;
      color: #ffffff !important;
      padding: 20px 20px 0px 0px;
      font-weight: 500;
      text-transform: uppercase;
      position: absolute;
      width: 100%;
      .heading {
        font-size: 10px;
        line-height: 1;
        position: relative;
        top: 4px;
        padding-left: 2px;
      }
      .desc-value {
        margin-bottom: 2px;
        padding-left: 0px;
        font-size: 12px;
        border-radius: 3px;
      }
    }
  }
  .panel-desc:before {
    left: 0px;
  }
  .panel-desc:after {
    right: 0px;
  }
  .panel-body {
    padding: 0px;
    font-size: 13px;
  }
  .panel-body-padding {
    padding: 5px;
    width: 100%;
    font-size: 12px;
  }
  .panel-body-shrink {
    padding-left: 15px;
    font-size: 14px;
    width: 100%;
  }
  .panel-min-height{
    min-height: 100px;
  }
  .panel-max-height {
    max-height: 290px;
    min-height: 290px;
    overflow-y: auto;
  }
  .panel-full-page-height {
    min-height: 539px;
    overflow-y: auto;

    @media (max-height: 600px) {
      min-height: 400px;
    }

  }
  .panel-border {
    border: 1px solid #F1F1F1 !important;
  }
}
.alarm-console-table {
  .pagination {
    margin: 0px;
  }
}
.alarm-console-table>tbody+tbody, #realTimeDataTable>tbody+tbody {
  border: none;
}
 .realtime-table-pagination {
  line-height: 1 !important;
  height: 54px;
  display: flex;
  align-items: center;
  mfbootstrappaginator {
    width: 100%;
    .pagination {
      float: left;
      @media only screen and (max-device-width: 480px) {
        float: left !important;
        margin-left: 10px;
      }
    }
  }
  .pagination {
    margin: 0px;
  }
}

#mfBootstrapPaginator {
  .pagination {
    float: left;
    @media only screen and (max-device-width: 480px) {
      float: left !important;
      margin-left: 10px;
      margin-bottom: 5px;
      display: inline-flex;
      justify-content: center;
      width: 95%;
      margin-top: 0px;
    }
  }
  @media only screen and (max-device-width: 480px) {
    float: left !important;
    .pagination.pull-right {
      margin-top: 5px;
      margin-bottom: 0px;
    }
  }
  .pagination>li>a,
  .pagination>li>span {
    padding: 6px 9px;
  }
}

#alarmConsoleTable {
  .pagination{
    margin: 13px 0px !important;
  }
  .export-as-div {
    float: none;
  }
}

.export-as-div {
  position: relative;
  cursor: pointer;
  transition: all 0.3s ease;
  display: inline-block;
  &:hover {
    color: #108EE2
  }
  .export-svg-icon {
    position: relative;
    top: -2px;
    width: 21px;
    height: 21px;

    @media only screen and (max-width: 1280px) {
      width:  18px;
      height: 18px;
    }

    @media only screen and (max-width: 1024px) {
      width: 16px;
      height: 16px;
      position: relative;
      left: -9px;
    }

  }
  .export-as-options.export-as-options-show{
    top: 135%;
    opacity: 1;
  }
  .export-as-options {
    position: absolute;
    width: 180px;
    right: -8px;
    top: -100%;
    z-index: -1;
    opacity: 0;
    border: 1px solid #d3d6de;
    transition: all 0.3s ease;
    .export-types {
      background-color: #3a4a71;
      padding: 5px 10px;
      border-bottom: 1px solid white;
      transition: all 0.3s ease;
      .svg-icon {
        width: 27px;
        height: 27px;
      }
      img {
        margin-right: 5px;
      }
      &:hover{
        background-color: #108EE2;
      }
      span {
        position: relative;
        top: 1px;
        color: white;
        font-size: 12px;
        text-transform: none;
      }
    }
  }
}

.app-table {
  vertical-align: middle;
  thead tr {
    background: $table-header;
    color: white;
    vertical-align: middle;
    .text-nowrap {
      color: white;
      font-weight: bold;
      font-size: 13px;
    }
  }
  tbody>tr>td {
    vertical-align: middle;
  }
  .slider-container {
    td {
      padding: 5px 0px 0px; // background: #3c4459;
    }
  }
}


/*for wizar */

.wizard-box {
  text-align: center;
  padding: 9px;
  cursor: pointer;
  color: #333331;
  .icon {
    cursor: pointer;
    font-size: 35px;
  }
  .svg-icon {
    height: 38px;
    width: 38px;
  }
  .status-icon {
    height: 23px;
    width: 23px;
    position: absolute;
  }
}


/* For charts */

ngx-charts-legend.chart-legend {
  display: flex;
  position: absolute;
  bottom: 4%;
  justify-content: center;
  div {
    &:first-child {
      width: auto !important;
    }
  }
}
app-pie-chart {
  ngx-charts-chart {
    .ngx-charts-outer {
      display: flex;
      justify-content: center;
      align-items: center;
      .legend-title {
        display: none;
      }
    }
  }
}

.chart-legend .legend-wrap {
  width: 150px !important;
}

ngx-charts-legend.chart-legend {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  bottom: 4%
}


/*For timers */

.noUi-horizontal {
  height: 12px !important;
}

.noUi-handle {
  border: 0 !important;
  border-radius: 50% !important; // background: #F25D29 !important;
  cursor: default;
  box-shadow: none !important; // border : 1px solid #f36b3b !important;
  // -moz-box-shadow:    inset 0 0 2px #D3D3D3 !important;
  // -webkit-box-shadow: inset 0 0 2px #D3D3D3 !important;
  //  box-shadow:         inset 0 0 2px #D3D3D3 !important;
  background-color: #F25D29 !important;
  background-image: -webkit-linear-gradient(top, #F25D29 0%, #F25D29 100%) !important;
}

.noUi-handle:after,
.noUi-handle:before {
  content: none !important;
}

.noUi-horizontal .noUi-handle {
  width: 11px !important;
  height: 13px !important;
  top: -2px !important;
  left: -4px !important;
  cursor: pointer;
}

.noUi-tooltip {
  color: #fff !important;
  background: #F25D29 !important;
  font-size: 10px;
  border: none !important;
  border-radius: 4px !important;
}

.noUi-connect {
  background: #2DA2E5 !important;
}

.noUi-handle {
  outline: none !important; // outline-color: #2DA2E5 !important;
}


/*Alarm Console design started  */

.alarm-panel.alarm-panel-m-zero {
  margin-bottom: 0px !important;
}

.alarm-panel {
  // border-right: 1px solid #E2E2E2;
  box-shadow: 1px 0 0 0 #DEDEE3;
  .alarm-inner-panel.alarm-inner-checkbox {
    padding: 5px 15px 5px 15px;
    padding-top: 5px;
    .sub-heading.with-padding {
      padding: 0px;
      margin-bottom: 0px;
      .checkbox,
      .radio {
        margin-top: 5px;
        line-height: 1;
        margin-bottom: 0px;
      }
    }
  }
  .alarm-inner-panel {
    padding: 8px 25px;
    border: 1px solid #EFF0F1;
    .heading {
      font-size: 16px;
      line-height: 2;
    }
    .sub-heading {
      font-size: 14px;
      .check-box {
        position: relative;
        top: 0px;
      }
      .icon {
        top: 4px;
      }
      &.with-padding {
        padding: 5px 8%;
      }
    }
  }
}

ul.sub-heading {
  list-style: none;
}

.changethisone span {
  background-color: #FFF;
}

.changethisone input {
  border-right-style: none;
}

.alarm-header {
  padding: 10px;
  margin: 10px;
  .alarm-img {
    margin-top: 1px;
    height: 50px;
    .svg-holder {
      width: 40px;
      height: 40px;
      position: relative;
      top: 12px;
      right: 3px;
    }
    .svg-icon {
      width: 34px;
      height: 34px;
    }
  }
  .alarm-content {
    height: 50px;
    font-size: 20px;
    text-transform: uppercase;
    box-shadow: 1px 1px 1px #888888;
    &.red {
      color: $red;
    }
    &.green {
      color: $green;
    }
    &.light-sea-blue {
      color: $light-sea-blue;
    }
    .number {
      font-size: 35px;
      position: relative;
      top: 5px;
    }
  }
}


.bg-red {
  background-color: $red;
}

.bg-green {
  background-color: $green;
}

.bg-light-sea-blue {
  background-color: $light-sea-blue;
}

.bg-white {
  background-color: $panel-header-white-bg;
}

.asset-table-tr {
  td {
    padding: 0px 8px !important;
    vertical-align: middle !important;
    display: table-cell;
  }
}

.search-include-th {
  position: relative;
}

#appAssetTable.col-lg-9,
#appAssetTable.col-md-9,
#appAssetAlarmPoint.col-lg-9,
#appAssetAlarmPoint.col-md-9 {
  width: 78%;
}

#appAssetTable {
  @media only screen and (max-device-width: 990px) {
    .panel-white-heading {
      padding: 5px 6px 5px 35px;
      .expand-icon {
        display: none;
      }
      .export-svg-icon {
        margin: 0px;
      }
    }
  }
}


@media only screen and (max-device-width: 990px) {
  .panel-white-heading {
    padding: 5px 6px 5px 35px;
    .expand-icon {
      display: none;
    }
  }
}


/*Alarm Console design end */


/* for small screen */

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .wizard-box {
    padding: 0 20px !important;
  }
  .onboarding-tab .nav-tabs li {
    min-width: 32.9%;
  }
}

@media only screen and (min-device-width: 992px) {
  //md & lg
  .row-eq-height {
    min-height: 500px;
  }
  .table-outer-view {
    border-left: 3px solid #E6E6E6;
  }
  .chart-center {
    // padding-left: 20px;
    // padding-right: 20px;
    padding: 5px;
  }
}

.vertical-text {
  width: 0;
  word-wrap: break-word;
}

@media (min-width: 992px) {
  .equal {
    display: flex;
    flex-wrap: wrap;
  }
  .chart-inner {
    display: table;
  }
}

.status-icon-group {
  text-align: center;
  .control-label {
    padding-bottom: 8px;
  }
  .switch {
    margin-bottom: 0px;
  }
}

.app-table {
  .heading-table {
    a {
      color: #dadee3;
    }
  }
  .noUi-value-large {
    padding-top: 5PX;
  }
}

.map-body {
  .gm-style-iw {
    // min-height: 170px;
    width: 98% !important; // height: 230px;
    left: 0px !important; // top: 0 !important; // background-color: #2a3142;
    color: white;
    @media only screen and (max-width: 365px) {
      width: 100% !important;
    }
    &>div {
      @media only screen and (max-width: 480px) {
        width: 100% !important;
        max-width: none !important;
      }
      // max-height: none !important;
      // min-height: 170px;
      // min-width: 300px;
    }
    .play-icon {
      cursor: pointer;
      position: absolute;
      top: 74%;
      right: 2%;
    }
  }
  .play-route {
    padding: 10px 15px;
    cursor: pointer;
    position: relative;
    font-weight: bold;
    font-size: 14px;
    background-color: #00c1ee;
    text-align: center;
    left: 1px;
  }
  .status {
    display: inline-block;
    padding-top: 6%;
  }
}

.info-table {
  margin-bottom: 0px !important;
  .noUi-value-large {
    font-size: 11px;
    padding-top: 5px;
  }
}

.surge-form {
  .form-control {
    border-radius: 1px;
    -webkit-appearance: button;
    -moz-appearance: button;
    &.input-sm {
      height: 30px;
    }
  }
  select.input-sm {
    line-height: 1.5;
  }
}

.panel-without-bottom {
  margin-bottom: 0px;
}

.panel-border {
  border: 1px solid #cecdcd;
}

.google-map-form {
  .form-control {
    border-radius: 1px;
    padding: 2px;
    &.input-sm {
      height: 23px;
    }
  }
  select.input-sm {
    line-height: 1.5;
  }
}

.last-update-date {
  font-size: 11px;
  font-weight: 500;
  position: absolute;
  bottom: 5px;
  left: 0;
  width: 100%;
  padding-left: 9px;
}

.subscription-management {
    .chart-box {
      margin-top: 0;
    }
    .chart-center {
        position: relative;
        padding-bottom: 0;
    }
    .last-update-date {
        font-size: 11px;
        font-weight: 500;
        position: absolute;
        bottom: 5px;
        left: 0;
        width: 100%;
        padding-left: 9px;
    }
    @media only screen and (max-width: 991px) {
        .mt-20 {
            margin: 0 !important;
        }
        .last-update-date {
            padding: 0 0 8px 0;
            position: static;
        }
        .filter-btn {
            margin-top: 20px !important;
        }
    }
}

.ngx-charts .arc.active {
  opacity: 0.5 !important;
}

.bt-12 {
  font-size: 12px;
}

li.legend-label:focus,
li.legend-label span {
  outline: none !important;
}

.slider-container {
  .date-slider,
  .hr-slider {
    margin-top: 0px;
  }
  .date-slider:before,
  .hr-slider:before {
    color: white;
  }
}
.pagination.pull-right>li:first-child>a{
  color: transparent;
}

.all-option-pagination {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  line-height: 2.4;
  text-align: center;
  color: #337ab7;
}
.page-item.active .all-option-pagination{
  color: white;
}

div.gm-style>div>div>div>div {
  transition: all 0.3s ease;
}

div.gm-style>div>div>div:nth-child(4)>:nth-child(3)>div>div>div{
  color: grey;
  font-size: 12px;
  background-color: white;
  padding: 2px;
  min-width: 20px;
  border: 1px solid grey;
  position: relative;
  top: -5px;
  right: 5px;
  display: none;
}

div.gm-style>div>div>div>div[style*="overflow: hidden;"][style*="z-index: 90;"]:not(.gmnoprint),
div.gm-style>div>div>div>div[style*="overflow: hidden;"][style*="z-index: 91;"]:not(.gmnoprint),
div.gm-style>div>div>div>div[style*="overflow: hidden;"][style*="z-index: 92;"]:not(.gmnoprint),
div.gm-style>div>div>div>div[style*="overflow: hidden;"][style*="z-index: 93;"]:not(.gmnoprint),
div.gm-style>div>div>div>div[style*="overflow: hidden;"][style*="z-index: 94;"]:not(.gmnoprint),
{
  width: 50px !important;
  height: 50px !important;
  border-radius: 50% 50% 50% 0;
  background: $status-inactive;
  transform: rotate(-45deg);
  margin-top: -23px;
  margin-left: -13px;
  img {
    transform: rotate(45deg);
    left: 8px !important;
    top: 8px !important;
    z-index: 100;
    fill: #4e4d4d;
  }
  &:after {
    content: '';
    width: 40px;
    height: 40px;
    margin: 5px 0 0 5px;
    background: #ffffff;
    position: absolute;
    border-radius: 50%;
  }
}

div.gm-style>div>div>div>div[style*="overflow: hidden;"][style*="z-index: 91;"]:not(.gmnoprint) {
  background: $status-stopped;
}

div.gm-style>div>div>div>div[style*="overflow: hidden;"][style*="z-index: 92;"]:not(.gmnoprint) {
  background: $status-idle;
}

div.gm-style>div>div>div>div[style*="overflow: hidden;"][style*="z-index: 93;"]:not(.gmnoprint) {
  background: $status-moving;
}

div.gm-style>div>div>div>div[style*="overflow: hidden;"][style*="z-index: 94;"]:not(.gmnoprint) {
  background: $status-alarm;
}

div.gm-style>div>div>div>div[style*="overflow: hidden;"][style*="z-index: 95;"]:not(.gmnoprint) {
  background: $status-inactive;
}


/*div.gm-style>div>div>div>div[style*="overflow: hidden;"][style*="z-index: 102;"]:not(.gmnoprint) img {
  transform: scaleX(-1) rotate(-45deg);
  -ms-transform: scaleX(-1) rotate(-45deg);
  -moz-transform: scaleX(-1) rotate(-45deg);
  -webkit-transform: scaleX(-1) rotate(-45deg);
  -o-transform: scaleX(-1) rotate(-45deg);
}

div.gm-style>div>div>div>div[style*="overflow: hidden;"][style*="z-index: 101;"]:not(.gmnoprint) img {
  transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
}*/

div.gm-style>div>:nth-child(4):not(.gmap-tooltip)>:nth-child(4)>div>div>:nth-child(4) {
  background: rgba(42, 49, 66, 0.7) !important;
  width: 271px !important;
  height: 130px !important;
  @media only screen and (max-width: 365px) {
    width: 230px !important;
  }
}



div.gm-style>div>:nth-child(4):not(.gmap-tooltip)>:nth-child(4)>div {
  width: 278px !important; // height: 144px !important;
  @media only screen and (max-width: 365px) {
    width: 230px !important;
  }
}

div.gm-style>div>:nth-child(4):not(.gmap-tooltip)>:nth-child(4)>div>div>:nth-child(4)>.agm-info-window-content {
  width: 265px;
}

div.gm-style>div>:nth-child(4):not(.gmap-tooltip)>:nth-child(4)>div>div:first-child>div:nth-child(2) {
  width: 271px !important;
  height: 130px !important;
  @media only screen and (max-width: 365px) {
    width: 230px !important;
  }
}

div.gm-style>div>:nth-child(4):not(.gmap-tooltip)>:nth-child(4) {
  // top: 10px !important;
  left: -24px !important;
}

div.gm-style>div>:nth-child(4):not(.gmap-tooltip)>:nth-child(4)>div>div>:nth-child(3)>div>div {
  background: rgba(42, 49, 66, 0.7) !important;
  top: 3px;
}

div.gm-style>div>:nth-child(4):not(.gmap-tooltip)>:nth-child(4)>div>div>:nth-child(3)>div {
  top: -12px !important;
}

div.gm-style>div>:nth-child(4):not(.gmap-tooltip)>:nth-child(4)>div>div:first-child>div:first-child {
  border: 0px !important;
}

.status {
  height: 25px;
  &.inactive {
    fill: $status-inactive;
  }
  &.moving {
    fill: $status-moving;
  }
  &.idle {
    fill: $status-idle;
  }
  &.stopped {
    fill: $status-stopped;
  }
  &.alarm {
    fill: $status-alarm;
  }
}

.has-feedback-left select.form-control.menu-list {
  -moz-appearance: menulist;
  -webkit-appearance: menulist;
}

.expanded {
  .geofence-footer {
    position: relative !important;
    width: 100% !important;
  }
}

.gmap-tooltip .gm-style-iw {
  color: black;
}
.gmap-tooltip .gm-style-iw.top {
  top:17px !important;
}


.gm-style .gm-style-iw{
  @media only screen and (max-width: 365px) {
    font-size: 11px;
  }
}

.hover-info {
  background-color: white;
  padding-bottom: 10px;
  color: black;
  div {
    padding: 5px 15px;
  }
  div.header {
    background-color: rgba(42, 49, 66, 0.7);
    color: white;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 10px;
    padding: 15px 20px;
  }
  div.header.header-red {
    background-color: rgba(255, 0, 0, 0.7);
  }
  .info {
    text-align: center;
    padding-top: 0px;
  }
}

.main-container {
  .table-container {
    .panel {
      border: 0px;
      box-shadow: none;
    }
  }
}
.text-danger {
  font-size: 11px;
  font-weight: 500;
  line-height: 2.3em;
}
body.admin {
  overflow: hidden;
}
.modal.in {
  display: block;
}

.text-center{
  text-align: center;
}
.text-left {
  text-align: left;
}

.dynamic-dashboard {
  font-size: 0px;
  .container {
    display: inline-block;
    width: 23%;
    height: 100%;
    background-color: white;
    font-size: 16px;
    padding: 0px;
    font-size: 16px;
  }
  .content-left {
    background-color: #efefef;
    border-right: 1px solid #d3d7de;
    border-bottom: 1px solid #d3d7de;
    .asset-list {
      max-height: 355px;
      overflow: auto;
      border-bottom: 1px solid #d3d7de;
      background-color: white;
      .toggle-asset {
        background-color: white;
        .toggle-points {
          width: 19px;
          height: 19px;
          img {
            max-width: 100%;
          }
        }
      }
    }
    .toggle-points {
      position: absolute;
      display: inline-block;
      top: 0;
      right: 3%;
      width: 21px;
      height: 21px;
      top: 7px;
      img {
        max-width: 21px;
      }
    }
    .content-left-header {
      background-color: #2675bc;
      padding: 7px 15px;
      color: white;
      font-size: 17px;
      border-bottom: 2px solid white;
      position: relative;
      cursor: pointer;
      .toggle-points {
        top: 5px;
      }
    }
    .main-content.active {
      background-color: #5acbf9 !important;
      box-shadow: 2px 2px 5px 0px #2775bc;
      margin: 5px;
      border-bottom: none;
    }
    .main-content {
      background-color: #5acbf9;
      padding: 10px 15px;
      border-bottom: 1px solid #ffffff;
      color: white;
      cursor: pointer;
      position: relative;
      font-size: 14px;
      line-height: 1;
      transition: all 0.3s ease;
      &:hover {
        background-color: #4b8dff;
      }
    }
    .asset-data{
      padding: 5px 10px;
      background-color: white;
      cursor: pointer;
      .toggle-points {
        width: 17px !important;
        height: 17px !important;
        top: 8px;
        img {
          max-width: 100%;
        }
      }
    }
    .asset-options {
      position: relative;
      padding: 10px 10px 10px 35px;
      background-color: #efefef;
      line-height: 1;
      border-bottom: 1px solid #d3d7de;
      font-size: 14px;
      box-shadow: none;
      transition: all 0.3s ease;
      .toggle-points {
        left: 8px;
      }
    }
    .asset-options.active {
      box-shadow: 2px 2px 5px 0px #d3d7de;
      margin: 3px;
    }
    .asset-options.asset-alarm {
      border-bottom: none;
    }
    .asset-points-container {
      height: auto;
      margin-bottom: 10px;
      .points-list-content {
        border: 1px solid #d3d7de;
      }
      .points-list {
        background-color:white;
        border-bottom: 1px solid #efefef;
        transition: all 0.3s ease;
        &:hover {
          background-color: #efefef;
          box-shadow: 2px 2px 5px 0px rgba(133,133,133,1);
          margin: 5px;
        }
        p {
          margin: 0;
          padding: 5px 10px;
          color: #56607c;
          font-size: 14px;
          display: inline-block;
          max-width: 90%;
        }
      }

      .points-list-loading {
        text-align: center;
        font-size: 14px;
        padding: 5px 10px;
        color: #56607c;
      }

      .search-input {
        width: 100%;
        font-size: 14px;
        padding: 4px 10px;
        outline: none;
      }
      .checkbox-input {
        position: relative;
        left: 8px;
        vertical-align: top;
        top: 3px;
      }

      .points-list-content {
        max-height: 250px;
        overflow: auto;
      }
    }
    .asset-points-container.asset-points-container-toggle {
      height: auto;
    }

    .drag-drop-options {
      background-color: white;
      padding: 5px 10px;
      .draggle-div {
        padding: 10px;
        background-color: #efefef;
        cursor: -webkit-grabbing;
        line-height: 1;
        border-bottom: 1px solid #d3d7de;
        font-size: 14px;
        box-shadow: none;
        transition: all 0.3s ease;
        &:hover {
          box-shadow: 2px 2px 5px 0px rgba(133,133,133,1);
          margin: 5px;
        }
      }
    }
  }
  .content-right {
    width: 77%;
    vertical-align: top;
    padding: 10px;
    overflow: auto;
    border: 1px solid #d4d8de;
    .grid-item {
      border: 1px solid #d3d7de;
    }
    .panel-body {
      .list-group-item {
        display: inline-block;
      }
    }
  }
  .grid-item {
    border: solid 1px #ccc;
    box-shadow: none;
    &:hover {
      box-shadow: 3px 3px 10px 0px #858585;
    }
  }

  .handle {
    width: 100%;
    .chart-layer {
      position: absolute;
      width: 100%;
      height: calc(100% - 35px);
      z-index: 9;

    }
    .menu-options {
      position: absolute;
      right: 0px;
      margin-right: 10px;
      top: 8px;
      color: white;
      cursor: pointer;
      z-index: 99;
      transition: all 0.3s ease;
      &:hover {
        color: #5acbf9;
      }

      .menu-content {
        position: absolute;
        right: 5px;
        border: 1px solid #d4d8de;

        p {
          margin: auto;
          background-color: #efefef;
          padding: 9px;
          line-height: 1;
          font-size: 13px;
          color: black;
          width: 100px;
          border-bottom: 1px solid #d5d8de;
          transition: all 0.3s ease;
          &:hover {
            background-color: #57607d;
            color: white;
          }
          .icon-checkbox {
            margin: 0 5px 0 0;
          }
          label {
            line-height: 1;
            font-size: 13px;
            color: black;
            font-weight: normal;
          }
        }
      }
    }
    .header {
      padding: 10px;
      line-height: 1;
      background-color: #57607d;
      color: white;
      p {
        margin: 0px;
        display: inline-block;
      }
      .box-header-btns {
        top: 10px;
        right: 10px;
        cursor: pointer;
        position: absolute;
      }
      .glyphicon-trash {
        color: white;
      }
    }
    .image-upload {
      .upload-logo {
        img {
          max-width: 200px;
        }
        button {
          display: inline-block;
          width: 150px;
          margin-top: 15px;
          border: none;
          background-color: #5acbf9;
          padding: 10px;
          color: white;
        }
      }
    }
    .content-center.widget {
      display: block;
      text-align: left;
    }
    .content-center {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      text-align: center;
      height: calc(100% - 35px);
      position: absolute;
      width: 100%;
      bottom: 0;
      color: #2775bc;
      padding: 15px;
      .chart-legend {
        padding: 0 !important;
        div {
          &:first-child {
            width: 150px;
            display: block;
            position: relative;
            left: 50%;
            transform: translate(-50%,0%);
            .legend-title {
              display: none;
            }
          }
        }
      }
    }
    .half-gauge {
      .col-xs-8 {
        padding-left: 0px;
      }
    }
    .table-data {
      overflow: auto;
      thead {
        th {
          padding: 8px 27px 8px 15px;
          font-size: 14px;
          background-color: #efefef;
          font-weight: normal;
          position: relative;
          border-right: 1px solid #cccccc;
          display: inline-block;
          .glyphicon-trash {
            color: #2775bc;
            font-size: 12px;
            position: absolute;
            top: 50%;
            -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
            right: 14px;
            cursor: pointer;
          }
        }
      }
    }

  }
  #thermo {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .chart-legend {
    .legend-labels {
      max-height: 80px !important;
      overflow-y: auto;
    }
  }
}

.point-name-edit {
  position: absolute;
  top: 40px;
  right: 4px;
  z-index: 99;
  cursor: pointer;
  text-align: right;
  i {
    color: #5acbf9;
    &:hover {
      color: #2775bc;
    }
  }
  .point-name-list {
    border: 1px solid #d5d8de;
    -webkit-box-shadow: 3px 3px 10px 0px rgba(153,153,153,1);
    -moz-box-shadow: 3px 3px 10px 0px rgba(153,153,153,1);
    box-shadow: 3px 3px 10px 0px rgba(153,153,153,1);
    max-height: 200px;
    overflow: auto;
    text-align: left;
    p {
      margin: 0px;
      font-size: 13px;
      padding: 8px 5px 8px 30px;
      background-color: #efefef;
      border-bottom: 1px solid #d5d8de;
      max-width: 150px;
      position: relative;
      cursor: default;
      color: black;
      transition: all 0.5s ease;
      &:hover {
        background-color: #57607d;
        color: white;
      }
      &:last-child {
        border-bottom: none;
      }
      .glyphicon-trash {
        color: red;
        position: absolute;
        top: 50%;
        left: 5px;
        cursor: pointer;
        transform: translate(0, -50%);
      }
    }

  }
}

.dynamic-dashboard-editHeader {
  .modal-content {
    .modal-header {
      background-color: #2775bc;
      color: white;
      border-top-right-radius: 5px;
      border-top-left-radius: 5px;
    }
    .modal-body {
      .input-group-row {
        &:first-child {
          margin-bottom: 15px;
        }
        .input-group {
          width: 100%;
          .icon {
            border-right: 1px solid #ccc;
            width: 72px;
            display: inline-block;
            margin: 0;
          }
        }
        img {
          width: 28px;
          height: 28px;
          margin-left: 15px;
        }
      }
    }
    .modal-footer {
      .btn-primary {
        background-color: #2775bc;
        color: white;
      }
    }
  }
}

.preview-data-container {
  border-style: solid;
}

.color-picker-dialog {
  width: 230px;
  display: inline-flex;
  -webkit-box-shadow: 3px 3px 10px 0px rgba(153,153,153,1);
  -moz-box-shadow: 3px 3px 10px 0px rgba(153,153,153,1);
  box-shadow: 3px 3px 10px 0px rgba(153,153,153,1);
  input {
    &:first-child {
      padding: 5px 10px;
      border: none;
      width: 100%;
    }
  }
  .color-picker {
    position:  absolute !important;
    top: auto !important;
    left: auto !important;
  }
}

.color-options-menu.active {
  right: 0;
  transition: all 0.5s ease;
}
.color-options-menu {
  position: fixed;
  z-index: 99;
  top: 50%;
  right: -10%;
  transform: translate(0%,-50%);
  border: 2px solid #d3d7de;
  border-right: none;
  transition: all 0.5s ease;
  .border-width.active {
    display: block;
  }
  .border-width {
    position: relative;
    display: none;
    padding: 17px 15px;
    transition: all 0.5s ease;
    input {
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      border: none;
      outline: none;
      top: 0;
      padding: 5px 10px;
      color: black;
      border-bottom: 1px solid #d3d7de;
    }
  }
  p {
    &:first-child {
      border-top: none;
    }
    margin: 0px;
    background-color: #5acbf9;
    padding: 10px 15px;
    border-top: 1px solid #ffffff;
    color: white;
    cursor: pointer;
    position: relative;
    font-size: 14px;
    line-height: 1;
    &:hover {
      background-color: #4b8dff;
    }
  }
}
.color-options.active {
  right: 143px;
  transition: all 0.5s ease;
}
.color-options {
  position: fixed;
  top: 50%;
  z-index: 9999;
  width: 30px;
  height: 30px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  right: 0px;
  transform: translate(0%,-50%);
  background-color: #2775bc;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  cursor: pointer;
  transition: all 0.5s ease;
  i {
    color: white;
    font-size: 18px;
  }
}

.preview-modal {
  position: absolute;
  display: none;
  opacity: 0;
  top: -5%;
  transition: all 0.5s ease;
  z-index: 9999;
  width: 74%;
  background-color: white;
  left: 50%;
  margin-bottom: 20px;
  transform: translate(-50%, 0);
  padding: 40px 25px;
  background-color: #efefef;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.34);
  overflow: auto;
  height: auto;

  .glyphicon-remove-sign {
    position: absolute;
    right: 15px;
    top: 15px;
    font-size: 22px;
    color: #56607c;
    cursor: pointer;
  }
}
.preview-modal.show {
  opacity: 1;
  top: 0;
}

.preview-dashboard-btn {
  position: fixed;
  bottom: 40px;
  right: 25px;
  width: 30px;
  height: 30px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border: 1px solid transparent;
  border-radius: 50%;
  background-color: #d3d7de;
  cursor: pointer;
  transition: all 0.5s ease;
  &:hover {
    background-color: #5acbf9;
    i {
      color: white;
    }
  }
  i {
    transition: all 0.5s ease;
    color: #2675bc;
    font-size: 18px;
  }
}

.navbar-fixed-top {
  left: 70px;
}

.chart-table-main-container {
  border: 5px solid #57607d;
  .last-updated-date {
    span {
      font-size: 11px;
      padding-left: 6px;
    }
  }
}
.theme-options-modal {
  .modal-header {
    padding: 0;
    background-color: #57607d;
    color: white;
    font-size: 16px;
    line-height: 1;
    position: relative;
    ul {
      list-style: none;
      padding: 0;
      margin: 0;
      li {
        border-right: 1px solid white;
        display: inline-block;
        padding: 20px 30px;
        cursor: pointer;
        &:first-child{
          border-top-left-radius: 4px;
        }
      }
      li.active {
        background-color: #5acbf9;
      }
    }
    .close {
      position: absolute;
      top: 50%;
      right: 20px;
      transform: translate(0,-50%);
      color: white;
      opacity: 1;
    }
  }
  .modal-body {
    min-height: 400px;
    position: relative;
    .content-row {
      label {
        display: block;
        margin: 10px 0px;
        font-size: 16px;
        font-weight: normal;
      }
    }
    .demo-theme {
      position: absolute;
      top: 50%;
      right: 50px;
      width: 300px;
      height: 200px;
      border: 1px solid white;
      transform: translate(0,-50%);
    }
  }
  .modal-footer {
    .btn {
      transition: all 0.3s ease;
    }
    .btn-save {
      outline: none;
      border: 1px solid #56607c;
      &:hover {
        background-color: #56607c;
        color: white;
      }
    }
    .btn-cancel {
      &:hover {
        color: red;
      }
    }
  }
}

.confirm-modal {
  .modal-header {
    background-color: #ef6868;
    color: white;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    .close {
      color: white;
      opacity: 1;
    }
  }
  .modal-body {
    .fa-exclamation-triangle {
      font-size: 20px;
      color: #ef6767;
      vertical-align: top;
      margin-right: 0px;
    }
    p {
      margin-left: 15px;
      display: inline-block;
      font-size: 15px;
      margin-bottom: 0px;
    }
  }
}
.fa-trash-o {
  color: red;
}
.fa {
  cursor: pointer;
}


.geo-fencing-pac-container {
  @media only screen and (min-width: 991px) {
    top: unset !important;
    bottom: 70px !important;
  }
}

.geo-fencing-create-pac-container {
  @media only screen and (min-width: 991px) {
    top: unset !important;
    bottom: 90px !important;
  }
}

.create-poi-map-address {
  @media only screen and (min-width: 991px) {
    top: unset !important;
    bottom: 85px !important;
  }
}


.white-search-icon {
  max-width: 20px;
  height: auto !important;
  margin-left: 5px;
  margin-right: 5px;
  cursor: pointer;
  float: right;
}

app-table-filter {
  bottom: 0px;
  position: absolute;
  width: 100%;
  z-index: 1;
}

.generate-monitoring-loader {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  background: rgba(255,255,255,.6);
  img {
    top: 50%;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.loading-img {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99999;
  width: 100%;
  height: 100%;
  img {
    top: 50%;
    position: absolute;
    left: 50%;
    transform: translate(-50%,-50%);
  }
}
.glyphicon-triangle-right, .glyphicon-triangle-bottom {
  cursor: pointer;
}

.table-list-container {
  #mfBootstrapPaginator {
    td {
      padding: 0 10px;
      .pagination {
        margin: 12px 0px;
      }
    }
  }
}

@media only screen and (min-width: 992px) {
  .chart-table-main-container {
    display: flex;
    justify-content: space-between;
    .chart-inner {
      min-height: 350px;
      padding-bottom: 18px;
    }
    .pie-chart-container {
      flex: 1;
      position: relative;
      padding-bottom: 20px;
    }
    .table-list-container {
      flex: 5;
      min-height: 380px;
      border-left: 3px solid #E6E6E6;
      position: relative;
    }
    .last-updated-date {
      position: absolute;
      bottom: 0;
      left: 0;
    }
  }
}
.onboarding-content-area {
  border: 5px solid #57607d;
}
.overflow-y-scroll {
  overflow-y: scroll;
}
// .assets-multiselect .selected-list .c-list .c-token {
//   background-color: #57607d !important;
// }
//angular2 multiselect dropdown css overrides
.pure-checkbox   input[type="checkbox"] + label:before {
  color:  #57607d !important;
  border: 2px solid #57607d !important;
}
.pure-checkbox   input[type="checkbox"]:checked + label:before {
  animation: none !important;
  background: #57607d !important;
}
.pure-checkbox input[type="checkbox"]:focus + label:before,
.pure-checkbox input[type="checkbox"]:hover + label:before {
  border-color: #57607d !important;
  background-color: #f2f2f2
}

.custom-errors {
  margin: 10px auto;
  color: #ff1919;
  animation: shake .82s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}
@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}
#subscription-content tr td a {
  margin-left: 5px;
}
#subscription-content tr td i {
  font-size: 18px;
  color: #000;
}
#subscription-content tr td a.disabled {
  cursor: default;
}
#subscription-content tr td a.disabled i{
  color: #ddd;
}
.create-role-group-main-container {
  position: relative;
}
#subscription-content .table .switch {
  float: left;
}
#subscription-content .table .edit-option {
  float: left;
  padding: 0 3px;
}
#subscription-content .table .edit-option-head {
  float: left;
  padding: 7px;
}
@media only screen and (max-width: 991px){
  #subscription-content .table .switch {
    float: none;
    display: block;
  }
  #subscription-content .table .edit-option-head {
    float: none;
    display: block;
  }
  #subscription-content .table .edit-option {
    display: block;
  }
}

@media only screen and (min-width: 320px) and (max-width: 375px) {
  .gm-style>div:nth-child(10) {
      left: -5px !important;
      bottom: 10px !important;
    }
}

.genview-gauge .jqx-widget {
  margin: 0 auto !important;
}
table.tblChart tbody {
  overflow: unset;
}
table.tblChart tbody tr {
  display: table-row;
}
table.tblChart tbody td {
  padding: 0;
}
.e-summary-table app-table-filter, .e-summary-table .filter-search-table {
  position: relative !important;
}

#email-summary-table {
  tbody {
    &:last-of-type {
      background-color: white;
      position: fixed;
      bottom: 37px;
      width: 407px;
      tr {
        td {
          padding: 0px 5px;
          mfbootstrappaginator {
            display: block;
            line-height: 1;
            overflow: hidden;
            .pagination {
              margin: 15px 0px;
              margin-bottom: 10px;
            }
          }
        }
      }
    }
  }
}

.custome-select-box-div {
  position: relative;
  &.width-100 {
    width: 100% !important;
  }
  .custome-select-box {
    -webkit-appearance: none !important;
    -moz-appearance: none !important;
    padding: 5px;
    border-radius: 0px !important;
    padding-left: 32px !important;
    &.pd-10 {
      padding-left: 10px !important;
      line-height: 1;
    }
  }
  .material-icons {
    position: absolute;
    right: 0px;
    width: 17px;
    font-size: 17px;
    height: 20px;
    color: #555555;
  }
  .up {
    top: 20%;
  }
  .down {
    top: 33%;
  }
}

.remove-tag-sms-template {
  display: inline-block;
  .remove-tab-btn {
    border: 1px solid #a6a6a6;
    border-bottom-color: #979797;
    border-radius: 3px;
    box-shadow: 0 1px 0 rgba(255,255,255,.5), 0 0 2px rgba(255,255,255,.15) inset, 0 1px 0 rgba(255,255,255,.15) inset;
    background: #e4e4e4;
    background-image: linear-gradient(to bottom,#fff,#e4e4e4);
    margin: 0;
    padding: 5px 15px;
    font-size: 13px;
    color: #474747;
    cursor: pointer;
  }
}

#genViewAlarmBootstrapPaginator {
  mfbootstrappaginator {
    mfpaginator {
      ul {
        li {
          @media only screen and (max-device-width: 1200px) {
            font-size: 11px;
            a {
              padding: 6px 8px;
            }
          }
          @media only screen and (max-device-width: 850px) {
            font-size: 11px;
            a {
              padding: 6px 12px;
            }
          }
        }
      }
    }
  }
}

.unselectAll-checkbox {
  position: absolute;
  top: 25px;
  left: 130px;
  input[type="checkbox"] {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }
  
  input[type="checkbox"] + label {
    position: relative;
    padding-left: 2em;
    vertical-align: middle;
    user-select: none;
    cursor: pointer;
    margin: 0px;
    color: #000;
    font-weight: 300;
  }

  input[type="checkbox"] + label:before {
    box-sizing: content-box;
    content: '';
    color: #57607d;
    position: absolute;
    top: 50%;
    left: 0;
    width: 14px;
    height: 14px;
    margin-top: -9px;
    border: 2px solid #57607d;
    text-align: center;
    transition: all 0.4s ease;
  }
  
  input[type="checkbox"]:checked + label:before {
    background: #57607d !important;
  }

  input[type="checkbox"] + label:after {
    background-color: transparent;
    top: 50%;
    left: 4px;
    width: 8px;
    height: 3px;
    margin-top: -4px;
    border-style: solid;
    border-color: #ffffff;
    border-width: 0 0 3px 3px;
    border-image: none;
    transform: rotate(-45deg) scale(0);
  }

  input[type="checkbox"] + label:after {
    box-sizing: content-box;
    content: '';
    position: absolute;
    top: 50%;
    left: 4px;
    width: 8px;
    height: 3px;
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transform-origin: 50%;
    transform-origin: 50%;
  }

  input[type="checkbox"]:checked + label:after {
    transform: rotate(-45deg) scale(1);
  }
}


.fa-remove:before {
  content: "\f00d";
}
