/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import url(~@angular/material/prebuilt-themes/deeppurple-amber.css);
@import url(~nouislider/distribute/nouislider.min.css);
@font-face {
  font-family: 'icomoon';
  src: url("./assets/fonts/icomoon.eot?8xp3i9");
  src: url("./assets/fonts/icomoon.eot?8xp3i9#iefix") format("embedded-opentype"), url("./assets/fonts/icomoon.ttf?8xp3i9") format("truetype"), url("./assets/fonts/icomoon.woff?8xp3i9") format("woff"), url("./assets/fonts/icomoon.svg?8xp3i9#icomoon") format("svg");
  font-weight: normal;
  font-style: normal; }
[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-icon_CustomerOnboarding_CreateUser:before {
  content: "\e900"; }

.icon-icon_CustomerOnboarding_CreateRoleGroup:before {
  content: "\e901"; }

.icon-icon_CustomerOnboarding_CreateOrg:before {
  content: "\e902"; }

.icon-icon_Assetonboarding_Facility:before {
  content: "\e903"; }

.icon-icon_Assetonboarding_Device:before {
  content: "\e904"; }

.icon-icon_Assetonboarding_Asset:before {
  content: "\e905"; }

.sebm-google-map-container {
  height: 80vh; }

body {
  font-family: "Roboto", sans-serif;
  margin: 0px;
  --primary-color: #96c33b;
  --secondary-color: orange; }

html,
body,
.my-content {
  margin: 0;
  width: 100%;
  height: 100%; }

.spacer {
  flex: 1 1 auto; }

.car-image {
  height: 180px; }

.no-padding {
  padding: 0px; }

.no-padding-left {
  padding-left: 0px; }

.no-padding-right {
  padding-right: 0px; }

.nav-profile .material-icons {
  cursor: pointer; }

.header-menu.mat-menu-panel {
  max-height: 300px !important; }

.mat-card-avatar {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  flex-shrink: 0; }

.item:hover .item-overlay.top {
  top: 0; }

.item-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  overflow: hidden;
  text-align: center;
  width: 100%;
  -moz-transition: top 0.3s, right 0.3s, bottom 0.3s, left 0.3s;
  -webkit-transition: top 0.3s, right 0.3s, bottom 0.3s, left 0.3s;
  transition: top 0.3s, right 0.3s, bottom 0.3s, left 0.3s; }

.item-overlay.top {
  top: 100%; }

.item {
  position: relative;
  border: 1px solid #333;
  float: left;
  overflow: hidden;
  max-width: 540px; }

.item img {
  max-width: 100%; }

table {
  display: table;
  width: 100%;
  max-width: 100%; }
  table thead {
    float: left;
    width: 100%;
    position: relative; }
    table thead tr {
      width: 100%;
      display: table; }
      table thead tr th {
        display: table-cell;
        vertical-align: middle !important;
        word-break: break-word; }
  table tbody {
    float: left;
    width: 100%;
    overflow: auto;
    position: relative; }
    table tbody tr {
      width: 100%;
      display: table; }
      table tbody tr td {
        display: table-cell;
        vertical-align: middle !important;
        padding: 0px 5px;
        word-break: break-word; }
      table tbody tr td.pagination-td {
        padding-left: 0;
        padding-right: 0; }
    table tbody tr#mfBootstrapPaginator td.text-right {
      padding-left: 0;
      padding-right: 0; }
  table tbody.main-body {
    border-left: 1px solid #dddddd;
    border-right: 1px solid #dddddd; }

.table > tbody + tbody {
  border-top: none; }

.export-as-options.export-as-options-show {
  z-index: 99 !important; }

/* https://codepen.io/afinedayproductions/pen/JipKF */
.item-overlay .material-icons {
  position: relative;
  top: 50%;
  cursor: pointer; }

.org-img-holder {
  margin-bottom: 15px; }
  .org-img-holder img {
    height: 117px;
    width: 113px;
    margin: auto;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center; }
  .org-img-holder .svg-icon {
    text-align: center;
    height: 78px;
    width: 27%; }
  .org-img-holder .default {
    width: 100%;
    background-image: url("assets/images/defaulticon.png"); }

.space5 {
  padding: 5%; }

.input-group.input-group-unstyled input.form-control {
  -webkit-border-radius: 4px !important;
  -moz-border-radius: 4px !important;
  border-radius: 4px !important; }

.input-group-unstyled .input-group-addon {
  border-radius: 4px;
  border: 0px;
  background-color: transparent; }

.inner-content {
  padding: 1% 5%; }

.mydp {
  /*.selectorarrow {
    background: #FAFAFA !important;
    padding: 0 !important;
    margin-bottom: 0px !important;
    margin-top: 0px !important;
    left: 105%;
    top: -125%;
  }
  .selectorarrowleft,
  .selectorarrowleft {
    &:after,
    &:before {
      top: 21%;
      left: -22px !important;
      transform: rotate(270deg);
      border: solid transparent;
      position: absolute;
      margin-left: 0px !important;
    }
  }*/ }
  .mydp .mydp .selectorarrow {
    background: #FAFAFA !important; }

.onboarding-tab .nav-tabs {
  margin-left: -2px; }
  .onboarding-tab .nav-tabs li {
    min-width: 13.8%;
    margin-bottom: -1px; }
    .onboarding-tab .nav-tabs li a {
      padding: 0px;
      background-color: #fff;
      border-radius: 0px;
      margin-right: 0px;
      border: 0px;
      margin-bottom: -1px; }
      .onboarding-tab .nav-tabs li a .wizard-box.notcompleted {
        background: white; }
        .onboarding-tab .nav-tabs li a .wizard-box.notcompleted .title {
          color: #777; }
        .onboarding-tab .nav-tabs li a .wizard-box.notcompleted .svg-icon {
          width: 23px; }
      .onboarding-tab .nav-tabs li a.active {
        background-color: #57607d;
        border: 0px; }
        .onboarding-tab .nav-tabs li a.active .wizard-box {
          color: white; }
          .onboarding-tab .nav-tabs li a.active .wizard-box .svg-icon {
            color: white; }

.onboarding-content {
  border: 5px solid #57607d;
  margin-left: -1px;
  background: #ecf0f1;
  min-height: 81.5vh; }

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 23px; }

/* Hide default HTML checkbox */
.switch input {
  display: none; }

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s; }

.slider:before {
  position: absolute;
  content: "";
  height: 19px;
  width: 33px;
  left: 0px;
  bottom: 2px;
  background-color: white;
  transition: .4s; }

input:checked + .slider {
  background-color: #1ab394; }

input:focus + .slider {
  box-shadow: 0 0 1px #1ab394; }

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px); }

/* Rounded sliders */
.slider.round {
  border-radius: 34px; }

.slider.round:before {
  border-radius: 25px; }

.has-feedback-left .form-control-feedback {
  left: 0; }

.email-control {
  top: 8px; }

.email-domain {
  padding-top: 10px; }

.has-feedback-left input.form-control,
.has-feedback-left select.form-control {
  padding-left: 34px;
  /* @input-height-base; */
  padding-right: 12px;
  /* @padding-base-horizontal */
  border-radius: 1px;
  -moz-appearance: none; }

.has-feedback label ~ .form-control-feedback {
  top: 33px;
  color: #bbc1d1; }

.form-group .mat-icon {
  color: #bbc1d1; }
.form-group .material-icons {
  color: #bbc1d1; }

.form-group .form-control,
.control-label {
  font-weight: 500;
  font-size: 12px; }

.form-group .form-control {
  border: 1px solid #bec3c7; }

.onboarding-nav-option {
  padding: 15px 0%; }
  .onboarding-nav-option .btn-group {
    margin-right: -4px; }

.btn-icon {
  display: table-cell;
  border-radius: 0px;
  border: 1px solid #9da4b4;
  background: #ecf0f1;
  padding: 6px 6px;
  box-shadow: none;
  min-width: 160px; }
  .btn-icon .material-icons {
    vertical-align: middle; }
  .btn-icon.active, .btn-icon:hover, .btn-icon:focus, .btn-icon:active {
    background: #26a626;
    border: 1px solid #26a626;
    color: #fff;
    box-shadow: none; }
    .btn-icon.active:hover, .btn-icon:hover:hover, .btn-icon:focus:hover, .btn-icon:active:hover {
      background: #26a626;
      border: 1px solid #26a626;
      color: #fff; }

.input-group .form-control:focus {
  z-index: 2; }

.btn-tab {
  background: #57607d;
  color: white;
  border-radius: 0px; }
  .btn-tab:hover {
    color: white; }
  .btn-tab.alpha3 {
    background-color: rgba(87, 96, 125, 0.3); }
  .btn-tab:focus {
    color: white;
    outline: none !important; }
  .btn-tab:active {
    outline: none !important; }

.upload-icon {
  position: absolute;
  right: 5px;
  bottom: 0px;
  cursor: pointer; }

.rolegroup-tab .nav-tabs {
  border: 0px;
  padding-top: 2%; }
.rolegroup-tab .tab-content {
  padding-top: 2%; }
.rolegroup-tab .nav > li > a {
  padding: 0px;
  margin-right: 10px; }

.required-lbl:after {
  content: "*";
  color: red; }

.completer-dropdown {
  max-height: 400px;
  overflow-x: scroll; }

.onboarding-form .form-control {
  border-radius: 1px;
  height: 40px; }
  .onboarding-form .form-control.input-sm {
    height: 30px; }

.add-icon {
  position: absolute;
  top: 32px;
  right: -28px;
  cursor: pointer;
  line-height: 1em;
  z-index: 99; }

.facility-dropdown, .device-dropdown {
  position: relative; }

@media only screen and (max-width: 767px) {
  .facility-dropdown .form-control, .device-dropdown .form-control {
    width: 95%; }

  .onboarding-content .add-icon {
    right: 0; } }
.remove-icon {
  position: absolute;
  top: 30px;
  right: -30px;
  cursor: pointer;
  line-height: 1;
  z-index: 99; }

.onboarding-instruction {
  padding: 15px;
  margin-top: 0; }

/* Tenanant Management Started */
.pa-15 {
  padding: 5px 20px 0px 20px; }

.pa-15 app-export-data {
  top: 6px !important; }

.bg-white {
  background: #fff; }

.chart-outer-div {
  margin-top: 0.2%; }

.chart-box {
  border: 1px solid #D5D5D5;
  box-shadow: 1px 1px #D5D5D5;
  background-color: #ffffff;
  min-height: 200px;
  cursor: pointer;
  width: 100%;
  position: relative; }
  .chart-box .chart-inner {
    display: block;
    margin: 0px auto;
    min-height: 350px;
    width: 100%; }
  .chart-box.active {
    background-color: #8D919D; }
  .chart-box .c100 span {
    cursor: pointer; }
  .chart-box .ngx-charts-outer.ng-trigger.ng-trigger-animationState {
    margin: 0 auto;
    display: block;
    text-align: center; }
  .chart-box svg.ngx-charts {
    float: none; }
  .chart-box .chart-legend div header {
    display: none; }

.org-table thead {
  background-color: #57607d;
  color: #FFFFFF; }
  .org-table thead.alarm-hed-color {
    background-color: #57607d; }
.org-table tfoot {
  background-color: #57607d; }
  .org-table tfoot.alarm-hed-color {
    background-color: #57607d;
    color: #FFFFFF; }
.org-table thead tr th {
  font-weight: normal; }
.org-table thead tr th span {
  color: #FFFFFF; }
.org-table tbody tr td {
  color: #2a3142; }
.org-table tfoot tr td {
  text-align: right; }
.org-table .svg-icon {
  width: 27px;
  height: 27px; }
.org-table .checkbox {
  position: relative;
  top: 2px;
  display: inline-block; }
.org-table .thumb-image {
  height: 35px;
  width: 35px;
  padding: 0px;
  border-radius: 0;
  border: none;
  margin-right: 10px; }

.sorter a {
  color: #fff; }
  .sorter a a span {
    right: 5px;
    top: 3px; }

.gi-1-5x {
  font-size: 21px; }

.glyphicon-edit {
  cursor: pointer; }

.glyphicon-plus {
  background: #333;
  color: #fff;
  font-size: 1.4em; }

.org-view {
  padding-right: 2px; }
  .org-view a {
    color: #333; }
  .org-view a.disabled {
    cursor: not-allowed;
    text-decoration: underline; }
  .org-view .in-active {
    opacity: 0.50; }
  .org-view .plus-icon {
    height: 21px;
    width: 21px;
    position: relative;
    bottom: 5px; }

.prl-0 {
  padding-right: 0px;
  padding-left: 0px; }

.pr-0 {
  padding-right: 0px; }

.org-img-thumbnail {
  background-color: #F5F7F8;
  padding: 0px;
  box-shadow: 5px 5px 5px #F5F7F8; }
  .org-img-thumbnail .org-img {
    border-bottom: 0.1px solid #DEE4E5;
    cursor: pointer;
    padding: 10px; }
  .org-img-thumbnail .org-center-img {
    display: table;
    margin: 0 auto; }
  .org-img-thumbnail img {
    height: 100px; }
  .org-img-thumbnail .caption {
    background-color: #ffffff;
    padding: 5px 10px;
    color: #333; }
    .org-img-thumbnail .caption p {
      cursor: pointer; }
    .org-img-thumbnail .caption .svg-icon {
      width: 27px;
      height: 27px; }

.svg-holder {
  width: 40px;
  height: 40px;
  margin: auto; }

.no-data {
  text-align: center;
  padding: 15px; }

.wizard-box {
  text-align: center;
  padding: 9px;
  cursor: pointer;
  color: #333331;
  border-right: 1px solid #d4d7df; }
  .wizard-box .icon {
    cursor: pointer;
    font-size: 35px; }
  .wizard-box .timeline-line {
    display: inline-block;
    height: 2px;
    position: absolute;
    background: color; }

/* Tenanant Management End */
/* asset dashboard Started*/
.plr-1 {
  padding-left: 1px;
  padding-right: 1px; }

.plr-5 {
  padding-left: 5px;
  padding-right: 5px; }

.plr-0 {
  padding-left: 0px;
  padding-right: 0px; }

.pl-15 {
  padding-left: 15px !important; }

.mt-20 {
  margin-top: 20px !important; }

.pl-0 {
  padding-left: 0px; }

.pr-0 {
  padding-right: 0px; }

.ptb-15 {
  padding-top: 15px;
  padding-right: 15px; }

.panel-transparent {
  background-color: rgba(140, 140, 140, 0.6) !important; }

.pb-5 {
  padding-bottom: 5px; }

.bg-grey {
  background-color: #4D4D4D; }

.mb-20 {
  margin-bottom: 20px; }

/* Asset dashboard end */
.bg-grey-theme {
  background-color: #57607d; }

#assetDashboardRight {
  /*@media only screen and (max-width: 767px) {
    table tr td {
      white-space: normal !important;
      word-break: normal !important;
    }
  }*/ }
  @media only screen and (max-device-width: 990px) {
    #assetDashboardRight {
      width: 100% !important; }
      #assetDashboardRight #assetDescApp {
        width: 50%;
        display: inline-block; }
      #assetDashboardRight .asset-location {
        width: 50%;
        vertical-align: top;
        height: 100% !important;
        float: right; }
        #assetDashboardRight .asset-location .panel-white-heading {
          padding: 10px 15px 4px 30px; } }
  @media only screen and (max-device-width: 767px) {
    #assetDashboardRight #assetDescApp {
      width: 100%; }
    #assetDashboardRight .asset-location {
      width: 100%; }
    #assetDashboardRight .sebm-google-map-container {
      height: 50vh !important; } }

@media only screen and (max-device-width: 990px) {
  #appAssetAlarmPoint {
    width: 100% !important; } }

.panel-app {
  border-radius: 0px;
  box-shadow: none; }
  .panel-app .panel-heading,
  .panel-app .panel-footer {
    color: white;
    background-color: #57607d;
    border: 0px;
    padding: 2px 15px; }
  .panel-app .panel-white-heading {
    background-color: #FFFFFF !important;
    color: #1D222E !important;
    font-weight: 500;
    width: 100%;
    text-transform: uppercase; }
    @media only screen and (max-device-width: 1024px) {
      .panel-app .panel-white-heading {
        font-size: 12px; } }
  .panel-app .panel-desc-outer {
    padding-right: 0px; }
    .panel-app .panel-desc-outer .panel-desc {
      background-color: #2a3142 !important;
      color: #ffffff !important;
      padding: 20px 20px 0px 0px;
      font-weight: 500;
      text-transform: uppercase;
      position: absolute;
      width: 100%; }
      .panel-app .panel-desc-outer .panel-desc .heading {
        font-size: 10px;
        line-height: 1;
        position: relative;
        top: 4px;
        padding-left: 2px; }
      .panel-app .panel-desc-outer .panel-desc .desc-value {
        margin-bottom: 2px;
        padding-left: 0px;
        font-size: 12px;
        border-radius: 3px; }
  .panel-app .panel-desc:before {
    left: 0px; }
  .panel-app .panel-desc:after {
    right: 0px; }
  .panel-app .panel-body {
    padding: 0px;
    font-size: 13px; }
  .panel-app .panel-body-padding {
    padding: 5px;
    width: 100%;
    font-size: 12px; }
  .panel-app .panel-body-shrink {
    padding-left: 15px;
    font-size: 14px;
    width: 100%; }
  .panel-app .panel-min-height {
    min-height: 100px; }
  .panel-app .panel-max-height {
    max-height: 290px;
    min-height: 290px;
    overflow-y: auto; }
  .panel-app .panel-full-page-height {
    min-height: 539px;
    overflow-y: auto; }
    @media (max-height: 600px) {
      .panel-app .panel-full-page-height {
        min-height: 400px; } }
  .panel-app .panel-border {
    border: 1px solid #F1F1F1 !important; }

.alarm-console-table .pagination {
  margin: 0px; }

.alarm-console-table > tbody + tbody, #realTimeDataTable > tbody + tbody {
  border: none; }

.realtime-table-pagination {
  line-height: 1 !important;
  height: 54px;
  display: flex;
  align-items: center; }
  .realtime-table-pagination mfbootstrappaginator {
    width: 100%; }
    .realtime-table-pagination mfbootstrappaginator .pagination {
      float: left; }
      @media only screen and (max-device-width: 480px) {
        .realtime-table-pagination mfbootstrappaginator .pagination {
          float: left !important;
          margin-left: 10px; } }
  .realtime-table-pagination .pagination {
    margin: 0px; }

#mfBootstrapPaginator .pagination {
  float: left; }
  @media only screen and (max-device-width: 480px) {
    #mfBootstrapPaginator .pagination {
      float: left !important;
      margin-left: 10px;
      margin-bottom: 5px;
      display: inline-flex;
      justify-content: center;
      width: 95%;
      margin-top: 0px; } }
@media only screen and (max-device-width: 480px) {
  #mfBootstrapPaginator {
    float: left !important; }
    #mfBootstrapPaginator .pagination.pull-right {
      margin-top: 5px;
      margin-bottom: 0px; } }
#mfBootstrapPaginator .pagination > li > a,
#mfBootstrapPaginator .pagination > li > span {
  padding: 6px 9px; }

#alarmConsoleTable .pagination {
  margin: 13px 0px !important; }

.export-as-div {
  position: relative;
  cursor: pointer;
  transition: all 0.3s ease;
  display: inline-block; }
  .export-as-div:hover {
    color: #108EE2; }
  .export-as-div .export-svg-icon {
    position: relative;
    top: -2px;
    width: 21px;
    height: 21px; }
    @media only screen and (max-width: 1280px) {
      .export-as-div .export-svg-icon {
        width: 18px;
        height: 18px; } }
    @media only screen and (max-width: 1024px) {
      .export-as-div .export-svg-icon {
        width: 16px;
        height: 16px;
        position: relative;
        left: -9px; } }
  .export-as-div .export-as-options.export-as-options-show {
    top: 135%;
    opacity: 1; }
  .export-as-div .export-as-options {
    position: absolute;
    width: 180px;
    right: -8px;
    top: -100%;
    z-index: -1;
    opacity: 0;
    border: 1px solid #d3d6de;
    transition: all 0.3s ease; }
    .export-as-div .export-as-options .export-types {
      background-color: #3a4a71;
      padding: 5px 10px;
      border-bottom: 1px solid white;
      transition: all 0.3s ease; }
      .export-as-div .export-as-options .export-types .svg-icon {
        width: 27px;
        height: 27px; }
      .export-as-div .export-as-options .export-types img {
        margin-right: 5px; }
      .export-as-div .export-as-options .export-types:hover {
        background-color: #108EE2; }
      .export-as-div .export-as-options .export-types span {
        position: relative;
        top: 1px;
        color: white;
        font-size: 12px;
        text-transform: none; }

.app-table {
  vertical-align: middle; }
  .app-table thead tr {
    background: #57607d;
    color: white;
    vertical-align: middle; }
    .app-table thead tr .text-nowrap {
      color: white;
      font-weight: bold;
      font-size: 13px; }
  .app-table tbody > tr > td {
    vertical-align: middle; }
  .app-table .slider-container td {
    padding: 5px 0px 0px; }

/*for wizar */
.wizard-box {
  text-align: center;
  padding: 9px;
  cursor: pointer;
  color: #333331; }
  .wizard-box .icon {
    cursor: pointer;
    font-size: 35px; }
  .wizard-box .svg-icon {
    height: 38px;
    width: 38px; }
  .wizard-box .status-icon {
    height: 23px;
    width: 23px;
    position: absolute; }

/* For charts */
ngx-charts-legend.chart-legend {
  display: flex;
  position: absolute;
  bottom: 4%;
  justify-content: center; }
  ngx-charts-legend.chart-legend div:first-child {
    width: auto !important; }

app-pie-chart ngx-charts-chart .ngx-charts-outer {
  display: flex;
  justify-content: center;
  align-items: center; }
  app-pie-chart ngx-charts-chart .ngx-charts-outer .legend-title {
    display: none; }

.chart-legend .legend-wrap {
  width: 150px !important; }

ngx-charts-legend.chart-legend {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  bottom: 4%; }

/*For timers */
.noUi-horizontal {
  height: 12px !important; }

.noUi-handle {
  border: 0 !important;
  border-radius: 50% !important;
  cursor: default;
  box-shadow: none !important;
  background-color: #F25D29 !important;
  background-image: -webkit-linear-gradient(top, #F25D29 0%, #F25D29 100%) !important; }

.noUi-handle:after,
.noUi-handle:before {
  content: none !important; }

.noUi-horizontal .noUi-handle {
  width: 11px !important;
  height: 13px !important;
  top: -2px !important;
  left: -4px !important;
  cursor: pointer; }

.noUi-tooltip {
  color: #fff !important;
  background: #F25D29 !important;
  font-size: 10px;
  border: none !important;
  border-radius: 4px !important; }

.noUi-connect {
  background: #2DA2E5 !important; }

.noUi-handle {
  outline: none !important; }

/*Alarm Console design started  */
.alarm-panel.alarm-panel-m-zero {
  margin-bottom: 0px !important; }

.alarm-panel {
  box-shadow: 1px 0 0 0 #DEDEE3; }
  .alarm-panel .alarm-inner-panel.alarm-inner-checkbox {
    padding: 5px 15px 5px 15px;
    padding-top: 5px; }
    .alarm-panel .alarm-inner-panel.alarm-inner-checkbox .sub-heading.with-padding {
      padding: 0px;
      margin-bottom: 0px; }
      .alarm-panel .alarm-inner-panel.alarm-inner-checkbox .sub-heading.with-padding .checkbox,
      .alarm-panel .alarm-inner-panel.alarm-inner-checkbox .sub-heading.with-padding .radio {
        margin-top: 5px;
        line-height: 1;
        margin-bottom: 0px; }
  .alarm-panel .alarm-inner-panel {
    padding: 8px 25px;
    border: 1px solid #EFF0F1; }
    .alarm-panel .alarm-inner-panel .heading {
      font-size: 16px;
      line-height: 2; }
    .alarm-panel .alarm-inner-panel .sub-heading {
      font-size: 14px; }
      .alarm-panel .alarm-inner-panel .sub-heading .check-box {
        position: relative;
        top: 0px; }
      .alarm-panel .alarm-inner-panel .sub-heading .icon {
        top: 4px; }
      .alarm-panel .alarm-inner-panel .sub-heading.with-padding {
        padding: 5px 8%; }

ul.sub-heading {
  list-style: none; }

.changethisone span {
  background-color: #FFF; }

.changethisone input {
  border-right-style: none; }

.alarm-header {
  padding: 10px;
  margin: 10px; }
  .alarm-header .alarm-img {
    margin-top: 1px;
    height: 50px; }
    .alarm-header .alarm-img .svg-holder {
      width: 40px;
      height: 40px;
      position: relative;
      top: 12px;
      right: 3px; }
    .alarm-header .alarm-img .svg-icon {
      width: 34px;
      height: 34px; }
  .alarm-header .alarm-content {
    height: 50px;
    font-size: 20px;
    text-transform: uppercase;
    box-shadow: 1px 1px 1px #888888; }
    .alarm-header .alarm-content.red {
      color: #D9534F; }
    .alarm-header .alarm-content.green {
      color: #649c42; }
    .alarm-header .alarm-content.light-sea-blue {
      color: #3bc0c3; }
    .alarm-header .alarm-content .number {
      font-size: 35px;
      position: relative;
      top: 5px; }

.bg-red {
  background-color: #D9534F; }

.bg-green {
  background-color: #649c42; }

.bg-light-sea-blue {
  background-color: #3bc0c3; }

.bg-white {
  background-color: #FFFFFF; }

.asset-table-tr td {
  padding: 0px 8px !important;
  vertical-align: middle !important;
  display: table-cell; }

.search-include-th {
  position: relative; }

#appAssetTable.col-lg-9,
#appAssetTable.col-md-9,
#appAssetAlarmPoint.col-lg-9,
#appAssetAlarmPoint.col-md-9 {
  width: 78%; }

@media only screen and (max-device-width: 990px) {
  #appAssetTable .panel-white-heading {
    padding: 5px 6px 5px 35px; }
    #appAssetTable .panel-white-heading .expand-icon {
      display: none; }
    #appAssetTable .panel-white-heading .export-svg-icon {
      margin: 0px; } }

@media only screen and (max-device-width: 990px) {
  .panel-white-heading {
    padding: 5px 6px 5px 35px; }
    .panel-white-heading .expand-icon {
      display: none; } }
/*Alarm Console design end */
/* for small screen */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .wizard-box {
    padding: 0 20px !important; }

  .onboarding-tab .nav-tabs li {
    min-width: 32.9%; } }
@media only screen and (min-device-width: 992px) {
  .row-eq-height {
    min-height: 500px; }

  .table-outer-view {
    border-left: 3px solid #E6E6E6; }

  .chart-center {
    padding: 5px; } }
.vertical-text {
  width: 0;
  word-wrap: break-word; }

@media (min-width: 992px) {
  .equal {
    display: flex;
    flex-wrap: wrap; }

  .chart-inner {
    display: table; } }
.status-icon-group {
  text-align: center; }
  .status-icon-group .control-label {
    padding-bottom: 8px; }
  .status-icon-group .switch {
    margin-bottom: 0px; }

.app-table .heading-table a {
  color: #dadee3; }
.app-table .noUi-value-large {
  padding-top: 5PX; }

.map-body .gm-style-iw {
  width: 98% !important;
  left: 0px !important;
  color: white; }
  @media only screen and (max-width: 365px) {
    .map-body .gm-style-iw {
      width: 100% !important; } }
  @media only screen and (max-width: 480px) {
    .map-body .gm-style-iw > div {
      width: 100% !important;
      max-width: none !important; } }
  .map-body .gm-style-iw .play-icon {
    cursor: pointer;
    position: absolute;
    top: 74%;
    right: 2%; }
.map-body .play-route {
  padding: 10px 15px;
  cursor: pointer;
  position: relative;
  font-weight: bold;
  font-size: 14px;
  background-color: #00c1ee;
  text-align: center;
  left: 1px; }
.map-body .status {
  display: inline-block;
  padding-top: 6%; }

.info-table {
  margin-bottom: 0px !important; }
  .info-table .noUi-value-large {
    font-size: 11px;
    padding-top: 5px; }

.surge-form .form-control {
  border-radius: 1px;
  -webkit-appearance: button;
  -moz-appearance: button; }
  .surge-form .form-control.input-sm {
    height: 30px; }
.surge-form select.input-sm {
  line-height: 1.5; }

.panel-without-bottom {
  margin-bottom: 0px; }

.panel-border {
  border: 1px solid #cecdcd; }

.google-map-form .form-control {
  border-radius: 1px;
  padding: 2px; }
  .google-map-form .form-control.input-sm {
    height: 23px; }
.google-map-form select.input-sm {
  line-height: 1.5; }

.last-update-date {
  font-size: 11px;
  font-weight: 500;
  position: absolute;
  bottom: 5px;
  left: 0;
  width: 100%;
  padding-left: 9px; }

.subscription-management .chart-box {
  margin-top: 0; }
.subscription-management .chart-center {
  position: relative;
  padding-bottom: 0; }
.subscription-management .last-update-date {
  font-size: 11px;
  font-weight: 500;
  position: absolute;
  bottom: 5px;
  left: 0;
  width: 100%;
  padding-left: 9px; }
@media only screen and (max-width: 991px) {
  .subscription-management .mt-20 {
    margin: 0 !important; }
  .subscription-management .last-update-date {
    padding: 0 0 8px 0;
    position: static; }
  .subscription-management .filter-btn {
    margin-top: 20px !important; } }

.ngx-charts .arc.active {
  opacity: 0.5 !important; }

.bt-12 {
  font-size: 12px; }

li.legend-label:focus,
li.legend-label span {
  outline: none !important; }

.slider-container .date-slider,
.slider-container .hr-slider {
  margin-top: 0px; }
.slider-container .date-slider:before,
.slider-container .hr-slider:before {
  color: white; }

.pagination.pull-right > li:first-child > a {
  color: transparent; }

.all-option-pagination {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  line-height: 2.4;
  text-align: center;
  color: #337ab7; }

.page-item.active .all-option-pagination {
  color: white; }

div.gm-style > div > div > div > div {
  transition: all 0.3s ease; }

div.gm-style > div > div > div:nth-child(4) > :nth-child(3) > div > div > div {
  color: grey;
  font-size: 12px;
  background-color: white;
  padding: 2px;
  min-width: 20px;
  border: 1px solid grey;
  position: relative;
  top: -5px;
  right: 5px;
  display: none; }

div.gm-style > div > div > div > div[style*="overflow: hidden;"][style*="z-index: 90;"]:not(.gmnoprint),
div.gm-style > div > div > div > div[style*="overflow: hidden;"][style*="z-index: 91;"]:not(.gmnoprint),
div.gm-style > div > div > div > div[style*="overflow: hidden;"][style*="z-index: 92;"]:not(.gmnoprint),
div.gm-style > div > div > div > div[style*="overflow: hidden;"][style*="z-index: 93;"]:not(.gmnoprint),
div.gm-style > div > div > div > div[style*="overflow: hidden;"][style*="z-index: 94;"]:not(.gmnoprint) {
  width: 50px !important;
  height: 50px !important;
  border-radius: 50% 50% 50% 0;
  background: #6f7588;
  transform: rotate(-45deg);
  margin-top: -23px;
  margin-left: -13px; }
  div.gm-style > div > div > div > div[style*="overflow: hidden;"][style*="z-index: 90;"]:not(.gmnoprint) img,
  div.gm-style > div > div > div > div[style*="overflow: hidden;"][style*="z-index: 91;"]:not(.gmnoprint) img,
  div.gm-style > div > div > div > div[style*="overflow: hidden;"][style*="z-index: 92;"]:not(.gmnoprint) img,
  div.gm-style > div > div > div > div[style*="overflow: hidden;"][style*="z-index: 93;"]:not(.gmnoprint) img,
  div.gm-style > div > div > div > div[style*="overflow: hidden;"][style*="z-index: 94;"]:not(.gmnoprint) img {
    transform: rotate(45deg);
    left: 8px !important;
    top: 8px !important;
    z-index: 100;
    fill: #4e4d4d; }
  div.gm-style > div > div > div > div[style*="overflow: hidden;"][style*="z-index: 90;"]:not(.gmnoprint):after,
  div.gm-style > div > div > div > div[style*="overflow: hidden;"][style*="z-index: 91;"]:not(.gmnoprint):after,
  div.gm-style > div > div > div > div[style*="overflow: hidden;"][style*="z-index: 92;"]:not(.gmnoprint):after,
  div.gm-style > div > div > div > div[style*="overflow: hidden;"][style*="z-index: 93;"]:not(.gmnoprint):after,
  div.gm-style > div > div > div > div[style*="overflow: hidden;"][style*="z-index: 94;"]:not(.gmnoprint):after {
    content: '';
    width: 40px;
    height: 40px;
    margin: 5px 0 0 5px;
    background: #ffffff;
    position: absolute;
    border-radius: 50%; }

div.gm-style > div > div > div > div[style*="overflow: hidden;"][style*="z-index: 91;"]:not(.gmnoprint) {
  background: #5acbf9; }

div.gm-style > div > div > div > div[style*="overflow: hidden;"][style*="z-index: 92;"]:not(.gmnoprint) {
  background: #ee7f32; }

div.gm-style > div > div > div > div[style*="overflow: hidden;"][style*="z-index: 93;"]:not(.gmnoprint) {
  background: #94d67e; }

div.gm-style > div > div > div > div[style*="overflow: hidden;"][style*="z-index: 94;"]:not(.gmnoprint) {
  background: #eb3c33; }

div.gm-style > div > div > div > div[style*="overflow: hidden;"][style*="z-index: 95;"]:not(.gmnoprint) {
  background: #6f7588; }

/*div.gm-style>div>div>div>div[style*="overflow: hidden;"][style*="z-index: 102;"]:not(.gmnoprint) img {
  transform: scaleX(-1) rotate(-45deg);
  -ms-transform: scaleX(-1) rotate(-45deg);
  -moz-transform: scaleX(-1) rotate(-45deg);
  -webkit-transform: scaleX(-1) rotate(-45deg);
  -o-transform: scaleX(-1) rotate(-45deg);
}

div.gm-style>div>div>div>div[style*="overflow: hidden;"][style*="z-index: 101;"]:not(.gmnoprint) img {
  transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
}*/
div.gm-style > div > :nth-child(4):not(.gmap-tooltip) > :nth-child(4) > div > div > :nth-child(4) {
  background: rgba(42, 49, 66, 0.7) !important;
  width: 271px !important;
  height: 130px !important; }
  @media only screen and (max-width: 365px) {
    div.gm-style > div > :nth-child(4):not(.gmap-tooltip) > :nth-child(4) > div > div > :nth-child(4) {
      width: 230px !important; } }

div.gm-style > div > :nth-child(4):not(.gmap-tooltip) > :nth-child(4) > div {
  width: 278px !important; }
  @media only screen and (max-width: 365px) {
    div.gm-style > div > :nth-child(4):not(.gmap-tooltip) > :nth-child(4) > div {
      width: 230px !important; } }

div.gm-style > div > :nth-child(4):not(.gmap-tooltip) > :nth-child(4) > div > div > :nth-child(4) > .agm-info-window-content {
  width: 265px; }

div.gm-style > div > :nth-child(4):not(.gmap-tooltip) > :nth-child(4) > div > div:first-child > div:nth-child(2) {
  width: 271px !important;
  height: 130px !important; }
  @media only screen and (max-width: 365px) {
    div.gm-style > div > :nth-child(4):not(.gmap-tooltip) > :nth-child(4) > div > div:first-child > div:nth-child(2) {
      width: 230px !important; } }

div.gm-style > div > :nth-child(4):not(.gmap-tooltip) > :nth-child(4) {
  left: -24px !important; }

div.gm-style > div > :nth-child(4):not(.gmap-tooltip) > :nth-child(4) > div > div > :nth-child(3) > div > div {
  background: rgba(42, 49, 66, 0.7) !important;
  top: 3px; }

div.gm-style > div > :nth-child(4):not(.gmap-tooltip) > :nth-child(4) > div > div > :nth-child(3) > div {
  top: -12px !important; }

div.gm-style > div > :nth-child(4):not(.gmap-tooltip) > :nth-child(4) > div > div:first-child > div:first-child {
  border: 0px !important; }

.status {
  height: 25px; }
  .status.inactive {
    fill: #6f7588; }
  .status.moving {
    fill: #94d67e; }
  .status.idle {
    fill: #ee7f32; }
  .status.stopped {
    fill: #5acbf9; }
  .status.alarm {
    fill: #eb3c33; }

.has-feedback-left select.form-control.menu-list {
  -moz-appearance: menulist;
  -webkit-appearance: menulist; }

.expanded .geofence-footer {
  position: relative !important;
  width: 100% !important; }

.gmap-tooltip .gm-style-iw {
  color: black; }

.gmap-tooltip .gm-style-iw.top {
  top: 17px !important; }

@media only screen and (max-width: 365px) {
  .gm-style .gm-style-iw {
    font-size: 11px; } }

.hover-info {
  background-color: white;
  padding-bottom: 10px;
  color: black; }
  .hover-info div {
    padding: 5px 15px; }
  .hover-info div.header {
    background-color: rgba(42, 49, 66, 0.7);
    color: white;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 10px;
    padding: 15px 20px; }
  .hover-info div.header.header-red {
    background-color: rgba(255, 0, 0, 0.7); }
  .hover-info .info {
    text-align: center;
    padding-top: 0px; }

.main-container .table-container .panel {
  border: 0px;
  box-shadow: none; }

.text-danger {
  font-size: 11px;
  font-weight: 500;
  line-height: 2.3em; }

body.admin {
  overflow: hidden; }

.modal.in {
  display: block; }

.text-center {
  text-align: center; }

.text-left {
  text-align: left; }

.dynamic-dashboard {
  font-size: 0px; }
  .dynamic-dashboard .container {
    display: inline-block;
    width: 23%;
    height: 100%;
    background-color: white;
    font-size: 16px;
    padding: 0px;
    font-size: 16px; }
  .dynamic-dashboard .content-left {
    background-color: #efefef;
    border-right: 1px solid #d3d7de;
    border-bottom: 1px solid #d3d7de; }
    .dynamic-dashboard .content-left .asset-list {
      max-height: 355px;
      overflow: auto;
      border-bottom: 1px solid #d3d7de;
      background-color: white; }
      .dynamic-dashboard .content-left .asset-list .toggle-asset {
        background-color: white; }
        .dynamic-dashboard .content-left .asset-list .toggle-asset .toggle-points {
          width: 19px;
          height: 19px; }
          .dynamic-dashboard .content-left .asset-list .toggle-asset .toggle-points img {
            max-width: 100%; }
    .dynamic-dashboard .content-left .toggle-points {
      position: absolute;
      display: inline-block;
      top: 0;
      right: 3%;
      width: 21px;
      height: 21px;
      top: 7px; }
      .dynamic-dashboard .content-left .toggle-points img {
        max-width: 21px; }
    .dynamic-dashboard .content-left .content-left-header {
      background-color: #2675bc;
      padding: 7px 15px;
      color: white;
      font-size: 17px;
      border-bottom: 2px solid white;
      position: relative;
      cursor: pointer; }
      .dynamic-dashboard .content-left .content-left-header .toggle-points {
        top: 5px; }
    .dynamic-dashboard .content-left .main-content.active {
      background-color: #5acbf9 !important;
      box-shadow: 2px 2px 5px 0px #2775bc;
      margin: 5px;
      border-bottom: none; }
    .dynamic-dashboard .content-left .main-content {
      background-color: #5acbf9;
      padding: 10px 15px;
      border-bottom: 1px solid #ffffff;
      color: white;
      cursor: pointer;
      position: relative;
      font-size: 14px;
      line-height: 1;
      transition: all 0.3s ease; }
      .dynamic-dashboard .content-left .main-content:hover {
        background-color: #4b8dff; }
    .dynamic-dashboard .content-left .asset-data {
      padding: 5px 10px;
      background-color: white;
      cursor: pointer; }
      .dynamic-dashboard .content-left .asset-data .toggle-points {
        width: 17px !important;
        height: 17px !important;
        top: 8px; }
        .dynamic-dashboard .content-left .asset-data .toggle-points img {
          max-width: 100%; }
    .dynamic-dashboard .content-left .asset-options {
      position: relative;
      padding: 10px 10px 10px 35px;
      background-color: #efefef;
      line-height: 1;
      border-bottom: 1px solid #d3d7de;
      font-size: 14px;
      box-shadow: none;
      transition: all 0.3s ease; }
      .dynamic-dashboard .content-left .asset-options .toggle-points {
        left: 8px; }
    .dynamic-dashboard .content-left .asset-options.active {
      box-shadow: 2px 2px 5px 0px #d3d7de;
      margin: 3px; }
    .dynamic-dashboard .content-left .asset-options.asset-alarm {
      border-bottom: none; }
    .dynamic-dashboard .content-left .asset-points-container {
      height: auto;
      margin-bottom: 10px; }
      .dynamic-dashboard .content-left .asset-points-container .points-list-content {
        border: 1px solid #d3d7de; }
      .dynamic-dashboard .content-left .asset-points-container .points-list {
        background-color: white;
        border-bottom: 1px solid #efefef;
        transition: all 0.3s ease; }
        .dynamic-dashboard .content-left .asset-points-container .points-list:hover {
          background-color: #efefef;
          box-shadow: 2px 2px 5px 0px #858585;
          margin: 5px; }
        .dynamic-dashboard .content-left .asset-points-container .points-list p {
          margin: 0;
          padding: 5px 10px;
          color: #56607c;
          font-size: 14px;
          display: inline-block;
          max-width: 90%; }
      .dynamic-dashboard .content-left .asset-points-container .points-list-loading {
        text-align: center;
        font-size: 14px;
        padding: 5px 10px;
        color: #56607c; }
      .dynamic-dashboard .content-left .asset-points-container .search-input {
        width: 100%;
        font-size: 14px;
        padding: 4px 10px;
        outline: none; }
      .dynamic-dashboard .content-left .asset-points-container .checkbox-input {
        position: relative;
        left: 8px;
        vertical-align: top;
        top: 3px; }
      .dynamic-dashboard .content-left .asset-points-container .points-list-content {
        max-height: 250px;
        overflow: auto; }
    .dynamic-dashboard .content-left .asset-points-container.asset-points-container-toggle {
      height: auto; }
    .dynamic-dashboard .content-left .drag-drop-options {
      background-color: white;
      padding: 5px 10px; }
      .dynamic-dashboard .content-left .drag-drop-options .draggle-div {
        padding: 10px;
        background-color: #efefef;
        cursor: -webkit-grabbing;
        line-height: 1;
        border-bottom: 1px solid #d3d7de;
        font-size: 14px;
        box-shadow: none;
        transition: all 0.3s ease; }
        .dynamic-dashboard .content-left .drag-drop-options .draggle-div:hover {
          box-shadow: 2px 2px 5px 0px #858585;
          margin: 5px; }
  .dynamic-dashboard .content-right {
    width: 77%;
    vertical-align: top;
    padding: 10px;
    overflow: auto;
    border: 1px solid #d4d8de; }
    .dynamic-dashboard .content-right .grid-item {
      border: 1px solid #d3d7de; }
    .dynamic-dashboard .content-right .panel-body .list-group-item {
      display: inline-block; }
  .dynamic-dashboard .grid-item {
    border: solid 1px #ccc;
    box-shadow: none; }
    .dynamic-dashboard .grid-item:hover {
      box-shadow: 3px 3px 10px 0px #858585; }
  .dynamic-dashboard .handle {
    width: 100%; }
    .dynamic-dashboard .handle .chart-layer {
      position: absolute;
      width: 100%;
      height: calc(100% - 35px);
      z-index: 9; }
    .dynamic-dashboard .handle .menu-options {
      position: absolute;
      right: 0px;
      margin-right: 10px;
      top: 8px;
      color: white;
      cursor: pointer;
      z-index: 99;
      transition: all 0.3s ease; }
      .dynamic-dashboard .handle .menu-options:hover {
        color: #5acbf9; }
      .dynamic-dashboard .handle .menu-options .menu-content {
        position: absolute;
        right: 5px;
        border: 1px solid #d4d8de; }
        .dynamic-dashboard .handle .menu-options .menu-content p {
          margin: auto;
          background-color: #efefef;
          padding: 9px;
          line-height: 1;
          font-size: 13px;
          color: black;
          width: 100px;
          border-bottom: 1px solid #d5d8de;
          transition: all 0.3s ease; }
          .dynamic-dashboard .handle .menu-options .menu-content p:hover {
            background-color: #57607d;
            color: white; }
          .dynamic-dashboard .handle .menu-options .menu-content p .icon-checkbox {
            margin: 0 5px 0 0; }
          .dynamic-dashboard .handle .menu-options .menu-content p label {
            line-height: 1;
            font-size: 13px;
            color: black;
            font-weight: normal; }
    .dynamic-dashboard .handle .header {
      padding: 10px;
      line-height: 1;
      background-color: #57607d;
      color: white; }
      .dynamic-dashboard .handle .header p {
        margin: 0px;
        display: inline-block; }
      .dynamic-dashboard .handle .header .box-header-btns {
        top: 10px;
        right: 10px;
        cursor: pointer;
        position: absolute; }
      .dynamic-dashboard .handle .header .glyphicon-trash {
        color: white; }
    .dynamic-dashboard .handle .image-upload .upload-logo img {
      max-width: 200px; }
    .dynamic-dashboard .handle .image-upload .upload-logo button {
      display: inline-block;
      width: 150px;
      margin-top: 15px;
      border: none;
      background-color: #5acbf9;
      padding: 10px;
      color: white; }
    .dynamic-dashboard .handle .content-center.widget {
      display: block;
      text-align: left; }
    .dynamic-dashboard .handle .content-center {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      text-align: center;
      height: calc(100% - 35px);
      position: absolute;
      width: 100%;
      bottom: 0;
      color: #2775bc;
      padding: 15px; }
      .dynamic-dashboard .handle .content-center .chart-legend {
        padding: 0 !important; }
        .dynamic-dashboard .handle .content-center .chart-legend div:first-child {
          width: 150px;
          display: block;
          position: relative;
          left: 50%;
          transform: translate(-50%, 0%); }
          .dynamic-dashboard .handle .content-center .chart-legend div:first-child .legend-title {
            display: none; }
    .dynamic-dashboard .handle .half-gauge .col-xs-8 {
      padding-left: 0px; }
    .dynamic-dashboard .handle .table-data {
      overflow: auto; }
      .dynamic-dashboard .handle .table-data thead th {
        padding: 8px 27px 8px 15px;
        font-size: 14px;
        background-color: #efefef;
        font-weight: normal;
        position: relative;
        border-right: 1px solid #cccccc;
        display: inline-block; }
        .dynamic-dashboard .handle .table-data thead th .glyphicon-trash {
          color: #2775bc;
          font-size: 12px;
          position: absolute;
          top: 50%;
          -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
          right: 14px;
          cursor: pointer; }
  .dynamic-dashboard #thermo {
    display: flex;
    justify-content: center;
    align-items: center; }
  .dynamic-dashboard .chart-legend .legend-labels {
    max-height: 80px !important;
    overflow-y: auto; }

.point-name-edit {
  position: absolute;
  top: 40px;
  right: 4px;
  z-index: 99;
  cursor: pointer;
  text-align: right; }
  .point-name-edit i {
    color: #5acbf9; }
    .point-name-edit i:hover {
      color: #2775bc; }
  .point-name-edit .point-name-list {
    border: 1px solid #d5d8de;
    -webkit-box-shadow: 3px 3px 10px 0px #999999;
    -moz-box-shadow: 3px 3px 10px 0px #999999;
    box-shadow: 3px 3px 10px 0px #999999;
    max-height: 200px;
    overflow: auto;
    text-align: left; }
    .point-name-edit .point-name-list p {
      margin: 0px;
      font-size: 13px;
      padding: 8px 5px 8px 30px;
      background-color: #efefef;
      border-bottom: 1px solid #d5d8de;
      max-width: 150px;
      position: relative;
      cursor: default;
      color: black;
      transition: all 0.5s ease; }
      .point-name-edit .point-name-list p:hover {
        background-color: #57607d;
        color: white; }
      .point-name-edit .point-name-list p:last-child {
        border-bottom: none; }
      .point-name-edit .point-name-list p .glyphicon-trash {
        color: red;
        position: absolute;
        top: 50%;
        left: 5px;
        cursor: pointer;
        transform: translate(0, -50%); }

.dynamic-dashboard-editHeader .modal-content .modal-header {
  background-color: #2775bc;
  color: white;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px; }
.dynamic-dashboard-editHeader .modal-content .modal-body .input-group-row:first-child {
  margin-bottom: 15px; }
.dynamic-dashboard-editHeader .modal-content .modal-body .input-group-row .input-group {
  width: 100%; }
  .dynamic-dashboard-editHeader .modal-content .modal-body .input-group-row .input-group .icon {
    border-right: 1px solid #ccc;
    width: 72px;
    display: inline-block;
    margin: 0; }
.dynamic-dashboard-editHeader .modal-content .modal-body .input-group-row img {
  width: 28px;
  height: 28px;
  margin-left: 15px; }
.dynamic-dashboard-editHeader .modal-content .modal-footer .btn-primary {
  background-color: #2775bc;
  color: white; }

.preview-data-container {
  border-style: solid; }

.color-picker-dialog {
  width: 230px;
  display: inline-flex;
  -webkit-box-shadow: 3px 3px 10px 0px #999999;
  -moz-box-shadow: 3px 3px 10px 0px #999999;
  box-shadow: 3px 3px 10px 0px #999999; }
  .color-picker-dialog input:first-child {
    padding: 5px 10px;
    border: none;
    width: 100%; }
  .color-picker-dialog .color-picker {
    position: absolute !important;
    top: auto !important;
    left: auto !important; }

.color-options-menu.active {
  right: 0;
  transition: all 0.5s ease; }

.color-options-menu {
  position: fixed;
  z-index: 99;
  top: 50%;
  right: -10%;
  transform: translate(0%, -50%);
  border: 2px solid #d3d7de;
  border-right: none;
  transition: all 0.5s ease; }
  .color-options-menu .border-width.active {
    display: block; }
  .color-options-menu .border-width {
    position: relative;
    display: none;
    padding: 17px 15px;
    transition: all 0.5s ease; }
    .color-options-menu .border-width input {
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      border: none;
      outline: none;
      top: 0;
      padding: 5px 10px;
      color: black;
      border-bottom: 1px solid #d3d7de; }
  .color-options-menu p {
    margin: 0px;
    background-color: #5acbf9;
    padding: 10px 15px;
    border-top: 1px solid #ffffff;
    color: white;
    cursor: pointer;
    position: relative;
    font-size: 14px;
    line-height: 1; }
    .color-options-menu p:first-child {
      border-top: none; }
    .color-options-menu p:hover {
      background-color: #4b8dff; }

.color-options.active {
  right: 143px;
  transition: all 0.5s ease; }

.color-options {
  position: fixed;
  top: 50%;
  z-index: 9999;
  width: 30px;
  height: 30px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  right: 0px;
  transform: translate(0%, -50%);
  background-color: #2775bc;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  cursor: pointer;
  transition: all 0.5s ease; }
  .color-options i {
    color: white;
    font-size: 18px; }

.preview-modal {
  position: absolute;
  display: none;
  opacity: 0;
  top: -5%;
  transition: all 0.5s ease;
  z-index: 9999;
  width: 74%;
  background-color: white;
  left: 50%;
  margin-bottom: 20px;
  transform: translate(-50%, 0);
  padding: 40px 25px;
  background-color: #efefef;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.34);
  overflow: auto;
  height: auto; }
  .preview-modal .glyphicon-remove-sign {
    position: absolute;
    right: 15px;
    top: 15px;
    font-size: 22px;
    color: #56607c;
    cursor: pointer; }

.preview-modal.show {
  opacity: 1;
  top: 0; }

.preview-dashboard-btn {
  position: fixed;
  bottom: 40px;
  right: 25px;
  width: 30px;
  height: 30px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border: 1px solid transparent;
  border-radius: 50%;
  background-color: #d3d7de;
  cursor: pointer;
  transition: all 0.5s ease; }
  .preview-dashboard-btn:hover {
    background-color: #5acbf9; }
    .preview-dashboard-btn:hover i {
      color: white; }
  .preview-dashboard-btn i {
    transition: all 0.5s ease;
    color: #2675bc;
    font-size: 18px; }

.navbar-fixed-top {
  left: 70px; }

.chart-table-main-container {
  border: 5px solid #57607d; }
  .chart-table-main-container .last-updated-date span {
    font-size: 11px;
    padding-left: 6px; }

.theme-options-modal .modal-header {
  padding: 0;
  background-color: #57607d;
  color: white;
  font-size: 16px;
  line-height: 1;
  position: relative; }
  .theme-options-modal .modal-header ul {
    list-style: none;
    padding: 0;
    margin: 0; }
    .theme-options-modal .modal-header ul li {
      border-right: 1px solid white;
      display: inline-block;
      padding: 20px 30px;
      cursor: pointer; }
      .theme-options-modal .modal-header ul li:first-child {
        border-top-left-radius: 4px; }
    .theme-options-modal .modal-header ul li.active {
      background-color: #5acbf9; }
  .theme-options-modal .modal-header .close {
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translate(0, -50%);
    color: white;
    opacity: 1; }
.theme-options-modal .modal-body {
  min-height: 400px;
  position: relative; }
  .theme-options-modal .modal-body .content-row label {
    display: block;
    margin: 10px 0px;
    font-size: 16px;
    font-weight: normal; }
  .theme-options-modal .modal-body .demo-theme {
    position: absolute;
    top: 50%;
    right: 50px;
    width: 300px;
    height: 200px;
    border: 1px solid white;
    transform: translate(0, -50%); }
.theme-options-modal .modal-footer .btn {
  transition: all 0.3s ease; }
.theme-options-modal .modal-footer .btn-save {
  outline: none;
  border: 1px solid #56607c; }
  .theme-options-modal .modal-footer .btn-save:hover {
    background-color: #56607c;
    color: white; }
.theme-options-modal .modal-footer .btn-cancel:hover {
  color: red; }

.confirm-modal .modal-header {
  background-color: #ef6868;
  color: white;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px; }
  .confirm-modal .modal-header .close {
    color: white;
    opacity: 1; }
.confirm-modal .modal-body .fa-exclamation-triangle {
  font-size: 20px;
  color: #ef6767;
  vertical-align: top;
  margin-right: 0px; }
.confirm-modal .modal-body p {
  margin-left: 15px;
  display: inline-block;
  font-size: 15px;
  margin-bottom: 0px; }

.fa-trash-o {
  color: red; }

.fa {
  cursor: pointer; }

@media only screen and (min-width: 991px) {
  .geo-fencing-pac-container {
    top: unset !important;
    bottom: 70px !important; } }

@media only screen and (min-width: 991px) {
  .geo-fencing-create-pac-container {
    top: unset !important;
    bottom: 90px !important; } }

.white-search-icon {
  max-width: 20px;
  height: auto !important;
  margin-left: 5px;
  margin-right: 5px;
  cursor: pointer;
  float: right; }

app-table-filter {
  bottom: 0px;
  position: absolute;
  width: 100%;
  z-index: 1; }

.generate-monitoring-loader {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  background: rgba(255, 255, 255, 0.6); }
  .generate-monitoring-loader img {
    top: 50%;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%); }

.loading-img {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99999;
  width: 100%;
  height: 100%; }
  .loading-img img {
    top: 50%;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%); }

.glyphicon-triangle-right, .glyphicon-triangle-bottom {
  cursor: pointer; }

.table-list-container #mfBootstrapPaginator td {
  padding: 0 10px; }
  .table-list-container #mfBootstrapPaginator td .pagination {
    margin: 12px 0px; }

@media only screen and (min-width: 992px) {
  .chart-table-main-container {
    display: flex;
    justify-content: space-between; }
    .chart-table-main-container .chart-inner {
      min-height: 350px;
      padding-bottom: 18px; }
    .chart-table-main-container .pie-chart-container {
      flex: 1;
      position: relative;
      padding-bottom: 20px; }
    .chart-table-main-container .table-list-container {
      flex: 5;
      min-height: 380px;
      border-left: 3px solid #E6E6E6;
      position: relative; }
    .chart-table-main-container .last-updated-date {
      position: absolute;
      bottom: 0;
      left: 0; } }
.onboarding-content-area {
  border: 5px solid #57607d; }

.overflow-y-scroll {
  overflow-y: scroll; }

.assets-multiselect .selected-list .c-list .c-token {
  background-color: #57607d !important; }

.pure-checkbox input[type="checkbox"] + label:before {
  color: #57607d !important;
  border: 2px solid #57607d !important; }

.pure-checkbox input[type="checkbox"]:checked + label:before {
  animation: none !important;
  background: #57607d !important; }

.pure-checkbox input[type="checkbox"]:focus + label:before,
.pure-checkbox input[type="checkbox"]:hover + label:before {
  border-color: #57607d !important;
  background-color: #f2f2f2; }

.custom-errors {
  margin: 10px auto;
  color: #ff1919;
  animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px; }

@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0); }
  20%,
  80% {
    transform: translate3d(2px, 0, 0); }
  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0); }
  40%,
  60% {
    transform: translate3d(4px, 0, 0); } }
#subscription-content tr td a {
  margin-left: 5px; }

#subscription-content tr td i {
  font-size: 18px;
  color: #000; }

#subscription-content tr td a.disabled {
  cursor: default; }

#subscription-content tr td a.disabled i {
  color: #ddd; }

.create-role-group-main-container {
  position: relative; }

#subscription-content .table .switch {
  float: left; }

#subscription-content .table .edit-option {
  float: left;
  padding: 0 3px; }

#subscription-content .table .edit-option-head {
  float: left;
  padding: 7px; }

@media only screen and (max-width: 991px) {
  #subscription-content .table .switch {
    float: none;
    display: block; }

  #subscription-content .table .edit-option-head {
    float: none;
    display: block; }

  #subscription-content .table .edit-option {
    display: block; } }
@media only screen and (min-width: 320px) and (max-width: 375px) {
  .gm-style > div:nth-child(10) {
    left: -5px !important;
    bottom: 10px !important; } }
.genview-gauge .jqx-widget {
  margin: 0 auto !important; }

table.tblChart tbody {
  overflow: unset; }

table.tblChart tbody tr {
  display: table-row; }

table.tblChart tbody td {
  padding: 0; }

.e-summary-table app-table-filter, .e-summary-table .filter-search-table {
  position: relative !important; }

#email-summary-table tbody:last-of-type {
  background-color: white;
  position: fixed;
  bottom: 37px;
  width: 407px; }
  #email-summary-table tbody:last-of-type tr td {
    padding: 0px 5px; }
    #email-summary-table tbody:last-of-type tr td mfbootstrappaginator {
      display: block;
      line-height: 1;
      overflow: hidden; }
      #email-summary-table tbody:last-of-type tr td mfbootstrappaginator .pagination {
        margin: 15px 0px;
        margin-bottom: 10px; }


/*# sourceMappingURL=styles.css.map */
