.asses-description-image-div {
  text-align: center;
  .asset-desc-img{
    height: 150px;
    display: inline-block;
  }
}
select.input-sm {
  @media only screen and (max-device-width: 1024px) {
    height: 25px;
    line-height: 25px;        
  }
}
#assetDescApp {
  .svg-icon {
    width: 20px;
    height: 20px;
    position: absolute;
    left: 4px;
    top: 50%;
    transform: translate(0%,-50%);

    @media only screen and (max-device-width: 1024px) {
      max-width: 18px;        
    }
  }
  .panel-white-heading {
    position: relative;
    padding: 2px 15px 2px 30px;
    
    .asset-info-dropdown-label {
      @media only screen and (max-device-width: 1024px) {
        width: 55%;        
      }
    }
  }
  .asset-info-dropdown-label{
    padding: 0;
  }
}


.asset-info-text{
  position: relative;
  top: 6px;
  @media only screen and (max-device-width: 1024px) {
    top: 4px;        
  }
}

.panel-app {
  margin-bottom: 1px;
}

.panel-desc-all-p{
  padding: 12px 0px !important;
  background-color: #57607d;
  color: white;
  font-weight: bold;
  position: relative;
}
.panel-row {
  display: inline-block;
  width: 100%;
  height: 15px;
  .panel-row-arrows {
    display: inline-block;
  }
  .panel-row-with-arrows {
    overflow: hidden;
    position: absolute;
    left: 0;
    margin: 0 10px;
    width: 87%;
  }
}

.desc-value {
  padding: 0px;
  white-space: nowrap;
  overflow: hidden;
  position: relative;
  cursor: pointer;
  width: 53%;
  background-color: #2a3142;
  border-radius: 3px;
  p {
    margin: 0px;
    position: relative;
    display: inline-block;
  }
  .arrows {
    display: none;
    position: absolute;
    top: -3px;
    margin: 0;
    line-height: 1;
    font-size: 22px;
    color: #0e76bc;
    font-weight: bold;
    cursor: pointer;
  }
  .active-arrow {
    display: block;
  }
  .left-arrow{
    left: 0;
  }
  .right-arrow {
    right: 0;
  }
}

.no-data-found {
  opacity: 0.5;
  pointer-events: none;
}

