<div class="panel panel-app" id="assetDescApp" [ngClass]="{'no-data-found' : isNoDataFound}">
  <div class="panel-heading clearfix panel-white-heading panel-border">
    <img src="assets/images/info.svg" class="svg-info svg-icon" />
    <div class="text-left">
      <span class="asset-info-text">{{"asset_info" | translate}}</span>
      <span class="pull-right asset-info-dropdown-label col-lg-6">
        <select id="assetsSelect" class="form-control input-sm" name="assetSelect" [(ngModel)]="assetId">
          <option *ngFor="let parent of assetsAvailable;" [ngValue]="parent.assetId">{{parent.assetId}}</option>
        </select>
      </span>
      <!-- </div> -->
    </div>
    <!-- <span class="text-right"></span> -->
  </div>
  <div class="panel-body-padding panel-border">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pb-5 asses-description-image-div">
        <img [src]="assetDescInfo?.logo ? assetDescInfo.logo : defaultImg" class="img img-responsive asset-desc-img" alt="Asset Description">
      </div>
    </div>
    <div class="">
      <div class="panel-desc panel-desc-all-p" *ngIf="assetDescInfo?.isRequiredFiledAvailable">
        <div *ngIf="assetDescInfo?.assetType" class="panel-row">
          <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5 heading">
            {{"ao_asset_type" | translate}}:
          </div>
          <div id="assetType" (click)="assetTypeArrow = showArrow('assetType','assetTypeText')" class="col-lg-7 col-md-7 col-sm-7 col-xs-7 bg-grey-theme desc-value">
            &nbsp;
            <div class="panel-row-arrows" [ngClass]="{'panel-row-with-arrows' : assetTypeArrow}">
              <p id="assetTypeText">{{assetDescInfo?.assetType}}</p>
            </div>
            <div *ngIf="assetDescInfo?.assetType">
              <p class="arrows left-arrow" (click)="leftClick($event,'assetTypeText')">
                <</p>
                  <p class="arrows right-arrow" (click)="rightClick($event,'assetTypeText')">></p>
            </div>
          </div>
        </div>
        <div *ngIf="assetDescInfo?.vin" class="panel-row">
          <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5 heading">
            {{"ao_vin" | translate}}:
          </div>
          <div id="assetDescInfoVin" (click)="assetDescInfoVinArrow = showArrow('assetDescInfoVin','assetDescInfoVinText')" class="col-lg-7 col-md-7 col-sm-7 col-xs-7 bg-grey-theme desc-value"
            [ngStyle]="assetDescInfo?.vin.length > 15 && {'padding': '0'}">
            &nbsp;
            <div class="panel-row-arrows" [ngClass]="{'panel-row-with-arrows' : assetDescInfoVinArrow}">
              <p id="assetDescInfoVinText">{{assetDescInfo?.vin}}</p>
            </div>
            <div *ngIf="assetDescInfo?.vin">
              <p class="arrows left-arrow" (click)="leftClick($event,'assetDescInfoVinText')">
                <</p>
                  <p class="arrows right-arrow" (click)="rightClick($event,'assetDescInfoVinText')">></p>
            </div>
          </div>
        </div>
        <div *ngIf="assetDescInfo?.serialNumber" class="panel-row">
          <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5 heading">
            SNo. :
          </div>
          <div id="assetDescInfoSerialNumber" (click)="assetDescInfoSerialNumberArrow = showArrow('assetDescInfoSerialNumber','assetDescInfoSerialNumberText')"
            class="col-lg-7 col-md-7 col-sm-7 col-xs-7 bg-grey-theme desc-value" [ngStyle]="!assetDescInfo?.serialNumber && {'opacity' : 0}">
            &nbsp;
            <div class="panel-row-arrows" [ngClass]="{'panel-row-with-arrows' : assetDescInfoSerialNumberArrow}">
              <p id="assetDescInfoSerialNumberText">{{assetDescInfo?.serialNumber}}</p>
            </div>
            <div *ngIf="assetDescInfo?.serialNumber">
              <p class="arrows left-arrow" (click)="leftClick($event,'assetDescInfoSerialNumberText')">
                <</p>
                  <p class="arrows right-arrow" (click)="rightClick($event,'assetDescInfoSerialNumberText')">></p>
            </div>
          </div>
        </div>
        <div *ngIf="assetDescInfo?.unitNumber" class="panel-row">
          <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5 heading">
            Unit No. :
          </div>
          <div id="assetDescInfoUnitNumber" (click)="assetDescInfoUnitNumberArrow = showArrow('assetDescInfoUnitNumber','assetDescInfoUnitNumberText')"
            class="col-lg-7 col-md-7 col-sm-7 col-xs-7 bg-grey-theme desc-value" [ngStyle]="!assetDescInfo?.unitNumber && {'opacity' : 0}">
            &nbsp;
            <div class="panel-row-arrows" [ngClass]="{'panel-row-with-arrows' : assetDescInfoUnitNumberArrow}">
              <p id="assetDescInfoUnitNumberText">{{assetDescInfo?.unitNumber}}</p>
            </div>
            <div *ngIf="assetDescInfo?.unitNumber">
              <p class="arrows left-arrow" (click)="leftClick($event,'assetDescInfoUnitNumberText')">
                <</p>
                  <p class="arrows right-arrow" (click)="rightClick($event,'assetDescInfoUnitNumberText')">></p>
            </div>
          </div>
        </div>

        <div *ngIf="assetDescInfo?.calibrationId" class="panel-row">
          <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5 heading">
            {{"ao_calibid" | translate}}:
          </div>
          <div id="calibrationId" (click)="calibrationIdArrow = showArrow('calibrationId','calibrationIdText')" class="col-lg-7 col-md-7 col-sm-7 col-xs-7 bg-grey-theme desc-value"
            [ngStyle]="!assetDescInfo?.calibrationId && {'opacity' : 0}">
            &nbsp;
            <div class="panel-row-arrows" [ngClass]="{'panel-row-with-arrows' : calibrationIdArrow}">
              <p id="calibrationIdText">{{assetDescInfo?.calibrationId}}</p>
            </div>
            <div *ngIf="assetDescInfo?.calibrationId">
              <p class="arrows left-arrow" (click)="leftClick($event,'calibrationIdText')">
                <</p>
                  <p class="arrows right-arrow" (click)="rightClick($event,'calibrationIdText')">></p>
            </div>
          </div>
        </div>
        <!-- </div> -->
      </div>
    </div>
  </div>
