@import '../../../variables';
.nav-search {
    flex: 3;
    .svg-icon {
        height: 37px;
        width: 37px;
    }
    .nav-search-icon {
        float: right;
        cursor: pointer;
    }
}

.navbar-header {
    .navBarToggle {
        display: block;
        right: 10px;
        left: auto;
        @media only screen and (max-width: 767px) {
            right: 20px;
        }
        @media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
            top: 35%;
        }
    }
}

.nav-notification {
    position: relative;
    .svg-icon {
        height: 37px;
        width: 37px;
    }
    .nav-icon {
        margin-left: 15px;
        cursor: pointer;
        position: relative;
    }
    .count {
        position: relative;
        display: inline-block;
    }
    .count:after {
        content: attr(data-count);
        position: absolute;
        background: #f05050;
        border-radius: 50%;
        height: 17px;
        width: 17px;
        right: -6px;
        text-align: center;
        color: white;
        top: 4px;
    }
}

.nav-profile {
    flex: 1;
    .content {
        padding-left: 20px;
        padding-right: 10px;
        display: inline-block;
        line-height: 1.7;
    }
    .organization {
        font-weight: 500;
        font-size: 18px;
    }
    img {
        vertical-align: initial;
    }
}

.logo {
    width: 180px;
}

.push-notification-li {
    position: relative;
    .push-notification-loading-img {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-color: rgba(245, 245, 245, 0.81);
        img {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 25px;
            height: 25px;
        }
    }
}

.mat-white {
    &.mat-toolbar {
        background-color: #fff;
        border-bottom: 0.1px solid #d4d7df;
    }
    .vertical-line {
        width: 1px;
        height: 117%;
        background-color: #d4d7df;
        margin-left: 15px;
    }
}

.seperator {
    height: 1px;
    margin: 0px 2px;
    background: #d4d7df;
}

.navbar {
    border: none;
    margin-bottom: 0;
    border-radius: 0px;
    min-height: 48px;
}

.app-navbar {
    background-color: #ffffff;
    border-bottom: 1px solid #d3d6de;
    /*background-color: #ffffff;
  font-weight: 100;
  border: 0px;
  border-bottom: 0.1px solid #d3d6de;
  border-radius: 0px;
  min-height: 63px;
  margin: 0px;
  .navbar-toggle {
    padding: 0px;
    z-index: 9999;
    margin-top: 2px;
  }
  .navbar-header {
    height: 64px;
    text-align: center;
    padding: 14px 10px;
    border-right: 1px solid #d4d7df;
  }
  .navbar-brand {
    border-right: 1px solid #d4d7df;
    height: 63px;
  }
  .profile {
    height: 36px;
    width: 36px;
    border-radius: 50%;
  }
  .nav-profile {
    padding: 10px 12px;
    border-left: 1px solid #d4d7df;
    .desc {
      padding-right: 15px;
    }
    .caret {
      position: absolute;
      top: 46%;
      z-index: 999999;
    }
  }
  .nav-notification {
    padding: 12px 13px 11px;
    cursor: pointer;
    border-left: 1px solid #d4d7df;
    li {
      padding: 0px 8px;
    }
  }
  .nav-search {
    padding: 11px 10px 0px;
  }*/
    .profile {
        height: 36px;
        width: 36px;
        border-radius: 50%;
    }
    .navbar-toggle {
        padding: 0px;
        z-index: 9999;
        margin-top: 2px;
    }
    .navbar-header {
        transition: 0.5s;
        margin-left: 0px;
        height: 68px;
        padding: 14px 10px;
        border-right: 1px solid #d4d7df;
        a.logoanchor {
            display: block;
            margin-top: 3px;
        }
        @media only screen and (max-width: 991px) {
            a.logoanchor {
                display: block;
                margin-top: 6px;
                .logo {
                    width: 160px;
                }
            }
        }
    }
    .nav-profile {
        height: 50px;
        padding: 12px 12px;
        .desc {
            padding-right: 15px;
        }
        .caret {
            position: absolute;
            top: 95%;
            right: 13px;
            z-index: 999999;
        }
    }
    ul.header-nav-icons li {
        border-right: 1px solid #d4d7df;
        float: left;
    }
    ul.header-nav-icons li a {
        height: 68px;
        padding: 22px 23px;
    }
    ul.header-nav-icons li a {
        position: relative;
        font-size: 1.6em;
        color: #898e9a;
    }
    ul.header-nav-icons li a .counter-badge {
        position: absolute;
        min-height: 1.7em;
        min-width: 1.7em;
        color: #fff;
        background-color: red;
        top: 7px;
        right: 11px;
        text-align: center;
        border-radius: 50%;
        line-height: 1.3em;
        font-weight: 500;
        font-size: 55%;
        padding: 3px;
        width: 100%;
        height: 100%;
        max-width: 25px;
        max-height: 25px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    @media only screen and (max-width: 819px) {
        ul.header-nav-icons li a {
            padding: 22px 16px;
        }
    }
}

@media only screen and (max-width: 767px) {
    .dropdown-menu {
        top: 30%;
    }
}

.menu-opened {
    .navbar-header {
        margin-left: 146px;
        @media only screen and (max-width: 767px) {
            margin-left: 0px;
        }
    }
}

.show {
    .dropdown-menu {
        max-height: 312px; // overflow: auto;
        display: block;
    }
}

.mouse-cursor {
    cursor: pointer;
}

// @media only screen and (max-device-width: 830px) {
//     .container-fluid {
//         padding-right: 5px;
//         .navbar-header,
//         .nav-profile {
//             padding: 12px 7px;
//         }
//         .navbar-collapse {
//             padding: 0px;
//             .nav-notification {
//                 padding: 13px 5px 11px;
//             }
//         }
//     }
// }
// .mobile-organization {
//     display: none;
// }
// @media only screen and (max-device-width: 767px) {
//     .navbar-header {
//         padding: 5px 7px !important;
//         .logo {
//             width: 160px;
//         }
//         .mobile-organization {
//             display: inline-block;
//             width: 100%;
//             text-align: center;
//             position: relative;
//             top: -5px;
//             @media only screen and (max-device-width: 480px) {
//                 font-size: 13px;
//             }
//         }
//     }
// }
// @media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
//     .logo {
//         width: 160px;
//     }
// }
// .counter-badge-update {
//     animation: blinker 1s linear infinite;
//     background-color: #d80000 !important;
// }
// @keyframes blinker {
//     0% {
//         opacity: 1;
//     }
//     50% {
//         opacity: 0.4;
//     }
// }
// @media only screen and (min-device-width: 320px) and (max-device-width: 767px) {
//     #bs-example-navbar-collapse-1 {
//         display: block !important;
//         .nav-profile {
//             display: none !important;
//         }
//         .navbar-nav {
//             &.navbar-right {
//                 display: block;
//                 text-align: center;
//                 margin-top: 0px;
//                 margin-bottom: 0px;
//                 li {
//                     display: inline-block;
//                     border: none;
//                     a {
//                         padding: 5px 15px 5px 15px;
//                         line-height: 1;
//                         height: auto;
//                         font-size: 1.8em;
//                         .counter-badge {
//                             height: 21px;
//                             width: 23px;
//                             top: -8px;
//                             right: 3px;
//                             line-height: 1;
//                             font-size: 13px;
//                             padding: 0;
//                             display: flex;
//                             justify-content: center;
//                             align-items: center;
//                         }
//                     }
//                 }
//             }
//         }
//     }
// }
.container-fluid {
    padding: 0px;
}

.app-navbar {
    @media only screen and (max-width: 767px) {
        padding-left: 55px;
        min-height: 48px;
        left: 0px;
    }
}

// .navbar-fixed-top {
//     @media only screen and (max-width: 767px) {
//         left: 55px;
//         min-height: 48px;
//     }
// }
.app-navbar {
    .header-left {
        float: left;
        @media only screen and (max-width: 767px) {
            padding: 7px 10px;
            height: auto;
            border-left: 1px solid #d4d7df;
            border-right: 0px;
            a {
                margin-top: 0px !important;
            }
        }
    }
    .header-right {
        float: right;
        display: flex !important;
        margin: 0px;
        padding: 0px;
        border-top: 0px;
        .navbar-right {
            margin: 0px;
            li {
                @media only screen and (max-width: 767px) {
                    padding: 0px;
                    &:nth-child(4) {
                        border-left: 1px solid #d4d7df;
                    }
                }
                &:first-child {
                    border-left: 1px solid #d4d7df;
                }
                &:last-child {
                    border-right: 0px;
                }
                a {
                    @media only screen and (max-width: 767px) {
                        padding: 13px 13px 12px 13px;
                        height: auto;
                    }
                }
            }
        }
        .nav-profile {
            height: auto;
            padding: 0px;
            flex: none;
            .profile {
                position: relative;
                height: auto;
                width: auto;
                .profile-box {
                    display: flex;
                    align-content: center;
                    cursor: pointer;
                    padding: 13px 10px;
                    .img {
                        img {
                            height: 36px;
                            width: 36px;
                            object-fit: cover;
                        }
                    }
                    .info {
                        padding-right: 5px;
                        p {
                            padding: 0px;
                            margin: 0px;
                        }
                        span {
                            padding-top: 5px;
                            font-weight: bold;
                        }
                    }
                    &:hover {
                        background: #eee;
                    }
                }
                .dropdown-menu {
                    right: 0px;
                    left: auto;
                    top: 68px;
                    padding: 0px;
                    @media only screen and (max-width: 767px) {
                        top:48px;
                    }
                    .profile-mobile {
                        justify-content: space-around;
                        border-bottom: 1px solid #e0e0e0;
                        padding: 10px;
                        margin-bottom: 10px;
                        background: #efefef;
                    }
                    li {
                        display: block;
                        a {
                            .count {
                                border-radius: 100%;
                                display: inline-block;
                                margin: 0px;
                                padding: 1px 7px 0px;
                                background: #d6d6d6;
                                margin-left: 10px;
                                color: white;
                                text-align: center;
                            }
                        }
                        &.mobile {
                            display: none;
                            @media only screen and (max-width: 767px) {
                                &.profile-box {
                                    display: flex;
                                }
                                display: block;
                            }
                        }
                    }
                }
            }
        }
    }
}

.mobile {
    display: none;
    @media only screen and (max-width: 767px) {
        display: inline-block;
    }
}

.desktop {
    display: inline-block;
    @media only screen and (max-width: 767px) {
        display: none !important;
    }
}