<nav class="navbar app-navbar" [ngClass]="{ 'navbar-fixed-top': isAdmin }" id="appHeader">
  <div class="container-fluid pl-0">
    <div class="navbar-header header-left">
      <a class="logoanchor" href="#/{{appService.userProfileDetails?.landingPage}}">
          <img alt="Surge Cloud" src="assets/images/logo.png" class="logo"/>
          </a>
    </div>
    <div class="collapse navbar-collapse  header-right" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right header-nav-icons">
        <li class="desktop">
          <a href="javascript:void(0);">
                <i class="fas fa-search" aria-hidden="true"></i>
                </a>
        </li>
        <li class="desktop">
          <a href="javascript:void(0);">
                <i class="fas fa-headphones" aria-hidden="true"></i>
                </a>
        </li>
        <li class="e-summary-li desktop">
          <a href="javascript:void(0);" (click)="showEmailSummary($event)">
                   <i class="fas fa-envelope" aria-hidden="true">
                   </i>
                   <div class="counter-badge counter-badge-update" *ngIf="emailSummaryCount > 0">{{emailSummaryCount}}</div>
                </a>
        </li>
        <li class="push-notification-li">
          <a href="javascript:void(0);" (click)="showPushNotification($event)">
                   <i class="fas fa-bell"></i>
                   <div class="counter-badge counter-badge-update" *ngIf="pushNotification['count'] > 0">{{pushNotification['count']}}</div>
                </a>
        </li>
        <li class="push-notification-li mobile">
          <a href="javascript:void(0);" (click)="$event.stopPropagation();navBarToggle = !navBarToggle">
              <i class="fas fa-ellipsis-v"></i>
          </a>
        </li>
      </ul>
      <div class="nav-profile">
        <div class="profile" ngbDropdown ngbDropdownToggle [ngClass]="{'show' : navBarToggle}">
          <div class="profile-box desktop">
            <div class="info">
              <p>{{ 'welcome' | translate}} {{user.profile.name}}</p>
              <span>{{currentCompany?.name}}</span>
            </div>
            <div class="img">
              <img *ngIf="userData?.logo" [src]="userData?.logo" class="profile" alt="profile" />
              <img *ngIf="!userData?.logo" src="assets/images/default_user.svg#def_user" class="profile" alt="profile" />
            </div>
          </div>
          <ul id="app-header-drop-down-menu" class="dropdown-menu pre-scrollable" style="overflow-y:auto">
            <li class="profile-box profile-mobile mobile">
              <div class="info">
                <p>{{ 'welcome' | translate}} {{user.profile.name}}</p>
                <span>{{currentCompany?.name}}</span>
              </div>
              <div class="img">
                <img *ngIf="userData?.logo" [src]="userData?.logo" class="profile" alt="profile" />
                <img *ngIf="!userData?.logo" src="assets/images/default_user.svg#def_user" class="profile" alt="profile" />
              </div>
            </li>
            <li class="mobile">
              <a href="javascript:void(0);">Message <p class="count">3</p></a>
            </li>
            <li class="mobile">
              <a href="javascript:void(0);">Audio <p class="count">2</p></a>
            </li>
            <li class="mobile">
              <a href="javascript:void(0);">Search</a>
            </li>
            <li>
              <a href="javascript:void(0);" (click)="updateProfile()">{{'module_update_profile' | translate}}</a>
            </li>
            <li>
              <a href="javascript:void(0);" (click)="logout()">{{'logout' | translate}}</a>
            </li>
            <li role="separator" class="divider"></li>
            <li class="app-header-companies" *ngFor="let company of companies" (click)="setActiveCompany(company)">
              <a href="javascript:void(0);"> {{company?.name}}</a>
            </li>
          </ul>
        </div>
      </div>
      <!-- <ul class="nav navbar-nav navbar-right nav-profile">
             <li class="desc">
               <div class="name">Welcome {{user.profile.name}}</div>
               <div class="organization">{{currentCompany?.name}}</div>
             </li>
             <li class="dropdown" ngbDropdown>
               <span ngbDropdownToggle class="mouse-cursor">
                 <img *ngIf="userData?.logo" [src]="userData?.logo" class="profile" alt="profile" />
                 <img *ngIf="!userData?.logo" src="assets/images/default_user.svg#def_user" class="profile" alt="profile" />
                 <i class="fa fa-user-o" aria-hidden="true"></i>
                 <span class="caret"></span>
               </span>
               <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
               <ul id="app-header-drop-down-menu" class="dropdown-menu pre-scrollable" style="overflow-y:auto">
                 <li>
                   <a href="javascript:void(0);" (click)="updateProfile()">Update Profile</a>
                 </li>
                 <li>
                   <a href="javascript:void(0);" (click)="logout()">Logout</a>
                 </li>
                 <li role="separator" class="divider"></li>
                 <li class="app-header-companies" *ngFor="let company of companies" (click)="setActiveCompany(company)">
                   <a href="javascript:void(0);"> {{company?.name}}</a>
                 </li>
               </ul>
             </li>
             </ul> -->
      <!--<ul class="nav navbar-nav navbar-right nav-notification">
             <li><span class="count" data-count="5">
                <svg class="svg-icon">
                   <use  [appIconHover]="Icon.alarm"></use>
                 </svg>
             </span>
             </li>
             </ul>

             <ul class="nav navbar-nav navbar-right nav-notification">
             <li><span class="count" data-count="5">
                <svg class="svg-icon" >
                   <use [appIconHover]="Icon.message"></use>
                 </svg>
             </span> </li>
             </ul>

             <ul class="nav navbar-nav navbar-right nav-notification">
             <li>
               <svg class="svg-icon">
                 <use [appIconHover]="Icon.help"></use>
               </svg>
             </li>
             </ul>


             <ul class="nav navbar-nav navbar-right nav-search">
             <li>
               <svg class="svg-icon">
                 <use [appIconHover]="Icon.search"></use>
               </svg>
             </li>
             </ul>-->
    </div>
  </div>
</nav>
