<div class="panel panel-app panel-without-bottom  create-poi-map" (onChangeHeight)="mainContainerHeight = $event">
  <div class="panel-body map-body">
    <agm-map [latitude]="lat" [longitude]="lng">
      <agm-polygon *ngFor="let geoFence of geoFences" [fillColor]="geoFence.color" [strokeWeight]="1" [strokeColor]="geoFence.strokeColor"
        [paths]="geoFence.points" [visible]=true></agm-polygon>
      <agm-marker *ngFor="let marker of samples; let i = index;" [latitude]="marker.address.latitude" [longitude]="marker.address.longitude"
        [iconUrl]="marker.icon" title="{{marker.name}}"></agm-marker>
      <agm-marker [latitude]="poiMarker.lat" [longitude]="poiMarker.lng" [iconUrl]="poiMarker.icon" title="{{poiMarker.name}}"
        [visible]="poiMarker.visible"></agm-marker>
      <app-gmap (mapReady)="mapRendered($event)"></app-gmap>
    </agm-map>
    <div class="clearGeoFence tooltip-custom" (click)="clearAllShapes()">
      <svg height="14px" width="14px">
          <use  xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="assets/icons/common/clear.svg#clear"></use>
        </svg>
      <span>Clear Shape</span>
    </div>
    <div class="map-input">
      <div class="icon">
        <i class="md-icon material-icons">location_on</i>
      </div>
      <input class="form-control input-sm" id="address" type="text" name="addressName" placeholder="Address" (focus)="setPositionToAutoComplate('in')"
        (focusout)="setPositionToAutoComplate('out')" />
    </div>
  </div>
</div>