.create-poi-map{
    border-radius: 0px;
    box-shadow: none;
    border: 0px;
    .sebm-google-map-container{
        height: calc(100vh - 105px);
    }
    .map-body{
        position: relative;
        .map-input{
            position: absolute;
            width: 250px;
            left: 10px;
            bottom: 10px;
            line-height: 35px;
            .icon{
                position: absolute;
                top: 5px;
                left: 4px;
                color: #afafaf;
                display: block;
                height: 20px;
                i{
                    font-size: 20px;
                }
            }
            input{
                line-height: 35px;
                height: 35px;
                padding-left: 25px;
            }
        }
    }

}

.pac-container{
    top:unset !important;
    bottom: 100px !important;
}


.tooltip-custom{
    position: relative;
    span{
        position: absolute;
        width: auto;
        white-space: pre;               
        padding: 0px 10px;
        text-align: center;
        top: 0px;
        transform: translate(-50%, -70%);
        left: 50%;
        top: -12px;
        line-height: 25px;
        border-radius: 2px;
        z-index: 100;
        transition: all 0.2s ease 0s;
        display: block;
        background-color: #f1f1f1;
        opacity: 0;
        color: #000000;
        &:after{
            content:'';
            width: 0;           
            height: 0;
            border-style: solid;
            border-width: 10px 10px 0 10px;
            border-color: #f1f1f1 transparent transparent transparent;
            position: absolute;
            bottom: -10px;
            left: 50%;
            transform: translate(-50%,0);
        }
    }
    &:hover{
        span{
            opacity: 1;
            transition: all 0.5s ease 0s;
            transform: translate(-50%, -100%);
        }
    }
}

.clearGeoFence{
    position: absolute;
    top: 8px;
    z-index: 10p;
    width: 30px;
    height: 30px;
    left: 50%;
    transform: translateX(-50%);
    background: #fff;
    border-radius: 2px;
    align-items: center;
    justify-content: center;
    display: flex;
    border: 1px solid #ccc;
    cursor: pointer;
}