<div class="export-as-div">
  <img [src]="src" class="export-svg-icon" (click)="showExportAsOptions($event);" />
  <div id="exportAsOptions" class="export-as-options">
    <div class="export-types" (click)="downloadAsPDF();">
      <img title="Export to pdf" src="assets/images/pdf-document.svg" class="svg-icon" />
      <span>{{"generic_export_pdf" | translate}}</span>
    </div>
    <div class="export-types" (click)="downloadAsExcel();">
      <img title="Export to excel" src="assets/images/excel.svg" class="svg-icon" />
      <span>{{"generic_export_excel" | translate}}</span>
    </div>
  </div>
</div>
