// .sebm-google-map-container {
//   height: 80vh;
// }


.map-body {
  position: relative;
  .map-control {
    position: absolute;
    bottom: 10px;
    left: 192px;
    @media only screen and (max-width: 1004px) {
      left: 185px;
    }
    @media only screen and (max-width: 990px) {
      left: 192px;
    }
    @media only screen and (max-width: 670px) {
      bottom: 50px;
      left: 50%;
      transform: translateX(-50%);
      width: 100%;
      text-align: center;
    }
    @media only screen and (max-width: 380px) {
      bottom: 60px;
    }
    .btn-default {
      position: relative;
      top: -1px;
    }
    .address {
      display: inline-block;
      margin: 0px 5px;
      width: 200px;
      input {
        padding: 5px 10px;
        height: 34px;
      }
      @media only screen and (max-width: 1092px) {
        width: 150px;
      }
      @media only screen and (max-width: 1004px) {
        margin: 0px -2px;
        width: 130px;
      }
      @media only screen and (max-width: 990px) {
        margin: 0px 5px;
        width: 200px;
      }
    }
  }
}

.window-max-min-handler {
  position: absolute;
  right: -5px;
  top: 3px;
  cursor: pointer;
  @media only screen and (max-width: 991px) {
    display: none;
  }
}

#gmap-footer {
  display: none;
}

.panel-heading {
  padding: 5px 10px;
  .google-map-form {
    padding: 0px;
    height: 23px;
    .col-lg-3 {
      padding: 0px 5px;
      @media only screen and (max-width: 767px) {
        width: 25%;
        display: inline-block;
        padding: 0px 3px;
      }
    }
    .status {
      margin-right: 10px;
      width: 23%;
      @media only screen and (max-width: 991px) {
        width: 25%;
        margin-right: 0px;
      }
      @media only screen and (max-width: 767px) {
        width: 23%;
      }
      @media only screen and (max-width: 615px) {
        width: 22%;
      }
    }
  }
}

