<div class="panel panel-app panel-without-bottom" (onChangeHeight)="mainContainerHeight = $event" appMapWindowResize [map]="map"
  [data]="mapData">
  <div class="panel-heading clearfix" id="gmap-header">
    <div class="col-lg-12 google-map-form">
      <div class="col-lg-3 col-md-3 col-sm-3">
        <select class="form-control input-sm" [(ngModel)]="geoFilter.category" (ngModelChange)="changeFilter()">
          <option value="" selected> {{"generic_category" | translate}} </option>
          <option *ngFor="let category of categoryList" [value]="category">{{category}}</option>
        </select>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-3">
        <select class="form-control input-sm" [(ngModel)]="geoFilter.color" (ngModelChange)="changeFilter()">
          <option value=""> {{"generic_color" | translate}} </option>
          <option *ngFor="let color of colorList" [value]="color">{{color}}</option>
        </select>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-3">
        <select class="form-control input-sm" [(ngModel)]="geoFilter.shape" (ngModelChange)="changeFilter()">
          <option value=""> {{"generic_shape" | translate}} </option>
          <option *ngFor="let shape of shapeList" [value]="shape"> {{shape}}</option>
        </select>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-3 status">
        <select class="form-control input-sm" [(ngModel)]="geoFilter.status" (ngModelChange)="changeFilter()">
          <option value="">{{"generic_status" | translate}}</option>
          <option *ngFor="let status of statusList" [value]="status">{{status}}</option>
        </select>
      </div>
      <div class="window-max-min-handler no-padding">
        <i class="glyphicon pull-right resize-icons" *ngIf="!minimize.list" (click)="fullscreen.map = !fullscreen.map; fullscreen.list = false;changeMinMax();"
          [ngClass]="{'glyphicon-resize-full': !fullscreen.map , 'glyphicon-resize-small':fullscreen.map}"></i>
      </div>
    </div>
  </div>
  <div class="panel-body map-body">

    <agm-map [ngStyle]="{ height: mainContainerHeight + 'px' }" [latitude]="lat" [longitude]="lng" [fullscreenControl]="true"
      [zoom]="zoom" mapTypeControl="true" [mapTypeControlOptions]="mapTypeControlOptions" [streetViewControl]="false" [zoomControlOptions]="zoomControlOptions"
      (zoomChange)="zoomChange($event)" [clickableIcons]="false">
      <app-gmap (mapReady)="mapRendered($event)"></app-gmap>
    </agm-map>

    <div class="map-control">
      <button class="btn btn-default" (click)="deleteSelectedShape()">
        <div class="map-icon-holder">
          <svg height="14px" width="14px">
            <use [attr.xlink:href]="svgIcons[0]"></use>
          </svg>
        </div>
      </button>
      <div class="address">
        <input class="form-control input-sm" type="text" id="geoFenceMapCreateAutoComplate" (focus)="setPositionToAutoComplate('in')"
          (focusout)="setPositionToAutoComplate('out')" placeholder="{{placeholder}}" name="addressName" [(ngModel)]="location"
        />
      </div>
    </div>
  </div>
  <div class="panel-footer clearfix map-footer" id="gmap-footer">
  </div>
</div>
