<!--<pre>{{subscriptionTopics | json}}</pre>-->
<!--<pre>{{subscriptionTopicsPermission | json}}</pre>-->
<div class="table-responsive" *ngIf="subscriptionTopics?.length > 0">
  <table class="table">
    <thead>
      <tr>
        <th width="25%">{{"generic_topic" | translate}}</th>
        <th width="25%" *ngIf="(updateProfile && subscriptionTopicsPermission.email) || !updateProfile">
          <label class="switch" *ngIf="!updateProfile">
            <input type="checkbox" [value]="subscriptionTopicsPermission.email" [(ngModel)]="subscriptionTopicsPermission.email" (change)="topicHeadingOptionChange('email', subscriptionTopicsPermission.email)">
            <div class="slider round"></div>
          </label>
          <div class="edit-option-head">{{"generic_topic_email" | translate}}</div>
        </th>
        <th width="25%" *ngIf="(updateProfile && subscriptionTopicsPermission.sms) || !updateProfile">
          <label class="switch" *ngIf="!updateProfile">
            <input type="checkbox" [value]="subscriptionTopicsPermission.sms" [(ngModel)]="subscriptionTopicsPermission.sms" (change)="topicHeadingOptionChange('sms', subscriptionTopicsPermission.sms)">
            <div class="slider round"></div>
          </label>
          <div class="edit-option-head">{{"generic_sms" | translate}}</div>
        </th>
        <th width="25%" *ngIf="(updateProfile && subscriptionTopicsPermission.push) || !updateProfile">
          <label class="switch" *ngIf="!updateProfile">
            <input type="checkbox" [value]="subscriptionTopicsPermission.push" [(ngModel)]="subscriptionTopicsPermission.push" (change)="topicHeadingOptionChange('push', subscriptionTopicsPermission.push)">
            <div class="slider round"></div>
          </label>
          <div class="edit-option-head">{{"generic_push" | translate}}</div>
        </th>
      </tr>
    </thead>
    <tbody [style.maxHeight.px]="tableBodyMaxHeight - 12">
      <!--<pre>
      {{companyAndRoleDataForSubscription | json}}
    </pre>-->
      <!--<pre>{{pushData | json}}</pre>-->
      <ng-template ngFor let-topic [ngForOf]="companyAndRoleDataForSubscription.topics">
        <!--<ng-template [ngIf]="emailData[topic.topicName] && smsData[topic.topicName] && pushData[topic.topicName]">-->
        <!--<tr *ngIf="topicRowDisplay(emailData[topic.topicName].email.length, smsData[topic.topicName].sms.length, pushData[topic.topicName].push.length)">-->
        <tr>
          <td width="25%">{{topic.topicName}}</td>
          <td width="25%" *ngIf="(updateProfile && subscriptionTopicsPermission.email) || !updateProfile">
            <ng-template [ngIf]="topic.email != null">
              <label class="switch">
                <input type="checkbox" [(ngModel)]="topic.email" #topicCheckbox (change)="onTopicOptionStatusChange('email', true, topic.topicName, editTopicData, topicCheckbox)"
                  [disabled]="subscriptionTopicsPermission.emailDisable">
                <div class="slider round"></div>
              </label>
              <div class="edit-option">
                <a href="javascript:void(0);" #editTopicData [ngClass]="{ 'disabled': !topic.email }" (click)="openTopicOptionModal('email', subscriptionTopicsPermission.emailDisable, emailData[topic.topicName].email, topic.topicName, topic.email)">
                  <i class="far fa-edit" aria-hidden="true"></i>
                </a>
              </div>
            </ng-template>
          </td>
          <td width="25%" *ngIf="(updateProfile && subscriptionTopicsPermission.sms) || !updateProfile">
            <ng-template [ngIf]="topic.sms != null">
              <label class="switch">
                <input type="checkbox" [(ngModel)]="topic.sms" #topicCheckbox (change)="onTopicOptionStatusChange('sms', true, topic.topicName, editTopicData, topicCheckbox)"
                  [disabled]="subscriptionTopicsPermission.smsDisable">
                <div class="slider round"></div>
              </label>
              <div class="edit-option">
                <a href="javascript:void(0);" #editTopicData [ngClass]="{ 'disabled': !topic.sms }" (click)="openTopicOptionModal('sms', subscriptionTopicsPermission.smsDisable, smsData[topic.topicName].sms, topic.topicName, topic.sms)">
                  <i class="far fa-edit" aria-hidden="true"></i>
                </a>
              </div>
            </ng-template>
          </td>
          <td width="25%" *ngIf="(updateProfile && subscriptionTopicsPermission.push) || !updateProfile">
            <ng-template [ngIf]="topic.push != null">
              <label class="switch">
                <input type="checkbox" [(ngModel)]="topic.push" #topicCheckbox (change)="onTopicOptionStatusChange('push', true, topic.topicName, editTopicData, topicCheckbox)"
                  [disabled]="subscriptionTopicsPermission.pushDisable">
                <div class="slider round"></div>
              </label>
              <div class="edit-option">
                <a href="javascript:void(0);" #editTopicData [ngClass]="{ 'disabled': !topic.push }" (click)="openTopicOptionModal('push', subscriptionTopicsPermission.pushDisable, pushData[topic.topicName].push, topic.topicName, topic.push)">
                  <i class="far fa-edit" aria-hidden="true"></i>
                </a>
              </div>
            </ng-template>
          </td>
        </tr>
        <!--</ng-template>-->
      </ng-template>

    </tbody>
  </table>
</div>
<app-subscription-topic-option-template [templateUsedFor]="templateUsedFor"
  [status]="topicOptionStatus" [templateData]="templateData" [companyAndRoleData]="companyAndRoleDataForSubscription" [emailDataStorageForAllTopics]="emailDataStorage"
  [smsDataStorageForAllTopics]="smsDataStorage" [pushDataStorageForAllTopics]="pushDataStorage" *ngIf="openSubscriptionTopicOptionModal"
  (closeModal)="closeTopicOptionModal($event)" (disableSelectedTopic)="disableSelectedTopicCheckbox($event)" [updateProfile]="updateProfile"
  [userId]="userId">
</app-subscription-topic-option-template>
